 


/*
P	ayroll_EmployeeSDLCalculation_Trial_sp
	Author		:	FERDI BOTHA
	Create date	:	08/03/2017
	Description	:	Calculates Employee PAYE
	Update Date	:	10/05/2017 - Changed the mappings for Method of Calculation
	Update Date	:	27/06/2017 - Updated Parameters & IRP5Code mappings
	Update Date	:	30/06/2017 - Updated the joins to the correct mappings
	Update Date	:	12/02/2018 - Updated the PAYE Pension, Provident and Retirement Fund mappings
	Update Date	:	03/04/2018 - Updated Tax Spread (Bonus)
	Update Date	:   06/05/2019 - Ferdi Botha => Changed linkage to SCOA Financial Year
	Update Date	:   28/08/2019 - CALCULATE YEAR-TO-DATE PAY-AS-YOU-EARN [PAYE - (EMPLOYEES' TAX)] [4102]; RECOVERY OF TAX SPREAD => MONTH OF BONUS
	Update Date :   31/03/2021 - Richa M - IRP5Code 3833 not included in annualized income
	Update Date :	2021/08/11 - Richa M Fix Secondary and Tertiary Rebates to calculate if employee reaches the specific age within the YOA
	Update Date :	2021/08/22 - Richa M If no bonus tax will be calculated we need to check for negative PAYE amounts
	Update Date :	2021/11/10 - Richa M Cater for Secondary MTC for employees over 65
	Update Date :	2022/03/14 - Richa M PAYE not calculating for Additional Term run
*/
ALTER PROCEDURE [dbo].[Payroll_EmployeeTaxCalculation_Trial_sp]
    @IRP5Income [Payroll_IRP5Income] READONLY,
    @EmployeeID int,
    @PeriodID   int,
    @CycleID    int,
    @CycleModeID int,
    @StartDate  datetime,
    @EndDate    datetime,
    @Month      int,
    @SCOAYear   nvarchar(10),
    @TaxYear    nvarchar(10),
    @Simulation bit
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @CalculateTaxByDaysWorked BIT;

    SELECT @CalculateTaxByDaysWorked =
        CASE 
            WHEN UPPER(LTRIM(RTRIM(KeyValue))) IN ('1', 'TRUE', 'YES', 'Y') THEN 1
            ELSE 0
        END
    FROM AAAA_ConfigSettings
    WHERE KeyName = 'CalculateTaxByDaysWorked';

    IF @CalculateTaxByDaysWorked IS NULL 
        SET @CalculateTaxByDaysWorked = 0;

    IF @CalculateTaxByDaysWorked = 1
    BEGIN
        -- New DaysWorked logic (George, etc.)
        EXEC [dbo].[Payroll_EmployeeTaxCalculation_Trial_Days_sp]
            @IRP5Income, @EmployeeID, @PeriodID, @CycleID, @CycleModeID,
            @StartDate, @EndDate, @Month, @SCOAYear, @TaxYear, @Simulation;
    END
    ELSE
    BEGIN
        -- Old PeriodsWorked logic (all legacy clients)
        EXEC [dbo].[Payroll_EmployeeTaxCalculation_Trial_Periods_sp]
            @IRP5Income, @EmployeeID, @PeriodID, @CycleID, @CycleModeID,
            @StartDate, @EndDate, @Month, @SCOAYear, @TaxYear, @Simulation;
    END
END;