USE [EMS_George]
GO
/****** Object:  StoredProcedure [dbo].[Payroll_EmployeeMedicalContribution_Trial_sp]    Script Date: 3/17/2026 8:42:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
	Author		:	FERDI BOTHA
	Create date	:	07/03/2017
	Description	:	Calculates Employees Medical Aid Deductions
	Update date	:	10/04/2017 - added the ability to distinguish between a single (employee payslip), batch trial and adhoc trial runs
	Update date	:	10/05/2017 - Changed the mappings for Method of Calculation
	Update date	:	27/06/2017 - Updated Parameters & IRP5Code mappings
	Update date	:	30/06/2017 - Updated the joins to the correct mappings
	Update Date :   16/09/2019 - Artur Anzorge => Changes for employee termination
	Update Date :   07/04/2020 - Ilya Skavronskiy => Changed salary head title to be Medical Scheme Descripttion
*/
/*
	Updated By: Modiri Selao
	Reason: Include the employeer extra medical aid calculations
	#87058 Mnquma Medical Aid Calculation

	Update: 2022/08/29	Richa M - Max Dependant Count not working
	Update: 2023/04/19  Richa M - Calculation incorrect if Employee must contribute 100% for Dependants
*/
ALTER PROCEDURE [dbo].[Payroll_EmployeeMedicalContribution_Trial_sp]
    @EmployeeID int,
    @PeriodID int,
    @CycleID int,
    @CycleModeID int,
    @StartDate datetime,
    @EndDate datetime,
    @Month int,
    @SCOAYear nvarchar(10),
    @TaxYear nvarchar(10),
    @Simulation bit
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        IF EXISTS (
            SELECT 1
            FROM [Payroll_CyclePeriodDetails] [CPD]
            WHERE [CPD].[PeriodStartDate] = @StartDate
              AND [CPD].[PeriodEndDate]   = @EndDate
              AND [CPD].[Enabled]         = 1
              AND [CPD].[Processed]       = 0
              AND [Period_ID]             = @PeriodID
              AND [CycleID]               = @CycleID
              AND [CycleModeID]           = @CycleModeID
        )
        BEGIN
            DECLARE @IRP5Code TABLE ([IRP5Code] int NOT NULL);
            INSERT INTO @IRP5Code VALUES
              (3810),(3813),(3860),(3863),(4005),(4024),(4025),(4474),(4485),(4486),(4487),(4493);

            DECLARE @EmployeeMedicalAid TABLE
            (
                [Employee_ID]            int           NOT NULL,
                [Salary]                 decimal(18,6) NOT NULL,
                [PayrollDefinationID]    int           NOT NULL,
                [TransactionTypeID]      int           NOT NULL,
                [VendorID]               int           NULL,
                [Fund]                   nvarchar(100) NOT NULL,
                [MembershipNo]           nvarchar(50)  NULL,
                [IsMaxDependantChildEnabled] bit       NOT NULL,
                [MaxDependantCount]      int           NOT NULL,
                [EmployeePercent]        decimal(18,6) NOT NULL,
                [EmployerPercent]        decimal(18,6) NOT NULL,
                [EmployerMaxValue]       decimal(18,6) NOT NULL,
				[BasePercent]            decimal(18,6)   NOT NULL,
                [EmployeeMemberCount]    int           NOT NULL,
                [EmployeeMemberValue]    decimal(18,6) NOT NULL,
                [EmployerMemberCount]    int           NOT NULL,
                [EmployerMemberValue]    decimal(18,6) NOT NULL,
                [EmployeeAdultCount]     int           NOT NULL,
                [EmployeeAdultValue]     decimal(18,6) NOT NULL,
                [EmployerAdultCount]     int           NOT NULL,
                [EmployerAdultValue]     decimal(18,6) NOT NULL,
                [EmployeeChildCount]     int           NOT NULL,
                [EmployeeChildValue]     decimal(18,6) NOT NULL,
                [EmployerChildCount]     int           NOT NULL,
                [EmployerChildValue]     decimal(18,6) NOT NULL,
                [EmployeeExtraValue]     decimal(18,6) NOT NULL,
                [EmployerExtraValue]     decimal(18,6) NOT NULL,
                [EmployeeValue]          decimal(18,6) NOT NULL DEFAULT(0),
                [EmployerValue]          decimal(18,6) NOT NULL DEFAULT(0)
            );

            INSERT INTO @EmployeeMedicalAid
            (
                [Employee_ID],[Salary],[PayrollDefinationID],[TransactionTypeID],[VendorID],[Fund],[MembershipNo],
                [IsMaxDependantChildEnabled],[MaxDependantCount],
                [EmployeePercent],[EmployerPercent],[EmployerMaxValue],[BasePercent],
                [EmployeeMemberCount],[EmployeeMemberValue],
                [EmployerMemberCount],[EmployerMemberValue],
                [EmployeeAdultCount],[EmployeeAdultValue],
                [EmployerAdultCount],[EmployerAdultValue],
                [EmployeeChildCount],[EmployeeChildValue],
                [EmployerChildCount],[EmployerChildValue],
                [EmployeeExtraValue],[EmployerExtraValue]
            )
            SELECT
                em.EmployeeID,
                CAST(emp.FixedSalary AS decimal(18,6)) AS Salary,                         -- FIXED: emp.*
                emp.EmployeePayrollDefinition_ID,                                          -- FIXED: emp.*
                emp.TransactionTypeID,                                                     -- FIXED: emp.*
                ven.Vendor_ID,
                cs.MedicalSchemeDesc,
                em.Reference,
                ISNULL(cd.IsMaxDependantChildEnabled,0),
                ISNULL(cd.MaxDependantCount,0),
                CAST(ISNULL(cs.EmployeeContributionValue, 100 - ISNULL(cs.EmployerContributionValue,0)) AS decimal(18,6)) AS EmployeePercent,
				CAST(ISNULL(cs.EmployerContributionValue, 100 - ISNULL(cs.EmployeeContributionValue,0)) AS decimal(18,6)) AS EmployerPercent,
				CAST(cs.EmployerMaxContributorValue AS decimal(18,6)) AS EmployerMaxValue,
				CAST(ISNULL(emp.Percentage, 100) AS decimal(18,6)) AS BasePercent,  

                1 AS EmployeeMemberCount,
                (CAST(cd.MemberAmount AS decimal(18,6)) * CAST(ISNULL(emp.Percentage,100) AS decimal(18,6)) / 100.0) AS EmployeeMemberValue,
                1 AS EmployerMemberCount,
                (CAST(cd.MemberAmount AS decimal(18,6)) * CAST(ISNULL(emp.Percentage,100) AS decimal(18,6)) / 100.0) AS EmployerMemberValue,

                ISNULL(dep.EmployeeAdultCount,0)  AS EmployeeAdultCount,
               (CAST(cd.AdultAmount  AS decimal(18,6)) * CAST(ISNULL(emp.Percentage,100) AS decimal(18,6)) / 100.0) AS EmployeeAdultValue,
                ISNULL(dep.EmployerAdultCount,0)  AS EmployerAdultCount,
               (CAST(cd.AdultAmount  AS decimal(18,6)) * CAST(ISNULL(emp.Percentage,100) AS decimal(18,6)) / 100.0) AS EmployerAdultValue,

                ISNULL(dep.EmployeeChildCount,0)  AS EmployeeChildCount,
               (CAST(cd.ChildAmount  AS decimal(18,6)) * CAST(ISNULL(emp.Percentage,100) AS decimal(18,6)) / 100.0) AS EmployeeChildValue,
                ISNULL(dep.EmployerChildCount,0)  AS EmployerChildCount,
               (CAST(cd.ChildAmount  AS decimal(18,6)) * CAST(ISNULL(emp.Percentage,100) AS decimal(18,6)) / 100.0) AS EmployerChildValue,

                ISNULL(ex.EmployeeExtraValue, 0.0) AS EmployeeExtraValue,
                ISNULL(ex.EmployerExtraValue, 0.0) AS EmployerExtraValue
            FROM [Payroll_EmployeeMedicalAIDDetail]      AS em  WITH (NOLOCK)
            JOIN [Const_MedicalAIDScheme]                AS cs  WITH (NOLOCK) ON cs.MedicalScheme_ID = em.MedicalAidSchmeID
            CROSS APPLY (
                SELECT TOP 1
                       d.MedicalSchemeID, d.StartDate, d.EndDate,
                       d.IsMaxDependantChildEnabled, d.MaxDependantCount,
                       d.MemberAmount, d.AdultAmount, d.ChildAmount
                FROM [Const_MedicalAIDSchemeDetail] d WITH (NOLOCK)
                WHERE d.MedicalSchemeID = cs.MedicalScheme_ID
                  AND d.Enabled = 1
                  AND (
                        (d.StartDate <= @StartDate AND d.EndDate >= @EndDate)
                     OR (d.StartDate BETWEEN @StartDate AND @EndDate)
                     OR (d.EndDate   BETWEEN @StartDate AND @EndDate)
                  )
                ORDER BY d.DateCaptured DESC
            ) AS cd
            JOIN [Cons_Vendor]                            AS ven WITH (NOLOCK) ON ven.Vendor_ID = cs.VendorID
            JOIN (
                SELECT DISTINCT
                       EPD.EmployeeID,
                       ISNULL(CAST(FixedSalary AS decimal(18,6)), CAST(0 AS decimal(18,6))) AS FixedSalary,
                       EPD.EmployeePayrollDefinition_ID,
                       TransactionTypeID,
                       CAST(EPD.Percentage AS decimal(18,6)) AS Percentage
                FROM [Payroll_EmployeePayrollDefinition] EPD WITH (NOLOCK)
                JOIN [Payroll_SalaryHead]             SH  WITH (NOLOCK) ON SH.SalaryHead_ID = EPD.PayrollSalaryHeadID AND SH.Enabled = 1
                JOIN [Payroll_IRP5Code]               IRP WITH (NOLOCK) ON IRP.IRP5Code_ID  = SH.IRP5CodeId AND IRP.Enabled = 1
                JOIN [Payroll_Employee]               PE  WITH (NOLOCK) ON PE.Employee_ID   = EPD.EmployeeID AND PE.CycleID = @CycleID
                JOIN [Payroll_CyclePeriodDetails]     CPD WITH (NOLOCK) ON CPD.CycleID = PE.CycleID AND CPD.Period_ID = @PeriodID AND CPD.Enabled = 1
                JOIN [Payroll_TrialRun_History_Employees] EP WITH (NOLOCK)
                     ON EP.Employee_ID = PE.Employee_ID AND EP.Period_ID = CPD.Period_ID AND EP.Cycle_ID = PE.CycleID
                LEFT JOIN [Payroll_CyclePeriodAdhocSalaryHead] ACPD WITH (NOLOCK)
                     ON ACPD.PeriodID = CPD.Period_ID AND ACPD.SalaryHeadID = SH.SalaryHead_ID
                WHERE (EPD.EmployeeID = CASE @EmployeeID WHEN 0 THEN EPD.EmployeeID ELSE @EmployeeID END)
                  AND EPD.Enabled = 1
                  AND TransactionTypeID IN (2,3,4)
                  AND ISNULL(IRP.IRP5Code, IRP.IRP5CertCode) IN (SELECT IRP5Code FROM @IRP5Code)
                  AND (
                        CASE WHEN @CycleModeID = 1 THEN CASE WHEN ISNULL(ACPD.CyclePeriodAdhocPayrollDefinition_ID,0)=0 THEN 1 ELSE 0 END
                             WHEN @CycleModeID = 2 THEN CASE WHEN ISNULL(ACPD.CyclePeriodAdhocPayrollDefinition_ID,0)=0 THEN 0 ELSE 1 END
                             ELSE 0
                        END
                      ) = 1
            ) AS emp ON emp.EmployeeID = em.EmployeeID

            /* FIX A: revised dependants aggregation */
            LEFT OUTER JOIN
            (
                SELECT
                    dep_ed.EmployeeMedicalAIDID,  -- FIXED: take from dependants table
                    SUM(CASE WHEN dep_ed.DependantType = 0 THEN 1 ELSE 0 END) AS EmployeeAdultCount,
                    SUM(CASE WHEN dep_ed.DependantType = 1 THEN 1 ELSE 0 END) AS EmployeeChildCount,
                    SUM(CASE WHEN dep_ed.DependantType = 0 AND dep_ed.EmployerContribute = 1 THEN 1 ELSE 0 END) AS EmployerAdultCount,
                    SUM(CASE WHEN dep_ed.DependantType = 1 AND dep_ed.EmployerContribute = 1 THEN 1 ELSE 0 END) AS EmployerChildCount,
                    cd.IsMaxDependantChildEnabled
                FROM [Payroll_EmployeeMedicalAIDDetail]            dep_em WITH (NOLOCK)
                JOIN [Payroll_EmployeeMedicalAIDDetailDependants]  dep_ed WITH (NOLOCK)
                     ON dep_ed.EmployeeMedicalAIDID = dep_em.EmployeeMedicalAID_ID
                    AND dep_ed.Enable  = 1
                JOIN [Const_MedicalAIDScheme] cs WITH (NOLOCK)
                     ON cs.MedicalScheme_ID = dep_em.MedicalAidSchmeID
                CROSS APPLY (
                    SELECT TOP 1
                           d.MedicalSchemeID, d.StartDate, d.EndDate,
                           d.IsMaxDependantChildEnabled, d.MaxDependantCount,
                           d.MemberAmount, d.AdultAmount, d.ChildAmount
                    FROM [Const_MedicalAIDSchemeDetail] d WITH (NOLOCK)
                    WHERE d.MedicalSchemeID = cs.MedicalScheme_ID
                      AND d.Enabled = 1
                      AND (
                            (d.StartDate <= @StartDate AND d.EndDate >= @EndDate)
                         OR (d.StartDate BETWEEN @StartDate AND @EndDate)
                         OR (d.EndDate   BETWEEN @StartDate AND @EndDate)
                          )
                    ORDER BY d.DateCaptured DESC
                ) AS cd
                WHERE dep_ed.Disabled = 0
                  AND dep_ed.StartDate <= @EndDate
                  AND ISNULL(dep_ed.EndDate, @StartDate) >= @StartDate
                GROUP BY dep_ed.EmployeeMedicalAIDID, cd.IsMaxDependantChildEnabled
            ) AS dep ON dep.EmployeeMedicalAIDID = em.EmployeeMedicalAID_ID
            /* end FIX A */

            LEFT OUTER JOIN (
                SELECT
                    EmployeeMedicalAIDID,
                    SUM(CASE WHEN ISNULL(IsEmployerContribute,0) = 0 THEN CAST(Amount AS decimal(18,6)) ELSE CAST(0 AS decimal(18,6)) END) AS EmployeeExtraValue,
                    SUM(CASE WHEN ISNULL(IsEmployerContribute,0) = 1 THEN CAST(Amount AS decimal(18,6)) ELSE CAST(0 AS decimal(18,6)) END) AS EmployerExtraValue
                FROM [Payroll_ExtraActiveMedicalAidTransaction] WITH (NOLOCK)
                WHERE [Enabled] = 1
                  AND [PeriodFrom] <= @EndDate
                  AND ISNULL([PeriodTo], @StartDate) >= @StartDate
                GROUP BY EmployeeMedicalAIDID
            ) AS ex ON ex.EmployeeMedicalAIDID = em.EmployeeMedicalAID_ID

            WHERE em.Enable = 1
              AND cs.Enabled = 1
              AND em.JoinDate <= @EndDate
              AND ISNULL(em.TerminationDate, @StartDate) >= @StartDate;

            /* Max dependant rules (unchanged) */
            UPDATE E
            SET
                E.EmployerAdultCount =
                    CASE
                        WHEN E.IsMaxDependantChildEnabled = 1 THEN E.EmployerAdultCount
                        ELSE CASE WHEN (E.MaxDependantCount - E.EmployerAdultCount) < 0
                                  THEN E.MaxDependantCount
                                  ELSE E.EmployerAdultCount
                             END
                    END,
                E.EmployerChildCount =
                    CASE
                        WHEN E.IsMaxDependantChildEnabled = 1 AND E.EmployerChildCount > E.MaxDependantCount
                            THEN E.MaxDependantCount
                        WHEN E.IsMaxDependantChildEnabled = 1 AND E.EmployerChildCount <= E.MaxDependantCount
                            THEN E.EmployerChildCount
                        WHEN E.IsMaxDependantChildEnabled = 0 AND (E.MaxDependantCount - E.EmployeeAdultCount) <= 0
                            THEN 0
                        WHEN E.IsMaxDependantChildEnabled = 0 AND (E.MaxDependantCount - E.EmployeeAdultCount) >= E.EmployeeChildCount
                            THEN E.EmployeeChildCount
                        WHEN E.IsMaxDependantChildEnabled = 0 AND (E.MaxDependantCount - E.EmployeeAdultCount) <  E.EmployeeChildCount
                            THEN (E.MaxDependantCount - E.EmployeeAdultCount)
                    END,
                E.EmployeeChildCount =
                    CASE
                        WHEN E.IsMaxDependantChildEnabled = 1 AND E.EmployerChildCount > E.MaxDependantCount
                            THEN E.MaxDependantCount
                        WHEN E.IsMaxDependantChildEnabled = 1 AND E.EmployerChildCount <= E.MaxDependantCount
                            THEN E.EmployerChildCount
                        WHEN E.IsMaxDependantChildEnabled = 0 AND (E.MaxDependantCount - E.EmployeeAdultCount) <= 0
                            THEN 0
                        WHEN E.IsMaxDependantChildEnabled = 0 AND (E.MaxDependantCount - E.EmployeeAdultCount) >= E.EmployeeChildCount
                            THEN E.EmployeeChildCount
                        WHEN E.IsMaxDependantChildEnabled = 0 AND (E.MaxDependantCount - E.EmployeeAdultCount) <  E.EmployeeChildCount
                            THEN (E.MaxDependantCount - E.EmployeeAdultCount)
                    END
            FROM @EmployeeMedicalAid E;

            /* FIX B: split payments correctly */
            UPDATE E
            SET
                E.EmployeeValue =
                      (E.EmployeeMemberValue * E.EmployeeMemberCount) * (E.EmployeePercent / 100.0)
                    + (E.EmployeeAdultValue  * E.EmployerAdultCount)  * (E.EmployeePercent / 100.0)
                    + (E.EmployeeAdultValue  * ISNULL(NULLIF(E.EmployeeAdultCount - E.EmployerAdultCount,0),0)) * 1.0
                    + (E.EmployeeChildValue  * E.EmployerChildCount)  * (E.EmployeePercent / 100.0)
                    + (E.EmployeeChildValue  * ISNULL(NULLIF(E.EmployeeChildCount - E.EmployerChildCount,0),0)) * 1.0
                    + E.EmployeeExtraValue
                    + (E.EmployerExtraValue  * (E.EmployeePercent / 100.0)),

                E.EmployerValue =
                      (E.EmployerMemberValue * E.EmployerMemberCount) * (E.EmployerPercent / 100.0)
                    + (E.EmployerAdultValue  * E.EmployerAdultCount)  * (E.EmployerPercent / 100.0)
                    + (E.EmployerChildValue  * E.EmployerChildCount)  * (E.EmployerPercent / 100.0)
                    + (E.EmployerExtraValue  * (E.EmployerPercent / 100.0))
            FROM @EmployeeMedicalAid E;

            /* Cap employer and move excess to employee */
            UPDATE E
            SET
                E.EmployeeValue = CAST(E.EmployeeValue AS decimal(18,6)) + (CAST(E.EmployerValue AS decimal(18,6)) - CAST(E.EmployerMaxValue AS decimal(18,6))),
                E.EmployerValue = CAST(E.EmployerMaxValue AS decimal(18,6))
            FROM @EmployeeMedicalAid E
            WHERE CAST(E.EmployerValue AS decimal(18,6)) > CAST(E.EmployerMaxValue AS decimal(18,6));

            INSERT INTO [Payroll_EmployeeTrialPayslip]
                ([EmployeeID], [PayrollDefinationID], [Amount], [Month], [FinancialYear], [PeriodID], [VendorID], [TaxYear], [SalaryHeadTitleAddendum], [ReferenceNo], [Simulation])
            SELECT
                [Employee_ID],
                [PayrollDefinationID],
                CASE WHEN [TransactionTypeID] = 2 THEN CAST([EmployeeValue] AS decimal(18,6))
                     ELSE CAST([EmployerValue] AS decimal(18,6))
                END,
                @Month, @SCOAYear, @PeriodID, [VendorID], @TaxYear, [Fund], ISNULL([MembershipNo], ''), @Simulation
            FROM @EmployeeMedicalAid;
        END
    END TRY
    BEGIN CATCH
        INSERT INTO [Payroll_TrialErrors]
            ([ValidationType], [PeriodID], [ErrorMessage], [StoredProcedure], [CapturedBy], [CapturedDate], [Simulation])
        VALUES
            ('System', @PeriodID, '#' + CAST(ERROR_LINE() AS nvarchar(20)) + ' - ' + ERROR_MESSAGE(), ERROR_PROCEDURE(), 1, GETDATE(), @Simulation);
    END CATCH

    SET NOCOUNT OFF;
END
