USE [EMS_George]
GO
/****** Object:  StoredProcedure [dbo].[Payroll_EmployeeSalaryStructureCalculation_Trail_sp]    Script Date: 3/17/2026 8:43:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*
	Author		:	FERDI BOTHA
	Create date	:	24/10/2017
	Description	:	Calculates Employees Salary Structure
	Update date :   13/02/2020 - Ilya Skavronskiy => updated bonus calculation
	Update date :   24/02/2020 - Ilya Skavronskiy => Added Bonus processing for specific month
	Update date :   25/02/2020 - Ilya Skavronskiy => Added filtering to prevent employee to receive a Bonus in his/her first month of employment
	Update date :   13/04/2022 - R Mills => Cater for prorata Salary Transactions
	Update date :	30/05/2022 - R Mills => Fix SP to save VendorId where applicable
*/
ALTER procedure [dbo].[Payroll_EmployeeSalaryStructureCalculation_Trail_sp] @EmployeeID int, @PeriodID int, @CycleID int, @CycleModeID int, @StartDate datetime, @EndDate datetime, @Month int, @SCOAYear nvarchar(10), @TaxYear nvarchar(10), @Simulation bit 
as

begin

	set nocount on;

	begin try

		declare @Payroll_EmployeeTrialPayslip table (

			[EmployeeID] int not null,
			[PayrollDefinationID] int not null,
			[Amount] decimal(18, 6) not null,
			[Month] nvarchar(10) not null,
			[FinancialYear] nvarchar(10) not null,
			[SalaryHeadTitleAddendum] nvarchar(200) null,
			[PeriodID] int not null,
			[TaxYear] nvarchar(10) null,
			[VendorId] int,
			[Simulation] bit null
		)

		declare @BonusDateID int = 0,
				@BonusMonth int = 0

		select top 1 @BonusDateID = [BonusPaymentDateID], @BonusMonth = [BonusMonth] from [Payroll_Municipality] where ([Enabled] = 1)

		insert into @Payroll_EmployeeTrialPayslip([EmployeeID], [PayrollDefinationID], [Amount], [Month], [FinancialYear], [SalaryHeadTitleAddendum], [PeriodID], [TaxYear],[VendorId], [Simulation])

			select 
				[PE].[Employee_ID], 
				[EmployeePayrollDefinition_ID], 
				case when SH.SalaryHead_ID = 2 then 
					cast(((isnull(cast([Amount] as decimal(18, 6)), cast(0 as decimal(18, 6))) 
						* cast([Percentage] as decimal(18, 6))) / cast(100 as decimal(18, 6))) as decimal(18, 6))
				else 
				case when [PET].[TerminationPeriodId] = @PeriodID and [SH].[IsProrata] = 1 then 
				(
					(cast(((isnull(cast(([Amount] / 12) as decimal(18, 6)), cast(0 as decimal(18, 6))) 
						* cast([Percentage] as decimal(18, 6))) / cast(100 as decimal(18, 6))) as decimal(18, 6))))
					/[PE].[WDPM_Monthly] * [PE].UntilDays
				else 
				case when [PE].[StartDays] > 0 and [SH].[IsProrata] = 1 then 
				(
					(cast(((isnull(cast(([Amount] / 12) as decimal(18, 6)), cast(0 as decimal(18, 6))) 
						* cast([Percentage] as decimal(18, 6))) / cast(100 as decimal(18, 6))) as decimal(18, 6))))
					/[PE].[WDPM_Monthly] * [PE].StartDays
				else 
					cast(((isnull(cast(([Amount] / 12) as decimal(18, 6)), cast(0 as decimal(18, 6))) 
					* cast([Percentage] as decimal(18, 6)))/ cast(100 as decimal(18, 6))) as decimal(18, 6))
				end
				end
				end, 
				@Month, 
				@SCOAYear, 
				[SalaryHeadTitle], 
				@PeriodID, 
				@TaxYear, 
				GL.VendorID,
				@Simulation

				from [Payroll_EmployeeSalaryTransaction] as [ET] with(nolock)

					join [Payroll_EmployeePayrollDefinition] as [EPD] with(nolock) on [EPD].[EmployeeID] = [ET].[EmployeeId] and [PayrollSalaryHeadID] = [ET].[SalaryHeadId] and [EPD].[Enabled] = 1

					join [Payroll_SalaryHead] as [SH] with(nolock) on [SalaryHead_ID] = [ET].[SalaryHeadId] and [SH].[Enabled] = 1

					join [Payroll_GLItems] as [GL] with (nolock) on [GL].[SalaryHeadID] = [SalaryHead_ID]

					join [Payroll_IRP5Code] as [IRP5] with(nolock) on [IRP5Code_ID] = [SH].[IRP5CodeId] and [IRP5].[Enabled] = 1

					join [Payroll_Employee] as [PE] with(nolock) on [Employee_ID] = [ET].[EmployeeId] and [PE].[CycleID] = @CycleID

					join [Payroll_CyclePeriodDetails] as [CPD] with(nolock) on [CPD].[CycleID] = [PE].[CycleID] and [Period_ID] = @PeriodID and [CPD].[Enabled] = 1

					join [Payroll_TrialRun_History_Employees] as [EP] with(nolock) on [EP].[Employee_ID] = [PE].[Employee_ID] and [EP].[Period_ID] = [CPD].[Period_ID] and [EP].[Cycle_ID] = [PE].[CycleID]

					left outer join [Payroll_CyclePeriodAdhocSalaryHead] as [ACPD] with(nolock) on [PeriodID] = [CPD].[Period_ID] and [ACPD].[SalaryHeadID] = [SalaryHead_ID]

					left outer join [Payroll_EmployeeTermination] as [PET] on [PET].[EmployeeId] = [PE].[Employee_ID] and [PET].[TerminationPeriodId] = @PeriodID and [PET].Complete = 1

				where ([ET].[EmployeeID] = (case @EmployeeID when 0 then [EPD].[EmployeeID] else @EmployeeID end) and

					not isnull([IRP5].[IRP5CertCode], [IRP5].[IRP5Code]) in(4472, 4473, 4474, 4475) and

					(
						[SH].[SalaryHead_ID] != 2

						or [SH].[SalaryHead_ID] = 2
						and
						(
							isnull([BonusPaymentDateID], @BonusDateID) = 1 and (month([JoiningDate]) = month(@StartDate) or month([JoiningDate]) = month(@EndDate)) 
							or isnull([BonusPaymentDateID], @BonusDateID) = 2 and (month([DateOfBirth]) = month(@StartDate) or month([DateOfBirth]) = month(@EndDate)) 
							or isnull([BonusPaymentDateID], @BonusDateID) = 3 and (@BonusMonth = month(@StartDate) or @BonusMonth = month(@EndDate))
							or isnull([BonusPaymentDateID], @BonusDateID) = 4 and [PE].[BonusMonth] is not null and ([PE].[BonusMonth] = month(@StartDate) or [PE].[BonusMonth] = month(@EndDate))
						)
						and						
						--No employee can receive a bonus or a pro-rate bonus in his/her first month of employment.
						(
							year(@EndDate) > year([PE].[JoiningDate])
							or 
							(year(@EndDate) = year([PE].[JoiningDate]) and month(@EndDate) > month([PE].[JoiningDate])) 
						)
						and
						--Only one Bonus payment can be made during the Tax Year
						not exists (
							select top 1 1
							from Payroll_PayrollResults AS PR
							where [PR].[EmployeeID] = [EPD].[EmployeeID]
								and [PR].[SalaryHeadID] = 2
								and [PR].[TaxYear] = cast(right(@TaxYear, 4) as int)
						)
					) and

					(case

						when @CycleModeID = 1 then

							case when isnull([CyclePeriodAdhocPayrollDefinition_ID], 0) = 0 then 1 else 0 end

						when @CycleModeID = 2 then

							case when isnull([CyclePeriodAdhocPayrollDefinition_ID], 0) = 0 then 0 else 1 end

						else 0 end) = 1

				)

		update [TP] set [TP].[Amount] = [ET].[Amount]

			from [Payroll_EmployeeTrialPayslip] as [TP]

				join @Payroll_EmployeeTrialPayslip as [ET] on [ET].[EmployeeID] = [TP].[EmployeeID] and [ET].[PayrollDefinationID] = [TP].[PayrollDefinationID] and [ET].[Month] = [TP].[Month] and [ET].[FinancialYear] = [TP].[FinancialYear] and [ET].[PeriodID] = [TP].[PeriodID] and [ET].[TaxYear] = [TP].[TaxYear]

			where ([ET].[Amount] > 0)

		insert into [Payroll_EmployeeTrialPayslip]([EmployeeID], [PayrollDefinationID], [Amount], [Month], [FinancialYear], [SalaryHeadTitleAddendum], [PeriodID], [TaxYear],[VendorId],[Simulation])

			select [EmployeeID], [PayrollDefinationID], [Amount], [Month], [FinancialYear], [SalaryHeadTitleAddendum], [PeriodID], [TaxYear],[VendorId], [Simulation]

				from @Payroll_EmployeeTrialPayslip as [ET]

				where ([ET].[Amount] > 0 and not exists(

						select top 1 [EmployeeID]

							from [Payroll_EmployeeTrialPayslip]

							where ([EmployeeID] = [ET].[EmployeeID] and [PayrollDefinationID] = [ET].[PayrollDefinationID] and [Month] = [ET].[Month] and [FinancialYear] = [ET].[FinancialYear] and [PeriodID] = [ET].[PeriodID] and [TaxYear] = [ET].[TaxYear] and [Simulation] = [ET].[Simulation] )

					)

				)

	end try

	begin catch

		insert into [Payroll_TrialErrors]([ValidationType], [PeriodID], [ErrorMessage], [StoredProcedure], [CapturedBy], [CapturedDate], [Simulation])

			values('System', @PeriodID, '#' + cast(error_line() as nvarchar) + ' - ' + error_message(), error_procedure(), 1, getdate(), @Simulation)

	end catch

	set nocount off;

end