USE [EMS_George]
GO
/****** Object:  StoredProcedure [dbo].[Payroll_EmployeeAllPensionAndArrearsCalculation_Trail_sp]    Script Date: 3/17/2026 8:43:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*
	Author		:	FERDI BOTHA
	Create date	:	07/03/2017
	Description	:	Calculates Employees Pension, Provident, Retirement Funds
	Update date	:	29/06/2017 - Updated Parameters & IRP5Code mappings
	Update date	:	05/09/2017 - Updated the Type ID to match the Benifit Type
	Update date	:	23/11/2017 - Updated the Retirement Fund Type ID checks
	Update date	:	30/11/2017 - Updated Added Private Pension, Provident and Retirement Funds (as they need to be added as Deductions for the Employee Tax Calculation) - Ferdi Botha
	Update Date :   16/10/2019 - Artur Anzorge => Changes for employee termination
	Update Date	:	07/04/2020 - Ilya Skavronskiy => Updated reference number and Salary Head title for Persion Fund
	Update Date :	27/09/2021 - Fix SP for Private Fund
	Update Date :	20/01/2023 - Richa M - Fix SP for Employees with Fixed Amount PensionFund
	Update Date :   01/06/2023 - Richa M - When an Employee belongs to eg Pension and Retirement fund the RFI is calculation incorrectly
*/
ALTER procedure [dbo].[Payroll_EmployeeAllPensionAndArrearsCalculation_Trail_sp] @EmployeeID int, @PeriodID int, @CycleID int, @CycleModeID int, @StartDate datetime, @EndDate datetime, @Month int, @SCOAYear nvarchar(10), @TaxYear nvarchar(10), @TypeID int, @Simulation bit
as

begin

	set nocount on;

	begin try
	if exists ( select Processed from [Payroll_CyclePeriodDetails] [CPD] where [CPD].[PeriodStartDate] = @StartDate and [CPD].[PeriodEndDate] = @EndDate and [CPD].[Enabled] = 1 and [CPD].[Processed] = 0 and [Period_ID] = @PeriodID and [CycleID] = @CycleID and [CycleModeID] = 1)
		begin


		declare @Processing table (

			[EmployeeID] int not null,
			[ContributionType] bit not null,
			[TypeID] int not null,
			[FundType] int not null,
			[VendorID] int null,
			[VendorName] nvarchar(200) null,
			[IsPrivate] bit not null default(0),
			[ValueRFI] decimal(18, 6) not null,
			[EmployeeValue] decimal(18, 6) not null,
			[EmployerValue] decimal(18, 6) not null,
			[FringeValue] decimal(18, 6) not null default(0),
			[Const_EmployeeValue] decimal(18, 6) not null,
			[Const_EmployerValue] decimal(18, 6) not null,
			[Const_EmployeeMaxValue] decimal(18, 6) not null,
			[Const_EmployerMaxValue] decimal(18, 6) not null,
			[FundPercentage] decimal(18, 6) not null,
			[ReferenceNo] nvarchar(50) null
		)

		declare @Processed table (

			[EmployeeID] int not null,
			[PayrollDefinationID] int not null,
			[SalaryHeadTitle] nvarchar(50) not null,
			[TransactionTypeID] int not null,
			[FundType] int not null,
			[VendorID] int null,
			[VendorName] nvarchar(200) null,
			[IsPrivate] bit not null default(0),
			[EmployeeValue] decimal(18, 6) not null,
			[EmployerValue] decimal(18, 6) not null,
			[FringeValue] decimal(18, 6) not null default(0),
			[EmployeeMaxValue] decimal(18, 6) not null,
			[EmployerMaxValue] decimal(18, 6) not null,
			[ReferenceNo] nvarchar(50) null
		)

		declare @IRP5Code table (

			[TypeID] [int] not null,
			[IRP5Code] [int] not null

		)

		declare @SalaryHead table (

			[SalaryHeadID] [int] not null

		)

		/* PENSION FUNDS */
		if (@TypeID = 1)
		begin

			/* BENEFIT-EMPLOYER PENSION FUND CONTRIBUTIONS (PAYE) [3817] */
			insert into @IRP5Code([TypeID], [IRP5Code]) values(3, 3817)

			/* BENEFIT-EMPLOYER PENSION FUND CONTRIBUTIONS (PAYE) FOR FOREIGN SERVICE INCOME [3867] */
			insert into @IRP5Code([TypeID], [IRP5Code]) values(3, 3867)

			/* CURRENT PENSION FUND CONTRIBUTIONS [4001] */
			insert into @IRP5Code([TypeID], [IRP5Code]) values(3, 4001)

			/* ARREAR PENSION FUND CONTRIBUTIONS [4002] */
			insert into @IRP5Code([TypeID], [IRP5Code]) values(3, 4002)

			/* ARREAR PENSION FUND CONTRIBUTIONS - NON-STATUTORY FORCES (NSF) [4026] */
			insert into @IRP5Code([TypeID], [IRP5Code]) values(3, 4026)

			/* EMPLOYER'S PENSION FUND CONTRIBUTIONS [4472] */
			insert into @IRP5Code([TypeID], [IRP5Code]) values(3, 4472)

			insert into @SalaryHead([SalaryHeadID])

				values	(15),
						(16),
						(17)

		end

		/* PROVIDENT FUNDS */
		if (@TypeID = 2)
		begin

			/* BENEFIT-EMPLOYER PROVIDENT FUND CONTRIBUTIONS (PAYE) [3825] */
			insert into @IRP5Code([TypeID], [IRP5Code]) values(4, 3825)

			/* BENEFIT-EMPLOYER PROVIDENT FUND CONTRIBUTIONS (PAYE) FOR FOREIGN SERVICE INCOME [3875] */
			insert into @IRP5Code([TypeID], [IRP5Code]) values(4, 3875)

			/* CURRENT PROVIDENT FUND CONTRIBUTIONS [4003] */
			insert into @IRP5Code([TypeID], [IRP5Code]) values(4, 4003)

			/* ARREAR PROVIDENT FUND CONTRIBUTIONS (MUST BE INCLUDED IN CODE 4003 FROM 2010 YEAR OF ASSESSMENT) [4004] */
			insert into @IRP5Code([TypeID], [IRP5Code]) values(4, 4004)

			/* EMPLOYER'S PROVIDENT FUND CONTRIBUTIONS [4473] */
			insert into @IRP5Code([TypeID], [IRP5Code]) values(4, 4473)

			insert into @SalaryHead([SalaryHeadID])

				values	(18),
						(19),
						(20)

		end

		/* RETIREMENT FUNDS */
		if (@TypeID = 3)
		begin

			/* EMPLOYER RETIREMENT ANNUITY FUND CONTRIBUTIONS [3828] */
			insert into @IRP5Code([TypeID], [IRP5Code]) values(5, 3828)

			/* EMPLOYER RETIREMENT ANNUITY FUND CONTRIBUTIONS FOR FOREIGN SERVICE INCOME [3878] */
			insert into @IRP5Code([TypeID], [IRP5Code]) values(5, 3878)

			/* CURRENT RETIREMENT ANNUITY FUND CONTRIBUTIONS [4006] */
			insert into @IRP5Code([TypeID], [IRP5Code]) values(5, 4006)

			/* ARREAR (RE-INSTATED) RETIREMENT ANNUITY FUND CONTRIBUTIONS [4007] */
			insert into @IRP5Code([TypeID], [IRP5Code]) values(5, 4007)

			/* EMPLOYER'S RETIREMENT ANNUITY FUND CONTRIBUTIONS [4475] */
			insert into @IRP5Code([TypeID], [IRP5Code]) values(5, 4475)

			insert into @SalaryHead([SalaryHeadID])

				values	(21),
						(22),
						(23)

		end

		insert into @Processing([EmployeeID], [ContributionType], [TypeID], [FundType], [VendorID], [VendorName], [IsPrivate], [ValueRFI], [EmployeeValue], [EmployerValue], [Const_EmployeeValue], [Const_EmployerValue], [Const_EmployeeMaxValue], [Const_EmployerMaxValue], [FundPercentage], [ReferenceNo])

			select distinct [EBD].[EmployeeID], [ContributionType], [BenefitTypeID], [RetirementFundTypeID], [VendorID], [VendorName], 
				isnull([IsPrivate], 0), 
                isnull(cast(
                    IIF(BD.ProRata = 1 AND ISNULL(EEData.WDPM_Monthly, 0) > 0 AND ISNULL(EEData.WorkingDays, 0) > 0, 
                        [ValueRFI].[Value] / EEData.WDPM_Monthly * EEData.WorkingDays, 
                        [ValueRFI].[Value])  
                    as decimal(18, 6)), cast(0 as decimal(18, 6))), 
				isnull(cast([EBD].[EmployeeContribution] as decimal(18, 6)), cast(0 as decimal(18, 6))), 
				isnull(cast([EBD].[EmployerContribution] as decimal(18, 6)), cast(0 as decimal(18, 6))), 
				isnull(cast([BD].[EmpContributionValue] as decimal(18, 6)), cast(0 as decimal(18, 6))), 
				isnull(cast([BD].[EmplrContributionValue] as decimal(18, 6)), cast(0 as decimal(18, 6))), 
				isnull(cast([BD].[EmpContributionMaxValue] as decimal(18, 6)), cast(0 as decimal(18, 6))), 
				isnull(cast([BD].[EmplrContributionMaxValue] as decimal(18, 6)), cast(0 as decimal(18, 6))), 
				isnull(cast([BD].[FundMemberCategoryFactors] as decimal(18, 6)), cast(0 as decimal(18, 6))), 
				ISNULL([EBD].[ReferenceNo], '')
 from (Select * from [Payroll_EmpBenefitDetail] WHERE EmployeeId = @EmployeeID OR @EmployeeID = 0 and Enabled = 1) as [EBD] 
				left join ( 
					select 
						 [ETP].[EmployeeID],BenefitSchemeID, sum((cast(isnull(etp.Amount,0) as decimal(18,6)))) as Value
						 
					from [Payroll_EmployeeTrialPayslip] as [ETP] with(nolock)
						join [Payroll_Employee] as [PE] with(nolock) on [PE].[Employee_ID] = [ETP].[EmployeeID] and [PE].[CycleID] = @CycleID
						join [Payroll_EmployeePayrollDefinition] as [EPD] with(nolock) on [EPD].[EmployeePayrollDefinition_ID] = [ETP].[PayrollDefinationID] and [EPD].[EmployeeID] = [ETP].[EmployeeID] and [EPD].[Enabled] = 1
						join [Payroll_SalaryHead] as [SH] with(nolock) on [SH].[SalaryHead_ID] = [EPD].[PayrollSalaryHeadID] and [SH].[Enabled] = 1
						JOIN Payroll_EmpBenefitDetail AS EBD WITH(NOLOCK) ON PE.Employee_ID = EBD.EmployeeId AND EBD.Enabled = 1 AND EBD.IsPrivate = 0
						JOIN Payroll_BenefitDetail BD on BD.Benefit_ID = EBD.BenefitSchemeID
						LEFT JOIN [Payroll_BenefitDetail_SalaryHead] AS BDSH WITH(NOLOCK) ON SH.SalaryHead_ID = BDSH.SalaryHeadId AND EBD.BenefitSchemeID = BDSH.BenefitId
						join [Payroll_IRP5Code] as [IRP5] with(nolock) on [IRP5Code_ID] = [SH].[IRP5CodeId] and [IRP5].[Enabled] = 1
						join [Payroll_CyclePeriodDetails] as [CPD] with(nolock) on [CPD].[CycleID] = [PE].[CycleID] and [Period_ID] = @PeriodID and [CPD].[Enabled] = 1
						join [Payroll_TrialRun_History_Employees] as [EP] with(nolock) on [EP].[Employee_ID] = [ETP].[EmployeeID] and [EP].[Period_ID] = [ETP].[PeriodID] and [EP].[Cycle_ID] = [PE].[CycleID]
						left outer join [Payroll_CyclePeriodAdhocSalaryHead] as [ACPD] with(nolock) on [ACPD].[PeriodID] = [CPD].[Period_ID] and [ACPD].[SalaryHeadID] = [SalaryHead_ID]
					where [ETP].[EmployeeID] = (case @EmployeeID when 0 then [ETP].[EmployeeID] else @EmployeeID end) 
						and [ETP].[PeriodID] = @PeriodID
						AND EBD.JoinDate <= @EndDate AND ISNULL(EBD.TerminationDate, @StartDate) >= @StartDate
						AND ((BDSH.Id IS NULL AND SH.IsRFI = 1) OR (BDSH.Id IS NOT NULL) OR (BD.ContributionType = 0 and BenefitTypeID <> 5))
						and (case
							when @CycleModeID = 1 then
								case when isnull([CyclePeriodAdhocPayrollDefinition_ID], 0) = 0 then 1 else 0 end
							when @CycleModeID = 2 then
								case when isnull([CyclePeriodAdhocPayrollDefinition_ID], 0) = 0 then 0 else 1 end
							else 0 end) = 1
					group by [ETP].[EmployeeID],BenefitTypeID,BenefitSchemeID)as ValueRFI on [ValueRFI].[EmployeeID] = [EBD].[EmployeeId] and Ebd.BenefitSchemeID = ValueRFI.BenefitSchemeID
					join [Payroll_BenefitDetail] as [BD] with(nolock) on [Benefit_ID] = ValueRFI. [BenefitSchemeID] and [BD].[Enabled] = [EBD].[Enabled]
				left outer join [Cons_Vendor] as [VEN] with(nolock) on [Vendor_ID] = [VendorID]
                CROSS APPLY (
                    SELECT 
                        CASE
		                    WHEN @Simulation = 1 AND (NOT [ETI].[TerminationStartDate] IS NULL) AND [PEI].[UntilDays] > 0 THEN ISNULL([PEI].[UntilDays], 0)
		                    WHEN [PEI].[JoiningDate] BETWEEN @StartDate AND @EndDate AND [PEI].[StartDays] > 0 THEN ISNULL([PEI].[StartDays], 0)
		                    WHEN [PEI].[EndDate] BETWEEN @StartDate AND @EndDate AND [PEI].[UntilDays] > 0 THEN ISNULL([PEI].[UntilDays], 0)
		                    ELSE NULL
	                    END AS WorkingDays,
                        PEI.WDPM_Monthly
                    FROM Payroll_Employee AS PEI WITH(NOLOCK)
                    LEFT JOIN Payroll_EmployeeTermination AS ETI WITH(NOLOCK) ON PEI.Employee_ID = ETI.EmployeeID AND ETI.Enabled = 1
                    WHERE EBD.EmployeeID = PEI.Employee_ID
                ) AS EEData 
			where ([EBD].[Enabled] = 1 and [JoinDate] <= @EndDate and isnull([TerminationDate], @StartDate) >= @StartDate)




		insert into @Processed([EmployeeID], [PayrollDefinationID], [SalaryHeadTitle], [TransactionTypeID], [FundType], [VendorID], [VendorName], [IsPrivate], [EmployeeValue], [EmployerValue], [FringeValue], [EmployeeMaxValue], [EmployerMaxValue], [ReferenceNo])

			select [RFI].[EmployeeID], [EmployeePayrollDefinition_ID], [SalaryHeadTitle], [TransactionTypeID], [FundType], [VendorID], [VendorName], [IsPrivate], 
				(case

					when [IsPrivate] = 1 then cast([EmployeeValue] as decimal(18, 6))

					when [FundType] in(1, 2) then

						(case

							when @TypeID = 3 and [TypeID] in(5, 9) then cast([EmployeeValue] as decimal(18, 6))

							when [ContributionType] = 1 then ((cast([ValueRFI] as decimal(18, 6)) * cast([Const_EmployeeValue] as decimal(18, 6))) / cast(100 as decimal(18, 6)))

							when [ContributionType] = 0 then [Const_EmployeeValue]

						end)

					when [FundType] = 3 then cast([EmployeeValue] as decimal(18, 6))

					else 0

				end) AS EmployeeValue, 

				(case

					when [IsPrivate] = 1 then cast(0 as decimal(18, 6))

					when [FundType] in(1, 2) then
					 
						(case

							when @TypeID = 3 and [TypeID] in(5, 9) then cast([EmployerValue] as decimal(18, 6))

							when [ContributionType] = 1 then ((cast([ValueRFI] as decimal(18, 6)) * cast([Const_EmployerValue] as decimal(18, 6))) / cast(100 as decimal(18, 6)))

							when [ContributionType] = 0 then [Const_EmployerValue]

						end)

					when [FundType] = 3 then cast([EmployerValue] as decimal(18, 6))

					else 0

				end) AS EmployerValue, 
				
				(case

					when [IsPrivate] = 1 then cast(0 as decimal(18, 6))

					when [FundType] = 1 then

						(case

							when @TypeID = 3 and [TypeID] in(5, 9) then cast([EmployerValue] as decimal(18, 6))

							when [ContributionType] = 1 then ((cast([ValueRFI] as decimal(18, 6)) * cast([Const_EmployerValue] as decimal(18, 6))) / cast(100 as decimal(18, 6)))

							when [ContributionType] = 0 then [Const_EmployerValue]

						end)

					when [FundType] = 2 then

						(case

							when @TypeID = 3 and [TypeID] in(5, 9) then cast([EmployerValue] as decimal(18, 6))

							when [ContributionType] = 1 then ((cast([ValueRFI] as decimal(18, 6)) * (cast([FundPercentage] as decimal(18, 6)) - cast([Const_EmployeeValue] as decimal(18, 6)))) / cast(100 as decimal(18, 6)))

							when [ContributionType] = 0 then [Const_EmployeeValue]

						end)

					when [FundType] = 3 then cast([EmployerValue] as decimal(18, 6))

					else 0

				end) AS FringeValue, 
				
				(case

					when [IsPrivate] = 1 then cast(0 as decimal(18, 6))

					else cast([Const_EmployeeMaxValue] as decimal(18, 6))

				end) AS EmployeeMaxValue, 
				
				(case

					when [IsPrivate] = 1 then cast(0 as decimal(18, 6))

					else cast([Const_EmployerMaxValue] as decimal(18, 6))

				end) AS EmployerMaxValue,

				[RFI].[ReferenceNo]

				from [Payroll_IRP5Code] as [IRP5] with(nolock)

					join [Payroll_SalaryHead] as [SH] with(nolock) on [SH].[IRP5CodeId] = [IRP5].[IRP5Code_ID] and [SH].[Enabled] = 1

					join [Payroll_EmployeePayrollDefinition] as [EPD] with(nolock) on [PayrollSalaryHeadID] = [SH].[SalaryHead_ID] and [EPD].[Enabled] = 1

					join @SalaryHead as [SHI] on [SHI].[SalaryHeadID] = [EPD].[PayrollSalaryHeadID]

					join @Processing as [RFI] on [RFI].[EmployeeID] = [EPD].[EmployeeID] and

					(case

						when @TypeID = 1 and [TypeID] in(3, 7) then 1

						when @TypeID = 2 and [TypeID] in(4, 8) then 1

						when @TypeID = 3 and [TypeID] in(5, 9) then 1

						else 0

					end) = 1

				where ([EPD].[EmployeeID] = (case @EmployeeID when 0 then [EPD].[EmployeeID] else @EmployeeID end) and [IRP5].[Enabled] = 1

					and isnull([IRP5].[IRP5Code], [IRP5].[IRP5CertCode]) in(select [IRP5Code] from @IRP5Code)

					and ([IsPrivate] = 0 or ([IsPrivate] = 1 and [TransactionTypeID] = 2))

				)

		update @Processed set [EmployeeValue] = [EmployeeMaxValue] where ([FundType] in(1, 2) and [EmployeeValue] > [EmployeeMaxValue] and [EmployeeMaxValue] > 0)

		update @Processed set [EmployerValue] = [EmployerMaxValue] where ([FundType] in(1, 2) and [EmployerValue] > [EmployerMaxValue] and [EmployerMaxValue] > 0)

		update @Processed set [FringeValue] = [EmployerMaxValue] where ([FundType] = 1 and [FringeValue] > [EmployerMaxValue] and [EmployerMaxValue] > 0)

		insert into [Payroll_EmployeeTrialPayslip]([EmployeeID], [PayrollDefinationID], [Amount], [Month], [FinancialYear], [PeriodID], [VendorID], [TaxYear], [SalaryHeadTitleAddendum], [ReferenceNo], [TaxSavePurpose],[Simulation])

			select 
				[EmployeeID], 
				[PayrollDefinationID], 
				(case
					when [TransactionTypeID] = 2 then [EmployeeValue]
					when [TransactionTypeID] = 3 then [EmployerValue]
					when [TransactionTypeID] = 4 then [FringeValue]
				end), 
				@Month, 
				@SCOAYear, 
				@PeriodID, 
				(case when [IsPrivate] = 1 then null else [VendorID] end), 
				@TaxYear, 
				(case when @TypeID = 1 then [VendorName] else [SalaryHeadTitle] end), 
				(case when @TypeID = 1 then [ReferenceNo] else left(isnull([VendorName], ''), 50) end), 
				[IsPrivate], 
				@Simulation

			from @Processed

			where ((case

					when [TransactionTypeID] = 2 then [EmployeeValue]

					when [TransactionTypeID] = 3 then [EmployerValue]

					when [TransactionTypeID] = 4 then [FringeValue]

				end) > 0)
		end
	end try

	begin catch

		insert into [Payroll_TrialErrors]([ValidationType], [PeriodID], [ErrorMessage], [StoredProcedure], [CapturedBy], [CapturedDate],[Simulation])

			values('System', @PeriodID, '#' + cast(error_line() as nvarchar) + ' - ' + error_message(), error_procedure(), 1, getdate(), @Simulation)

	end catch

	set nocount off;

end