ALTER PROCEDURE [dbo].[Asset_GetAssetDepreciationRunDetails]
(
    @FinYear NVARCHAR(10),
    @Ids NVARCHAR(MAX) = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    ;WITH AssetBase AS
    (
        SELECT
            i.Asset_DepreciationSchedule_Item_ID,
            CAST(CAST(i.ScheduledDate AS DATE) AS VARCHAR(10)) AS Scheduled_Date,
            d.AssetRegisterItem_ID,
            t.AssetTypeDesc AS Asset_Type,
            cat.AssetCategoryDesc AS Asset_Category,
            cat.AssetCategoryID AS CategoryID,
            sub.Asset_SubCategoryDescription AS Sub_Category,
            sub.Asset_SubCategory_ID AS SubCategoryID,
            m.Name AS Measurement_Type,
            s.AssetStatusDesc AS Asset_Status,
            d.ReadyForUse AS In_Service_Date,
            reg.UsefulLife AS [Useful_Life_(Months)],
            CAST(ROUND(reg.UsefulLife / 12.0 * 365, 8) AS INT) AS [Useful_Life_(Days)],
            ISNULL(d.UsefullLife, ari.UsefulLifeMonthComponent) AS [Remaining_Useful_Life_(Months)],
            CAST(
                ROUND(
                    ISNULL(d.UsefullLife, ari.RemainingUsefulLife - d.DaysFromLastRun) / 12.0 * 365,
                    8
                ) AS INT
            ) AS [Remaining_Useful_Life_(Days)],
            d.DaysFromLastRun AS Days_From_Last_Run,
            reg.PurchaseAmount AS [Cost/Purchase_Amount],
            d.ResidualValue AS Residual_Value,
            d.DepreciationValue AS [Depreciation_for_the_Period],
            d.CarryingAmountClosingBalance,
            ari.RemainingUsefulLife
        FROM Asset_DepreciationSchedule_Item i
        INNER JOIN Asset_Depreciation d
            ON i.Asset_DepreciationSchedule_Item_ID = d.Depreciation_ScheduledItemID
        INNER JOIN Asset_Register_Items ari
            ON ari.AssetRegisterItem_ID = d.AssetRegisterItem_ID
        INNER JOIN Asset_Register_Items_Function(NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL) reg
            ON d.AssetRegisterItem_ID = reg.AssetRegisterItem_ID
        LEFT JOIN Const_AssetType_Sys t ON i.TypeID = t.AssetType_ID
        LEFT JOIN Const_AssetCategory_sys cat ON i.CategoryID = cat.AssetCategoryID
        LEFT JOIN Const_Asset_SubCategory sub ON i.SubCategoryID = sub.Asset_SubCategory_ID
        LEFT JOIN Const_AssetStatus_Sys s ON i.AssetStatusID = s.AssetStatus_ID
        LEFT JOIN AssetConfig_MeasurementType m ON i.MeasurementTypeID = m.AssetConfig_MeasurementType_ID
        WHERE ISNULL(ari.DisposalReason, '') = ''
          AND (@Ids IS NULL OR i.Asset_DepreciationSchedule_Item_ID IN (SELECT value FROM STRING_SPLIT(@Ids, ',')))
    )

    SELECT 
        ab.*,
        ISNULL(st.AccumulatedDepreciationClosingBalance, 0) + ISNULL( ab.Depreciation_for_the_Period , 0) AS Accumulated_Depreciation,
        ab.CarryingAmountClosingBalance AS Carrying_Amount,
        ISNULL(st.AccumulatedRevaluationClosingBalance, 0) AS AccumulatedRevaluationReserveClosingBalance,
        ISNULL(st.DepreciationOffsetClosingBalance, 0)  AS DepreciationOffset_Opening_Balance,

        CASE
            WHEN ISNULL(st.AccumulatedRevaluationClosingBalance, 0) > 0 THEN
                CASE
                    WHEN ISNULL(st.AccumulatedRevaluationClosingBalance, 0) - 
                         (ISNULL(st.AccumulatedRevaluationClosingBalance, 0)/ ((ISNULL(st.RemainingUsefulLife, 0) / 12.0 * 365)) * ab.Days_From_Last_Run) < 0
                    THEN ISNULL(st.AccumulatedRevaluationClosingBalance, 0)
                    ELSE ROUND((ISNULL(st.AccumulatedRevaluationClosingBalance, 0) / (ISNULL(st.RemainingUsefulLife, 0) / 12.0 * 365) * ab.Days_From_Last_Run),8)
                END
            ELSE 0
        END AS DepreciationOffset,

        ISNULL(st.DepreciationOffsetClosingBalance, 0) +
        CASE
            WHEN ISNULL(st.AccumulatedRevaluationClosingBalance, 0) > 0 THEN
                CASE
                    WHEN ISNULL(st.AccumulatedRevaluationClosingBalance, 0) - (ISNULL(st.AccumulatedRevaluationClosingBalance, 0)/(ISNULL(ab.RemainingUsefulLife, 0) / 12.0 * 365 * ab.Days_From_Last_Run)) < 0
                    THEN ISNULL(st.AccumulatedRevaluationClosingBalance, 0)
                    ELSE ROUND((ISNULL(st.AccumulatedRevaluationClosingBalance, 0) / (ISNULL(st.RemainingUsefulLife, 0) / 12.0 * 365) * ab.Days_From_Last_Run),8)
                END
            ELSE 0
        END AS DepreciationOffset_Closing_Balance,

        calc.TotalDepreciation + ISNULL( ab.Depreciation_for_the_Period , 0) AS TotalDepreciation ,
        calc.TotalDepreciationOffset +
          CASE
            WHEN ISNULL(st.AccumulatedRevaluationClosingBalance, 0) > 0 THEN
                CASE
                    WHEN ISNULL(st.AccumulatedRevaluationClosingBalance, 0) - 
                         (ISNULL(st.AccumulatedRevaluationClosingBalance, 0)/ (ISNULL(st.RemainingUsefulLife, 0) / 12.0 * 365) * ab.Days_From_Last_Run) < 0
                    THEN ISNULL(st.AccumulatedRevaluationClosingBalance, 0)
                    ELSE ROUND((ISNULL(st.AccumulatedRevaluationClosingBalance, 0) / (ISNULL(st.RemainingUsefulLife, 0) / 12.0 * 365) * ab.Days_From_Last_Run),8)
                END
            ELSE 0
        END AS TotalDepreciationOffset,

        proj.Depreciation_Projects,
        proj.Depreciation_SCOA_Items

    FROM AssetBase ab
    OUTER APPLY
    (
        SELECT
            SUM(id.DepreciationValue) AS TotalDepreciation,
            SUM(id.DepreciationOffset) AS TotalDepreciationOffset
        FROM Asset_Register_Transactions id
        WHERE id.TransactionTypeID = 22
          AND id.AssetRegisterItem_ID = ab.AssetRegisterItem_ID
    ) calc
    OUTER APPLY
    (
        SELECT TOP 1 *
        FROM Asset_Transaction_Summary st
        WHERE st.AssetRegisterItemID = ab.AssetRegisterItem_ID
        ORDER BY ID DESC
    ) st
    OUTER APPLY
    (
        SELECT
            STRING_AGG(CAST(pid.ProjectCode AS VARCHAR(10)) + ' | ' + pid.ProjectName, ', ') AS Depreciation_Projects,
            STRING_AGG(ppid.SCOAItemID, ',') AS Depreciation_SCOA_Items
        FROM AssetConfig_mSCOA mscoa
        INNER JOIN AssetConfig_mSCOA_TransactionType mscoat
            ON mscoa.AssetConfig_mSCOA_ID = mscoat.AssetConfig_mSCOA_ID
        INNER JOIN AssetConfig_TransactionType tt
            ON mscoat.TransactionTypeID = tt.AssetConfig_TransactionType_ID
           AND tt.Name = 'Depreciation'
        LEFT JOIN Plan_ProjectItem ppid
            ON mscoat.DebitItem11_1 = ppid.PlanProjectItem_ID
        LEFT JOIN Plan_Project pid
            ON ppid.ProjectID = pid.Project_ID
        WHERE mscoa.FinYear = @FinYear
          AND mscoa.CategoryID = ab.CategoryID
          AND mscoa.SubCategoryID = ab.SubCategoryID
    ) proj
    ORDER BY ab.Scheduled_Date, ab.AssetRegisterItem_ID;
END
