ALTER PROCEDURE [dbo].[Asset_DepreciationAutoScheduleFix]
(
	@AssetRegisterItemId INT = NULL,
	@CalculateToDate DATE = NULL
)
AS
BEGIN

-- Run Auto Schedule
DECLARE @FinYearStartMonth VARCHAR(2) = (SELECT [KeyValue] FROM AAAA_ConfigSettings WHERE [KeyName] = 'FinYearStartMonth'),
		@DepreciationFinYear VARCHAR(4) = (SELECT SUBSTRING([KeyValue], 1, 4) FROM AAAA_ConfigSettings WHERE [KeyName] = 'DepreciationServiceFinYear'),
		@DepreciationRunTypeId INT = (SELECT [Asset_Depreciation_Run_Type_ID] FROM Const_Asset_Depreciation_Run_Type WHERE [RunTypeDescription] = 'Distinctive');

-- Remove schedules that do not have any more items (i.e. all items related to the schedule have been disposed)
DELETE FROM Asset_DepreciationSchedule_Item WHERE [Asset_DepreciationSchedule_Item_ID] IN
(
	SELECT
		si.[Asset_DepreciationSchedule_Item_ID]
	FROM
		Asset_DepreciationSchedule_Item si
	INNER JOIN
		Asset_Register_Items ri ON si.[CategoryID] = ri.[AssetCategory_ID] and si.[SubCategoryID] = ri.[Asset_SubCategory_ID]
		and si.[TypeID] = ri.[AssetType_ID] and si.[MeasurementTypeID] = ri.[MeasurementType_ID]
	LEFT JOIN
		Asset_Disposal_Approval da ON ri.[AssetRegisterItem_ID] = da.[AssetItemID]
	WHERE
		si.[ScheduledDate] > DATEADD(DAY, 1, CURRENT_TIMESTAMP)
	GROUP BY
		si.[Asset_DepreciationSchedule_Item_ID]
	HAVING
		MAX(ISNULL(CASE ISNULL(ri.[Approval_ID], 0) WHEN 0 THEN 0 ELSE CASE ISNULL(da.[IsApprove], 0) WHEN 0 THEN 1 ELSE 0 END END, 0)) = 0 -- Can Use
);

DECLARE @Today DATETIME = @DepreciationFinYear + RIGHT('00' + @FinYearStartMonth, 2) + '01';

-- Drop temp table
IF OBJECT_ID('tempdb..#LookupData') IS NOT NULL DROP TABLE #LookupData;

SELECT
	bb.[MonthEnd], bb.[ScheduledDate], bb.[FinYear]
INTO #LookupData
FROM
	(
		SELECT 1 AS 'Months' UNION SELECT 2 AS 'Months' UNION SELECT 3 AS 'Months' UNION SELECT 4 AS 'Months' UNION SELECT 5 AS 'Months' UNION SELECT 6 AS 'Months'
	UNION
		SELECT 7 AS 'Months' UNION SELECT 8 AS 'Months' UNION SELECT 9 AS 'Months' UNION SELECT 10 AS 'Months' UNION SELECT 11 AS 'Months' UNION SELECT 0 AS 'Months'
	) aa
CROSS APPLY
	(
		SELECT	EOMONTH(DATEADD(MONTH, aa.[Months], @Today)) AS 'MonthEnd', DATEADD(HOUR, 23, CAST(EOMONTH(DATEADD(MONTH, aa.[Months], @Today)) AS DATETIME)) AS 'ScheduledDate',
				CASE
					WHEN MONTH(EOMONTH(DATEADD(MONTH, aa.[Months], @Today))) >= CAST(@FinYearStartMonth AS INT)
						THEN CAST(YEAR(EOMONTH(DATEADD(MONTH, aa.[Months], @Today))) AS VARCHAR) + '/' + CAST(YEAR(EOMONTH(DATEADD(MONTH, aa.[Months], @Today))) + 1 AS VARCHAR)
					ELSE
						CAST(YEAR(EOMONTH(DATEADD(MONTH, aa.[Months], @Today))) - 1 AS VARCHAR) + '/' + CAST(YEAR(EOMONTH(DATEADD(MONTH, aa.[Months], @Today))) AS VARCHAR)
				END AS 'FinYear'
	) bb
WHERE
	(@CalculateToDate IS NULL OR DATEADD(MONTH, 1, @CalculateToDate) > bb.[ScheduledDate]);

IF (@CalculateToDate IS NOT NULL)
BEGIN
	UPDATE #LookupData SET [MonthEnd] = @CalculateToDate, [ScheduledDate] = DATEADD(HOUR, 23, CAST(@CalculateToDate AS DATETIME)) WHERE @CalculateToDate < [ScheduledDate];
END;

-- Insert Schedules
INSERT INTO Asset_DepreciationSchedule ([FinYear], [PendingApproval])
SELECT
	ld.[FinYear], 1
FROM
	#LookupData ld
LEFT JOIN
	Asset_DepreciationSchedule ds ON ld.[FinYear] = ds.[FinYear]
WHERE
	ds.[Asset_DepreciationSchedule_ID] IS NULL
GROUP BY
	ld.[FinYear];

;WITH ScheduledItems ([MonthId], [ScheduledDate], [AssetDepreciationScheduleId], [AssetTypeId], [AssetMeasurementTypeId], [AssetCategoryId], [AssetSubCategoryId], [AssetClassId], [AssetStatusId],
					[DebitProjectId], [DebitProjectItemId], [DebitScoaId], [DebitScoaFundId], [DebitScoaRegionId], [DebitScoaCostingId], [DebitScoaFunctionId], [DebitVoteId],
					[CreditProjectId], [CreditProjectItemID], [CreditScoaId], [CreditScoaFundId], [CreditScoaRegionId], [CreditScoaCostingId], [CreditScoaFunctionId], [CreditVoteId],
					[AssetDepreciationScheduleItemId], [AssetDepreciationRunStatusId], [DepreciationItemStatusId])
AS
(
	SELECT DISTINCT
		CASE WHEN MONTH(ld.[MonthEnd]) + 6 > 12 THEN MONTH(ld.[MonthEnd]) + 6 - 12 ELSE MONTH(ld.[MonthEnd]) + 6 END AS 'MonthId',
		ld.[ScheduledDate] AS 'ScheduledDate',
		ds.[Asset_DepreciationSchedule_ID] AS 'AssetDepreciationScheduleId',
		aa.[TypeID] AS 'AssetTypeId',
		aa.[MeasurementTypeID] AS 'AssetMeasurementTypeId',
		aa.[CategoryID] AS 'AssetCategoryId',
		aa.[SubCategoryID] AS 'AssetSubCategoryId',
		ri.[AssetClass_ID] AS 'AssetClassId',
		aa.[StatusID] AS 'AssetStatusId',
		ppid.[ProjectID] AS 'DebitProjectId',
		ppid.[PlanProjectItem_ID] AS 'DebitProjectItemId',
		ppid.[SCOAItemID] AS 'DebitScoaId',
		ppid.[SCOAFundId] AS 'DebitScoaFundId',
		ppid.[SCOARegionId] AS 'DebitScoaRegionId',
		ppid.[SCOACostingID] AS 'DebitScoaCostingId',
		ppid.[SCOAFunctionId] AS 'DebitScoaFunctionId',
		lvd.[Vote_ID] AS 'DebitVoteId',
		ppic.[ProjectID] AS 'CreditProjectId',
		ppic.[PlanProjectItem_ID] AS 'CreditProjectItemID',
		ppic.[SCOAItemID] AS 'CreditScoaId',
		ppic.[SCOAFundId] AS 'CreditScoaFundId',
		ppic.[SCOARegionId] AS 'CreditScoaRegionId',
		ppic.[SCOACostingID] AS 'CreditScoaCostingId',
		ppic.[SCOAFunctionId] AS 'CreditScoaFunctionId',
		lvc.[Vote_ID] AS 'CreditVoteId',
		si.[Asset_DepreciationSchedule_Item_ID] AS 'AssetDepreciationScheduleItemId',
		si.[Asset_Depreciation_RunStatus_ID] AS 'AssetDepreciationRunStatusId',
		si.[StatusID] AS 'DepreciationItemStatusId'
	FROM
		#LookupData ld
	INNER JOIN
		Asset_DepreciationSchedule ds ON ld.[FinYear] = ds.[FinYear]
	INNER JOIN
		Asset_Register_Items ri ON ri.[ReadyForUse] <= ld.[ScheduledDate]
							   AND ISNULL(ri.[Approval_ID], 0) <> 0
							   AND (@AssetRegisterItemId IS NULL OR @AssetRegisterItemId = ri.[AssetRegisterItem_ID])
							   AND ISNULL(ri.[AssetType_ID], 0) <> 2 -- 2 - Heritage Assets
							   AND ISNULL(ri.[AssetCategory_ID], 0) <> 12 -- 12 - Land
	INNER JOIN
		AssetConfig_MeasurementType mt ON RI.[MeasurementType_ID] = mt.[AssetConfig_MeasurementType_ID]
									  AND (mt.[NoDepreciation] = 0 OR mt.[NoDepreciation] IS NULL)
	OUTER APPLY
		(
			SELECT
				mscoa.[FinYear], mscoat.[CreditItem11_1], mscoat.[Project14], mscoat.[DebitItem11_1], mscoat.[Project11],
				mscoa.[TypeID], mscoa.[CategoryID], mscoa.[SubCategoryID], mscoa.[MeasurementTypeID], mscoa.[StatusID]
			FROM
				AssetConfig_mSCOA mscoa
			INNER JOIN
				AssetConfig_mSCOA_TransactionType mscoat ON mscoa.[AssetConfig_mSCOA_ID] = mscoat.[AssetConfig_mSCOA_ID]
			INNER JOIN
				AssetConfig_TransactionType tt ON mscoat.[TransactionTypeID] = tt.[AssetConfig_TransactionType_ID]
											  AND tt.[Name] = 'Depreciation'
			WHERE
				(ri.[AssetType_ID] = mscoa.[TypeID] OR (ri.[AssetType_ID] IS NULL AND mscoa.[TypeID] IS NULL))
			AND ISNULL(ri.[AssetCategory_ID], 0) = ISNULL(mscoa.[CategoryID], 0)
			AND ISNULL(ri.[Asset_SubCategory_ID], 0) = ISNULL(mscoa.[SubCategoryID], 0)
			AND ISNULL(ri.[MeasurementType_ID], 0) = ISNULL(mscoa.[MeasurementTypeID], 0)
			AND ISNULL(ri.[AssetStatus_ID], 0) = ISNULL(NULLIF(mscoa.[StatusID], -1), 0)
			AND ld.[FinYear] = mscoa.[FinYear]
		) aa
	LEFT JOIN
		Plan_ProjectItem ppic ON aa.[CreditItem11_1] = ppic.[PlanProjectItem_ID]
							 AND aa.[Project14] = ppic.[ProjectID]
							 AND aa.[FinYear] = ppic.[FinYear]
	LEFT JOIN
		Led_Vote lvc ON ppic.[SCOAItemID] = lvc.[SCOAItemID]
					AND ppic.[FinYear] = lvc.[FinYear]
	LEFT JOIN
		Plan_ProjectItem ppid ON aa.[DebitItem11_1] = ppid.[PlanProjectItem_ID]
							 AND aa.[Project11] = ppid.[ProjectID]
							 AND aa.[FinYear] = ppid.[FinYear]
	LEFT JOIN
		Led_Vote lvd ON ppid.[SCOAItemID] = lvd.[SCOAItemID]
					AND ppid.[FinYear] = lvd.[FinYear]
	LEFT JOIN
		Asset_Disposal_Approval da ON ri.[AssetRegisterItem_ID] = da.[AssetItemID]
	LEFT JOIN
		Asset_DepreciationSchedule_Item si ON si.[ScheduledDate] = ld.[ScheduledDate]
										  AND (ri.[AssetType_ID] = si.[TypeID] OR (ri.[AssetType_ID] IS NULL AND si.[TypeID] IS NULL))
										  AND ISNULL(ri.[MeasurementType_ID], 0) = ISNULL(si.[MeasurementTypeID], 0)
										  AND ISNULL(ri.[AssetCategory_ID], 0) = ISNULL(si.[CategoryID], 0)
										  AND ISNULL(ri.[Asset_SubCategory_ID], 0) = ISNULL(si.[SubCategoryID], 0)
	WHERE
		da.[IsApprove] = 0 OR da.[IsApprove] IS NULL
)

MERGE Asset_DepreciationSchedule_Item AS targetTable
USING
(
	SELECT
		[MonthId], [ScheduledDate], [AssetDepreciationScheduleId],
		[AssetTypeId], [AssetMeasurementTypeID], [AssetCategoryId], [AssetSubCategoryId], [AssetStatusId],
		[DebitProjectId], [DebitProjectItemId], [DebitScoaId], [DebitScoaFundId], [DebitScoaRegionId], [DebitScoaCostingId], [DebitScoaFunctionId], [DebitVoteId],
		[CreditProjectId], [CreditProjectItemID], [CreditScoaId], [CreditScoaFundId], [CreditScoaRegionId], [CreditScoaCostingId], [CreditScoaFunctionId], [CreditVoteId]
	FROM
		(
			-- Now schedule items that have not been scheduled or has not yet been approved
			SELECT DISTINCT
				RANK() OVER (PARTITION BY si.[AssetCategoryId], si.[AssetSubCategoryId], si.[AssetTypeId], si.[AssetMeasurementTypeID], si.[AssetStatusId]  
				ORDER BY [ScheduledDate]) AS 'Order',
				[MonthId], [ScheduledDate], [AssetDepreciationScheduleId],
				[AssetTypeId], [AssetMeasurementTypeID], [AssetCategoryId], [AssetSubCategoryId], [AssetStatusId],
				[DebitProjectId], [DebitProjectItemId], [DebitScoaId], [DebitScoaFundId], [DebitScoaRegionId], [DebitScoaCostingId], [DebitScoaFunctionId], [DebitVoteId],
				[CreditProjectId], [CreditProjectItemID], [CreditScoaId], [CreditScoaFundId], [CreditScoaRegionId], [CreditScoaCostingId], [CreditScoaFunctionId], [CreditVoteId],
				[AssetDepreciationScheduleItemID],
				ds.[StatusDescription]
			FROM
				ScheduledItems si
			LEFT JOIN
				Const_Asset_DepreciationStatus ds ON si.[DepreciationItemStatusId] = ds.[Asset_DepreciationStatus_ID]
													AND ds.[StatusDescription] <> 'Posted to GL (Run Approved)'
			--OUTER APPLY
			--(
			--	-- Make sure they can't try and backdate an asset class that has depreciation against it
			--	SELECT TOP 1
			--		iads.[Asset_DepreciationSchedule_Item_ID]
			--	FROM
			--		Asset_DepreciationSchedule_Item iads
			--	WHERE
			--		iads.[StatusID] NOT IN (0, 1, 2, 7)
			--	AND iads.[CategoryID] = si.[AssetCategoryId]
			--	AND iads.[SubCategoryID] = si.[AssetSubCategoryId]
			--	AND iads.[TypeID] = si.[AssetTypeId]
			--	AND iads.[MeasurementTypeID] = si.[AssetMeasurementTypeId]
			--	AND iads.[ScheduledDate] > si.[ScheduledDate]
			--) iaa
			WHERE
				(si.[AssetDepreciationScheduleItemID] IS NULL
			OR	ds.[Asset_DepreciationStatus_ID] IS NOT NULL)
			--AND	iaa.[Asset_DepreciationSchedule_Item_ID] IS NULL
		) aa
	WHERE
		aa.[Order] = 1
	AND (aa.[StatusDescription] IS NULL OR aa.[StatusDescription] IN ('Validation Failed', 'Scheduled', 'Rescheduled', 'Immediate'))
) AS sourceTable ([MonthId], [ScheduledDate], [AssetDepreciationScheduleId],
				[AssetTypeId], [AssetMeasurementTypeID], [AssetCategoryId], [AssetSubCategoryId], [AssetStatusId],
				[DebitProjectId], [DebitProjectItemId], [DebitScoaId], [DebitScoaFundId], [DebitScoaRegionId], [DebitScoaCostingId], [DebitScoaFunctionId], [DebitVoteId],
				[CreditProjectId], [CreditProjectItemID], [CreditScoaId], [CreditScoaFundId], [CreditScoaRegionId], [CreditScoaCostingId], [CreditScoaFunctionId], [CreditVoteId])
ON
(
	(targetTable.[Month_ID] = sourceTable.[MonthId] OR (targetTable.[Month_ID] IS NULL AND sourceTable.[MonthId] IS NULL))
AND	(targetTable.[ScheduledDate] = sourceTable.[ScheduledDate] OR (targetTable.[ScheduledDate] IS NULL AND sourceTable.[ScheduledDate] IS NULL))
AND (targetTable.[Asset_DepreciationSchedule_ID] = sourceTable.[AssetDepreciationScheduleId] OR (targetTable.[Asset_DepreciationSchedule_ID] IS NULL AND sourceTable.[AssetDepreciationScheduleId] IS NULL))
AND (targetTable.[TypeID] = sourceTable.[AssetTypeId] OR (targetTable.[TypeID] IS NULL AND sourceTable.[AssetTypeId] IS NULL))
AND (ISNULL(targetTable.[MeasurementTypeID], 0) = ISNULL(sourceTable.[AssetMeasurementTypeID], 0))
AND (ISNULL(targetTable.[CategoryId], 0) = ISNULL(sourceTable.[AssetCategoryId], 0))
AND (ISNULL(targetTable.[SubCategoryId], 0) = ISNULL(sourceTable.[AssetSubCategoryId], 0))
)
WHEN MATCHED THEN UPDATE SET
	targetTable.[AssetStatusID] = sourceTable.[AssetStatusId],
	targetTable.[TransactionProjectDR] = sourceTable.[DebitProjectId],
	targetTable.[TransactionProjectItemDR] = sourceTable.[DebitProjectItemId],
	targetTable.[SCOAItemDR] = sourcetable.[DebitScoaId],
	targetTable.[DebitScoaFundId] = sourcetable.[DebitScoaFundId],
	targetTable.[DebitScoaRegionId] = sourcetable.[DebitScoaRegionId],
	targetTable.[DebitScoaCostingId] = sourceTable.[DebitScoaCostingId],
	targetTable.[DebitScoaFunctionId] = sourceTable.[DebitScoaFunctionId],
	targetTable.[DebitVoteId] = sourceTable.[DebitVoteId],
	targetTable.[TransactionProjectCR] = sourceTable.[CreditProjectId],
	targetTable.[TransactionProjectItemCR] = sourceTable.[CreditProjectItemID],
	targetTable.[SCOAItemCR] = sourceTable.[CreditScoaId],
	targetTable.[CreditScoaFundId] = sourceTable.[CreditScoaFundId],
	targetTable.[CreditScoaRegionId] = sourceTable.[CreditScoaRegionId],
	targetTable.[CreditScoaCostingId] = sourceTable.[CreditScoaCostingId],
	targetTable.[CreditScoaFunctionId] = sourceTable.[CreditScoaFunctionId],
	targetTable.[CreditVoteId] = sourceTable.[CreditVoteId]
WHEN NOT MATCHED BY TARGET THEN
	INSERT	([Month_ID], [ScheduledDate], [RunType_ID], [Asset_DepreciationSchedule_ID], [Date_Captured], [Captured_By], [Immediate], [StatusID],
			[TypeID], [MeasurementTypeID], [CategoryID], [SubCategoryID], [AssetStatusID],
			[TransactionProjectDR], [TransactionProjectItemDR], [SCOAItemDR], [DebitScoaFundId], [DebitScoaRegionId], [DebitScoaCostingId], [DebitScoaFunctionId], [DebitVoteId],
			[TransactionProjectCR], [TransactionProjectItemCR], [SCOAItemCR], [CreditScoaFundId], [CreditScoaRegionId], [CreditScoaCostingId], [CreditScoaFunctionId], [CreditVoteId])
	VALUES	(sourceTable.[MonthId], sourceTable.[ScheduledDate], @DepreciationRunTypeId, sourceTable.[AssetDepreciationScheduleId], @Today, 1, 0, 0, -- Scheduled
			sourceTable.[AssetTypeId], sourceTable.[AssetMeasurementTypeID], sourceTable.[AssetCategoryId], sourceTable.[AssetSubCategoryId], sourceTable.[AssetStatusId],
			sourceTable.[DebitProjectId], sourceTable.[DebitProjectItemId], sourceTable.[DebitScoaId], sourceTable.[DebitScoaFundId], sourceTable.[DebitScoaRegionId], sourceTable.[DebitScoaCostingId], sourceTable.[DebitScoaFunctionId], sourceTable.[DebitVoteId],
			sourceTable.[CreditProjectId], sourceTable.[CreditProjectItemID], sourceTable.[CreditScoaId], sourceTable.[CreditScoaFundId], sourceTable.[CreditScoaRegionId], sourceTable.[CreditScoaCostingId], sourceTable.[CreditScoaFunctionId], sourceTable.[CreditVoteId]);

-- Auto approve schedules for today
DECLARE @ToStatusId INT = (SELECT [Asset_DepreciationStatus_ID] FROM Const_Asset_DepreciationStatus WHERE [StatusDescription] = 'Schedule Approved (Waiting for Run)');
UPDATE
	dsi
SET
	dsi.[StatusID] = @ToStatusId,
	dsi.[ProcessedDate] = CURRENT_TIMESTAMP
FROM
	Asset_DepreciationSchedule_Item dsi
INNER JOIN
	Const_Asset_DepreciationStatus ads ON dsi.[StatusID] = ads.[Asset_DepreciationStatus_ID]
									  AND ads.[StatusDescription] IN ('Validation Failed', 'Scheduled', 'Rescheduled', 'Immediate')
WHERE
	COALESCE([RunDate], [RescheduledDate], [ScheduledDate]) <= @Today;

-- Drop temp table
IF OBJECT_ID('tempdb..#LookupData') IS NOT NULL DROP TABLE #LookupData;

END;