ALTER PROCEDURE [dbo].[Asset_ApproveRevaluation]
	@AssetRegisterItemId INT,
	@UsefullLife Decimal(18,8),
	@UserId INT
AS
BEGIN

DECLARE @RevalModel INT,
		@RevalautionAmt DECIMAL(18, 2),
		@RevalutionDate DATETIME,
		@SurplusAmount DECIMAL(18, 2),
		@CarryingValue DECIMAL(18, 2),
		@AccumulatedRevaluation DECIMAL(18, 2),
		@DepreciationAdjustment DECIMAL(18, 2),
		@PurchaseAmount DECIMAL(18, 2),
		@RevaluationUser INT,
		@AccumulatedRevaluationAmountInSurplusOrDeficit DECIMAL(18, 2),
		@GainLoss DECIMAL(18, 2),
		@RevaluationDebit DECIMAL(18, 2),
		@RevaluationCredit DECIMAL(18, 2),
		@RevaluationGainDt DECIMAL(18, 2),
		@RevaluationGainCt DECIMAL(18, 2),
		@RevaluationLoss DECIMAL(18, 2),
		@NegativeAllowed BIT;
--		@ImpairmentBalance DECIMAL(18, 2),
--		@ImpairmentTransactionAmount DECIMAL(18, 2);

SELECT
	@RevalModel = ISNULL(ar.[RevalModel], 0),
	@RevalautionAmt = ISNULL(ar.[RevalautionAmt], 0),
	@RevalutionDate = ISNULL(ar.[RevalutionDate], 0),
	@SurplusAmount = ISNULL(ar.[SurplusAmount], 0),
	@CarryingValue = ISNULL(i.[CurrentValue], 0),
	@AccumulatedRevaluation = ISNULL(i.[AccumulatedRevaluation], 0),
	@DepreciationAdjustment = ISNULL(ar.[DepreciationAdjustment], 0),
	@PurchaseAmount = ISNULL(i.[PurchaseAmount], 0),
	@RevaluationUser = ar.UserID,
	@AccumulatedRevaluationAmountInSurplusOrDeficit = CASE WHEN COALESCE(ari.RevaluationReserveClosingBalance, ari.RevaluationOpeningBalance ,0) > 0 THEN COALESCE(ari.RevaluationReserveClosingBalance, ari.RevaluationOpeningBalance ,0) ELSE 0 END,
	@GainLoss = ISNULL((@AccumulatedRevaluationAmountInSurplusOrDeficit + ISNULL(ar.[SurplusAmount], 0)),0),
	@RevaluationGainCt = CASE WHEN ISNULL(ar.[SurplusAmount], 0) > 0 THEN
	(CASE WHEN @GainLoss > 0 THEN ABS(ISNULL(ar.[SurplusAmount], 0)) ELSE @AccumulatedRevaluationAmountInSurplusOrDeficit END) END,
	@RevaluationGainDt = CASE WHEN ISNULL(ar.[SurplusAmount], 0) < 0 THEN
	(CASE WHEN @GainLoss <= 0 THEN @AccumulatedRevaluationAmountInSurplusOrDeficit ELSE ABS(ISNULL(ar.[SurplusAmount], 0)) END) END,
	@RevaluationLoss = CASE WHEN @GainLoss < 0 THEN ABS(@GainLoss) ELSE 0 END,	
--	@ImpairmentBalance = ISNULL(i.AccumulatedImpairment, 0) - ISNULL(i.AccumulatedImpairmentReversal, 0),
--	@ImpairmentTransactionAmount = CASE WHEN @ImpairmentBalance > @SurplusAmount THEN @SurplusAmount ELSE @ImpairmentBalance END,
	@RevaluationDebit = CASE WHEN i.RevaluationByRevalutionModel <> 1 THEN
	(CASE WHEN (ISNULL(ar.[SurplusAmount], 0) + ISNULL(ar.[DepreciationAdjustment], 0)) > 0 THEN (ISNULL(ar.[SurplusAmount], 0) + ISNULL(ar.[DepreciationAdjustment], 0)) ELSE 0 END)
	ELSE (CASE WHEN (ISNULL(ar.[SurplusAmount], 0)) > 0 THEN (ISNULL(ar.[SurplusAmount], 0)) ELSE 0 END) END,
	@RevaluationCredit = CASE WHEN i.RevaluationByRevalutionModel <> 1 THEN
	(CASE WHEN (ISNULL(ar.[SurplusAmount], 0) + ISNULL(ar.[DepreciationAdjustment], 0)) < 0 THEN ABS(ISNULL(ar.[SurplusAmount], 0) + ISNULL(ar.[DepreciationAdjustment], 0)) ELSE 0 END)
	ELSE (CASE WHEN (ISNULL(ar.[SurplusAmount], 0)) < 0 THEN ABS(ISNULL(ar.[SurplusAmount], 0)) ELSE 0 END) END,
	@NegativeAllowed = i.RevaluationByRevalutionModel

FROM
	Asset_Revaluations ar
INNER JOIN
	Asset_Register_Items_Function(@AssetRegisterItemId, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL) i ON ar.[AssetRegisterID] = i.[AssetRegisterItem_ID]
INNER JOIN
	Asset_Register_Items ari ON ar.[AssetRegisterID] = ari.[AssetRegisterItem_ID]
WHERE
	ar.[AssetRegisterID] = @AssetRegisterItemId
AND ISNULL(ar.[Approved], 0) = 0;

-- Update Asset_Register_Items With Revaluation Info
UPDATE
	Asset_Register_Items
SET
	[RevaluationDoneBy] = @RevaluationUser,
	[LastRevaluationDate] = @RevalutionDate,
	[RevaluationValue] = @RevalautionAmt,
	[RevaluationReserveClosingBalance] = @AccumulatedRevaluationAmountInSurplusOrDeficit + @SurplusAmount,
	[RevaluationDate] = @RevalutionDate,
	[RevaluationModel_ID] = @RevalModel,
	[MovementInRevaluationReserve] = CASE WHEN ISNULL(@SurplusAmount, 0) + ISNULL([RevaluationReserveClosingBalance], 0) < 0 THEN [MovementInRevaluationReserve] + (ISNULL([RevaluationReserveClosingBalance], 0) *-1)  ELSE [MovementInRevaluationReserve] + ISNULL(@SurplusAmount, 0) END,
	[AccumulatedDepreciationClosingBalance] = ISNULL([AccumulatedDepreciationClosingBalance], 0) + ISNULL(@DepreciationAdjustment, 0),
--	[AccumulatedImpairmentClosingBalance] = @ImpairmentBalance - @ImpairmentTransactionAmount,
	[CurrentReplacementCostCRC] = ([CurrentReplacementCostCRC] + @SurplusAmount + @DepreciationAdjustment)
	FROM Asset_Register_Items
WHERE
	[AssetRegisterItem_ID] = @AssetRegisterItemId;

-- Asset_InsertApprovedRevaluationJournalEntries
DECLARE @ItemDescription VARCHAR(20) = 'Asset Revaluation';

DECLARE @TransactionId UNIQUEIDENTIFIER = NEWID(),
		@FinYear NVARCHAR(9) = dbo.GetFinYearByUserID_fxn(@UserId),
		@ProcessingMonth INT = dbo.GetProcessingMonthByUserID_fxn(@UserId),
		@AssetJournalTransactionTypeId INT = (SELECT [AssetJournalTransactionType_ID] FROM Const_AssetJournalTransactionType_Sys WHERE [AssetJournalTransactionDesc] = @ItemDescription),
		@DocumentTypeId INT = (SELECT [DocumentType_ID] FROM Const_DocumentType WHERE [DocumentTypeDesc] = @ItemDescription),
		@PreviousDocumentNumber INT,
		@NewDocumentNumber NVARCHAR(9);

SELECT TOP 1
	@PreviousDocumentNumber = ISNULL(TRY_PARSE(SUBSTRING(lja.[DocumentNumber], CHARINDEX('/', lja.[DocumentNumber]) + 1, LEN(lja.[DocumentNumber]))AS INT),0)
FROM
	Led_Journal_Asset lja
WHERE
	lja.[AssetJournalTransactionTypeID] = @AssetJournalTransactionTypeId
ORDER BY
	lja.[AssetJournal_ID] DESC;

IF (@PreviousDocumentNumber IS NULL OR @PreviousDocumentNumber = 0)
BEGIN
	SET @NewDocumentNumber = CONCAT(CAST(@DocumentTypeId AS NVARCHAR(9)), '/1');
END
ELSE
BEGIN
	SET @NewDocumentNumber = CONCAT(CAST(@DocumentTypeId AS NVARCHAR(9)), '/', CAST(@PreviousDocumentNumber + 1 AS NVARCHAR(9)));
END;

DECLARE @DefaultVoteId INT = (SELECT MAX([Vote_ID]) FROM Led_Vote WHERE [Finyear] = @FinYear AND [VoteDesc] LIKE '%Revaluation%');

DROP TABLE IF EXISTS #Projects, #ScoaItems, #ScoaItemsResults, #TempAssetTransactions;

SELECT DISTINCT
	ppi.[PlanProjectItem_ID] AS 'PlanProjectItemId',
	ppi.[ProjectID] AS 'ProjectId',
	ppi.[DivisionId] AS 'DivisionId',
	ppi.[FinYear] AS 'FinYear',
	ppi.[SCOAFundId] AS 'ScoaFundId',
	ppi.[SCOARegionId] AS 'ScoaRegionId',
	ppi.[SCOACostingID] AS 'ScoaCostingId',
	pp.[ScoaProjectID] AS 'ScoaProjectId',
	ppi.[SCOAFunctionId] AS 'ScoaFunctionId',
	ppi.[SCOAItemID] AS 'ScoaItemId',
	lv.[Vote_ID] AS 'VoteId'
INTO #Projects
FROM
	Plan_ProjectItem ppi
LEFT JOIN
	Plan_Project pp ON ppi.[ProjectID] = pp.[Project_ID]
INNER JOIN
	Led_Vote lv ON ppi.[SCOAItemID] = lv.[SCOAItemID]
				AND ppi.[FinYear] = lv.[FinYear]
WHERE
	ppi.[FinYear] = @FinYear;

SELECT DISTINCT
-- Gain on Revaluation
	-- Debit - Asset Revaluation - (Scoa Item / Project) - 11_1 / 11
	'Project 11' AS 'DebitProject11_1',
	pd11_1.[ProjectId] AS 'DebitProjectId11_1',
	pd11_1.[PlanProjectItemId] AS 'DebitProjectItemId11_1',
	pd11_1.[DivisionId] AS 'DebitDivisionId11_1',
	pd11_1.[SCOAFundId] AS 'DebitScoaFundId11_1',
	pd11_1.[SCOARegionId] AS 'DebitScoaRegionId11_1',
	pd11_1.[SCOACostingID] AS 'DebitScoaCostingId11_1',
	pd11_1.[ScoaProjectID] AS 'DebitScoaProjectId11_1',
	pd11_1.[SCOAFunctionId] AS 'DebitScoaFunctionId11_1',
	pd11_1.[SCOAItemID] AS 'DebitScoaItemId11_1',
	pd11_1.[VoteId] AS 'DebitVoteId11_1',
	-- Credit - Accumulated Depreciation - (Scoa Item / Project) - 12_1 / 12
	'Project 12' AS 'DebitProject12_1',
	pd12_1.[ProjectId] AS 'DebitProjectId12_1',
	pd12_1.[PlanProjectItemId] AS 'DebitProjectItemId12_1',
	pd12_1.[DivisionId] AS 'DebitDivisionId12_1',
	pd12_1.[SCOAFundId] AS 'DebitScoaFundId12_1',
	pd12_1.[SCOARegionId] AS 'DebitScoaRegionId12_1',
	pd12_1.[SCOACostingID] AS 'DebitScoaCostingId12_1',
	pd12_1.[ScoaProjectID] AS 'DebitScoaProjectId12_1',
	pd12_1.[SCOAFunctionId] AS 'DebitScoaFunctionId12_1',
	pd12_1.[SCOAItemID] AS 'DebitScoaItemId12_1',
	pd12_1.[VoteId] AS 'DebitVoteId12_1',
	-- Credit - Revaluation Reserve - (Scoa Item / Project) - 11_1 / 14
	'Project 14' AS 'CreditProject11_1',
	pc11_1.[ProjectId] AS 'CreditProjectId11_1',
	pc11_1.[PlanProjectItemId] AS 'CreditProjectItemId11_1',
	pc11_1.[DivisionId] AS 'CreditDivisionId11_1',
	pc11_1.[SCOAFundId] AS 'CreditScoaFundId11_1',
	pc11_1.[SCOARegionId] AS 'CreditScoaRegionId11_1',
	pc11_1.[SCOACostingID] AS 'CreditScoaCostingId11_1',
	pc11_1.[ScoaProjectID] AS 'CreditScoaProjectId11_1',
	pc11_1.[SCOAFunctionId] AS 'CreditScoaFunctionId11_1',
	pc11_1.[SCOAItemID] AS 'CreditScoaItemId11_1',
	pc11_1.[VoteId] AS 'CreditVoteId11_1',
-- Loss on Revaluation
	-- Debit - Revaluation Reserve - (Scoa Item / Project) - 21_1 / 21
	'Project 21' AS 'DebitProject21_1',
	pd21_1.[ProjectId] AS 'DebitProjectId21_1',
	pd21_1.[PlanProjectItemId] AS 'DebitProjectItemId21_1',
	pd21_1.[DivisionId] AS 'DebitDivisionId21_1',
	pd21_1.[SCOAFundId] AS 'DebitScoaFundId21_1',
	pd21_1.[SCOARegionId] AS 'DebitScoaRegionId21_1',
	pd21_1.[SCOACostingID] AS 'DebitScoaCostingId21_1',
	pd21_1.[ScoaProjectID] AS 'DebitScoaProjectId21_1',
	pd21_1.[SCOAFunctionId] AS 'DebitScoaFunctionId21_1',
	pd21_1.[SCOAItemID] AS 'DebitScoaItemId21_1',
	pd21_1.[VoteId] AS 'DebitVoteId21_1',
	-- Credit - Accumulated Depreciation - (Scoa Item / Project) - 22_1 / 22
	'Project 22' AS 'DebitProject22_1',
	pd22_1.[ProjectId] AS 'DebitProjectId22_1',
	pd22_1.[PlanProjectItemId] AS 'DebitProjectItemId22_1',
	pd22_1.[DivisionId] AS 'DebitDivisionId22_1',
	pd22_1.[SCOAFundId] AS 'DebitScoaFundId22_1',
	pd22_1.[SCOARegionId] AS 'DebitScoaRegionId22_1',
	pd22_1.[SCOACostingID] AS 'DebitScoaCostingId22_1',
	pd22_1.[ScoaProjectID] AS 'DebitScoaProjectId22_1',
	pd22_1.[SCOAFunctionId] AS 'DebitScoaFunctionId22_1',
	pd22_1.[SCOAItemID] AS 'DebitScoaItemId22_1',
	pd22_1.[VoteId] AS 'DebitVoteId22_1',
	-- Credit - Asset Revaluation - (Scoa Item / Project) - 21_1 / 24
	'Project 24' AS 'CreditProject21_1',
	pc21_1.[ProjectId] AS 'CreditProjectId21_1',
	pc21_1.[PlanProjectItemId] AS 'CreditProjectItemId21_1',
	pc21_1.[DivisionId] AS 'CreditDivisionId21_1',
	pc21_1.[SCOAFundId] AS 'CreditScoaFundId21_1',
	pc21_1.[SCOARegionId] AS 'CreditScoaRegionId21_1',
	pc21_1.[SCOACostingID] AS 'CreditScoaCostingId21_1',
	pc21_1.[ScoaProjectID] AS 'CreditScoaProjectId21_1',
	pc21_1.[SCOAFunctionId] AS 'CreditScoaFunctionId21_1',
	pc21_1.[SCOAItemID] AS 'CreditScoaItemId21_1',
	pc21_1.[VoteId] AS 'CreditVoteId21_1'
	-- Debit - Accumulated Impairment - (Scoa Item / Project) - 11_1 / 11
	--'iProject 11' AS 'iDebitProject11_1',
	--ipd11_1.[ProjectId] AS 'iDebitProjectId11_1',
	--ipd11_1.[PlanProjectItemId] AS 'iDebitProjectItemId11_1',
	--ipd11_1.[DivisionId] AS 'iDebitDivisionId11_1',
	--ipd11_1.[SCOAFundId] AS 'iDebitScoaFundId11_1',
	--ipd11_1.[SCOARegionId] AS 'iDebitScoaRegionId11_1',
	--ipd11_1.[SCOACostingID] AS 'iDebitScoaCostingId11_1',
	--ipd11_1.[ScoaProjectID] AS 'iDebitScoaProjectId11_1',
	--ipd11_1.[SCOAFunctionId] AS 'iDebitScoaFunctionId11_1',
	--ipd11_1.[SCOAItemID] AS 'iDebitScoaItemId11_1',
	--ipd11_1.[VoteId] AS 'iDebitVoteId11_1',
	---- Credit - Impairment Reversal - (Scoa Item / Project) - 11_1 / 14
	--'iProject 14' AS 'iCreditProject11_1',
	--ipc11_1.[ProjectId] AS 'iCreditProjectId11_1',
	--ipc11_1.[PlanProjectItemId] AS 'iCreditProjectItemId11_1',
	--ipc11_1.[DivisionId] AS 'iCreditDivisionId11_1',
	--ipc11_1.[SCOAFundId] AS 'iCreditScoaFundId11_1',
	--ipc11_1.[SCOARegionId] AS 'iCreditScoaRegionId11_1',
	--ipc11_1.[SCOACostingID] AS 'iCreditScoaCostingId11_1',
	--ipc11_1.[ScoaProjectID] AS 'iCreditScoaProjectId11_1',
	--ipc11_1.[SCOAFunctionId] AS 'iCreditScoaFunctionId11_1',
	--ipc11_1.[SCOAItemID] AS 'iCreditScoaItemId11_1',
	--ipc11_1.[VoteId] AS 'iCreditVoteId11_1'
INTO #ScoaItems
FROM
	Asset_Register_Items ari
INNER JOIN
	Const_AssetClass_sys c ON ari.[AssetClass_ID] = c.[AssetClass_ID]
OUTER APPLY
	(
		SELECT
			mscoa.[FinYear],
			mscoat.[DebitItem11_1], mscoat.[DebitItem11_2], mscoat.[DebitItem12_1],
			mscoat.[DebitItem21_1], mscoat.[DebitItem21_2], mscoat.[DebitItem22_1],
			mscoat.[CreditItem11_1], mscoat.[CreditItem13_1], mscoat.[CreditItem21_1], mscoat.[CreditItem23_1],
			mscoat.[Project11], mscoat.[Project12], mscoat.[Project13], mscoat.[Project14], mscoat.[Project15],
			mscoat.[Project21], mscoat.[Project22], mscoat.[Project23], mscoat.[Project24], mscoat.[Project25]
		--	imscoat.[DebitItem11_1] AS 'iDebitItem11_1', imscoat.[CreditItem11_1] AS 'iCreditItem11_1', imscoat.[Project11] AS 'iProject11', imscoat.[Project14] AS 'iProject14'
		FROM
			AssetConfig_mSCOA mscoa
		INNER JOIN
			AssetConfig_mSCOA_TransactionType mscoat ON mscoa.[AssetConfig_mSCOA_ID] = mscoat.[AssetConfig_mSCOA_ID]
		INNER JOIN
			AssetConfig_TransactionType tt ON mscoat.[TransactionTypeID] = tt.[AssetConfig_TransactionType_ID]
											AND tt.[Name] = 'Revaluation'

		--INNER JOIN
		--	AssetConfig_mSCOA_TransactionType imscoat ON mscoa.[AssetConfig_mSCOA_ID] = imscoat.[AssetConfig_mSCOA_ID]
		--INNER JOIN
		--	AssetConfig_TransactionType itt ON imscoat.[TransactionTypeID] = itt.[AssetConfig_TransactionType_ID]
		--									AND itt.[Name] = 'Impairment Reversal'

		WHERE
			(c.[TypeID] = mscoa.[TypeID] OR (c.[TypeID] IS NULL AND mscoa.[TypeID] IS NULL))
		AND ISNULL(c.[AssetCategoryID], 0) = ISNULL(mscoa.[CategoryID], 0)
		AND ISNULL(c.[Asset_SubCategory_ID], 0) = ISNULL(mscoa.[SubCategoryID], 0)
		AND ISNULL(c.[AssetMeasurement_ID], 0) = ISNULL(mscoa.[MeasurementTypeID], 0)
		AND ISNULL(c.[AssetStatus_ID], 0) = ISNULL(NULLIF(mscoa.[StatusID], -1), 0)
		AND mscoa.[FinYear] = @FinYear
	) aa
	-- Debit - Accumulated Depreciation - (Scoa Item / Project) - 11_1 / 11
LEFT JOIN
	#Projects pd11_1 ON aa.[DebitItem11_1] = pd11_1.[PlanProjectItemId]
					AND aa.[Project11] = pd11_1.[ProjectId]
					AND aa.[FinYear] = pd11_1.[FinYear]
	-- Debit - Accumulated Impairment - (Scoa Item / Project) - 11_2 / 15
LEFT JOIN
	#Projects pd11_2 ON aa.[DebitItem11_2] = pd11_2.[PlanProjectItemId]
					AND aa.[Project15] = pd11_2.[ProjectId]
					AND aa.[FinYear] = pd11_2.[FinYear]
	-- Debit - Loss on Disposal - (Scoa Item / Project) - 12_1 / 12
LEFT JOIN
	#Projects pd12_1 ON aa.[DebitItem12_1] = pd12_1.[PlanProjectItemId]
					AND aa.[Project12] = pd12_1.[ProjectId]
					AND aa.[FinYear] = pd12_1.[FinYear]
	-- Debit - Disposal Clearing Account - (Scoa Item / Project) - 13_1 / 13
LEFT JOIN
	#Projects pc13_1 ON aa.[CreditItem13_1] = pc13_1.[PlanProjectItemId]
					AND aa.[Project13] = pc13_1.[ProjectId]
					AND aa.[FinYear] = pc13_1.[FinYear]
	-- Credit - Asset Disposal Account - (Scoa Item / Project) - 11_1 / 14
LEFT JOIN
	#Projects pc11_1 ON aa.[CreditItem11_1] = pc11_1.[PlanProjectItemId]
					AND aa.[Project14] = pc11_1.[ProjectId]
					AND aa.[FinYear] = pc11_1.[FinYear]
-- Gain on Disposal
	-- Debit - Accumulated Depreciation - (Scoa Item / Project) - 21_1 / 21
LEFT JOIN
	#Projects pd21_1 ON aa.[DebitItem21_1] = pd21_1.[PlanProjectItemId]
					AND aa.[Project21] = pd21_1.[ProjectId]
					AND aa.[FinYear] = pd21_1.[FinYear]
	-- Debit - Accumulated Impairment - (Scoa Item / Project) - 21_2 / 25
LEFT JOIN
	#Projects pd21_2 ON aa.[DebitItem21_2] = pd21_2.[PlanProjectItemId]
					AND aa.[Project25] = pd21_2.[ProjectId]
					AND aa.[FinYear] = pd21_2.[FinYear]
	-- Debit - Gain on Disposal - (Scoa Item / Project) - 22_1 / 22
LEFT JOIN
	#Projects pd22_1 ON aa.[DebitItem22_1] = pd22_1.[PlanProjectItemId]
					AND aa.[Project22] = pd22_1.[ProjectId]
					AND aa.[FinYear] = pd22_1.[FinYear]
	-- Debit - Disposal Clearing Account - (Scoa Item / Project) - 23_1 / 23
LEFT JOIN
	#Projects pc23_1 ON aa.[CreditItem23_1] = pc23_1.[PlanProjectItemId]
					AND aa.[Project23] = pc23_1.[ProjectId]
					AND aa.[FinYear] = pc23_1.[FinYear]
	-- Credit - Asset Disposal Account - (Scoa Item / Project) - 21_1 / 24
LEFT JOIN
	#Projects pc21_1 ON aa.[CreditItem21_1] = pc21_1.[PlanProjectItemId]
					AND aa.[Project24] = pc21_1.[ProjectId]
					AND aa.[FinYear] = pc21_1.[FinYear]
--	-- Debit - Accumulated Impairment - (Scoa Item / Project) - 11_1 / 11
--LEFT JOIN
--	#Projects ipd11_1 ON aa.[iDebitItem11_1] = ipd11_1.[PlanProjectItemId]
--					AND aa.[iProject11] = ipd11_1.[ProjectId]
--					AND aa.[FinYear] = ipd11_1.[FinYear]
--	-- Credit - Asset Disposal Account - (Scoa Item / Project) - 11_1 / 14
--LEFT JOIN
--	#Projects ipc11_1 ON aa.[iCreditItem11_1] = ipc11_1.[PlanProjectItemId]
--					AND aa.[iProject14] = ipc11_1.[ProjectId]
--					AND aa.[FinYear] = ipc11_1.[FinYear]
WHERE
	ari.[AssetRegisterItem_ID] = @AssetRegisterItemId;

SELECT
	*
INTO #ScoaItemsResults
FROM
	(
		SELECT
			unpvt.[Project], unpvt.[DivisionId], unpvt.[ProjectId], unpvt.[ProjectItemId], unpvt.[ScoaItemId], unpvt.[ScoaFundId], unpvt.[ScoaRegionId], unpvt.[ScoaCostingId], unpvt.[ScoaProjectId], unpvt.[ScoaFunctionId], unpvt.[VoteId]
		FROM
			(
				SELECT * FROM #ScoaItems
			) base
		UNPIVOT
			(
				[Project] FOR [ProjectName] IN ([DebitProject11_1])
			) unpvt
		UNPIVOT
			(
				[DivisionId] FOR [DivisionDescription] IN ([DebitDivisionId11_1])
			) unpvt
		UNPIVOT
			(
				[ProjectId] FOR [ProjectDescription] IN ([DebitProjectId11_1])
			) unpvt
		UNPIVOT
			(
				[ProjectItemId] FOR [ProjectItemDescription] IN ([DebitProjectItemId11_1])
			) unpvt
		UNPIVOT
			(
				[ScoaItemId] FOR [ScoaItemDescription] IN ([DebitScoaItemId11_1])
			) unpvt
		UNPIVOT
			(
				[ScoaFundId] FOR [ScoaFundDescription] IN ([DebitScoaFundId11_1])
			) unpvt
		UNPIVOT
			(
				[ScoaRegionId] FOR [ScoaRegionDescription] IN ([DebitScoaRegionId11_1])
			) unpvt
		UNPIVOT
			(
				[ScoaCostingId] FOR [ScoaCostingDescription] IN ([DebitScoaCostingId11_1])
			) unpvt
		UNPIVOT
			(
				[ScoaProjectId] FOR [ScoaProjectDescription] IN ([DebitScoaProjectId11_1])
			) unpvt
		UNPIVOT
			(
				[ScoaFunctionId] FOR [ScoaFunctionDescription] IN ([DebitScoaFunctionId11_1])
			) unpvt
		UNPIVOT
			(
				[VoteId] FOR [VoteDescription] IN ([DebitVoteId11_1])
			) unpvt
	UNION
		SELECT
			unpvt.[Project], unpvt.[DivisionId], unpvt.[ProjectId], unpvt.[ProjectItemId], unpvt.[ScoaItemId], unpvt.[ScoaFundId], unpvt.[ScoaRegionId], unpvt.[ScoaCostingId], unpvt.[ScoaProjectId], unpvt.[ScoaFunctionId], unpvt.[VoteId]
		FROM
			(
				SELECT * FROM #ScoaItems
			) base
		UNPIVOT
			(
				[Project] FOR [ProjectName] IN ([DebitProject12_1])
			) unpvt
		UNPIVOT
			(
				[DivisionId] FOR [DivisionDescription] IN ([DebitDivisionId12_1])
			) unpvt
		UNPIVOT
			(
				[ProjectId] FOR [ProjectDescription] IN ([DebitProjectId12_1])
			) unpvt
		UNPIVOT
			(
				[ProjectItemId] FOR [ProjectItemDescription] IN ([DebitProjectItemId12_1])
			) unpvt
		UNPIVOT
			(
				[ScoaItemId] FOR [ScoaItemDescription] IN ([DebitScoaItemId12_1])
			) unpvt
		UNPIVOT
			(
				[ScoaFundId] FOR [ScoaFundDescription] IN ([DebitScoaFundId12_1])
			) unpvt
		UNPIVOT
			(
				[ScoaRegionId] FOR [ScoaRegionDescription] IN ([DebitScoaRegionId12_1])
			) unpvt
		UNPIVOT
			(
				[ScoaCostingId] FOR [ScoaCostingDescription] IN ([DebitScoaCostingId12_1])
			) unpvt
		UNPIVOT
			(
				[ScoaProjectId] FOR [ScoaProjectDescription] IN ([DebitScoaProjectId12_1])
			) unpvt
		UNPIVOT
			(
				[ScoaFunctionId] FOR [ScoaFunctionDescription] IN ([DebitScoaFunctionId12_1])
			) unpvt
		UNPIVOT
			(
				[VoteId] FOR [VoteDescription] IN ([DebitVoteId12_1])
			) unpvt
	UNION
		SELECT
			unpvt.[Project], unpvt.[DivisionId], unpvt.[ProjectId], unpvt.[ProjectItemId], unpvt.[ScoaItemId], unpvt.[ScoaFundId], unpvt.[ScoaRegionId], unpvt.[ScoaCostingId], unpvt.[ScoaProjectId], unpvt.[ScoaFunctionId], unpvt.[VoteId]
		FROM
			(
				SELECT * FROM #ScoaItems
			) base
		UNPIVOT
			(
				[Project] FOR [ProjectName] IN ([CreditProject11_1])
			) unpvt
		UNPIVOT
			(
				[DivisionId] FOR [DivisionDescription] IN ([CreditDivisionId11_1])
			) unpvt
		UNPIVOT
			(
				[ProjectId] FOR [ProjectDescription] IN ([CreditProjectId11_1])
			) unpvt
		UNPIVOT
			(
				[ProjectItemId] FOR [ProjectItemDescription] IN ([CreditProjectItemId11_1])
			) unpvt
		UNPIVOT
			(
				[ScoaItemId] FOR [ScoaItemDescription] IN ([CreditScoaItemId11_1])
			) unpvt
		UNPIVOT
			(
				[ScoaFundId] FOR [ScoaFundDescription] IN ([CreditScoaFundId11_1])
			) unpvt
		UNPIVOT
			(
				[ScoaRegionId] FOR [ScoaRegionDescription] IN ([CreditScoaRegionId11_1])
			) unpvt
		UNPIVOT
			(
				[ScoaCostingId] FOR [ScoaCostingDescription] IN ([CreditScoaCostingId11_1])
			) unpvt
		UNPIVOT
			(
				[ScoaProjectId] FOR [ScoaProjectDescription] IN ([CreditScoaProjectId11_1])
			) unpvt
		UNPIVOT
			(
				[ScoaFunctionId] FOR [ScoaFunctionDescription] IN ([CreditScoaFunctionId11_1])
			) unpvt
		UNPIVOT
			(
				[VoteId] FOR [VoteDescription] IN ([CreditVoteId11_1])
			) unpvt
	UNION
		SELECT
			unpvt.[Project], unpvt.[DivisionId], unpvt.[ProjectId], unpvt.[ProjectItemId], unpvt.[ScoaItemId], unpvt.[ScoaFundId], unpvt.[ScoaRegionId], unpvt.[ScoaCostingId], unpvt.[ScoaProjectId], unpvt.[ScoaFunctionId], unpvt.[VoteId]
		FROM
			(
				SELECT * FROM #ScoaItems
			) base
		UNPIVOT
			(
				[Project] FOR [ProjectName] IN ([DebitProject21_1])
			) unpvt
		UNPIVOT
			(
				[DivisionId] FOR [DivisionDescription] IN ([DebitDivisionId21_1])
			) unpvt
		UNPIVOT
			(
				[ProjectId] FOR [ProjectDescription] IN ([DebitProjectId21_1])
			) unpvt
		UNPIVOT
			(
				[ProjectItemId] FOR [ProjectItemDescription] IN ([DebitProjectItemId21_1])
			) unpvt
		UNPIVOT
			(
				[ScoaItemId] FOR [ScoaItemDescription] IN ([DebitScoaItemId21_1])
			) unpvt
		UNPIVOT
			(
				[ScoaFundId] FOR [ScoaFundDescription] IN ([DebitScoaFundId21_1])
			) unpvt
		UNPIVOT
			(
				[ScoaRegionId] FOR [ScoaRegionDescription] IN ([DebitScoaRegionId21_1])
			) unpvt
		UNPIVOT
			(
				[ScoaCostingId] FOR [ScoaCostingDescription] IN ([DebitScoaCostingId21_1])
			) unpvt
		UNPIVOT
			(
				[ScoaProjectId] FOR [ScoaProjectDescription] IN ([DebitScoaProjectId21_1])
			) unpvt
		UNPIVOT
			(
				[ScoaFunctionId] FOR [ScoaFunctionDescription] IN ([DebitScoaFunctionId21_1])
			) unpvt
		UNPIVOT
			(
				[VoteId] FOR [VoteDescription] IN ([DebitVoteId21_1])
			) unpvt
	UNION
		SELECT
			unpvt.[Project], unpvt.[DivisionId], unpvt.[ProjectId], unpvt.[ProjectItemId], unpvt.[ScoaItemId], unpvt.[ScoaFundId], unpvt.[ScoaRegionId], unpvt.[ScoaCostingId], unpvt.[ScoaProjectId], unpvt.[ScoaFunctionId], unpvt.[VoteId]
		FROM
			(
				SELECT * FROM #ScoaItems
			) base
		UNPIVOT
			(
				[Project] FOR [ProjectName] IN ([DebitProject22_1])
			) unpvt
		UNPIVOT
			(
				[DivisionId] FOR [DivisionDescription] IN ([DebitDivisionId22_1])
			) unpvt
		UNPIVOT
			(
				[ProjectId] FOR [ProjectDescription] IN ([DebitProjectId22_1])
			) unpvt
		UNPIVOT
			(
				[ProjectItemId] FOR [ProjectItemDescription] IN ([DebitProjectItemId22_1])
			) unpvt
		UNPIVOT
			(
				[ScoaItemId] FOR [ScoaItemDescription] IN ([DebitScoaItemId22_1])
			) unpvt
		UNPIVOT
			(
				[ScoaFundId] FOR [ScoaFundDescription] IN ([DebitScoaFundId22_1])
			) unpvt
		UNPIVOT
			(
				[ScoaRegionId] FOR [ScoaRegionDescription] IN ([DebitScoaRegionId22_1])
			) unpvt
		UNPIVOT
			(
				[ScoaCostingId] FOR [ScoaCostingDescription] IN ([DebitScoaCostingId22_1])
			) unpvt
		UNPIVOT
			(
				[ScoaProjectId] FOR [ScoaProjectDescription] IN ([DebitScoaProjectId22_1])
			) unpvt
		UNPIVOT
			(
				[ScoaFunctionId] FOR [ScoaFunctionDescription] IN ([DebitScoaFunctionId22_1])
			) unpvt
		UNPIVOT
			(
				[VoteId] FOR [VoteDescription] IN ([DebitVoteId22_1])
			) unpvt
	UNION
		SELECT
			unpvt.[Project], unpvt.[DivisionId], unpvt.[ProjectId], unpvt.[ProjectItemId], unpvt.[ScoaItemId], unpvt.[ScoaFundId], unpvt.[ScoaRegionId], unpvt.[ScoaCostingId], unpvt.[ScoaProjectId], unpvt.[ScoaFunctionId], unpvt.[VoteId]
		FROM
			(
				SELECT * FROM #ScoaItems
			) base
		UNPIVOT
			(
				[Project] FOR [ProjectName] IN ([CreditProject21_1])
			) unpvt
		UNPIVOT
			(
				[DivisionId] FOR [DivisionDescription] IN ([CreditDivisionId21_1])
			) unpvt
		UNPIVOT
			(
				[ProjectId] FOR [ProjectDescription] IN ([CreditProjectId21_1])
			) unpvt
		UNPIVOT
			(
				[ProjectItemId] FOR [ProjectItemDescription] IN ([CreditProjectItemId21_1])
			) unpvt
		UNPIVOT
			(
				[ScoaItemId] FOR [ScoaItemDescription] IN ([CreditScoaItemId21_1])
			) unpvt
		UNPIVOT
			(
				[ScoaFundId] FOR [ScoaFundDescription] IN ([CreditScoaFundId21_1])
			) unpvt
		UNPIVOT
			(
				[ScoaRegionId] FOR [ScoaRegionDescription] IN ([CreditScoaRegionId21_1])
			) unpvt
		UNPIVOT
			(
				[ScoaCostingId] FOR [ScoaCostingDescription] IN ([CreditScoaCostingId21_1])
			) unpvt
		UNPIVOT
			(
				[ScoaProjectId] FOR [ScoaProjectDescription] IN ([CreditScoaProjectId21_1])
			) unpvt
		UNPIVOT
			(
				[ScoaFunctionId] FOR [ScoaFunctionDescription] IN ([CreditScoaFunctionId21_1])
			) unpvt
		UNPIVOT
			(
				[VoteId] FOR [VoteDescription] IN ([CreditVoteId21_1])
			) unpvt
	--UNION
	--	SELECT
	--		unpvt.[Project], unpvt.[DivisionId], unpvt.[ProjectId], unpvt.[ProjectItemId], unpvt.[ScoaItemId], unpvt.[ScoaFundId], unpvt.[ScoaRegionId], unpvt.[ScoaCostingId], unpvt.[ScoaProjectId], unpvt.[ScoaFunctionId], unpvt.[VoteId]
	--	FROM
	--		(
	--			SELECT * FROM #ScoaItems
	--		) base
	--	UNPIVOT
	--		(
	--			[Project] FOR [ProjectName] IN ([iDebitProject11_1])
	--		) unpvt
	--	UNPIVOT
	--		(
	--			[DivisionId] FOR [DivisionDescription] IN ([iDebitDivisionId11_1])
	--		) unpvt
	--	UNPIVOT
	--		(
	--			[ProjectId] FOR [ProjectDescription] IN ([iDebitProjectId11_1])
	--		) unpvt
	--	UNPIVOT
	--		(
	--			[ProjectItemId] FOR [ProjectItemDescription] IN ([iDebitProjectItemId11_1])
	--		) unpvt
	--	UNPIVOT
	--		(
	--			[ScoaItemId] FOR [ScoaItemDescription] IN ([iDebitScoaItemId11_1])
	--		) unpvt
	--	UNPIVOT
	--		(
	--			[ScoaFundId] FOR [ScoaFundDescription] IN ([iDebitScoaFundId11_1])
	--		) unpvt
	--	UNPIVOT
	--		(
	--			[ScoaRegionId] FOR [ScoaRegionDescription] IN ([iDebitScoaRegionId11_1])
	--		) unpvt
	--	UNPIVOT
	--		(
	--			[ScoaCostingId] FOR [ScoaCostingDescription] IN ([iDebitScoaCostingId11_1])
	--		) unpvt
	--	UNPIVOT
	--		(
	--			[ScoaProjectId] FOR [ScoaProjectDescription] IN ([iDebitScoaProjectId11_1])
	--		) unpvt
	--	UNPIVOT
	--		(
	--			[ScoaFunctionId] FOR [ScoaFunctionDescription] IN ([iDebitScoaFunctionId11_1])
	--		) unpvt
	--	UNPIVOT
	--		(
	--			[VoteId] FOR [VoteDescription] IN ([iDebitVoteId11_1])
	--		) unpvt
	--UNION
	--	SELECT
	--		unpvt.[Project], unpvt.[DivisionId], unpvt.[ProjectId], unpvt.[ProjectItemId], unpvt.[ScoaItemId], unpvt.[ScoaFundId], unpvt.[ScoaRegionId], unpvt.[ScoaCostingId], unpvt.[ScoaProjectId], unpvt.[ScoaFunctionId], unpvt.[VoteId]
	--	FROM
	--		(
	--			SELECT * FROM #ScoaItems
	--		) base
	--	UNPIVOT
	--		(
	--			[Project] FOR [ProjectName] IN ([iCreditProject11_1])
	--		) unpvt
	--	UNPIVOT
	--		(
	--			[DivisionId] FOR [DivisionDescription] IN ([iCreditDivisionId11_1])
	--		) unpvt
	--	UNPIVOT
	--		(
	--			[ProjectId] FOR [ProjectDescription] IN ([iCreditProjectId11_1])
	--		) unpvt
	--	UNPIVOT
	--		(
	--			[ProjectItemId] FOR [ProjectItemDescription] IN ([iCreditProjectItemId11_1])
	--		) unpvt
	--	UNPIVOT
	--		(
	--			[ScoaItemId] FOR [ScoaItemDescription] IN ([iCreditScoaItemId11_1])
	--		) unpvt
	--	UNPIVOT
	--		(
	--			[ScoaFundId] FOR [ScoaFundDescription] IN ([iCreditScoaFundId11_1])
	--		) unpvt
	--	UNPIVOT
	--		(
	--			[ScoaRegionId] FOR [ScoaRegionDescription] IN ([iCreditScoaRegionId11_1])
	--		) unpvt
	--	UNPIVOT
	--		(
	--			[ScoaCostingId] FOR [ScoaCostingDescription] IN ([iCreditScoaCostingId11_1])
	--		) unpvt
	--	UNPIVOT
	--		(
	--			[ScoaProjectId] FOR [ScoaProjectDescription] IN ([iCreditScoaProjectId11_1])
	--		) unpvt
	--	UNPIVOT
	--		(
	--			[ScoaFunctionId] FOR [ScoaFunctionDescription] IN ([iCreditScoaFunctionId11_1])
	--		) unpvt
	--	UNPIVOT
	--		(
	--			[VoteId] FOR [VoteDescription] IN ([iCreditVoteId11_1])
	--		) unpvt
	) aa;

INSERT INTO Led_Journal_Asset
(
	[FinYear],
	[ProcessingMonth],
	[TransactionID],
	[AssetJournalTransactionTypeID],
	[TransactionDate],
	[DebitVoteID],
	[CreditVoteID],
	[Amount],
	[DocumentNumber],
	[DateCaptured],
	[CapturerID],
	[ItemDescription],
	[Asset_RegisterItem_ID],
	[SCOAFundsID],
	[SCOARegionID],
	[SCOACostingID],
	[SCOAProjectID],
	[SCOAFunctionID],
	[SCOAItemID]
)
SELECT
	@FinYear,
	@ProcessingMonth,
	@TransactionId,
	@AssetJournalTransactionTypeId,
	CURRENT_TIMESTAMP,
	ISNULL(aa.[VoteId], @DefaultVoteId),
	ISNULL((SELECT [VoteId] FROM #ScoaItemsResults WHERE [Project] = 'Project 14'), @DefaultVoteId),
	@SurplusAmount,
	@NewDocumentNumber,
	CURRENT_TIMESTAMP,
	@UserId,
	@ItemDescription,
	@AssetRegisterItemId,
	aa.[ScoaFundId],
	aa.[ScoaRegionId],
	aa.[ScoaCostingId],
	aa.[ScoaProjectId],
	aa.[ScoaFunctionId],
	aa.[ScoaItemId]
FROM
	#ScoaItemsResults aa
WHERE
	aa.[Project] = 'Project 11';

-- Asset_InsertLedger_DisposalDetails

DECLARE @LedJournalAssetId INT = SCOPE_IDENTITY();

INSERT INTO Led_GeneralLedger
(
	[PostingDate],
	[ProcessingMonth],
	[VoteID],
	[FinYear],
	[TransactionTypeID],
	[TransactionDetails],
	[DocumentNumber],
	[Debit],
	[Credit],
	[DateCaptured],
	[CapturerID],
	[MatchTranGuid],
	[AssetLinkID],
	[SCOAFundsID],
	[SCOARegionID],
	[SCOACostingID],
	[SCOAProjectID],
	[SCOAFunctionID],
	[SCOAItemID],
	[DivisionID],
	[ProjectID],
	[PlanProjectItemID]
)
SELECT
	CURRENT_TIMESTAMP,
	@ProcessingMonth,
	aa.[VoteId],
	@FinYear,
	@AssetJournalTransactionTypeId,

	CASE
		WHEN aa.[Project] IN ('Project 11') AND @RevaluationDebit > 0 THEN @ItemDescription + ' - Accumulated Revaluation'
		WHEN aa.[Project] IN ('Project 21') AND @RevaluationLoss > 0 THEN @ItemDescription + ' - Revaluation Loss'
		WHEN aa.[Project] IN ('Project 14') AND @RevaluationGainDt > 0 THEN @ItemDescription + ' - Revaluation Reserve'
	--	WHEN aa.[Project] IN ('iProject 11') AND @ImpairmentTransactionAmount > 0 THEN @ItemDescription + ' - Accumulated Impairment'

		WHEN aa.[Project] IN ('Project 14') AND @RevaluationGainCt > 0 THEN @ItemDescription + ' - Revaluation Reserve'
		WHEN aa.[Project] IN ('Project 12', 'Project 22') THEN @ItemDescription + ' - Depreciation Adjustment'
		WHEN aa.[Project] IN ('Project 24') AND @RevaluationCredit > 0 THEN @ItemDescription + ' - Accumulated Revaluation'
		END,
	@NewDocumentNumber,
	CASE WHEN @NegativeAllowed <> 1 THEN
	(CASE
		WHEN aa.[Project] IN ('Project 11') AND @RevaluationDebit > 0 THEN @RevaluationDebit
		WHEN aa.[Project] IN ('Project 21') AND @RevaluationLoss > 0 THEN @RevaluationLoss
		WHEN aa.[Project] IN ('Project 14') AND @RevaluationGainDt > 0 THEN @RevaluationGainDt
		--WHEN aa.[Project] IN ('iProject 11') AND @ImpairmentTransactionAmount > 0 THEN @ImpairmentTransactionAmount
		ELSE 0
	END) 
	ELSE 
	(CASE
		WHEN aa.[Project] IN ('Project 11') AND @RevaluationDebit > 0 THEN @RevaluationDebit
		WHEN aa.[Project] IN ('Project 21') AND @RevaluationLoss > 0 THEN @RevaluationLoss
		WHEN aa.[Project] IN ('Project 14') AND @RevaluationGainDt > 0 THEN @RevaluationGainDt
		WHEN aa.[Project] IN ('Project 22') AND @DepreciationAdjustment < 0 THEN ABS(@DepreciationAdjustment)
		--WHEN aa.[Project] IN ('iProject 11') AND @ImpairmentTransactionAmount > 0 THEN @ImpairmentTransactionAmount
		ELSE 0
	END) 
	END,
	CASE WHEN @NegativeAllowed <> 1 THEN
	(CASE
		WHEN aa.[Project] IN ('Project 14') AND @RevaluationGainCt > 0 THEN @RevaluationGainCt
		WHEN aa.[Project] IN ('Project 24') AND @RevaluationCredit > 0 THEN @RevaluationCredit
		WHEN aa.[Project] IN ('Project 12') AND @DepreciationAdjustment > 0 THEN @DepreciationAdjustment
		ELSE 0
	END) 
	ELSE
	(CASE
		WHEN aa.[Project] IN ('Project 14') AND @RevaluationGainCt > 0 THEN @RevaluationGainCt
		WHEN aa.[Project] IN ('Project 24') AND @RevaluationCredit > 0 THEN @RevaluationCredit
		WHEN aa.[Project] IN ('Project 11') AND @DepreciationAdjustment < 0 THEN ABS(@DepreciationAdjustment)
		ELSE 0
	END)
	END,
	CURRENT_TIMESTAMP,
	@UserId,
	@TransactionId,
	@LedJournalAssetId,
	aa.[ScoaFundId],
	aa.[ScoaRegionId],
	aa.[ScoaCostingId],
	aa.[ScoaProjectId],
	aa.[ScoaFunctionId],
	aa.[ScoaItemId],
	aa.[DivisionId],
	aa.[ProjectId],
	aa.[ProjectItemId]
FROM
	#ScoaItemsResults aa
WHERE
	-- Gain on Revaluation
	(@SurplusAmount >= 0 AND aa.[Project] IN ('Project 11', 'Project 14'))
	-- Loss on Revaluation
OR	(@SurplusAmount < 0 AND aa.[Project] IN ('Project 21', 'Project 24') AND @RevaluationGainDt = 0 AND @RevaluationLoss > 0)
OR	(@SurplusAmount < 0 AND aa.[Project] IN ('Project 14', 'Project 24') AND @RevaluationGainDt > 0 AND @RevaluationLoss = 0)
OR	(@SurplusAmount < 0 AND aa.[Project] IN ('Project 14', 'Project 21', 'Project 24') AND @RevaluationGainDt > 0 AND @RevaluationLoss > 0)
	-- Depreciation Adjustment
OR	(@DepreciationAdjustment > 0 AND aa.[Project] IN ('Project 12'))
OR	(@DepreciationAdjustment < 0 AND aa.[Project] IN ('Project 22'))

;
	-- Impairment Reversal
--OR  (@ImpairmentTransactionAmount > 0 AND aa.[Project] IN ('iProject 11'));

-- Asset_Register_Transactions_Insert
DECLARE @GeneralLedgerId INT = SCOPE_IDENTITY(),
		@DepreciationType INT,
		@ImpairmentType INT,
		@FairValueType INT,
		@RevaluationType INT,
		@PriorYearErrorsType INT,
		@DisposalType INT,
		@GeneralType INT,
		@TransactionTypeId INT = (SELECT
									[ReferenceDAta_ID]
								FROM
									Const_ReferenceData_sys d
								INNER JOIN
									Const_ReferenceType_sys t ON t.[ReferenceType_ID] = d.[ReferenceTypeID]       
								WHERE
									t.[Name] = 'AssetTransactionTypes'
								AND d.[Description] = 'Revaluation'),
		@TotalTransactionValue DECIMAL(18, 2) = @SurplusAmount;

-- Get Different Asset Transaction Types
SELECT
	@DepreciationType = MAX([Depreciation]),
	@RevaluationType = MAX([Revaluation]),
	@ImpairmentType = MAX([Impairment]),
	@FairValueType = MAX([Fair Value Adjustment]),
	@DisposalType = MAX([Disposal]),
	@PriorYearErrorsType = MAX([Prior Year Error Adjustment]),
	@GeneralType = MAX([General Update])
FROM
	(
		SELECT
			d.*
		FROM
			Const_ReferenceData_sys d
		INNER JOIN
			Const_ReferenceType_sys t on t.ReferenceType_ID = d.ReferenceTypeID
		WHERE
			t.[Name] = 'AssetTransactionTypes'
	) base
PIVOT
	(
		MAX([ReferenceData_ID])
		FOR [Description] IN ([Depreciation], [Revaluation], [Impairment], [Fair Value Adjustment], [Disposal], [Prior Year Error Adjustment], [General Update])
	) pvt;

SELECT
	tgl.[AssetRegisterItemId], tgl.[GeneralLedgerId], tgl.[TransactionDate], tgl.[UsefullLife], tgl.[TransactionValue], tgl.[FinYear], tgl.[TransactionID],
	CASE WHEN @TransactionTypeId = @RevaluationType THEN rev.[RevaluationValue] ELSE NULL END AS 'RevaluationValue',
	CASE WHEN @TransactionTypeId = @RevaluationType THEN rev.[RevaluationValue] + trans.AccumulatedRevaluation ELSE NULL END AS 'AccumulatedRevaluation',

	CASE
		WHEN @TransactionTypeId = @RevaluationType THEN ISNULL(@RevalautionAmt, 0)
		WHEN @TransactionTypeId = @DisposalType THEN ISNULL(trans.[CurrentValue], reg.[CurrentValue])
		ELSE ISNULL(trans.[CurrentValue], reg.[CurrentValue]) - tgl.[TransactionValue]	
	    END AS 'CurrentValue',
	CASE WHEN @TransactionTypeId = @DisposalType THEN 0 END AS 'DisposalLossValue',
	CASE WHEN @TransactionTypeId = @DisposalType THEN 0 END AS 'DisposalTotalValue'
INTO #TempAssetTransactions
FROM
	(
		SELECT
			@AssetRegisterItemId AS 'AssetRegisterItemId', @GeneralLedgerId AS 'GeneralLedgerId', CURRENT_TIMESTAMP AS 'TransactionDate', NULL AS 'UsefullLife', @TotalTransactionValue AS 'TransactionValue', @FinYear AS 'FinYear', @TransactionId AS 'TransactionId'
	) tgl
OUTER APPLY
	(
		SELECT
			ar.[SurplusAmount] AS 'RevaluationValue'
		FROM
			Asset_Revaluations ar
		WHERE
			ar.[AssetRegisterID] = tgl.[AssetRegisterItemId]
			AND ISNULL(ar.[Approved], 0) = 0
	) rev
OUTER APPLY
	(
		SELECT TOP 1
			art.[CurrentValue], ISNULL(art.[AccumulatedRevaluation], 0) AS 'AccumulatedRevaluation'
		FROM
			Asset_Register_Transactions art
		WHERE
			art.[AssetRegisterItem_ID] = tgl.[AssetRegisterItemId]
		ORDER BY
			art.[ID] DESC
	) trans
OUTER APPLY
	(
		SELECT
			ISNULL(ISNULL(a.[CurrentAmount], CASE a.[MarketValue] WHEN 0 THEN NULL ELSE a.[MarketValue] END), a.[PurchaseAmount]) AS 'CurrentValue'
		FROM
			Asset_Register_Items a
		WHERE
			a.[AssetRegisterItem_ID] = tgl.[AssetRegisterItemId]
	) reg;

-- INSERT INTO Asset_Register_Transactions
declare @AssetTransactionYear nvarchar(9) = (select(
			case when MONTH(@RevalutionDate) - 6 <= 0 then CONCAT((YEAR(@RevalutionDate) - 1),'/',YEAR(@RevalutionDate))
			ELSE CONCAT(YEAR(@RevalutionDate),'/', YEAR(@RevalutionDate) + 1) END))

declare @AssetTransactionMonth int = (select(
			case when MONTH(@RevalutionDate) - 6 <= 0 then MONTH(@RevalutionDate) + 6 ELSE MONTH(@RevalutionDate) - 6 END))
MERGE Asset_Register_Transactions as targetTable
USING
(
	SELECT
		tat.[AssetRegisterItemId] AS 'AssetRegisterItem_ID',
		@TransactionTypeId AS 'TransactionTypeID',
		ISNULL(@RevalutionDate, CURRENT_TIMESTAMP) AS 'TransactionDate',
		ISNULL(trans.[PurchaseAmount], CASE ISNULL(ari.[PurchaseAmount], 0) WHEN 0 THEN ISNULL(ari.[CurrentAmount], 0) ELSE ari.[PurchaseAmount] END) AS 'PurchaseAmount',
		COALESCE(trans.[ResidualValue], ari.[ResidualValue], 0) AS 'ResidualValue',
		COALESCE(tat.[CurrentValue], trans.[CurrentValue], ari.[CurrentAmount], 0) AS 'CurrentValue',
		ari.UsefulLifeMonthComponent AS 'UsefulLife',
		@UsefullLife AS 'RemaingUsefulLife',
		CASE @TransactionTypeId WHEN @DepreciationType	THEN tat.[TransactionValue] 
		WHEN @DisposalType		THEN COALESCE(ISNULL(ari.[AccumulatedDepreciationOpeningBalance] *-1, 0) + ISNULL(trans.[AccumulatedDepreciation] *-1, 0),0)
		ELSE 0 END AS 'DepreciationValue',
		CASE @TransactionTypeId WHEN @ImpairmentType	THEN (CASE WHEN tat.[TransactionValue] < 0 THEN NULL ELSE ABS(tat.[TransactionValue]) END) ELSE 0 END AS 'ImpairmentValue',
		CASE @TransactionTypeId WHEN @ImpairmentType	THEN (CASE WHEN tat.[TransactionValue] > 0 THEN NULL ELSE ABS(tat.[TransactionValue]) END) END AS 'ImpairmentReversalValue',
		--WHEN @RevaluationType THEN @ImpairmentTransactionAmount ELSE 0 END ,
		CASE @TransactionTypeId WHEN @RevaluationType	THEN @SurplusAmount + @DepreciationAdjustment ELSE 0 END	AS 'RevaluationValue',
		CASE @TransactionTypeId WHEN @FairValueType		THEN tat.[TransactionValue] ELSE 0 END	AS 'FairValue',
		CASE @TransactionTypeId WHEN @DisposalType		THEN tat.[TransactionValue] ELSE 0 END	AS 'DisposalValue',
		CASE @TransactionTypeId WHEN @DisposalType		THEN tat.[DisposalLossValue] ELSE 0 END	AS 'DisposalLossValue',
		CASE @TransactionTypeId WHEN @DisposalType		THEN tat.[DisposalTotalValue] ELSE 0 END	AS 'DisposalTotalValue',
		CASE @TransactionTypeId WHEN @DepreciationType	THEN ISNULL(trans.[AccumulatedDepreciation], 0) 
								WHEN @RevaluationType	THEN ISNULL(trans.[AccumulatedDepreciation], 0) + @DepreciationAdjustment
		ELSE ISNULL(trans.[AccumulatedDepreciation], 0) END AS 'AccumulatedDepreciation',
		CASE @TransactionTypeId WHEN @ImpairmentType	THEN ISNULL(trans.[AccumulatedImpairment], 0) + (CASE WHEN tat.[TransactionValue] < 0 THEN 0 ELSE ABS(tat.[TransactionValue]) END) ELSE ISNULL(trans.[AccumulatedImpairment], 0) END AS 'AccumulatedImpairment',
		CASE @TransactionTypeId WHEN @ImpairmentType	THEN ISNULL(trans.[AccumulatedImpairmentReversal], 0) + (CASE WHEN tat.[TransactionValue] > 0 THEN 0 ELSE ABS(tat.[TransactionValue]) END) 
		WHEN @RevaluationType THEN ISNULL(trans.AccumulatedImpairmentReversal, 0) ELSE ISNULL(trans.[AccumulatedImpairmentReversal], 0) END AS 'AccumulatedImpairmentReversal',
		CASE @TransactionTypeId WHEN @ImpairmentType	THEN ISNULL(trans.[ImpairmentSurplus], 0) + tat.[TransactionValue] END AS 'ImpairmentSurplus',
		--WHEN @RevaluationType THEN ISNULL(trans.[ImpairmentSurplus], 0) ELSE NULL END AS 'ImpairmentSurplus',
		CASE @TransactionTypeId WHEN @FairValueType		THEN COALESCE(trans.[AccumulatedFairValue], ari.[MarketValue], 0) + tat.[TransactionValue] ELSE COALESCE(trans.[AccumulatedFairValue], ari.[MarketValue], 0) END AS 'AccumulatedFairValue',
		CASE @TransactionTypeId WHEN @RevaluationType	THEN ISNULL(@AccumulatedRevaluationAmountInSurplusOrDeficit + @SurplusAmount, 0) END AS 'AccumulatedRevaluation',
		@AssetTransactionMonth AS 'FinancialPeriod',
		@AssetTransactionYear AS 'FinancialYear',
		1145 AS 'DocumentType_ID', -- Asset Depreciation
		tat.[TransactionID] AS 'GLGUID_ID',
		tat.[GeneralLedgerId] AS 'TransactionSource_ID',
		CURRENT_TIMESTAMP AS 'DateModified',
		@UserId AS 'Modifier',
		CASE @TransactionTypeId WHEN @RevaluationType THEN (CASE WHEN ISNULL(@SurplusAmount, 0) + ISNULL(ari.[RevaluationReserveClosingBalance], 0) < 0 THEN ISNULL(ari.[RevaluationReserveClosingBalance], 0) *-1  ELSE ISNULL(@SurplusAmount, 0) END) END AS 'MovementInRevaluationReserve',
		CASE @TransactionTypeId WHEN @RevaluationType THEN (CASE WHEN ISNULL(@SurplusAmount, 0) + ISNULL(ari.[RevaluationReserveClosingBalance], 0) < 0 THEN ISNULL(ari.[RevaluationReserveClosingBalance], 0) *-1  ELSE ISNULL(@SurplusAmount, 0) END) END AS 'RevaluationReserveRevaluation',
		--CASE WHEN @ImpairmentTransactionAmount > 0 THEN ISNULL(@SurplusAmount, 0) - @ImpairmentTransactionAmount ELSE ISNULL(@SurplusAmount, 0) END END) END AS 'RevaluationReserveRevaluation',
		CASE @TransactionTypeId WHEN @RevaluationType THEN @DepreciationAdjustment ELSE 0 END AS 'DepreciationAdjustment'
		--CASE @TransactionTypeId WHEN @RevaluationType THEN @ImpairmentTransactionAmount ELSE 0 END AS 'RevaluationReserveImpairmentReversal'
	FROM
		#TempAssetTransactions tat
	INNER JOIN
		Asset_Register_Items ari ON tat.[AssetRegisterItemId] = ari.[AssetRegisterItem_ID]
	INNER JOIN
		Const_AssetClass_sys cac ON ari.[AssetClass_ID] = cac.[AssetClass_ID]
	OUTER APPLY
		(
			SELECT DISTINCT
				art.[AssetRegisterItem_ID],
				LAST_VALUE(art.[PurchaseAmount])				OVER (PARTITION BY art.[AssetRegisterItem_ID] ORDER BY art.[ID] ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING) AS 'PurchaseAmount',
				LAST_VALUE(art.[ResidualValue])					OVER (PARTITION BY art.[AssetRegisterItem_ID] ORDER BY art.[ID] ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING) AS 'ResidualValue',
				LAST_VALUE(art.[CurrentValue])					OVER (PARTITION BY art.[AssetRegisterItem_ID] ORDER BY art.[ID] ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING) AS 'CurrentValue',
				LAST_VALUE(art.[UsefulLife])					OVER (PARTITION BY art.[AssetRegisterItem_ID] ORDER BY art.[ID] ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING) AS 'UsefulLife',
				LAST_VALUE(art.[RemaingUsefulLife])				OVER (PARTITION BY art.[AssetRegisterItem_ID] ORDER BY art.[ID] ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING) AS 'RemaingUsefulLife',
				LAST_VALUE(art.[AccumulatedDepreciation])		OVER (PARTITION BY art.[AssetRegisterItem_ID] ORDER BY art.[ID] ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING) AS 'AccumulatedDepreciation',
				LAST_VALUE(art.[AccumulatedImpairment])			OVER (PARTITION BY art.[AssetRegisterItem_ID] ORDER BY art.[ID] ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING) AS 'AccumulatedImpairment',
				LAST_VALUE(art.[AccumulatedImpairmentReversal]) OVER (PARTITION BY art.[AssetRegisterItem_ID] ORDER BY art.[ID] ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING) AS 'AccumulatedImpairmentReversal',
				LAST_VALUE(art.[ImpairmentSurplus])				OVER (PARTITION BY art.[AssetRegisterItem_ID] ORDER BY art.[ID] ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING) AS 'ImpairmentSurplus',
				LAST_VALUE(art.[AccumulatedFairValue])			OVER (PARTITION BY art.[AssetRegisterItem_ID] ORDER BY art.[ID] ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING) AS 'AccumulatedFairValue'
			FROM
				Asset_Register_Transactions art
			WHERE
				art.[AssetRegisterItem_ID] = tat.[AssetRegisterItemId]
		) trans
) sourceTable ([AssetRegisterItem_ID], [TransactionTypeID], [TransactionDate], [PurchaseAmount], [ResidualValue], [CurrentValue], [UsefulLife], [RemaingUsefulLife], [DepreciationValue], [ImpairmentValue],
				[ImpairmentReversalValue], [RevaluationValue], [FairValue], [DisposalValue], [DisposalLossValue], [DisposalTotalValue], [AccumulatedDepreciation], [AccumulatedImpairment], [AccumulatedImpairmentReversal],
				[ImpairmentSurplus], [AccumulatedFairValue], [AccumulatedRevaluation], [FinancialPeriod], [FinancialYear], [DocumentType_ID], [GLGUID_ID], [TransactionSource_ID], [DateModified], [Modifier], [MovementInRevaluationReserve], [RevaluationReserveRevaluation], [DepreciationAdjustment])
ON
(
	targetTable.[AssetRegisterItem_ID] = sourceTable.[AssetRegisterItem_ID]
AND targetTable.[TransactionSource_ID] = sourceTable.[TransactionSource_ID]
AND targetTable.[TransactionDate] = sourceTable.[TransactionDate]
)
WHEN MATCHED THEN
	UPDATE SET
		targetTable.[AssetRegisterItem_ID] = sourceTable.[AssetRegisterItem_ID],
		targetTable.[TransactionSource_ID] = sourceTable.[TransactionSource_ID],
		targetTable.[TransactionDate] = sourceTable.[TransactionDate]
WHEN NOT MATCHED BY TARGET THEN
	INSERT ([AssetRegisterItem_ID], [TransactionTypeID], [TransactionDate], [PurchaseAmount], [ResidualValue], [CurrentValue], [UsefulLife], [RemaingUsefulLife], [DepreciationValue], [ImpairmentValue],
			[ImpairmentReversalValue], [RevaluationValue], [FairValue], [DisposalValue], [DisposalLossValue], [DisposalTotalValue], [AccumulatedDepreciation], [AccumulatedImpairment], [AccumulatedImpairmentReversal],
			[ImpairmentSurplus], [AccumulatedFairValue], [AccumulatedRevaluation], [FinancialPeriod], [FinancialYear], [DocumentType_ID], [GLGUID_ID], [TransactionSource_ID], [DateModified], [Modifier], [MovementInRevaluationReserve], [RevaluationReserveRevaluation], [DepreciationAdjustment])
	VALUES (sourceTable.[AssetRegisterItem_ID], sourceTable.[TransactionTypeID], sourceTable.[TransactionDate], sourceTable.[PurchaseAmount], sourceTable.[ResidualValue], sourceTable.[CurrentValue], sourceTable.[UsefulLife], sourceTable.[RemaingUsefulLife], sourceTable.[DepreciationValue], sourceTable.[ImpairmentValue],
			sourceTable.[ImpairmentReversalValue], sourceTable.[RevaluationValue], sourceTable.[FairValue], sourceTable.[DisposalValue], sourceTable.[DisposalLossValue], sourceTable.[DisposalTotalValue], sourceTable.[AccumulatedDepreciation], sourceTable.[AccumulatedImpairment], sourceTable.[AccumulatedImpairmentReversal],
			sourceTable.[ImpairmentSurplus], sourceTable.[AccumulatedFairValue], sourceTable.[AccumulatedRevaluation], sourceTable.[FinancialPeriod], sourceTable.[FinancialYear], sourceTable.[DocumentType_ID], sourceTable.[GLGUID_ID], sourceTable.[TransactionSource_ID], sourceTable.[DateModified], sourceTable.[Modifier], sourceTable.[MovementInRevaluationReserve], sourceTable.[RevaluationReserveRevaluation], sourceTable.[DepreciationAdjustment]);

-- Update Asset_Register_Items with changes
UPDATE
	ari
SET
	ari.[CurrentAmount] = CASE WHEN tat.[CurrentValue] < 0 THEN 0 ELSE tat.[CurrentValue] END,
	ari.[Modifier_ID] = @UserId,
	ari.[RemainingUsefulLife] = @UsefullLife
FROM
	#TempAssetTransactions tat
INNER JOIN
	Asset_Register_Items ari ON tat.[AssetRegisterItemId] = ari.[AssetRegisterItem_ID]
OUTER APPLY
	(
		SELECT DISTINCT
			art.[AssetRegisterItem_ID],
			LAST_VALUE(art.[DepreciationValue]) OVER (PARTITION BY art.[AssetRegisterItem_ID] ORDER BY art.[ID] ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING) AS 'DepreciationValue'
		FROM
			Asset_Register_Transactions art
		WHERE
			art.[AssetRegisterItem_ID] = tat.[AssetRegisterItemId]
	) trans;

-- Mark Revaluation as Approved
UPDATE 
	Asset_Revaluations
SET
	[PostDateTime] = CURRENT_TIMESTAMP,
	[Approved] = 1,
	[ApprovedBy] = @UserId,
	[ApprovedDate] = CURRENT_TIMESTAMP
WHERE
	[AssetRegisterID] = @AssetRegisterItemId
AND ISNULL([Approved], 0) = 0;

EXEC Asset_Transaction_Summary_Populate_single @AssetRegisterItemId, @AssetTransactionYear, 1;

END;