ALTER PROCEDURE [dbo].[AssetReport_GetAppendix]
@FinYear nvarchar(9)

 As Begin

	declare @IsSummary char(5) = 'true'

	select * 
	into #temp1 
	from  
	Asset_Register_Items_Function (null, null, null, null, null, null, null, null, null, null, null, null, null, null) as ari

	CREATE TABLE #tempsummary (
	AssetRegisterItemID int,
	FinancialYear nvarchar(10),
	FinancialPeriod int,
	RemainingUsefulLife decimal(18,8),
	OpeningBalance decimal(18,2),
	CurrentValue decimal(18,2),
	AccumulatedDepreciationOpeningBalance decimal(18,2),
	DepreciationValue decimal(18,2),
	AccumulatedDepreciationClosingBalance decimal(18,2),
	AccumulatedImpairmentOpeningBalance decimal(18,2),
	ImpairmentValue decimal(18,2),
	AccumulatedImpairmentClosingBalance decimal(18,2),
	AccumulatedFairValueOpeningBalance decimal(18,2),
	FairValue decimal(18,2),
	AccumulatedFairValueClosingBalance decimal(18,2),
	AccumulatedRevaluationOpeningBalance decimal(18,2),
	RevaluationValue decimal(18,2),
	AccumulatedRevaluationClosingBalance decimal(18,2),
	AccumulatedImpairmentReversalOpeningBalance decimal(18,2),
	ImpairmentReversalValue decimal(18,2),
	AccumulatedImpairmentReversalClosingBalance decimal(18,2),
	AdditionOpeningBalance decimal(18,2),
	AdditionVaue decimal(18,2),
	AdditionClosingBalance decimal(18,2),
	MovementInRevaluationReserve decimal(18,2),
	DepreciationOffset decimal(18,2),
	RevaluationReserveImpairment decimal(18,2),
	RevaluationReserveImpairmentReversal decimal(18,2),
	RevaluationReserveRevaluation decimal(18,2),
	RevaluationReserveDisposal decimal(18,2),
	DepreciationAdjustment decimal(18,2)
	)
	IF @IsSummary = 'true'
	BEGIN
	INSERT INTO #tempsummary
	SELECT
	AssetRegisterItemID,
	FinancialYear,
	0,
	RemainingUsefulLife,
	OpeningBalance - SUM(AdditionVaue),
	CurrentValue,
	AccumulatedDepreciationOpeningBalance,
	SUM(DepreciationValue),
	AccumulatedDepreciationClosingBalance,
	AccumulatedImpairmentOpeningBalance,
	SUM(ImpairmentValue),
	AccumulatedImpairmentClosingBalance,
	AccumulatedFairValueOpeningBalance,
	SUM(FairValue),
	AccumulatedFairValueClosingBalance,
	AccumulatedRevaluationOpeningBalance,
	SUM(RevaluationValue),
	AccumulatedRevaluationClosingBalance,
	AccumulatedImpairmentReversalOpeningBalance,
	SUM(ImpairmentReversalValue),
	AccumulatedImpairmentReversalClosingBalance,
	AdditionOpeningBalance,
	SUM(AdditionVaue),
	AdditionClosingBalance,
	MovementInRevaluationReserve,
	DepreciationOffset,
	SUM(RevaluationReserveImpairment),
	SUM(RevaluationReserveImpairmentReversal),
	SUM(RevaluationReserveRevaluation),
	SUM(RevaluationReserveDisposal),
	SUM(DepreciationAdjustment)
	FROM
	(
	SELECT DISTINCT
	LAST_VALUE(RemainingUsefulLife) OVER (Partition by AssetRegisterItemID  ORDER BY ID ASC ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING)  RemainingUsefulLife,
	LAST_VALUE(CurrentValue) OVER (Partition by AssetRegisterItemID  ORDER BY ID DESC ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING)  OpeningBalance,
	LAST_VALUE(CurrentValue) OVER (Partition by AssetRegisterItemID  ORDER BY ID ASC ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING)  CurrentValue,
	LAST_VALUE(AccumulatedDepreciationOpeningBalance) OVER (Partition by AssetRegisterItemID  ORDER BY ID DESC ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING)  AccumulatedDepreciationOpeningBalance,
	DepreciationValue,
	LAST_VALUE(AccumulatedDepreciationClosingBalance) OVER (Partition by AssetRegisterItemID  ORDER BY ID ASC ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING)  AccumulatedDepreciationClosingBalance,
	LAST_VALUE(AccumulatedImpairmentOpeningBalance) OVER (Partition by AssetRegisterItemID  ORDER BY ID DESC ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING)  AccumulatedImpairmentOpeningBalance,
	ImpairmentValue,
	LAST_VALUE(AccumulatedImpairmentClosingBalance) OVER (Partition by AssetRegisterItemID  ORDER BY ID ASC ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING)  AccumulatedImpairmentClosingBalance,
	LAST_VALUE(AccumulatedFairValueOpeningBalance) OVER (Partition by AssetRegisterItemID  ORDER BY ID DESC ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING)  AccumulatedFairValueOpeningBalance,
	FairValue,
	LAST_VALUE(AccumulatedFairValueClosingBalance) OVER (Partition by AssetRegisterItemID  ORDER BY ID ASC ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING)  AccumulatedFairValueClosingBalance,
	LAST_VALUE(AccumulatedRevaluationOpeningBalance) OVER (Partition by AssetRegisterItemID  ORDER BY ID DESC ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING)  AccumulatedRevaluationOpeningBalance,
	RevaluationValue,
	LAST_VALUE(AccumulatedRevaluationClosingBalance) OVER (Partition by AssetRegisterItemID  ORDER BY ID ASC ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING)  AccumulatedRevaluationClosingBalance,
	LAST_VALUE(AccumulatedImpairmentReversalOpeningBalance) OVER (Partition by AssetRegisterItemID  ORDER BY ID DESC ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING)  AccumulatedImpairmentReversalOpeningBalance,
	ImpairmentReversalValue,
	LAST_VALUE(AccumulatedImpairmentReversalClosingBalance) OVER (Partition by AssetRegisterItemID  ORDER BY ID ASC ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING)  AccumulatedImpairmentReversalClosingBalance,
	LAST_VALUE(AdditionOpeningBalance) OVER (Partition by AssetRegisterItemID  ORDER BY ID DESC ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING)  AdditionOpeningBalance,
	AdditionVaue,
	LAST_VALUE(AdditionClosingBalance) OVER (Partition by AssetRegisterItemID  ORDER BY ID ASC ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING)  AdditionClosingBalance,
	LAST_VALUE(MovementInRevaluationReserve) OVER (Partition by AssetRegisterItemID  ORDER BY ID ASC ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING)  MovementInRevaluationReserve,
	LAST_VALUE(DepreciationOffset) OVER (Partition by AssetRegisterItemID  ORDER BY ID ASC ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING)  DepreciationOffset,
	AssetRegisterItemID, FinancialYear, FinancialPeriod, RevaluationReserveImpairment, RevaluationReserveImpairmentReversal, RevaluationReserveRevaluation, RevaluationReserveDisposal, DepreciationAdjustment
	FROM Asset_Transaction_Summary
	WHERE 
	FinancialYear = @FinYear


	) ts
	GROUP BY
	AssetRegisterItemID, 
	FinancialYear, 
	CurrentValue, OpeningBalance, AccumulatedDepreciationOpeningBalance, AccumulatedDepreciationClosingBalance, AccumulatedImpairmentOpeningBalance,
	AccumulatedImpairmentClosingBalance, AccumulatedFairValueOpeningBalance, AccumulatedFairValueClosingBalance, AccumulatedRevaluationOpeningBalance,
	AccumulatedRevaluationClosingBalance, AccumulatedImpairmentReversalOpeningBalance, AccumulatedImpairmentReversalClosingBalance, 
	AdditionOpeningBalance, AdditionClosingBalance, RemainingUsefulLife, MovementInRevaluationReserve, DepreciationOffset
	END

	select
	 ats.FinancialYear
	,#temp1.AssetTypeDesc
	,#temp1.AssetCategoryDesc
	,ISNULL(i.CurrentReplacementCostCRC, 0) AS Cost
	,ISNULL(ats.RevaluationValue, 0) AS RevaluationAdjustment
	,ISNULL(ats.AdditionVaue, 0) AS AdditionVaue
	,ISNULL(ats.FairValue, 0) AS FairValue
	,case when ISNULL(adisp.DisposalValue, 0) <> 0  then ISNULL(#temp1.PurchaseAmount, 0) + ISNULL(ats.RevaluationValue, 0) else 0 end AS DisposalValue
	,ISNULL(ats.AccumulatedDepreciationOpeningBalance, 0) AS AccumulatedDepreciationOpeningBalance
	,ISNULL(ats.DepreciationValue,0) AS DepreciationValue
	,ISNULL(ats.DepreciationAdjustment, 0) AS DepreciationAdjustment
	,case when ISNULL(adisp.DisposalValue, 0) <> 0  then ISNULL(ats.AccumulatedDepreciationClosingBalance, 0) else 0 end AS DisposalDepreciation
	,ISNULL(ats.AccumulatedDepreciationClosingBalance, 0) AS AccumulatedDepreciationClosingBalance
	,ISNULL(ats.AccumulatedImpairmentOpeningBalance, 0) AS AccumulatedImpairmentOpeningBalance
	,ISNULL(ats.ImpairmentValue, 0) AS ImpairmentValue
	,ISNULL(ats.ImpairmentReversalValue, 0) AS ImpairmentReversalValue
	,case when ISNULL(adisp.DisposalValue, 0) <> 0  then ISNULL(ats.AccumulatedImpairmentClosingBalance, 0) - ISNULL(ats.AccumulatedImpairmentReversalClosingBalance, 0) else 0 end AS DisposalImpairment
	,ISNULL(ats.AccumulatedImpairmentClosingBalance, 0) AS AccumulatedImpairmentClosingBalance
	,case when ISNULL(adisp.DisposalValue, 0) <> 0  then 0 else ISNULL(ats.CurrentValue, 0) END AS CurrentValue
	
	
	from #temp1
	inner join Asset_Register_Items i (NOLOCK) on #temp1.AssetRegisterItem_ID = i.AssetRegisterItem_ID
	left outer join Const_AssetClass_sys c (NOLOCK) on i.AssetClass_ID = c.AssetClass_ID
	left outer join Const_AssetDepreciationMethod_Sys dm (NOLOCK) on c.AssetDepreciationMethod_ID = dm.AssetDepreciationMethod_ID
	left outer join Plan_ProjectItem ppi (NOLOCK) on #temp1.ProjectItem_ID = ppi.PlanProjectItem_ID
	left outer join Plan_Project pp (NOLOCK) on ppi.ProjectID= pp.Project_ID
	left outer join Const_Department dep (NOLOCK) on i.MunicipalDepartment_ID = dep.Department_ID
	left outer join Const_Department depMuni (NOLOCK) on i.Department = depMuni.Department_ID
	left outer join AssetConfig_MeasurementType meas (nolock) on i.MeasurementType_ID = meas.AssetConfig_MeasurementType_ID  
	
	left outer join Const_Asset_ComponentType act (nolock) on i.Asset_Component_Type_ID = act.Asset_ComponentType_ID 
	left outer join AssetConfig_FinancialStatus afs (nolock) on i.Financial_Status_ID = afs.FinStatusID
	left outer join Const_UnitOfIssue cui (nolock) on i.UoM = cui.UnitOfIssue_ID
	left outer join Payroll_Employee pre (nolock) on i.Custodian_ID = pre.Employee_ID
	left outer join Payroll_Employee preVeri (nolock) on i.VerificationDoneBy = preVeri.Employee_ID
	left outer join Const_AssetOwnership aco (nolock) on  case when ISNUMERIC(i.AssetOwnershipName) = 1 then i.AssetOwnershipName end
	  = aco.AssetOwnership_ID 
	left outer join Const_Town atw (nolock) on i.Town_ID = atw.Town_ID
	left outer join Const_Division acd (nolock) on i.DivisionID = acd.Division_ID
	left outer join Const_Building acb (nolock) on i.Building_ID = acb.Building_ID
	left outer join Const_PropertyTypeOfUse acZone  (nolock) on i.Zoning_ID = acZone.PropertyTypeOfUse_ID
	left outer join Const_Ward acWard (nolock) on i.Ward_ID = acWard.Ward_Id
	left outer join Const_Suburb sub (nolock) on case when i.SuburbID is not null then i.SuburbID else i.Suburb end = sub.Suburb_ID
	left outer join Const_Street street (nolock) on i.Street_ID = street.Street_ID    
	left outer join Const_Floor flr (nolock) on case when i.FloorID is not null then i.FloorID else i.Floor_Area end = flr.Floor_ID
	OUTER APPLY ( SELECT TOP 1 * FROM Const_Room rm (nolock) WHERE i.Room_ID = rm.Room_ID OR i.RoomNumber = rm.RoomDesc ) rm
	left outer join Const_Asset_CIDMS_SubComponent_Type SCT on i.CIDMSSubComponentTypeID = SCT.AssetCIDMSSubComponentTypeID
	left outer join Const_Asset_CIDMS_Component_Type CT on sct.AssetCIDMSComponentTypeID = ct.AssetCIDMSComponentTypeID
	left outer join Const_Asset_CIDMS_Asset_Type cat on CT.AssetCIDMSAssetTypeID = cat.AssetCIDMSAssetTypeID
	left outer join Const_Asset_CIDMS_Group_Type gt on cat.AssetCIDMSGroupTypeID = gt.AssetCIDMSGroupTypeID
	left outer join Const_Asset_CIDMS_Class cla on gt.AssetCIDMSClassID = cla.AssetCIDMSClassID
	left outer join Const_Asset_CIDMS_Accounting_Sub_Group asg on cla.AssetAccountSubGroupID = asg.AssetAccountSubGroupID
	left outer join Const_Asset_CIDMS_Accounting_Group acg on asg.AssetAccountGroupID = acg.AssetAccountGroupID
	left outer join Const_Asset_Health_Grade hg on i.InfrastructureHealthGrade = hg.AssetHealthGradeID
	left outer join Const_Asset_CIDMS_Municipal_Services cbms on i.BasicMunicipalityService = cbms.AssetMunicipalServicesID
	left outer join Const_Asset_Criticality_Grade crit on i.CriticalityGrade = crit.AssetCriticalityGradeID
	left outer join Const_Asset_Performance_Grade pergrd on i.PerformanceGrade = pergrd.AssetPerformanceGradeID
    left outer join Const_Asset_Utilisation_Grade util on i.UtilisationGrade = util.AssetUtilisationGradeID
	left outer join Const_AssetType_Sys AsTp on i.assettype_id = Astp.AssetType_ID
	left outer join Asset_Insurance Ins on i.AssetRegisterItem_ID = Ins.Asset_ItemID
	left join Asset_Register_Transactions ART ON ART.AssetRegisterItem_ID = i.AssetRegisterItem_ID and ART.TransactionTypeID = 24 and ART.ID = (select MAX(ART2.ID) from Asset_Register_Transactions ART2 where ART2.AssetRegisterItem_ID = i.AssetRegisterItem_ID and ART2.TransactionTypeID = 24)
	left join Asset_Register_Transactions ARTT ON ARTT.AssetRegisterItem_ID = i.AssetRegisterItem_ID and ARTT.TransactionTypeID = 22 and ARTT.ID = (select MAX(ART3.ID) from Asset_Register_Transactions ART3 where ART3.AssetRegisterItem_ID = i.AssetRegisterItem_ID and ART3.TransactionTypeID = 22)
	LEFT JOIN Asset_Disposal d ON i.AssetRegisterItem_ID = d.assetItemID  
			
	left outer join #tempsummary ats ON #temp1.AssetRegisterItem_ID = ats.AssetRegisterItemID
		
	left outer join
	(select
	DisposalAssetID,
	DisposalYear,
	DisposalPeriod,
	SUM(DisposalValue) as DisposalValue,
	SUM(DisposalLossValue) as DisposalLossValue,
	SUM(DisposalTotalValue) as DisposalTotalValue,
	SUM(DisposalDepreciation) as DisposalDepreciation
	from
	(select distinct    
    LAST_VALUE(DisposalValue) OVER (Partition by AssetRegisterItem_ID  ORDER BY ID ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING)  DisposalValue  
  , LAST_VALUE(DisposalLossValue) OVER (Partition by AssetRegisterItem_ID  ORDER BY ID ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING)  DisposalLossValue  
  , LAST_VALUE(DisposalTotalValue) OVER (Partition by AssetRegisterItem_ID  ORDER BY ID ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING)  DisposalTotalValue
  , LAST_VALUE(DepreciationValue) OVER (Partition by AssetRegisterItem_ID  ORDER BY ID ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING)  DisposalDepreciation
  , AssetRegisterItem_ID DisposalAssetID, FinancialYear DisposalYear,FinancialPeriod DisposalPeriod  
  from Asset_Register_Transactions art
  where TransactionTypeID = 26 and art.FinancialYear = @FinYear
	) ds
	GROUP BY
	DisposalAssetID, 
	DisposalYear, 
	DisposalPeriod)
  adisp ON #temp1.AssetRegisterItem_ID = adisp.DisposalAssetID and #temp1.FinancialYear = adisp.DisposalYear and (ats.FinancialPeriod = adisp.DisposalPeriod or ats.FinancialPeriod = 0)


  left outer join
  (
  select top(1)
  AssetRegisterID, RevalautionAmt, RevalutionDate, 
  case when MONTH(RevalutionDate) - 6 <= 0 then MONTH(RevalutionDate) + 6 ELSE MONTH(RevalutionDate) - 6 END AS 'RevaluationPeriod',
  case when MONTH(RevalutionDate) - 6 <= 0 then CONCAT((YEAR(RevalutionDate) - 1),'/',YEAR(RevalutionDate))
  ELSE CONCAT(YEAR(RevalutionDate),'/', YEAR(RevalutionDate) + 1) END AS 'RevaluationYear'
  from Asset_Revaluations ar order by Asset_RevaluationsID desc
	) arev on #temp1.AssetRegisterItem_ID = arev.AssetRegisterID and arev.RevaluationYear = @FinYear and (ats.FinancialPeriod >= arev.RevaluationPeriod or ats.FinancialPeriod = 0)

  where i.DateOfTakeOnBalancesImported is not null or i.ManagedFlag = 1


	drop table #temp1, #tempsummary

END