ALTER proc [dbo].[Asset_Register_Transactions_Insert]
	@AssetRegisterItem_ID int,
	@TransactionTypeID int,
	@GLTransactionID int,
	@DocumentType_ID int,

	@TransactionDate datetime = NULL,
	@PurchaseAmount decimal (18, 8) = NULL,
	--@ReplacementValue decimal (18, 8) = NULL,
	@ResidualValue decimal (18, 8) = NULL,
	@CurrentValue decimal (18, 8) = NULL,
	@UsefulLife int = NULL,
	@RemaingUsefulLife decimal(18,8) = NULL,
	@TransactionValue decimal (18, 8) = NULL,

	--@DepreciationDaysFromLastRun int = NULL,
	--@AccumulatedDepreciation decimal (18, 8) = NULL,
	--@AccumulatedImpairment decimal (18, 8) = NULL,

	@FinancialPeriod int = null,
	@FinancialYear varchar(10) = null,
	
	@GLGUID_ID varchar(50) = null,

	@Modifier int = NULL



as
begin



	if isnull(@TransactionValue,0)!=0
	begin

		declare 
		@DepreciationType int,
		@ImpairmentType int,
		@FairValueType int,
		@RevaluationType int,
		@PriorYearErrorsType int,
		@DisposalType int,
		@GeneralType int,
		@IsReversal int,
		@RevaluationReserveAmount decimal(18,8)
		--,@StatusID int = null
	

		--@FinancialDetailAdjustmentType int,
		-- select * from Const_ReferenceData_sys d inner join Const_ReferenceType_sys t on  t.ReferenceType_ID =d.ReferenceTypeID where t.Name = 'AssetTransactionTypes'

		select @DepreciationType = ReferenceDAta_ID from Const_ReferenceData_sys d inner join Const_ReferenceType_sys t on  t.ReferenceType_ID =d.ReferenceTypeID		where t.Name = 'AssetTransactionTypes' and d.Description = 'Depreciation'
		select @ImpairmentType = ReferenceDAta_ID from Const_ReferenceData_sys d inner join Const_ReferenceType_sys t on  t.ReferenceType_ID =d.ReferenceTypeID			where t.Name = 'AssetTransactionTypes' and d.Description = 'Impairment' 
		select @FairValueType = ReferenceDAta_ID from Const_ReferenceData_sys d inner join Const_ReferenceType_sys t on  t.ReferenceType_ID =d.ReferenceTypeID			where t.Name = 'AssetTransactionTypes' and d.Description = 'Fair Value Adjustment'
		select @RevaluationType = ReferenceDAta_ID from Const_ReferenceData_sys d inner join Const_ReferenceType_sys t on  t.ReferenceType_ID =d.ReferenceTypeID		where t.Name = 'AssetTransactionTypes' and d.Description = 'Revaluation'
		select @PriorYearErrorsType = ReferenceDAta_ID from Const_ReferenceData_sys d inner join Const_ReferenceType_sys t on  t.ReferenceType_ID =d.ReferenceTypeID	where t.Name = 'AssetTransactionTypes' and d.Description = 'Prior Year Error Adjustment'
		select @DisposalType = ReferenceDAta_ID from Const_ReferenceData_sys d inner join Const_ReferenceType_sys t on  t.ReferenceType_ID =d.ReferenceTypeID			where t.Name = 'AssetTransactionTypes' and d.Description = 'Disposal'
		--select @FinancialDetailAdjustmentType = ReferenceDAta_ID from Const_ReferenceData_sys d inner join Const_ReferenceType_sys t on  t.ReferenceType_ID =d.ReferenceTypeID	where t.Name = 'AssetTransactionTypes' and d.Description = 'Financial Detail Adjustment'
		 select @GeneralType = ReferenceDAta_ID from Const_ReferenceData_sys d inner join Const_ReferenceType_sys t on  t.ReferenceType_ID =d.ReferenceTypeID		where t.Name = 'AssetTransactionTypes' and d.Description = 'General Update'
		 select @IsReversal = CASE WHEN (select CAST(ISNULL(aip.IsReversal,0) AS INT) from Asset_ImpairmentPostings aip inner join Asset_Impairment ai on aip.Impairment_ID = ai.Impairment_ID and ai.Asset_ItemID = @AssetRegisterItem_ID and isnull(aip.Approved,0)=0) = 0 THEN 1 ELSE -1 END
		 select @RevaluationReserveAmount = (select ISNULL(AmountFromRevaluationReserve, 0) from Asset_ImpairmentPostings aip inner join Asset_Impairment ai on aip.Impairment_ID = ai.Impairment_ID and ai.Asset_ItemID = @AssetRegisterItem_ID and isnull(aip.Approved,0)=0)

		-- if @TransactionTypeID = @GeneralType
		--	set @StatusID = 0
		--else
		--	set @StatusID =  null

		declare @DisposalValue decimal(18,8) = 0 
		declare @DisposalLossValue decimal (18,8) = 0
		declare @DisposalTotalValue decimal (18,8) = 0

		if (@TransactionTypeID = @DisposalType)
		begin
			select @DisposalValue=DisposalProceedsAmount, @DisposalLossValue=AmountProfitLoss from Asset_Disposal_Approval where AssetItemID = @AssetRegisterItem_ID
			--if  @DisposalLossValue<0
			--	set @DisposalTotalValue = @DisposalValue - @DisposalLossValue
			--else
			--	set @DisposalTotalValue =  @DisposalLossValue - @DisposalValue
			--set @DisposalLossValue = @TransactionValue
			set @DisposalTotalValue = @DisposalValue
			if (@DisposalValue> @TransactionValue)
				set @DisposalLossValue = 0-@DisposalLossValue
		end

		if @CurrentValue is null
		begin
			--set @CurrentValue = isnull((Select isnull(isnull(a.MarketValue, a.CurrentAmount), a.PurchaseAmount) from Asset_Register_Items a where a.AssetRegisterItem_ID = @AssetRegisterItem_ID), 0)
			select @CurrentValue = isnull((SELECT TOP 1 CurrentValue FROM Asset_Register_Transactions where AssetRegisterItem_ID = @AssetRegisterItem_ID order by ID desc), (
										Select isnull(isnull(a.CurrentAmount, case a.MarketValue when 0 then null else a.MarketValue end ), a.PurchaseAmount) from Asset_Register_Items a where a.AssetRegisterItem_ID  = @AssetRegisterItem_ID))

			if @TransactionTypeID  = @FairValueType or @TransactionTypeID = @RevaluationType
			begin
				set @CurrentValue = @CurrentValue  + isnull(@TransactionValue,0)
			end
			else
			begin
				if (@TransactionTypeID = @DisposalType)
				begin
					set @CurrentValue =  @CurrentValue
				end
				else
				begin
					set @CurrentValue = @CurrentValue  - isnull(@TransactionValue,0)
				end
			end
		end
	
	    if @CurrentValue < 0 set @CurrentValue = 0 
		--select * from Const_ReferenceData_sys

		INSERT INTO dbo.Asset_Register_Transactions
			(AssetRegisterItem_ID
			,TransactionTypeID
			,TransactionDate
			,PurchaseAmount
		--	,ReplacementValue
			,ResidualValue
			,CurrentValue
			,UsefulLife
			,RemaingUsefulLife

			,DepreciationValue
			,ImpairmentValue
			,ImpairmentReversalValue
			,RevaluationValue
			,FairValue

			,DisposalValue
			,DisposalLossValue
			,DisposalTotalValue

			--,DepreciationDaysFromLastRun
			,AccumulatedDepreciation
			,AccumulatedImpairment
			,AccumulatedImpairmentReversal
			,ImpairmentSurplus
			,AccumulatedFairValue
			,AccumulatedRevaluation
			--,AccumulatedPriorYearErrors
			--,AccumulatedFinancialDetailAdjustment
			,MovementInRevaluationReserve
			,RevaluationReserveImpairment
			,RevaluationReserveImpairmentReversal

			,FinancialPeriod
			,FinancialYear

			,DocumentType_ID
			,GLGUID_ID
			, TransactionSource_ID
			,DateModified
			,Modifier
			)
		select
			@AssetRegisterItem_ID
			,@TransactionTypeID
			,isnull(@TransactionDate, getdate()) as TransactionDate
			,isnull(@PurchaseAmount, PurchaseAmount)
			--,isnull(@ReplacementValue, isnull(@PurchaseAmount, PurchaseAmount))
			,isnull(@ResidualValue, ResidualValue)
			,isnull(@CurrentValue, CurrentValue)
			,isnull(@UsefulLife, UsefulLife)
			,isnull(@RemaingUsefulLife, RemainingUsefulLife)

			,case @TransactionTypeID when @DepreciationType then @TransactionValue else null end	as DepreciationValue
			,case @TransactionTypeID when @ImpairmentType then (case when @TransactionValue < 0 then null else ABS(@TransactionValue) end) else null end as ImpairmentValue
			,case @TransactionTypeID when @ImpairmentType then (case when @TransactionValue > 0 then null else ABS(@TransactionValue) end) else null end as ImpairmentReversalValue
			,case @TransactionTypeID when @RevaluationType then @TransactionValue else null end		as RevaluationValue
			,case @TransactionTypeID when @FairValueType then @TransactionValue else null end		as FairValue

			,case @TransactionTypeID when @DisposalType then @TransactionValue else null end		as DisposalValue
			,case @TransactionTypeID when @DisposalType then @DisposalLossValue else null end		as DisposalLossValue
			,case @TransactionTypeID when @DisposalType then @DisposalTotalValue else null end		as DisposalTotalValue

			--,isnull(@DepreciationDaysFromLastRun, DepreciationDaysFromLastRun)
			,case @TransactionTypeID when @DepreciationType then isnull(AccumulatedDepreciation, 0) + @TransactionValue else AccumulatedDepreciation end
			,case @TransactionTypeID when @ImpairmentType then isnull(AccumulatedImpairment, 0) +  (case when @TransactionValue < 0 then 0 else ABS(@TransactionValue) end) else	AccumulatedImpairment end
			,case @TransactionTypeID when @ImpairmentType then isnull(AccumulatedImpairmentReversal, 0) +  (case when @TransactionValue > 0 then 0 else ABS(@TransactionValue) end) else	AccumulatedImpairmentReversal end
			,case @TransactionTypeID when @ImpairmentType then 
			ISNULL((select (ImpairmentLostAmt * @IsReversal) from Asset_ImpairmentPostings aip inner join Asset_Impairment ai on aip.Impairment_ID = ai.Impairment_ID and ai.Asset_ItemID = @AssetRegisterItem_ID and isnull(aip.Approved,0)=0),0)
			else null end
			,case @TransactionTypeID when @FairValueType then isnull(AccumulatedFairValue, 0) + @TransactionValue else		AccumulatedFairValue end
			,case @TransactionTypeID when @RevaluationType then isnull(AccumulatedRevaluation, 0) + @TransactionValue 
			 when @ImpairmentType then AccumulatedRevaluation + ISNULL(0-(@RevaluationReserveAmount * @IsReversal),0) else AccumulatedRevaluation end
			,NULL
			,case @TransactionTypeID when @ImpairmentType then (case when @IsReversal = 1 then @RevaluationReserveAmount else 0 end) end
			,case @TransactionTypeID when @ImpairmentType then (case when @IsReversal = -1 then @RevaluationReserveAmount else 0 end) end

			,isnull(@FinancialPeriod, isnull(FinancialPeriod,0))
			,isnull(@FinancialYear, isnull(FinancialYear,YEAR(GETDATE())))

			, isnull(@DocumentType_ID, 0)
			, @GLGUID_ID

			, @GLTransactionID
			, GETDATE()
			,isnull(@Modifier, 0)

			--,@ScoaItem_ID
			--,@ScoaFunction_ID
			--,@ScoaProject_ID
			--,@ScoaFunds_ID
			--,@ScoaRegion_ID
			--,@ScoaCost_ID
			--,@ScoaMuniClass_ID
		
		--select *
		--from Asset_Register_Items_Function(@AssetRegisterItem_ID, null, null, null, null, null, null, null, null, @AllItems,  null, null, null, null) v
		from
			(

		select --distinct
			ari.AssetRegisterItem_ID,        
			ISNULL(ari.ParentAssetRegisterItem_ID, 0) As 'ParentAssetRegisterItem_ID',      
		
			ISNULL(ari.Description, '') As 'AssetDescription',
			ari.Barcode,

			cac.AssetClass_id as AssetClassId,
			sc.Asset_SubCategory_ID,
			sc.AssetCategoryID,

			ISNULL(cac.AssetClassDesc, '') As 'AssetClassDesc',
			ISNULL(acc.AssetCategoryDesc,'') as 'AssetCategoryDesc',
			ISNULL(sc.Asset_SubCategoryDescription, '') As 'Asset_SubCategoryDescription',

			ISNULL(trans.PurchaseAmount,
					CASE isnull(ari.PurchaseAmount,0) WHEN 0 THEN isnull(ari.CurrentAmount, 0) ELSE  ari.PurchaseAmount END
				) As 'PurchaseAmount', 

			ISNULL(ari.Replacement_Value, (CASE isnull(ari.PurchaseAmount,0) WHEN 0 THEN isnull(ari.CurrentAmount, 0) ELSE ari.PurchaseAmount END)) As 'ReplacemantValue',
		
			ISNULL(trans.ResidualValue, ISNULL(ari.ResidualValue, 0)) As 'ResidualValue',

			ISNULL(trans.CurrentValue, isnull(ari.CurrentAmount, 0 ) ) as 'CurrentValue',

			ISNULL(trans.UsefulLife, 
			case when isnull(ari.UsefulLifeMonthComponent,0) = 0 
				then cac.UsefulLifeInMonths
				else ari.UsefulLifeMonthComponent 
			end
			)
			as 'UsefulLife',          

			--ISNULL(trans.RemaingUsefulLife,
			CASE 
			WHEN isnull(ari.ReadyForUse,ari.DateCaptured) > GETDATE() 
				THEN ISNULL(trans.UsefulLife, case when isnull(ari.UsefulLifeMonthComponent,0) = 0  then cac.UsefulLifeInMonths else ari.UsefulLifeMonthComponent end)
			WHEN (((case when isnull(ari.UsefulLifeMonthComponent,0) = 0 then cac.UsefulLifeInMonths else ari.UsefulLifeMonthComponent end )/12*365 - DATEDIFF(DAY, isnull(ari.ReadyForUse, ari.DateCaptured) , GETDATE()))/365.00*12) <0 
					THEN 0
			ELSE 
				--isnull(ari.UsefulLifeMonthComponent,0) 
				((case when isnull(ari.UsefulLifeMonthComponent,0) = 0 then cac.UsefulLifeInMonths else ari.UsefulLifeMonthComponent end )/12*365 - DATEDIFF(DAY, isnull(ari.ReadyForUse, ari.DateCaptured) , GETDATE()))/365.00*12
			END
			--) 
			As 'RemainingUsefulLife',        


			tt.ReferenceDAta_ID as 'TransactionTypeID',
			tt.Description as 'TransactionTypeDesc',
			isnull(trans.TransactionDate, ari.ReadyForUse) as TransactionDate,

			isnull(trans.AccumulatedDepreciation,  0.00 ) as 'AccumulatedDepreciation',
			ISNULL(trans.AccumulatedImpairment, 0.00) as 'AccumulatedImpairment',
			ISNULL(trans.AccumulatedImpairmentReversal, 0.00) as 'AccumulatedImpairmentReversal',
			ISNULL(trans.ImpairmentSurplus, 0.00) as 'ImpairmentSurplus',
			ISNULL(trans.AccumulatedFairValue, isnull(ari.MarketValue, 0.00)) as 'AccumulatedFairValue',
			ISNULL(trans.AccumulatedRevaluation, isnull(ari.RevaluationValue, 0.00)) as 'AccumulatedRevaluation',
		
			trans.FinancialPeriod,
			trans.FinancialYear

			FROM Asset_Register_Items ari (NOLOCK)

			INNER JOIN Const_AssetClass_sys cac (NOLOCK) ON ari.AssetClass_ID=cac.AssetClass_ID 
														--AND NOT CAC.Asset_SubCategory_ID IS NULL
														--AND cac.Asset_SubCategory_ID = ISNULL(@SubCategory_ID,  cac.Asset_SubCategory_ID)
			LEFT JOIN Const_Asset_SubCategory sc (NOLOCK) ON ISNULL(sc.Asset_SubCategory_ID,0) = ISNULL(cac.Asset_SubCategory_ID,0)
			LEFT JOIN Const_AssetCategory_sys acc (NOLOCK) ON ISNULL(acc.AssetCategoryID,0) = ISNULL(cac.AssetCategoryID ,0)

			left join (select distinct
						LAST_VALUE(TransactionTypeID) OVER (Partition by AssetRegisterItem_ID  ORDER BY ID ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING)  TransactionTypeID

						,LAST_VALUE(PurchaseAmount) OVER (Partition by AssetRegisterItem_ID  ORDER BY ID ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING)  PurchaseAmount
						, LAST_VALUE(ResidualValue) OVER (Partition by AssetRegisterItem_ID  ORDER BY ID ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING) ResidualValue
						, LAST_VALUE(CurrentValue) OVER (Partition by AssetRegisterItem_ID  ORDER BY ID ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING)  CurrentValue
						, LAST_VALUE(UsefulLife) OVER (Partition by AssetRegisterItem_ID  ORDER BY ID ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING)  UsefulLife
						, LAST_VALUE(RemaingUsefulLife) OVER (Partition by AssetRegisterItem_ID  ORDER BY ID ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING)  RemaingUsefulLife
						, LAST_VALUE(TransactionDate) OVER (Partition by AssetRegisterItem_ID  ORDER BY ID ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING)  TransactionDate
						, LAST_VALUE(AccumulatedDepreciation) OVER (Partition by AssetRegisterItem_ID  ORDER BY ID ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING)  AccumulatedDepreciation
						, LAST_VALUE(AccumulatedImpairment) OVER (Partition by AssetRegisterItem_ID  ORDER BY ID ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING)  AccumulatedImpairment
						, LAST_VALUE(AccumulatedImpairmentReversal) OVER (Partition by AssetRegisterItem_ID  ORDER BY ID ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING)  AccumulatedImpairmentReversal
						, LAST_VALUE(ImpairmentSurplus) OVER (Partition by AssetRegisterItem_ID  ORDER BY ID ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING)  ImpairmentSurplus
						, LAST_VALUE(AccumulatedFairValue) OVER (Partition by AssetRegisterItem_ID  ORDER BY ID ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING)  AccumulatedFairValue
						, LAST_VALUE(AccumulatedRevaluation) OVER (Partition by AssetRegisterItem_ID  ORDER BY ID ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING)  AccumulatedRevaluation
						, LAST_VALUE(FinancialPeriod) OVER (Partition by AssetRegisterItem_ID  ORDER BY ID ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING)  FinancialPeriod
						, LAST_VALUE(FinancialYear) OVER (Partition by AssetRegisterItem_ID  ORDER BY ID ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING)  FinancialYear
						, AssetRegisterItem_ID


						from 
						Asset_Register_Transactions t
						where t.AssetRegisterItem_ID = isnull(@AssetRegisterItem_ID, t.AssetRegisterItem_ID) 
					
						) trans on trans.AssetRegisterItem_ID = ari.AssetRegisterItem_ID

			left outer join Const_ReferenceData_sys tt on tt.ReferenceDAta_ID = trans.TransactionTypeID

			where ari.AssetRegisterItem_ID = isnull(@AssetRegisterItem_ID, ari.AssetRegisterItem_ID)
		
			--AND ( ari.AssetStatus_ID in (
			--@StatusID, 
			--isnull(@StatusID,(select AssetStatus_ID from [Const_AssetStatus_Sys] where AssetStatusDesc = 'In Use')),
			--isnull(@StatusID,(select AssetStatus_ID from [Const_AssetStatus_Sys] where AssetStatusDesc = 'In Store'))
			--) or @StatusID = 0)
			--and ari.AssetStatus_ID != (select AssetStatus_ID from [dbo].[Const_AssetStatus_Sys] where [AssetStatusDesc] = 'Disposed')

			--and (isnull(trans.TransactionTypeID,0) = 0 or trans.TransactionTypeID = isnull(@TransactionTypeID, TransactionTypeID))
		)

		v

		--update the asset_register_items table
		declare @AccumulatedDepreciation decimal(18,8)
				, @AccumulatedImpairmentClosingBalance decimal(18,8)
				--, @DisposalLossValue decimal(18,8)


		Select 
			--@CurrentValue = CurrentValue, 
			 @AccumulatedDepreciation = AccumulatedDepreciation
			, @AccumulatedImpairmentClosingBalance = AccumulatedImpairment
			--,AccumulatedFairValue
			--, AccumulatedRevaluation
			--, @DisposalLossValue = DisposalLossValue


		--from Asset_Register_Items_Function(@AssetRegisterItem_ID, null, null, null, null, null, null, null, null, null,  null, null, null, null)
		from ( select distinct
				--LAST_VALUE(TransactionTypeID) OVER (Partition by AssetRegisterItem_ID  ORDER BY ID ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING)  TransactionTypeID

				--,LAST_VALUE(PurchaseAmount) OVER (Partition by AssetRegisterItem_ID  ORDER BY ID ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING)  PurchaseAmount
				--, LAST_VALUE(ResidualValue) OVER (Partition by AssetRegisterItem_ID  ORDER BY ID ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING) ResidualValue
				--, LAST_VALUE(CurrentValue) OVER (Partition by AssetRegisterItem_ID  ORDER BY ID ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING)  CurrentValue
				--, LAST_VALUE(UsefulLife) OVER (Partition by AssetRegisterItem_ID  ORDER BY ID ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING)  UsefulLife
				--, LAST_VALUE(RemaingUsefulLife) OVER (Partition by AssetRegisterItem_ID  ORDER BY ID ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING)  RemaingUsefulLife
				--, LAST_VALUE(TransactionDate) OVER (Partition by AssetRegisterItem_ID  ORDER BY ID ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING)  TransactionDate
				--, LAST_VALUE(DepreciationValue) OVER (Partition by AssetRegisterItem_ID  ORDER BY ID ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING)  DepreciationValue
				--, LAST_VALUE(ImpairmentValue) OVER (Partition by AssetRegisterItem_ID  ORDER BY ID ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING)  ImpairmentValue
				--, LAST_VALUE(RevaluationValue) OVER (Partition by AssetRegisterItem_ID  ORDER BY ID ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING)  RevaluationValue
				--, LAST_VALUE(FairValue) OVER (Partition by AssetRegisterItem_ID  ORDER BY ID ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING)  FairValue
				--, LAST_VALUE(DisposalValue) OVER (Partition by AssetRegisterItem_ID  ORDER BY ID ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING)  DisposalValue
				 LAST_VALUE(DisposalLossValue) OVER (Partition by AssetRegisterItem_ID  ORDER BY ID ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING)  DisposalLossValue
				--, LAST_VALUE(DisposalTotalValue) OVER (Partition by AssetRegisterItem_ID  ORDER BY ID ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING)  DisposalTotalValue
				, LAST_VALUE(AccumulatedDepreciation) OVER (Partition by AssetRegisterItem_ID  ORDER BY ID ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING)  AccumulatedDepreciation
				, LAST_VALUE(AccumulatedImpairment) OVER (Partition by AssetRegisterItem_ID  ORDER BY ID ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING)  AccumulatedImpairment
				--, LAST_VALUE(AccumulatedFairValue) OVER (Partition by AssetRegisterItem_ID  ORDER BY ID ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING)  AccumulatedFairValue
				--, LAST_VALUE(AccumulatedRevaluation) OVER (Partition by AssetRegisterItem_ID  ORDER BY ID ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING)  AccumulatedRevaluation
				--, LAST_VALUE(FinancialPeriod) OVER (Partition by AssetRegisterItem_ID  ORDER BY ID ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING)  FinancialPeriod
				--, LAST_VALUE(FinancialYear) OVER (Partition by AssetRegisterItem_ID  ORDER BY ID ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING)  FinancialYear
				--, LAST_VALUE(DocumentType_ID) OVER (Partition by AssetRegisterItem_ID  ORDER BY ID ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING)  DocumentType_ID
				--, LAST_VALUE(GLGUID_ID) OVER (Partition by AssetRegisterItem_ID  ORDER BY ID ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING)  GLGUID_ID
				--, LAST_VALUE(DateModified) OVER (Partition by AssetRegisterItem_ID  ORDER BY ID ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING)  DateModified
				--, LAST_VALUE(Modifier) OVER (Partition by AssetRegisterItem_ID  ORDER BY ID ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING)  Modifier
				----, LAST_VALUE(TransactionDate) OVER (Partition by AssetRegisterItem_ID  ORDER BY ID ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING)  TransactionDate
				--, AssetRegisterItem_ID
			from 
			Asset_Register_Transactions t
			where
				AssetRegisterItem_ID = @AssetRegisterItem_ID
		) as ii

		update asset_register_items
		set	
			CurrentAmount = case when @CurrentValue < 0 then 0 else @CurrentValue end
			, AccumulatedDepreciationClosingBalance  = COALESCE([AccumulatedDepreciationClosingBalance], [AccumulatedDepreciationOpeningBalance] + @AccumulatedDepreciation, 0) 
			-- AccumulatedImpairmentClosingBalance = @AccumulatedImpairmentClosingBalance
			, Modifier_ID = @Modifier
			-- DateModified =  GETDATE()
			, DateOfDisposal = case @TransactionTypeID when @DisposalType then GETDATE() else DateOfDisposal end
			, DisposalAmountCost = case @TransactionTypeID when @DisposalType then @TransactionValue else DisposalAmountCost end
			, ProfitOrLossOnDisposal = @DisposalLossValue

		where 
			AssetRegisterItem_ID = @AssetRegisterItem_ID
	
	end --if @TransactionValue != 0

end