ALTER PROCEDURE [dbo].[Asset_ApproveDisposal]
	@AssetRegisterItemId INT,
	@UserId INT
AS
BEGIN

DECLARE @AssetDisposalMethodId INT,
		@AssetDisposalMethod NVARCHAR(100),
		@AssetJournalMethodId INT,
		@DisposalProceedsAmount DECIMAL(18, 2),
		@DisposalDate DATETIME,
		@DisposalReason NVARCHAR(100),
		@AmountProfitLoss DECIMAL(18, 2),
		@CarryingValue DECIMAL(18, 2),
		@AccumulatedDepreciation DECIMAL(18, 2),
		@AccumulatedImpairment DECIMAL(18, 2),
		@RevaluationReserveDebitBalance DECIMAL(18, 2),
		@OffsetBalance DECIMAL(18, 2),
		@PurchaseAmount DECIMAL(18, 2),
		@DepreciationTransactionsClosing DECIMAL(18, 2),
		@DepreciationTransactionsTotal DECIMAL(18, 2),
		@ImpairmentReversalTransactionsTotal DECIMAL(18, 2),
		@ImpairmentTransactionsTotal DECIMAL(18, 2);
		
SELECT
	@AssetDisposalMethodId = ada.[AssetDisposalMethodID],
	@AssetDisposalMethod = adm.[AssetDisposalMethod],
	@AssetJournalMethodId = ada.[AssetJournalMethodID],
	@DisposalProceedsAmount = ada.[DisposalProceedsAmount],
	@DisposalDate = ada.[DisposalDate],
	@DisposalReason = ada.[DisposalReason],
	@AmountProfitLoss = ada.[AmountProfitLoss],
	@CarryingValue = ISNULL((SELECT TOP(1) CurrentValue FROM Asset_Transaction_Summary Where AssetRegisterItemID = ari.AssetRegisterItem_ID Order by ID Desc),0),
	@DepreciationTransactionsClosing = ISNULL((select top(1) ISNULL(AccumulatedDepreciation,0) from Asset_Register_Transactions where AssetRegisterItem_ID = @AssetRegisterItemId order by ID desc),0),
	@DepreciationTransactionsTotal = ISNULL((select ISNULL(sum(DepreciationValue),0) from Asset_Register_Transactions where AssetRegisterItem_ID = @AssetRegisterItemId AND TransactionTypeID = 22 group by AssetRegisterItem_ID),0),
	@AccumulatedDepreciation = ISNULL(ari.[AccumulatedDepreciationOpeningBalance],0) + @DepreciationTransactionsTotal,
	@ImpairmentTransactionsTotal = ISNULL((select ISNULL(sum(ImpairmentValue),0) from Asset_Register_Transactions where AssetRegisterItem_ID = @AssetRegisterItemId group by AssetRegisterItem_ID),0),
	@ImpairmentReversalTransactionsTotal = ISNULL((select ISNULL(sum(ImpairmentReversalValue),0) from Asset_Register_Transactions where AssetRegisterItem_ID = @AssetRegisterItemId group by AssetRegisterItem_ID),0),
	@AccumulatedImpairment =  (ISNULL(ari.[AccumulatedImpairmentOpeningBalance],0) + @ImpairmentTransactionsTotal ) - @ImpairmentReversalTransactionsTotal, 
	@PurchaseAmount = ISNULL(i.[PurchaseAmount],0) + ISNULL(vt.RevaluationValue, 0),
	@RevaluationReserveDebitBalance = CASE WHEN ISNULL(i.RevaluationReserveClosingBalance,0) > 0 THEN ISNULL(i.RevaluationReserveClosingBalance,0) ELSE 0 END,
	@OffsetBalance = CASE WHEN ISNULL(i.RevaluationReserveClosingBalance, 0) > 0 THEN ISNULL(i.RevaluationReserveClosingBalance, 0) ELSE 0 END

FROM
	Asset_Disposal_Approval ada
INNER JOIN
	Asset_Register_Items_Function(@AssetRegisterItemId, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL) i ON ada.[AssetItemID] = i.[AssetRegisterItem_ID]
INNER JOIN
	Asset_Register_Items ari ON ada.[AssetItemID] = ari.[AssetRegisterItem_ID]
LEFT JOIN
	Const_AssetDisposalMethod adm ON ada.[AssetDisposalMethodID] = adm.[AssetDisposalMethod_ID]
LEFT OUTER JOIN
  (select AssetRegisterItem_ID, ISNULL(SUM(RevaluationValue), 0) as 'RevaluationValue' from Asset_Register_Transactions group by AssetRegisterItem_ID) vt
  on ari.AssetRegisterItem_ID = vt.AssetRegisterItem_ID
WHERE
	ada.[AssetItemID] = @AssetRegisterItemId
AND ISNULL(ada.[IsApprove], 0) = 0;

-- Update Asset_Register_Items With Disposal Info
UPDATE
	Asset_Register_Items
SET
	[DisposalAmountCost] = @DisposalProceedsAmount,
	[DisposalProceeds] = @DisposalProceedsAmount,
	[DisposalReason] = @DisposalReason,
	[MethodOfDisposal] = @AssetDisposalMethod,
	[DateOfDisposal] = @DisposalDate
WHERE
	[AssetRegisterItem_ID] = @AssetRegisterItemId;

-- Insert Asset_Disposal Record
INSERT INTO Asset_Disposal
(
	[AssetItemID],
	[AssetDisposalMethodID],
	[DisposalDate],
	[DisposalReason],
	[DateCaptured],
	[CapturerID],
	[DateModified],
	[ModifierID],
	[AssetJournalMethodID],
	[TotalDisposalValue]
)
VALUES
(
	@AssetRegisterItemId,
	@AssetDisposalMethodId,
	@DisposalDate,
	@DisposalReason,
	CURRENT_TIMESTAMP,
	@UserId,
	CURRENT_TIMESTAMP,
	@UserId,
	@AssetJournalMethodId,
	@AmountProfitLoss
);

-- Asset_InsertApprovledDisposalJournalEntries
DECLARE @ItemDescription VARCHAR(20) = 'Asset Disposal';

DECLARE @TransactionId UNIQUEIDENTIFIER = NEWID(),
		@FinYear NVARCHAR(9) = dbo.GetFinYearByUserID_fxn(@UserId),
		@ProcessingMonth INT = dbo.GetProcessingMonthByUserID_fxn(@UserId),
		@AssetJournalTransactionTypeId INT = (SELECT [AssetJournalTransactionType_ID] FROM Const_AssetJournalTransactionType_Sys WHERE [AssetJournalTransactionDesc] = @ItemDescription),
		@DocumentTypeId INT = (SELECT [DocumentType_ID] FROM Const_DocumentType WHERE [DocumentTypeDesc] = @ItemDescription),
		@PreviousDocumentNumber INT,
		@NewDocumentNumber NVARCHAR(9);

SELECT TOP 1
	@PreviousDocumentNumber = ISNULL(TRY_PARSE(SUBSTRING(lja.[DocumentNumber], CHARINDEX('/', lja.[DocumentNumber]) + 1, LEN(lja.[DocumentNumber]))AS INT),0)
FROM
	Led_Journal_Asset lja
WHERE
	lja.[AssetJournalTransactionTypeID] = @AssetJournalTransactionTypeId
ORDER BY
	lja.[AssetJournal_ID] DESC;

IF (@PreviousDocumentNumber IS NULL OR @PreviousDocumentNumber = 0)
BEGIN
	SET @NewDocumentNumber = CONCAT(CAST(@DocumentTypeId AS NVARCHAR(9)), '/1');
END
ELSE
BEGIN
	SET @NewDocumentNumber = CONCAT(CAST(@DocumentTypeId AS NVARCHAR(9)), '/', CAST(@PreviousDocumentNumber + 1 AS NVARCHAR(9)));
END;

DECLARE @DefaultVoteId INT = (SELECT MAX([Vote_ID]) FROM Led_Vote WHERE [Finyear] = @FinYear AND [VoteDesc] LIKE '%Disposal%');

DROP TABLE IF EXISTS #Projects, #ScoaItems, #ScoaItemsResults, #TempAssetTransactions;

SELECT DISTINCT
	ppi.[PlanProjectItem_ID] AS 'PlanProjectItemId',
	ppi.[ProjectID] AS 'ProjectId',
	ppi.[DivisionId] AS 'DivisionId',
	ppi.[FinYear] AS 'FinYear',
	ppi.[SCOAFundId] AS 'ScoaFundId',
	ppi.[SCOARegionId] AS 'ScoaRegionId',
	ppi.[SCOACostingID] AS 'ScoaCostingId',
	pp.[ScoaProjectID] AS 'ScoaProjectId',
	ppi.[SCOAFunctionId] AS 'ScoaFunctionId',
	ppi.[SCOAItemID] AS 'ScoaItemId',
	lv.[Vote_ID] AS 'VoteId'
INTO #Projects
FROM
	Plan_ProjectItem ppi
LEFT JOIN
	Plan_Project pp ON ppi.[ProjectID] = pp.[Project_ID]
INNER JOIN
	Led_Vote lv ON ppi.[SCOAItemID] = lv.[SCOAItemID]
				AND ppi.[FinYear] = lv.[FinYear]
WHERE
	ppi.[FinYear] = @FinYear;

CREATE TABLE #ScoaItems (
DebitProject11_1 nvarchar(50),
DebitProjectId11_1 INT,
DebitProjectItemId11_1 INT,
DebitDivisionId11_1 INT,
DebitScoaFundId11_1 INT,
DebitScoaRegionId11_1 INT,
DebitScoaCostingId11_1 INT,
DebitScoaProjectId11_1 INT,
DebitScoaFunctionId11_1 INT,
DebitScoaItemId11_1 INT,
DebitVoteId11_1 INT,
DebitProject11_2 nvarchar(50),
DebitProjectId11_2 INT,
DebitProjectItemId11_2 INT,
DebitDivisionId11_2 INT,
DebitScoaFundId11_2 INT,
DebitScoaRegionId11_2 INT,
DebitScoaCostingId11_2 INT,
DebitScoaProjectId11_2 INT,
DebitScoaFunctionId11_2 INT,
DebitScoaItemId11_2 INT,
DebitVoteId11_2 INT,
DebitProject12_1 nvarchar(50),
DebitProjectId12_1 INT,
DebitProjectItemId12_1 INT,
DebitDivisionId12_1 INT,
DebitScoaFundId12_1 INT,
DebitScoaRegionId12_1 INT,
DebitScoaCostingId12_1 INT,
DebitScoaProjectId12_1 INT,
DebitScoaFunctionId12_1 INT,
DebitScoaItemId12_1 INT,
DebitVoteId12_1 INT,
DebitProject13_1 nvarchar(50),
DebitProjectId13_1 INT,
DebitProjectItemId13_1 INT,
DebitDivisionId13_1 INT,
DebitScoaFundId13_1 INT,
DebitScoaRegionId13_1 INT,
DebitScoaCostingId13_1 INT,
DebitScoaProjectId13_1 INT,
DebitScoaFunctionId13_1 INT,
DebitScoaItemId13_1 INT,
DebitVoteId13_1 INT,
CreditProject11_1 nvarchar(50),
CreditProjectId11_1 INT,
CreditProjectItemId11_1 INT,
CreditDivisionId11_1 INT,
CreditScoaFundId11_1 INT,
CreditScoaRegionId11_1 INT,
CreditScoaCostingId11_1 INT,
CreditScoaProjectId11_1 INT,
CreditScoaFunctionId11_1 INT,
CreditScoaItemId11_1 INT,
CreditVoteId11_1 INT,
DebitProject21_1 nvarchar(50),
DebitProjectId21_1 INT,
DebitProjectItemId21_1 INT,
DebitDivisionId21_1 INT,
DebitScoaFundId21_1 INT,
DebitScoaRegionId21_1 INT,
DebitScoaCostingId21_1 INT,
DebitScoaProjectId21_1 INT,
DebitScoaFunctionId21_1 INT,
DebitScoaItemId21_1 INT,
DebitVoteId21_1 INT,
DebitProject21_2 nvarchar(50),
DebitProjectId21_2 INT,
DebitProjectItemId21_2 INT,
DebitDivisionId21_2 INT,
DebitScoaFundId21_2 INT,
DebitScoaRegionId21_2 INT,
DebitScoaCostingId21_2 INT,
DebitScoaProjectId21_2 INT,
DebitScoaFunctionId21_2 INT,
DebitScoaItemId21_2 INT,
DebitVoteId21_2 INT,
DebitProject22_1 nvarchar(50),
DebitProjectId22_1 INT,
DebitProjectItemId22_1 INT,
DebitDivisionId22_1 INT,
DebitScoaFundId22_1 INT,
DebitScoaRegionId22_1 INT,
DebitScoaCostingId22_1 INT,
DebitScoaProjectId22_1 INT,
DebitScoaFunctionId22_1 INT,
DebitScoaItemId22_1 INT,
DebitVoteId22_1 INT,
DebitProject23_1 nvarchar(50),
DebitProjectId23_1 INT,
DebitProjectItemId23_1 INT,
DebitDivisionId23_1 INT,
DebitScoaFundId23_1 INT,
DebitScoaRegionId23_1 INT,
DebitScoaCostingId23_1 INT,
DebitScoaProjectId23_1 INT,
DebitScoaFunctionId23_1 INT,
DebitScoaItemId23_1 INT,
DebitVoteId23_1 INT,
CreditProject21_1 nvarchar(50),
CreditProjectId21_1 INT,
CreditProjectItemId21_1 INT,
CreditDivisionId21_1 INT,
CreditScoaFundId21_1 INT,
CreditScoaRegionId21_1 INT,
CreditScoaCostingId21_1 INT,
CreditScoaProjectId21_1 INT,
CreditScoaFunctionId21_1 INT,
CreditScoaItemId21_1 INT,
CreditVoteId21_1 INT,
rCreditProject11_1 nvarchar(50),
rCreditProjectId11_1 INT,
rCreditProjectItemId11_1 INT,
rCreditDivisionId11_1 INT,
rCreditScoaFundId11_1 INT,
rCreditScoaRegionId11_1 INT,
rCreditScoaCostingId11_1 INT,
rCreditScoaProjectId11_1 INT,
rCreditScoaFunctionId11_1 INT,
rCreditScoaItemId11_1 INT,
rCreditVoteId11_1 INT,
rCreditProject13_1 nvarchar(50),
rCreditProjectId13_1 INT,
rCreditProjectItemId13_1 INT,
rCreditDivisionId13_1 INT,
rCreditScoaFundId13_1 INT,
rCreditScoaRegionId13_1 INT,
rCreditScoaCostingId13_1 INT,
rCreditScoaProjectId13_1 INT,
rCreditScoaFunctionId13_1 INT,
rCreditScoaItemId13_1 INT,
rCreditVoteId13_1 INT
)

INSERT INTO #ScoaItems(
DebitProject11_1,
DebitProjectId11_1,
DebitProjectItemId11_1,
DebitDivisionId11_1,
DebitScoaFundId11_1,
DebitScoaRegionId11_1,
DebitScoaCostingId11_1,
DebitScoaProjectId11_1,
DebitScoaFunctionId11_1,
DebitScoaItemId11_1,
DebitVoteId11_1,
DebitProject11_2,
DebitProjectId11_2,
DebitProjectItemId11_2,
DebitDivisionId11_2,
DebitScoaFundId11_2,
DebitScoaRegionId11_2,
DebitScoaCostingId11_2,
DebitScoaProjectId11_2,
DebitScoaFunctionId11_2,
DebitScoaItemId11_2,
DebitVoteId11_2,
DebitProject12_1,
DebitProjectId12_1,
DebitProjectItemId12_1,
DebitDivisionId12_1,
DebitScoaFundId12_1,
DebitScoaRegionId12_1,
DebitScoaCostingId12_1,
DebitScoaProjectId12_1,
DebitScoaFunctionId12_1,
DebitScoaItemId12_1,
DebitVoteId12_1,
DebitProject13_1,
DebitProjectId13_1,
DebitProjectItemId13_1,
DebitDivisionId13_1,
DebitScoaFundId13_1,
DebitScoaRegionId13_1,
DebitScoaCostingId13_1,
DebitScoaProjectId13_1,
DebitScoaFunctionId13_1,
DebitScoaItemId13_1,
DebitVoteId13_1,
CreditProject11_1,
CreditProjectId11_1,
CreditProjectItemId11_1,
CreditDivisionId11_1,
CreditScoaFundId11_1,
CreditScoaRegionId11_1,
CreditScoaCostingId11_1,
CreditScoaProjectId11_1,
CreditScoaFunctionId11_1,
CreditScoaItemId11_1,
CreditVoteId11_1,
DebitProject21_1,
DebitProjectId21_1,
DebitProjectItemId21_1,
DebitDivisionId21_1,
DebitScoaFundId21_1,
DebitScoaRegionId21_1,
DebitScoaCostingId21_1,
DebitScoaProjectId21_1,
DebitScoaFunctionId21_1,
DebitScoaItemId21_1,
DebitVoteId21_1,
DebitProject21_2,
DebitProjectId21_2,
DebitProjectItemId21_2,
DebitDivisionId21_2,
DebitScoaFundId21_2,
DebitScoaRegionId21_2,
DebitScoaCostingId21_2,
DebitScoaProjectId21_2,
DebitScoaFunctionId21_2,
DebitScoaItemId21_2,
DebitVoteId21_2,
DebitProject22_1,
DebitProjectId22_1,
DebitProjectItemId22_1,
DebitDivisionId22_1,
DebitScoaFundId22_1,
DebitScoaRegionId22_1,
DebitScoaCostingId22_1,
DebitScoaProjectId22_1,
DebitScoaFunctionId22_1,
DebitScoaItemId22_1,
DebitVoteId22_1,
DebitProject23_1,
DebitProjectId23_1,
DebitProjectItemId23_1,
DebitDivisionId23_1,
DebitScoaFundId23_1,
DebitScoaRegionId23_1,
DebitScoaCostingId23_1,
DebitScoaProjectId23_1,
DebitScoaFunctionId23_1,
DebitScoaItemId23_1,
DebitVoteId23_1,
CreditProject21_1,
CreditProjectId21_1,
CreditProjectItemId21_1,
CreditDivisionId21_1,
CreditScoaFundId21_1,
CreditScoaRegionId21_1,
CreditScoaCostingId21_1,
CreditScoaProjectId21_1,
CreditScoaFunctionId21_1,
CreditScoaItemId21_1,
CreditVoteId21_1
)
SELECT DISTINCT
-- Loss on Disposal
	-- Debit - Accumulated Depreciation - (Scoa Item / Project) - 11_1 / 11
	'Project 11' AS 'DebitProject11_1',
	pd11_1.[ProjectId] AS 'DebitProjectId11_1',
	pd11_1.[PlanProjectItemId] AS 'DebitProjectItemId11_1',
	pd11_1.[DivisionId] AS 'DebitDivisionId11_1',
	pd11_1.[SCOAFundId] AS 'DebitScoaFundId11_1',
	pd11_1.[SCOARegionId] AS 'DebitScoaRegionId11_1',
	pd11_1.[SCOACostingID] AS 'DebitScoaCostingId11_1',
	pd11_1.[ScoaProjectID] AS 'DebitScoaProjectId11_1',
	pd11_1.[SCOAFunctionId] AS 'DebitScoaFunctionId11_1',
	pd11_1.[SCOAItemID] AS 'DebitScoaItemId11_1',
	pd11_1.[VoteId] AS 'DebitVoteId11_1',
	-- Debit - Accumulated Impairment - (Scoa Item / Project) - 11_2 / 15
	'Project 15' AS 'DebitProject11_2',
	pd11_2.[ProjectId] AS 'DebitProjectId11_2',
	pd11_2.[PlanProjectItemId] AS 'DebitProjectItemId11_2',
	pd11_2.[DivisionId] AS 'DebitDivisionId11_2',
	pd11_2.[SCOAFundId] AS 'DebitScoaFundId11_2',
	pd11_2.[SCOARegionId] AS 'DebitScoaRegionId11_2',
	pd11_2.[SCOACostingID] AS 'DebitScoaCostingId11_2',
	pd11_2.[ScoaProjectID] AS 'DebitScoaProjectId11_2',
	pd11_2.[SCOAFunctionId] AS 'DebitScoaFunctionId11_2',
	pd11_2.[SCOAItemID] AS 'DebitScoaItemId11_2',
	pd11_2.[VoteId] AS 'DebitVoteId11_2',
	-- Debit - Loss on Disposal - (Scoa Item / Project) - 12_1 / 12
	'Project 12' AS 'DebitProject12_1',
	pd12_1.[ProjectId] AS 'DebitProjectId12_1',
	pd12_1.[PlanProjectItemId] AS 'DebitProjectItemId12_1',
	pd12_1.[DivisionId] AS 'DebitDivisionId12_1',
	pd12_1.[SCOAFundId] AS 'DebitScoaFundId12_1',
	pd12_1.[SCOARegionId] AS 'DebitScoaRegionId12_1',
	pd12_1.[SCOACostingID] AS 'DebitScoaCostingId12_1',
	pd12_1.[ScoaProjectID] AS 'DebitScoaProjectId12_1',
	pd12_1.[SCOAFunctionId] AS 'DebitScoaFunctionId12_1',
	pd12_1.[SCOAItemID] AS 'DebitScoaItemId12_1',
	pd12_1.[VoteId] AS 'DebitVoteId12_1',
	-- Debit - Disposal Clearing Account - (Scoa Item / Project) - 13_1 / 13
	'Project 13' AS 'DebitProject13_1',
	pc13_1.[ProjectId] AS 'DebitProjectId13_1',
	pc13_1.[PlanProjectItemId] AS 'DebitProjectItemId13_1',
	pc13_1.[DivisionId] AS 'DebitDivisionId13_1',
	pc13_1.[SCOAFundId] AS 'DebitScoaFundId13_1',
	pc13_1.[SCOARegionId] AS 'DebitScoaRegionId13_1',
	pc13_1.[SCOACostingID] AS 'DebitScoaCostingId13_1',
	pc13_1.[ScoaProjectID] AS 'DebitScoaProjectId13_1',
	pc13_1.[SCOAFunctionId] AS 'DebitScoaFunctionId13_1',
	pc13_1.[SCOAItemID] AS 'DebitScoaItemId13_1',
	pc13_1.[VoteId] AS 'DebitVoteId13_1',
	-- Credit - Asset Disposal Account - (Scoa Item / Project) - 11_1 / 14
	'Project 14' AS 'CreditProject11_1',
	pc11_1.[ProjectId] AS 'CreditProjectId11_1',
	pc11_1.[PlanProjectItemId] AS 'CreditProjectItemId11_1',
	pc11_1.[DivisionId] AS 'CreditDivisionId11_1',
	pc11_1.[SCOAFundId] AS 'CreditScoaFundId11_1',
	pc11_1.[SCOARegionId] AS 'CreditScoaRegionId11_1',
	pc11_1.[SCOACostingID] AS 'CreditScoaCostingId11_1',
	pc11_1.[ScoaProjectID] AS 'CreditScoaProjectId11_1',
	pc11_1.[SCOAFunctionId] AS 'CreditScoaFunctionId11_1',
	pc11_1.[SCOAItemID] AS 'CreditScoaItemId11_1',
	pc11_1.[VoteId] AS 'CreditVoteId11_1',
-- Gain on Disposal
	-- Debit - Accumulated Depreciation - (Scoa Item / Project) - 21_1 / 21
	'Project 21' AS 'DebitProject21_1',
	pd21_1.[ProjectId] AS 'DebitProjectId21_1',
	pd21_1.[PlanProjectItemId] AS 'DebitProjectItemId21_1',
	pd21_1.[DivisionId] AS 'DebitDivisionId21_1',
	pd21_1.[SCOAFundId] AS 'DebitScoaFundId21_1',
	pd21_1.[SCOARegionId] AS 'DebitScoaRegionId21_1',
	pd21_1.[SCOACostingID] AS 'DebitScoaCostingId21_1',
	pd21_1.[ScoaProjectID] AS 'DebitScoaProjectId21_1',
	pd21_1.[SCOAFunctionId] AS 'DebitScoaFunctionId21_1',
	pd21_1.[SCOAItemID] AS 'DebitScoaItemId21_1',
	pd21_1.[VoteId] AS 'DebitVoteId21_1',
	-- Debit - Accumulated Impairment - (Scoa Item / Project) - 21_2 / 25
	'Project 25' AS 'DebitProject21_2',
	pd21_2.[ProjectId] AS 'DebitProjectId21_2',
	pd21_2.[PlanProjectItemId] AS 'DebitProjectItemId21_2',
	pd21_2.[DivisionId] AS 'DebitDivisionId21_2',
	pd21_2.[SCOAFundId] AS 'DebitScoaFundId21_2',
	pd21_2.[SCOARegionId] AS 'DebitScoaRegionId21_2',
	pd21_2.[SCOACostingID] AS 'DebitScoaCostingId21_2',
	pd21_2.[ScoaProjectID] AS 'DebitScoaProjectId21_2',
	pd21_2.[SCOAFunctionId] AS 'DebitScoaFunctionId21_2',
	pd21_2.[SCOAItemID] AS 'DebitScoaItemId21_2',
	pd21_2.[VoteId] AS 'DebitVoteId21_2',
	-- Debit - Gain on Disposal - (Scoa Item / Project) - 22_1 / 22
	'Project 22' AS 'DebitProject22_1',
	pd22_1.[ProjectId] AS 'DebitProjectId22_1',
	pd22_1.[PlanProjectItemId] AS 'DebitProjectItemId22_1',
	pd22_1.[DivisionId] AS 'DebitDivisionId22_1',
	pd22_1.[SCOAFundId] AS 'DebitScoaFundId22_1',
	pd22_1.[SCOARegionId] AS 'DebitScoaRegionId22_1',
	pd22_1.[SCOACostingID] AS 'DebitScoaCostingId22_1',
	pd22_1.[ScoaProjectID] AS 'DebitScoaProjectId22_1',
	pd22_1.[SCOAFunctionId] AS 'DebitScoaFunctionId22_1',
	pd22_1.[SCOAItemID] AS 'DebitScoaItemId22_1',
	pd22_1.[VoteId] AS 'DebitVoteId22_1',
	-- Debit - Disposal Clearing Account - (Scoa Item / Project) - 23_1 / 23
	'Project 23' AS 'DebitProject23_1',
	pc23_1.[ProjectId] AS 'DebitProjectId23_1',
	pc23_1.[PlanProjectItemId] AS 'DebitProjectItemId23_1',
	pc23_1.[DivisionId] AS 'DebitDivisionId23_1',
	pc23_1.[SCOAFundId] AS 'DebitScoaFundId23_1',
	pc23_1.[SCOARegionId] AS 'DebitScoaRegionId23_1',
	pc23_1.[SCOACostingID] AS 'DebitScoaCostingId23_1',
	pc23_1.[ScoaProjectID] AS 'DebitScoaProjectId23_1',
	pc23_1.[SCOAFunctionId] AS 'DebitScoaFunctionId23_1',
	pc23_1.[SCOAItemID] AS 'DebitScoaItemId23_1',
	pc23_1.[VoteId] AS 'DebitVoteId23_1',
	-- Credit - Asset Disposal Account - (Scoa Item / Project) - 21_1 / 24
	'Project 24' AS 'CreditProject21_1',
	pc21_1.[ProjectId] AS 'CreditProjectId21_1',
	pc21_1.[PlanProjectItemId] AS 'CreditProjectItemId21_1',
	pc21_1.[DivisionId] AS 'CreditDivisionId21_1',
	pc21_1.[SCOAFundId] AS 'CreditScoaFundId21_1',
	pc21_1.[SCOARegionId] AS 'CreditScoaRegionId21_1',
	pc21_1.[SCOACostingID] AS 'CreditScoaCostingId21_1',
	pc21_1.[ScoaProjectID] AS 'CreditScoaProjectId21_1',
	pc21_1.[SCOAFunctionId] AS 'CreditScoaFunctionId21_1',
	pc21_1.[SCOAItemID] AS 'CreditScoaItemId21_1',
	pc21_1.[VoteId] AS 'CreditVoteId21_1'

FROM
	Asset_Register_Items ari
--INNER JOIN
--	Const_AssetClass_sys c ON ari.[AssetClass_ID] = c.[AssetClass_ID]
OUTER APPLY
	(
		SELECT
			mscoa.[FinYear],
			mscoat.[DebitItem11_1], mscoat.[DebitItem11_2], mscoat.[DebitItem12_1],
			mscoat.[DebitItem21_1], mscoat.[DebitItem21_2], mscoat.[DebitItem22_1],
			mscoat.[CreditItem11_1], mscoat.[CreditItem13_1], mscoat.[CreditItem21_1], mscoat.[CreditItem23_1],
			mscoat.[Project11], mscoat.[Project12], mscoat.[Project13], mscoat.[Project14], mscoat.[Project15],
			mscoat.[Project21], mscoat.[Project22], mscoat.[Project23], mscoat.[Project24], mscoat.[Project25]

		FROM
			AssetConfig_mSCOA mscoa
		INNER JOIN
			AssetConfig_mSCOA_TransactionType mscoat ON mscoa.[AssetConfig_mSCOA_ID] = mscoat.[AssetConfig_mSCOA_ID]
		INNER JOIN
			AssetConfig_TransactionType tt ON mscoat.[TransactionTypeID] = tt.[AssetConfig_TransactionType_ID]
											AND tt.[Name] = 'Disposal'
		WHERE
			(ari.[AssetType_ID] = mscoa.[TypeID] OR (ari.[AssetType_ID] IS NULL AND mscoa.[TypeID] IS NULL))
		AND ISNULL(ari.[AssetCategory_ID], 0) = ISNULL(mscoa.[CategoryID], 0)
		AND ISNULL(ari.[Asset_SubCategory_ID], 0) = ISNULL(mscoa.[SubCategoryID], 0)
		AND ISNULL(ari.[MeasurementType_ID], 0) = ISNULL(mscoa.[MeasurementTypeID], 0)
		AND ISNULL(ari.[AssetStatus_ID], 0) = ISNULL(NULLIF(mscoa.[StatusID], -1), 0)
		AND mscoa.[FinYear] = @FinYear
	) aa
	-- Debit - Accumulated Depreciation - (Scoa Item / Project) - 11_1 / 11
LEFT JOIN
	#Projects pd11_1 ON aa.[DebitItem11_1] = pd11_1.[PlanProjectItemId]
					AND aa.[Project11] = pd11_1.[ProjectId]
					AND aa.[FinYear] = pd11_1.[FinYear]
	-- Debit - Accumulated Impairment - (Scoa Item / Project) - 11_2 / 15
LEFT JOIN
	#Projects pd11_2 ON aa.[DebitItem11_2] = pd11_2.[PlanProjectItemId]
					AND aa.[Project15] = pd11_2.[ProjectId]
					AND aa.[FinYear] = pd11_2.[FinYear]
	-- Debit - Loss on Disposal - (Scoa Item / Project) - 12_1 / 12
LEFT JOIN
	#Projects pd12_1 ON aa.[DebitItem12_1] = pd12_1.[PlanProjectItemId]
					AND aa.[Project12] = pd12_1.[ProjectId]
					AND aa.[FinYear] = pd12_1.[FinYear]
	-- Debit - Disposal Clearing Account - (Scoa Item / Project) - 13_1 / 13
LEFT JOIN
	#Projects pc13_1 ON aa.[CreditItem13_1] = pc13_1.[PlanProjectItemId]
					AND aa.[Project13] = pc13_1.[ProjectId]
					AND aa.[FinYear] = pc13_1.[FinYear]
	-- Credit - Asset Disposal Account - (Scoa Item / Project) - 11_1 / 14
LEFT JOIN
	#Projects pc11_1 ON aa.[CreditItem11_1] = pc11_1.[PlanProjectItemId]
					AND aa.[Project14] = pc11_1.[ProjectId]
					AND aa.[FinYear] = pc11_1.[FinYear]
-- Gain on Disposal
	-- Debit - Accumulated Depreciation - (Scoa Item / Project) - 21_1 / 21
LEFT JOIN
	#Projects pd21_1 ON aa.[DebitItem21_1] = pd21_1.[PlanProjectItemId]
					AND aa.[Project21] = pd21_1.[ProjectId]
					AND aa.[FinYear] = pd21_1.[FinYear]
	-- Debit - Accumulated Impairment - (Scoa Item / Project) - 21_2 / 25
LEFT JOIN
	#Projects pd21_2 ON aa.[DebitItem21_2] = pd21_2.[PlanProjectItemId]
					AND aa.[Project25] = pd21_2.[ProjectId]
					AND aa.[FinYear] = pd21_2.[FinYear]
	-- Debit - Gain on Disposal - (Scoa Item / Project) - 22_1 / 22
LEFT JOIN
	#Projects pd22_1 ON aa.[DebitItem22_1] = pd22_1.[PlanProjectItemId]
					AND aa.[Project22] = pd22_1.[ProjectId]
					AND aa.[FinYear] = pd22_1.[FinYear]
	-- Debit - Disposal Clearing Account - (Scoa Item / Project) - 23_1 / 23
LEFT JOIN
	#Projects pc23_1 ON aa.[CreditItem23_1] = pc23_1.[PlanProjectItemId]
					AND aa.[Project23] = pc23_1.[ProjectId]
					AND aa.[FinYear] = pc23_1.[FinYear]
	-- Credit - Asset Disposal Account - (Scoa Item / Project) - 21_1 / 24
LEFT JOIN
	#Projects pc21_1 ON aa.[CreditItem21_1] = pc21_1.[PlanProjectItemId]
					AND aa.[Project24] = pc21_1.[ProjectId]
					AND aa.[FinYear] = pc21_1.[FinYear]

WHERE
	ari.[AssetRegisterItem_ID] = @AssetRegisterItemId;


IF @RevaluationReserveDebitBalance > 0 
	BEGIN
	UPDATE t
	SET t.rCreditProject11_1 = tt.rCreditProject11_1,
t.rCreditProjectId11_1 = tt.rCreditProjectId11_1,
t.rCreditProjectItemId11_1 = tt.rCreditProjectItemId11_1,
t.rCreditDivisionId11_1 = tt.rCreditDivisionId11_1,
t.rCreditScoaFundId11_1 = tt.rCreditScoaFundId11_1,
t.rCreditScoaRegionId11_1 = tt.rCreditScoaRegionId11_1,
t.rCreditScoaCostingId11_1 = tt.rCreditScoaCostingId11_1,
t.rCreditScoaProjectId11_1 = tt.rCreditScoaProjectId11_1,
t.rCreditScoaFunctionId11_1 = tt.rCreditScoaFunctionId11_1,
t.rCreditScoaItemId11_1 = tt.rCreditScoaItemId11_1,
t.rCreditVoteId11_1 = tt.rCreditVoteId11_1,
t.rCreditProject13_1 = tt.rCreditProject13_1,
t.rCreditProjectId13_1 = tt.rCreditProjectId13_1,
t.rCreditProjectItemId13_1 = tt.rCreditProjectItemId13_1,
t.rCreditDivisionId13_1 = tt.rCreditDivisionId13_1,
t.rCreditScoaFundId13_1 = tt.rCreditScoaFundId13_1,
t.rCreditScoaRegionId13_1 = tt.rCreditScoaRegionId13_1,
t.rCreditScoaCostingId13_1 = tt.rCreditScoaCostingId13_1,
t.rCreditScoaProjectId13_1 = tt.rCreditScoaProjectId13_1,
t.rCreditScoaFunctionId13_1 = tt.rCreditScoaFunctionId13_1,
t.rCreditScoaItemId13_1 = tt.rCreditScoaItemId13_1,
t.rCreditVoteId13_1 = tt.rCreditVoteId13_1

FROM #ScoaItems t
OUTER APPLY
(
	SELECT DISTINCT
	-- Credit - Asset Revaluation
	'rProject 14' AS 'rCreditProject11_1',
	rpc11_1.[ProjectId] AS 'rCreditProjectId11_1',
	rpc11_1.[PlanProjectItemId] AS 'rCreditProjectItemId11_1',
	rpc11_1.[DivisionId] AS 'rCreditDivisionId11_1',
	rpc11_1.[SCOAFundId] AS 'rCreditScoaFundId11_1',
	rpc11_1.[SCOARegionId] AS 'rCreditScoaRegionId11_1',
	rpc11_1.[SCOACostingID] AS 'rCreditScoaCostingId11_1',
	rpc11_1.[ScoaProjectID] AS 'rCreditScoaProjectId11_1',
	rpc11_1.[SCOAFunctionId] AS 'rCreditScoaFunctionId11_1',
	rpc11_1.[SCOAItemID] AS 'rCreditScoaItemId11_1',
	rpc11_1.[VoteId] AS 'rCreditVoteId11_1',
	-- Debit - Asset Revaluation
	'rProject 13' AS 'rCreditProject13_1',
	rpc13_1.[ProjectId] AS 'rCreditProjectId13_1',
	rpc13_1.[PlanProjectItemId] AS 'rCreditProjectItemId13_1',
	rpc13_1.[DivisionId] AS 'rCreditDivisionId13_1',
	rpc13_1.[SCOAFundId] AS 'rCreditScoaFundId13_1',
	rpc13_1.[SCOARegionId] AS 'rCreditScoaRegionId13_1',
	rpc13_1.[SCOACostingID] AS 'rCreditScoaCostingId13_1',
	rpc13_1.[ScoaProjectID] AS 'rCreditScoaProjectId13_1',
	rpc13_1.[SCOAFunctionId] AS 'rCreditScoaFunctionId13_1',
	rpc13_1.[SCOAItemID] AS 'rCreditScoaItemId13_1',
	rpc13_1.[VoteId] AS 'rCreditVoteId13_1'

FROM
	Asset_Register_Items ari
--INNER JOIN
	--Const_AssetClass_sys c ON ari.[AssetClass_ID] = c.[AssetClass_ID]
OUTER APPLY
	(
		SELECT
			mscoa.[FinYear],
			rmscoat.[Project15] as rProject14, rmscoat.[DebitItem11_2] as rCreditItem11_1,
			rmscoat.[Project13] as rProject13, rmscoat.[CreditItem13_1] as rCreditItem13_1
		FROM
			AssetConfig_mSCOA mscoa

		INNER JOIN
			AssetConfig_mSCOA_TransactionType rmscoat ON mscoa.[AssetConfig_mSCOA_ID] = rmscoat.[AssetConfig_mSCOA_ID]

		INNER JOIN
			AssetConfig_TransactionType rtt ON rmscoat.[TransactionTypeID] = rtt.[AssetConfig_TransactionType_ID]
											AND rtt.[Name] = 'Revaluation'
		WHERE
			(ari.[AssetType_ID] = mscoa.[TypeID] OR (ari.[AssetType_ID] IS NULL AND mscoa.[TypeID] IS NULL))
		AND ISNULL(ari.[AssetCategory_ID], 0) = ISNULL(mscoa.[CategoryID], 0)
		AND ISNULL(ari.[Asset_SubCategory_ID], 0) = ISNULL(mscoa.[SubCategoryID], 0)
		AND ISNULL(ari.[MeasurementType_ID], 0) = ISNULL(mscoa.[MeasurementTypeID], 0)
		AND ISNULL(ari.[AssetStatus_ID], 0) = ISNULL(NULLIF(mscoa.[StatusID], -1), 0)
		AND mscoa.[FinYear] = @FinYear
	) aa

LEFT JOIN
	#Projects rpc11_1 ON aa.[rCreditItem11_1] = rpc11_1.[PlanProjectItemId]
					AND aa.[rProject14] = rpc11_1.[ProjectId]
					AND aa.[FinYear] = rpc11_1.[FinYear]
	-- Credit - Accumulated Surplus
LEFT JOIN
	#Projects rpc13_1 ON aa.[rCreditItem13_1] = rpc13_1.[PlanProjectItemId]
					AND aa.[rProject13] = rpc13_1.[ProjectId]
					AND aa.[FinYear] = rpc13_1.[FinYear]
WHERE
	ari.[AssetRegisterItem_ID] = @AssetRegisterItemId
)tt

END
SELECT
	*
INTO #ScoaItemsResults
FROM
	(
		SELECT
			unpvt.[Project], unpvt.[DivisionId], unpvt.[ProjectId], unpvt.[ProjectItemId], unpvt.[ScoaItemId], unpvt.[ScoaFundId], unpvt.[ScoaRegionId], unpvt.[ScoaCostingId], unpvt.[ScoaProjectId], unpvt.[ScoaFunctionId], unpvt.[VoteId]
		FROM
			(
				SELECT * FROM #ScoaItems
			) base
		UNPIVOT
			(
				[Project] FOR [ProjectName] IN ([DebitProject11_1])
			) unpvt
		UNPIVOT
			(
				[DivisionId] FOR [DivisionDescription] IN ([DebitDivisionId11_1])
			) unpvt
		UNPIVOT
			(
				[ProjectId] FOR [ProjectDescription] IN ([DebitProjectId11_1])
			) unpvt
		UNPIVOT
			(
				[ProjectItemId] FOR [ProjectItemDescription] IN ([DebitProjectItemId11_1])
			) unpvt
		UNPIVOT
			(
				[ScoaItemId] FOR [ScoaItemDescription] IN ([DebitScoaItemId11_1])
			) unpvt
		UNPIVOT
			(
				[ScoaFundId] FOR [ScoaFundDescription] IN ([DebitScoaFundId11_1])
			) unpvt
		UNPIVOT
			(
				[ScoaRegionId] FOR [ScoaRegionDescription] IN ([DebitScoaRegionId11_1])
			) unpvt
		UNPIVOT
			(
				[ScoaCostingId] FOR [ScoaCostingDescription] IN ([DebitScoaCostingId11_1])
			) unpvt
		UNPIVOT
			(
				[ScoaProjectId] FOR [ScoaProjectDescription] IN ([DebitScoaProjectId11_1])
			) unpvt
		UNPIVOT
			(
				[ScoaFunctionId] FOR [ScoaFunctionDescription] IN ([DebitScoaFunctionId11_1])
			) unpvt
		UNPIVOT
			(
				[VoteId] FOR [VoteDescription] IN ([DebitVoteId11_1])
			) unpvt
	UNION
		SELECT
			unpvt.[Project], unpvt.[DivisionId], unpvt.[ProjectId], unpvt.[ProjectItemId], unpvt.[ScoaItemId], unpvt.[ScoaFundId], unpvt.[ScoaRegionId], unpvt.[ScoaCostingId], unpvt.[ScoaProjectId], unpvt.[ScoaFunctionId], unpvt.[VoteId]
		FROM
			(
				SELECT * FROM #ScoaItems
			) base
		UNPIVOT
			(
				[Project] FOR [ProjectName] IN ([DebitProject11_2])
			) unpvt
		UNPIVOT
			(
				[DivisionId] FOR [DivisionDescription] IN ([DebitDivisionId11_2])
			) unpvt
		UNPIVOT
			(
				[ProjectId] FOR [ProjectDescription] IN ([DebitProjectId11_2])
			) unpvt
		UNPIVOT
			(
				[ProjectItemId] FOR [ProjectItemDescription] IN ([DebitProjectItemId11_2])
			) unpvt
		UNPIVOT
			(
				[ScoaItemId] FOR [ScoaItemDescription] IN ([DebitScoaItemId11_2])
			) unpvt
		UNPIVOT
			(
				[ScoaFundId] FOR [ScoaFundDescription] IN ([DebitScoaFundId11_2])
			) unpvt
		UNPIVOT
			(
				[ScoaRegionId] FOR [ScoaRegionDescription] IN ([DebitScoaRegionId11_2])
			) unpvt
		UNPIVOT
			(
				[ScoaCostingId] FOR [ScoaCostingDescription] IN ([DebitScoaCostingId11_2])
			) unpvt
		UNPIVOT
			(
				[ScoaProjectId] FOR [ScoaProjectDescription] IN ([DebitScoaProjectId11_2])
			) unpvt
		UNPIVOT
			(
				[ScoaFunctionId] FOR [ScoaFunctionDescription] IN ([DebitScoaFunctionId11_2])
			) unpvt
		UNPIVOT
			(
				[VoteId] FOR [VoteDescription] IN ([DebitVoteId11_2])
			) unpvt
	UNION
		SELECT
			unpvt.[Project], unpvt.[DivisionId], unpvt.[ProjectId], unpvt.[ProjectItemId], unpvt.[ScoaItemId], unpvt.[ScoaFundId], unpvt.[ScoaRegionId], unpvt.[ScoaCostingId], unpvt.[ScoaProjectId], unpvt.[ScoaFunctionId], unpvt.[VoteId]
		FROM
			(
				SELECT * FROM #ScoaItems
			) base
		UNPIVOT
			(
				[Project] FOR [ProjectName] IN ([DebitProject12_1])
			) unpvt
		UNPIVOT
			(
				[DivisionId] FOR [DivisionDescription] IN ([DebitDivisionId12_1])
			) unpvt
		UNPIVOT
			(
				[ProjectId] FOR [ProjectDescription] IN ([DebitProjectId12_1])
			) unpvt
		UNPIVOT
			(
				[ProjectItemId] FOR [ProjectItemDescription] IN ([DebitProjectItemId12_1])
			) unpvt
		UNPIVOT
			(
				[ScoaItemId] FOR [ScoaItemDescription] IN ([DebitScoaItemId12_1])
			) unpvt
		UNPIVOT
			(
				[ScoaFundId] FOR [ScoaFundDescription] IN ([DebitScoaFundId12_1])
			) unpvt
		UNPIVOT
			(
				[ScoaRegionId] FOR [ScoaRegionDescription] IN ([DebitScoaRegionId12_1])
			) unpvt
		UNPIVOT
			(
				[ScoaCostingId] FOR [ScoaCostingDescription] IN ([DebitScoaCostingId12_1])
			) unpvt
		UNPIVOT
			(
				[ScoaProjectId] FOR [ScoaProjectDescription] IN ([DebitScoaProjectId12_1])
			) unpvt
		UNPIVOT
			(
				[ScoaFunctionId] FOR [ScoaFunctionDescription] IN ([DebitScoaFunctionId12_1])
			) unpvt
		UNPIVOT
			(
				[VoteId] FOR [VoteDescription] IN ([DebitVoteId12_1])
			) unpvt
	UNION
		SELECT
			unpvt.[Project], unpvt.[DivisionId], unpvt.[ProjectId], unpvt.[ProjectItemId], unpvt.[ScoaItemId], unpvt.[ScoaFundId], unpvt.[ScoaRegionId], unpvt.[ScoaCostingId], unpvt.[ScoaProjectId], unpvt.[ScoaFunctionId], unpvt.[VoteId]
		FROM
			(
				SELECT * FROM #ScoaItems
			) base
		UNPIVOT
			(
				[Project] FOR [ProjectName] IN ([DebitProject13_1])
			) unpvt
		UNPIVOT
			(
				[DivisionId] FOR [DivisionDescription] IN ([DebitDivisionId13_1])
			) unpvt
		UNPIVOT
			(
				[ProjectId] FOR [ProjectDescription] IN ([DebitProjectId13_1])
			) unpvt
		UNPIVOT
			(
				[ProjectItemId] FOR [ProjectItemDescription] IN ([DebitProjectItemId13_1])
			) unpvt
		UNPIVOT
			(
				[ScoaItemId] FOR [ScoaItemDescription] IN ([DebitScoaItemId13_1])
			) unpvt
		UNPIVOT
			(
				[ScoaFundId] FOR [ScoaFundDescription] IN ([DebitScoaFundId13_1])
			) unpvt
		UNPIVOT
			(
				[ScoaRegionId] FOR [ScoaRegionDescription] IN ([DebitScoaRegionId13_1])
			) unpvt
		UNPIVOT
			(
				[ScoaCostingId] FOR [ScoaCostingDescription] IN ([DebitScoaCostingId13_1])
			) unpvt
		UNPIVOT
			(
				[ScoaProjectId] FOR [ScoaProjectDescription] IN ([DebitScoaProjectId13_1])
			) unpvt
		UNPIVOT
			(
				[ScoaFunctionId] FOR [ScoaFunctionDescription] IN ([DebitScoaFunctionId13_1])
			) unpvt
		UNPIVOT
			(
				[VoteId] FOR [VoteDescription] IN ([DebitVoteId13_1])
			) unpvt
	UNION
		SELECT
			unpvt.[Project], unpvt.[DivisionId], unpvt.[ProjectId], unpvt.[ProjectItemId], unpvt.[ScoaItemId], unpvt.[ScoaFundId], unpvt.[ScoaRegionId], unpvt.[ScoaCostingId], unpvt.[ScoaProjectId], unpvt.[ScoaFunctionId], unpvt.[VoteId]
		FROM
			(
				SELECT * FROM #ScoaItems
			) base
		UNPIVOT
			(
				[Project] FOR [ProjectName] IN ([CreditProject11_1])
			) unpvt
		UNPIVOT
			(
				[DivisionId] FOR [DivisionDescription] IN ([CreditDivisionId11_1])
			) unpvt
		UNPIVOT
			(
				[ProjectId] FOR [ProjectDescription] IN ([CreditProjectId11_1])
			) unpvt
		UNPIVOT
			(
				[ProjectItemId] FOR [ProjectItemDescription] IN ([CreditProjectItemId11_1])
			) unpvt
		UNPIVOT
			(
				[ScoaItemId] FOR [ScoaItemDescription] IN ([CreditScoaItemId11_1])
			) unpvt
		UNPIVOT
			(
				[ScoaFundId] FOR [ScoaFundDescription] IN ([CreditScoaFundId11_1])
			) unpvt
		UNPIVOT
			(
				[ScoaRegionId] FOR [ScoaRegionDescription] IN ([CreditScoaRegionId11_1])
			) unpvt
		UNPIVOT
			(
				[ScoaCostingId] FOR [ScoaCostingDescription] IN ([CreditScoaCostingId11_1])
			) unpvt
		UNPIVOT
			(
				[ScoaProjectId] FOR [ScoaProjectDescription] IN ([CreditScoaProjectId11_1])
			) unpvt
		UNPIVOT
			(
				[ScoaFunctionId] FOR [ScoaFunctionDescription] IN ([CreditScoaFunctionId11_1])
			) unpvt
		UNPIVOT
			(
				[VoteId] FOR [VoteDescription] IN ([CreditVoteId11_1])
			) unpvt
	UNION
		SELECT
			unpvt.[Project], unpvt.[DivisionId], unpvt.[ProjectId], unpvt.[ProjectItemId], unpvt.[ScoaItemId], unpvt.[ScoaFundId], unpvt.[ScoaRegionId], unpvt.[ScoaCostingId], unpvt.[ScoaProjectId], unpvt.[ScoaFunctionId], unpvt.[VoteId]
		FROM
			(
				SELECT * FROM #ScoaItems
			) base
		UNPIVOT
			(
				[Project] FOR [ProjectName] IN ([DebitProject21_1])
			) unpvt
		UNPIVOT
			(
				[DivisionId] FOR [DivisionDescription] IN ([DebitDivisionId21_1])
			) unpvt
		UNPIVOT
			(
				[ProjectId] FOR [ProjectDescription] IN ([DebitProjectId21_1])
			) unpvt
		UNPIVOT
			(
				[ProjectItemId] FOR [ProjectItemDescription] IN ([DebitProjectItemId21_1])
			) unpvt
		UNPIVOT
			(
				[ScoaItemId] FOR [ScoaItemDescription] IN ([DebitScoaItemId21_1])
			) unpvt
		UNPIVOT
			(
				[ScoaFundId] FOR [ScoaFundDescription] IN ([DebitScoaFundId21_1])
			) unpvt
		UNPIVOT
			(
				[ScoaRegionId] FOR [ScoaRegionDescription] IN ([DebitScoaRegionId21_1])
			) unpvt
		UNPIVOT
			(
				[ScoaCostingId] FOR [ScoaCostingDescription] IN ([DebitScoaCostingId21_1])
			) unpvt
		UNPIVOT
			(
				[ScoaProjectId] FOR [ScoaProjectDescription] IN ([DebitScoaProjectId21_1])
			) unpvt
		UNPIVOT
			(
				[ScoaFunctionId] FOR [ScoaFunctionDescription] IN ([DebitScoaFunctionId21_1])
			) unpvt
		UNPIVOT
			(
				[VoteId] FOR [VoteDescription] IN ([DebitVoteId21_1])
			) unpvt
	UNION
		SELECT
			unpvt.[Project], unpvt.[DivisionId], unpvt.[ProjectId], unpvt.[ProjectItemId], unpvt.[ScoaItemId], unpvt.[ScoaFundId], unpvt.[ScoaRegionId], unpvt.[ScoaCostingId], unpvt.[ScoaProjectId], unpvt.[ScoaFunctionId], unpvt.[VoteId]
		FROM
			(
				SELECT * FROM #ScoaItems
			) base
		UNPIVOT
			(
				[Project] FOR [ProjectName] IN ([DebitProject21_2])
			) unpvt
		UNPIVOT
			(
				[DivisionId] FOR [DivisionDescription] IN ([DebitDivisionId21_2])
			) unpvt
		UNPIVOT
			(
				[ProjectId] FOR [ProjectDescription] IN ([DebitProjectId21_2])
			) unpvt
		UNPIVOT
			(
				[ProjectItemId] FOR [ProjectItemDescription] IN ([DebitProjectItemId21_2])
			) unpvt
		UNPIVOT
			(
				[ScoaItemId] FOR [ScoaItemDescription] IN ([DebitScoaItemId21_2])
			) unpvt
		UNPIVOT
			(
				[ScoaFundId] FOR [ScoaFundDescription] IN ([DebitScoaFundId21_2])
			) unpvt
		UNPIVOT
			(
				[ScoaRegionId] FOR [ScoaRegionDescription] IN ([DebitScoaRegionId21_2])
			) unpvt
		UNPIVOT
			(
				[ScoaCostingId] FOR [ScoaCostingDescription] IN ([DebitScoaCostingId21_2])
			) unpvt
		UNPIVOT
			(
				[ScoaProjectId] FOR [ScoaProjectDescription] IN ([DebitScoaProjectId21_2])
			) unpvt
		UNPIVOT
			(
				[ScoaFunctionId] FOR [ScoaFunctionDescription] IN ([DebitScoaFunctionId21_2])
			) unpvt
		UNPIVOT
			(
				[VoteId] FOR [VoteDescription] IN ([DebitVoteId21_2])
			) unpvt
	UNION
		SELECT
			unpvt.[Project], unpvt.[DivisionId], unpvt.[ProjectId], unpvt.[ProjectItemId], unpvt.[ScoaItemId], unpvt.[ScoaFundId], unpvt.[ScoaRegionId], unpvt.[ScoaCostingId], unpvt.[ScoaProjectId], unpvt.[ScoaFunctionId], unpvt.[VoteId]
		FROM
			(
				SELECT * FROM #ScoaItems
			) base
		UNPIVOT
			(
				[Project] FOR [ProjectName] IN ([DebitProject22_1])
			) unpvt
		UNPIVOT
			(
				[DivisionId] FOR [DivisionDescription] IN ([DebitDivisionId22_1])
			) unpvt
		UNPIVOT
			(
				[ProjectId] FOR [ProjectDescription] IN ([DebitProjectId22_1])
			) unpvt
		UNPIVOT
			(
				[ProjectItemId] FOR [ProjectItemDescription] IN ([DebitProjectItemId22_1])
			) unpvt
		UNPIVOT
			(
				[ScoaItemId] FOR [ScoaItemDescription] IN ([DebitScoaItemId22_1])
			) unpvt
		UNPIVOT
			(
				[ScoaFundId] FOR [ScoaFundDescription] IN ([DebitScoaFundId22_1])
			) unpvt
		UNPIVOT
			(
				[ScoaRegionId] FOR [ScoaRegionDescription] IN ([DebitScoaRegionId22_1])
			) unpvt
		UNPIVOT
			(
				[ScoaCostingId] FOR [ScoaCostingDescription] IN ([DebitScoaCostingId22_1])
			) unpvt
		UNPIVOT
			(
				[ScoaProjectId] FOR [ScoaProjectDescription] IN ([DebitScoaProjectId22_1])
			) unpvt
		UNPIVOT
			(
				[ScoaFunctionId] FOR [ScoaFunctionDescription] IN ([DebitScoaFunctionId22_1])
			) unpvt
		UNPIVOT
			(
				[VoteId] FOR [VoteDescription] IN ([DebitVoteId22_1])
			) unpvt
	UNION
		SELECT
			unpvt.[Project], unpvt.[DivisionId], unpvt.[ProjectId], unpvt.[ProjectItemId], unpvt.[ScoaItemId], unpvt.[ScoaFundId], unpvt.[ScoaRegionId], unpvt.[ScoaCostingId], unpvt.[ScoaProjectId], unpvt.[ScoaFunctionId], unpvt.[VoteId]
		FROM
			(
				SELECT * FROM #ScoaItems
			) base
		UNPIVOT
			(
				[Project] FOR [ProjectName] IN ([DebitProject23_1])
			) unpvt
		UNPIVOT
			(
				[DivisionId] FOR [DivisionDescription] IN ([DebitDivisionId23_1])
			) unpvt
		UNPIVOT
			(
				[ProjectId] FOR [ProjectDescription] IN ([DebitProjectId23_1])
			) unpvt
		UNPIVOT
			(
				[ProjectItemId] FOR [ProjectItemDescription] IN ([DebitProjectItemId23_1])
			) unpvt
		UNPIVOT
			(
				[ScoaItemId] FOR [ScoaItemDescription] IN ([DebitScoaItemId23_1])
			) unpvt
		UNPIVOT
			(
				[ScoaFundId] FOR [ScoaFundDescription] IN ([DebitScoaFundId23_1])
			) unpvt
		UNPIVOT
			(
				[ScoaRegionId] FOR [ScoaRegionDescription] IN ([DebitScoaRegionId23_1])
			) unpvt
		UNPIVOT
			(
				[ScoaCostingId] FOR [ScoaCostingDescription] IN ([DebitScoaCostingId23_1])
			) unpvt
		UNPIVOT
			(
				[ScoaProjectId] FOR [ScoaProjectDescription] IN ([DebitScoaProjectId23_1])
			) unpvt
		UNPIVOT
			(
				[ScoaFunctionId] FOR [ScoaFunctionDescription] IN ([DebitScoaFunctionId23_1])
			) unpvt
		UNPIVOT
			(
				[VoteId] FOR [VoteDescription] IN ([DebitVoteId23_1])
			) unpvt
	UNION
		SELECT
			unpvt.[Project], unpvt.[DivisionId], unpvt.[ProjectId], unpvt.[ProjectItemId], unpvt.[ScoaItemId], unpvt.[ScoaFundId], unpvt.[ScoaRegionId], unpvt.[ScoaCostingId], unpvt.[ScoaProjectId], unpvt.[ScoaFunctionId], unpvt.[VoteId]
		FROM
			(
				SELECT * FROM #ScoaItems
			) base
		UNPIVOT
			(
				[Project] FOR [ProjectName] IN ([CreditProject21_1])
			) unpvt
		UNPIVOT
			(
				[DivisionId] FOR [DivisionDescription] IN ([CreditDivisionId21_1])
			) unpvt
		UNPIVOT
			(
				[ProjectId] FOR [ProjectDescription] IN ([CreditProjectId21_1])
			) unpvt
		UNPIVOT
			(
				[ProjectItemId] FOR [ProjectItemDescription] IN ([CreditProjectItemId21_1])
			) unpvt
		UNPIVOT
			(
				[ScoaItemId] FOR [ScoaItemDescription] IN ([CreditScoaItemId21_1])
			) unpvt
		UNPIVOT
			(
				[ScoaFundId] FOR [ScoaFundDescription] IN ([CreditScoaFundId21_1])
			) unpvt
		UNPIVOT
			(
				[ScoaRegionId] FOR [ScoaRegionDescription] IN ([CreditScoaRegionId21_1])
			) unpvt
		UNPIVOT
			(
				[ScoaCostingId] FOR [ScoaCostingDescription] IN ([CreditScoaCostingId21_1])
			) unpvt
		UNPIVOT
			(
				[ScoaProjectId] FOR [ScoaProjectDescription] IN ([CreditScoaProjectId21_1])
			) unpvt
		UNPIVOT
			(
				[ScoaFunctionId] FOR [ScoaFunctionDescription] IN ([CreditScoaFunctionId21_1])
			) unpvt
		UNPIVOT
			(
				[VoteId] FOR [VoteDescription] IN ([CreditVoteId21_1])
			) unpvt
	UNION
	SELECT
			unpvt.[Project], unpvt.[DivisionId], unpvt.[ProjectId], unpvt.[ProjectItemId], unpvt.[ScoaItemId], unpvt.[ScoaFundId], unpvt.[ScoaRegionId], unpvt.[ScoaCostingId], unpvt.[ScoaProjectId], unpvt.[ScoaFunctionId], unpvt.[VoteId]
		FROM
			(
				SELECT * FROM #ScoaItems
			) base
		UNPIVOT
			(
				[Project] FOR [ProjectName] IN ([rCreditProject11_1])
			) unpvt
		UNPIVOT
			(
				[DivisionId] FOR [DivisionDescription] IN ([rCreditDivisionId11_1])
			) unpvt
		UNPIVOT
			(
				[ProjectId] FOR [ProjectDescription] IN ([rCreditProjectId11_1])
			) unpvt
		UNPIVOT
			(
				[ProjectItemId] FOR [ProjectItemDescription] IN ([rCreditProjectItemId11_1])
			) unpvt
		UNPIVOT
			(
				[ScoaItemId] FOR [ScoaItemDescription] IN ([rCreditScoaItemId11_1])
			) unpvt
		UNPIVOT
			(
				[ScoaFundId] FOR [ScoaFundDescription] IN ([rCreditScoaFundId11_1])
			) unpvt
		UNPIVOT
			(
				[ScoaRegionId] FOR [ScoaRegionDescription] IN ([rCreditScoaRegionId11_1])
			) unpvt
		UNPIVOT
			(
				[ScoaCostingId] FOR [ScoaCostingDescription] IN ([rCreditScoaCostingId11_1])
			) unpvt
		UNPIVOT
			(
				[ScoaProjectId] FOR [ScoaProjectDescription] IN ([rCreditScoaProjectId11_1])
			) unpvt
		UNPIVOT
			(
				[ScoaFunctionId] FOR [ScoaFunctionDescription] IN ([rCreditScoaFunctionId11_1])
			) unpvt
		UNPIVOT
			(
				[VoteId] FOR [VoteDescription] IN ([rCreditVoteId11_1])
			) unpvt
	UNION
		SELECT
			unpvt.[Project], unpvt.[DivisionId], unpvt.[ProjectId], unpvt.[ProjectItemId], unpvt.[ScoaItemId], unpvt.[ScoaFundId], unpvt.[ScoaRegionId], unpvt.[ScoaCostingId], unpvt.[ScoaProjectId], unpvt.[ScoaFunctionId], unpvt.[VoteId]
		FROM
			(
				SELECT * FROM #ScoaItems
			) base
		UNPIVOT
			(
				[Project] FOR [ProjectName] IN ([rCreditProject13_1])
			) unpvt
		UNPIVOT
			(
				[DivisionId] FOR [DivisionDescription] IN ([rCreditDivisionId13_1])
			) unpvt
		UNPIVOT
			(
				[ProjectId] FOR [ProjectDescription] IN ([rCreditProjectId13_1])
			) unpvt
		UNPIVOT
			(
				[ProjectItemId] FOR [ProjectItemDescription] IN ([rCreditProjectItemId13_1])
			) unpvt
		UNPIVOT
			(
				[ScoaItemId] FOR [ScoaItemDescription] IN ([rCreditScoaItemId13_1])
			) unpvt
		UNPIVOT
			(
				[ScoaFundId] FOR [ScoaFundDescription] IN ([rCreditScoaFundId13_1])
			) unpvt
		UNPIVOT
			(
				[ScoaRegionId] FOR [ScoaRegionDescription] IN ([rCreditScoaRegionId13_1])
			) unpvt
		UNPIVOT
			(
				[ScoaCostingId] FOR [ScoaCostingDescription] IN ([rCreditScoaCostingId13_1])
			) unpvt
		UNPIVOT
			(
				[ScoaProjectId] FOR [ScoaProjectDescription] IN ([rCreditScoaProjectId13_1])
			) unpvt
		UNPIVOT
			(
				[ScoaFunctionId] FOR [ScoaFunctionDescription] IN ([rCreditScoaFunctionId13_1])
			) unpvt
		UNPIVOT
			(
				[VoteId] FOR [VoteDescription] IN ([rCreditVoteId13_1])
			) unpvt
	) aa;

INSERT INTO Led_Journal_Asset
(
	[FinYear],
	[ProcessingMonth],
	[TransactionID],
	[AssetJournalTransactionTypeID],
	[TransactionDate],
	[DebitVoteID],
	[CreditVoteID],
	[Amount],
	[DocumentNumber],
	[DateCaptured],
	[CapturerID],
	[ItemDescription],
	[Asset_RegisterItem_ID],
	[SCOAFundsID],
	[SCOARegionID],
	[SCOACostingID],
	[SCOAProjectID],
	[SCOAFunctionID],
	[SCOAItemID]
)
SELECT
	@FinYear,
	@ProcessingMonth,
	@TransactionId,
	@AssetJournalTransactionTypeId,
	CURRENT_TIMESTAMP,
	ISNULL(aa.[VoteId], @DefaultVoteId),
	ISNULL((SELECT [VoteId] FROM #ScoaItemsResults WHERE [Project] = 'Project 14'), @DefaultVoteId),
	@AmountProfitLoss,
	@NewDocumentNumber,
	CURRENT_TIMESTAMP,
	@UserId,
	@ItemDescription,
	@AssetRegisterItemId,
	aa.[ScoaFundId],
	aa.[ScoaRegionId],
	aa.[ScoaCostingId],
	aa.[ScoaProjectId],
	aa.[ScoaFunctionId],
	aa.[ScoaItemId]
FROM
	#ScoaItemsResults aa
WHERE
	aa.[Project] = 'Project 14';

-- Asset_InsertLedger_DisposalDetails

DECLARE @LedJournalAssetId INT = SCOPE_IDENTITY(),
		@DisposalGainAmount DECIMAL(18, 2) = 0,
		@DisposalLossAmount DECIMAL(18, 2) = ABS(@AmountProfitLoss);

IF (@DisposalProceedsAmount > @CarryingValue)
BEGIN  
	SET @DisposalGainAmount = @DisposalLossAmount;
	SET @DisposalLossAmount = 0;
END

-- IF (@DisposalGainAmount > 0) -- Gain on Disposal
-- then
	-- Debit - Accumulated Depreciation - (Scoa Item / Project) - 21_1 / 21
	-- Debit - Accumulated Impairment - (Scoa Item / Project) - 21_2 / 25
	-- Credit - Asset Disposal Account - (Scoa Item / Project) - 21_1 / 24
	-- Debit - Gain on Disposal - (Scoa Item / Project) - 22_1 / 22
	-- Debit - Disposal Clearing Account - (Scoa Item / Project) - 23_1 / 23
-- else
	-- Debit - Accumulated Depreciation - (Scoa Item / Project) - 11_1 / 11
	-- Debit - Accumulated Impairment - (Scoa Item / Project) - 11_2 / 15
	-- Credit - Asset Disposal Account - (Scoa Item / Project) - 11_1 / 14
	-- Debit - Loss on Disposal - (Scoa Item / Project) - 12_1 / 12
	-- Debit - Disposal Clearing Account - (Scoa Item / Project) - 13_1 / 13
INSERT INTO Led_GeneralLedger
(
	[PostingDate],
	[ProcessingMonth],
	[VoteID],
	[FinYear],
	[TransactionTypeID],
	[TransactionDetails],
	[DocumentNumber],
	[Debit],
	[Credit],
	[DateCaptured],
	[CapturerID],
	[MatchTranGuid],
	[AssetLinkID],
	[SCOAFundsID],
	[SCOARegionID],
	[SCOACostingID],
	[SCOAProjectID],
	[SCOAFunctionID],
	[SCOAItemID],
	[DivisionID],
	[ProjectID],
	[PlanProjectItemID]
)
SELECT
	CURRENT_TIMESTAMP,
	@ProcessingMonth,
	aa.[VoteId],
	@FinYear,
	@AssetJournalTransactionTypeId,
	CASE
		WHEN aa.[Project] IN ('Project 11', 'Project 21') THEN @ItemDescription + ' - AccumulatedDepreciation'
		--- @DepreciationTransactionsClosing + @DepreciationTransactionsTotal)
		WHEN aa.[Project] = 'Project 12' THEN @ItemDescription + ' - DisposalLoss'
		WHEN aa.[Project] IN ('Project 13', 'Project 23') THEN @ItemDescription + ' - DisposalProceeds'
		WHEN aa.[Project] IN ('Project 15', 'Project 25') THEN @ItemDescription + ' - AccumulatedImpairment'
		WHEN aa.[Project] IN ('rProject 14') THEN @ItemDescription + ' - RevaluationReserve'
		WHEN aa.[Project] = 'Project 22' THEN @ItemDescription + ' - DisposalGain'
		WHEN aa.[Project] IN ('Project 14', 'Project 24') THEN @ItemDescription + ' - Cost'
		WHEN aa.[Project] IN ('rProject 13') THEN @ItemDescription + ' - Accumulated Surplus'
		END AS 'ItemDescription',
	@NewDocumentNumber,
	CASE
		WHEN aa.[Project] IN ('Project 11', 'Project 21') THEN @AccumulatedDepreciation
		--- @DepreciationTransactionsClosing + @DepreciationTransactionsTotal)
		WHEN aa.[Project] = 'Project 12' THEN @DisposalLossAmount
		WHEN aa.[Project] IN ('Project 13', 'Project 23') THEN @DisposalProceedsAmount
		WHEN aa.[Project] IN ('Project 15', 'Project 25') THEN @AccumulatedImpairment
		WHEN aa.[Project] IN ('rProject 14') THEN @RevaluationReserveDebitBalance
		ELSE NULL
	END,
	CASE
		WHEN aa.[Project] = 'Project 22' THEN @DisposalGainAmount
		WHEN aa.[Project] IN ('Project 14', 'Project 24') THEN @PurchaseAmount
		WHEN aa.[Project] IN ('rProject 13') THEN @OffsetBalance
		ELSE NULL
	END,
	CURRENT_TIMESTAMP,
	@UserId,
	@TransactionId,
	@LedJournalAssetId,
	aa.[ScoaFundId],
	aa.[ScoaRegionId],
	aa.[ScoaCostingId],
	aa.[ScoaProjectId],
	aa.[ScoaFunctionId],
	aa.[ScoaItemId],
	aa.[DivisionId],
	aa.[ProjectId],
	aa.[ProjectItemId]
FROM
	#ScoaItemsResults aa
WHERE
	-- Gain on Disposal
	(@DisposalGainAmount > 0 AND @DisposalLossAmount = 0 AND aa.[Project] IN ('Project 21', 'Project 22', 'Project 23', 'Project 24', 'Project 25', 'rProject 14', 'rProject 13'))
	-- Loss on Disposal
OR	(@DisposalLossAmount >= 0 AND @DisposalGainAmount = 0 AND aa.[Project] IN ('Project 11', 'Project 12', 'Project 13', 'Project 14', 'Project 15', 'rProject 14', 'rProject 13'))

-- Asset_Register_Transactions_Insert
DECLARE @GeneralLedgerId INT = SCOPE_IDENTITY(),
		@DepreciationType INT,
		@ImpairmentType INT,
		@FairValueType INT,
		@RevaluationType INT,
		@PriorYearErrorsType INT,
		@DisposalType INT,
		@GeneralType INT,
		@TransactionTypeId INT = (SELECT
									[ReferenceDAta_ID]
								FROM
									Const_ReferenceData_sys d
								INNER JOIN
									Const_ReferenceType_sys t ON t.[ReferenceType_ID] = d.[ReferenceTypeID]       
								WHERE
									t.[Name] = 'AssetTransactionTypes'
								AND d.[Description] = 'Disposal'),
		@TotalTransactionValue DECIMAL(18, 2) = (SELECT
													ISNULL([CurrentValue], 0) + ISNULL([AccumulatedDepreciation], 0) + ISNULL([AccumulatedImpairment], 0)
												FROM
													Asset_Register_Items_Function(@AssetRegisterItemId, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL));

-- Get Different Asset Transaction Types
SELECT
	@DepreciationType = MAX([Depreciation]),
	@RevaluationType = MAX([Revaluation]),
	@ImpairmentType = MAX([Impairment]),
	@FairValueType = MAX([Fair Value Adjustment]),
	@DisposalType = MAX([Disposal]),
	@PriorYearErrorsType = MAX([Prior Year Error Adjustment]),
	@GeneralType = MAX([General Update])
FROM
	(
		SELECT
			d.*
		FROM
			Const_ReferenceData_sys d
		INNER JOIN
			Const_ReferenceType_sys t on t.ReferenceType_ID = d.ReferenceTypeID
		WHERE
			t.[Name] = 'AssetTransactionTypes'
	) base
PIVOT
	(
		MAX([ReferenceData_ID])
		FOR [Description] IN ([Depreciation], [Revaluation], [Impairment], [Fair Value Adjustment], [Disposal], [Prior Year Error Adjustment], [General Update])
	) pvt;

SELECT
	tgl.[AssetRegisterItemId], tgl.[GeneralLedgerId], tgl.[TransactionDate], tgl.[UsefullLife], tgl.[TransactionValue], tgl.[FinYear], tgl.[TransactionID],
	CASE WHEN @TransactionTypeId = @DisposalType THEN dis.[DisposalValue] ELSE NULL END AS 'DisposalValue',
	CASE WHEN @TransactionTypeId = @DisposalType THEN dis.[DisposalValue] ELSE NULL END AS 'DisposalTotalValue',
	CASE WHEN @TransactionTypeId = @DisposalType THEN dis.[DisposalLossValue] ELSE NULL END AS 'DisposalLossValue',
	--		CASE
	--			WHEN dis.[DisposalValue] > tgl.[TransactionValue] THEN 0 - ISNULL(dis.[DisposalLossValue], 0)
	--			ELSE dis.[DisposalLossValue]
	--		END
	--	ELSE NULL
	--END AS 'DisposalLossValue',
	CASE
		WHEN @TransactionTypeId = @FairValueType OR @TransactionTypeId = @RevaluationType THEN ISNULL(trans.[CurrentValue], reg.[CurrentValue]) + tgl.[TransactionValue]
		WHEN @TransactionTypeId = @DisposalType THEN ISNULL(trans.[CurrentValue], reg.[CurrentValue])
		ELSE ISNULL(trans.[CurrentValue], reg.[CurrentValue]) - tgl.[TransactionValue]
	END AS 'CurrentValue'
INTO #TempAssetTransactions
FROM
	(
		SELECT
			@AssetRegisterItemId AS 'AssetRegisterItemId', @GeneralLedgerId AS 'GeneralLedgerId', CURRENT_TIMESTAMP AS 'TransactionDate', NULL AS 'UsefullLife', @TotalTransactionValue AS 'TransactionValue', @FinYear AS 'FinYear', @TransactionId AS 'TransactionId'
	) tgl
OUTER APPLY
	(
		SELECT
			ada.[DisposalProceedsAmount] AS 'DisposalValue',
			ada.[AmountProfitLoss] AS 'DisposalLossValue'
		FROM
			Asset_Disposal_Approval ada
		WHERE
			ada.[AssetItemID] = tgl.[AssetRegisterItemId]
	) dis
OUTER APPLY
	(
		SELECT TOP 1
			art.[CurrentValue]
		FROM
			Asset_Register_Transactions art
		WHERE
			art.[AssetRegisterItem_ID] = tgl.[AssetRegisterItemId]
		ORDER BY
			art.[ID] DESC
	) trans
OUTER APPLY
	(
		SELECT
			ISNULL(ISNULL(a.[CurrentAmount], CASE a.[MarketValue] WHEN 0 THEN NULL ELSE a.[MarketValue] END), a.[PurchaseAmount]) AS 'CurrentValue'
		FROM
			Asset_Register_Items a
		WHERE
			a.[AssetRegisterItem_ID] = tgl.[AssetRegisterItemId]
	) reg;

-- INSERT INTO Asset_Register_Transactions
declare @AssetTransactionYear nvarchar(9) = (select(
			case when MONTH(@DisposalDate) - 6 <= 0 then CONCAT((YEAR(@DisposalDate) - 1),'/',YEAR(@DisposalDate))
			ELSE CONCAT(YEAR(@DisposalDate),'/', YEAR(@DisposalDate) + 1) END))

declare @AssetTransactionMonth int = (select(
			case when MONTH(@DisposalDate) - 6 <= 0 then MONTH(@DisposalDate) + 6 ELSE MONTH(@DisposalDate) - 6 END))
MERGE Asset_Register_Transactions as targetTable
USING
(
	SELECT
		tat.[AssetRegisterItemId] AS 'AssetRegisterItem_ID',
		@TransactionTypeId AS 'TransactionTypeID',
		ISNULL(@DisposalDate, CURRENT_TIMESTAMP) AS 'TransactionDate',
		ISNULL(trans.[PurchaseAmount], CASE ISNULL(ari.[PurchaseAmount], 0) WHEN 0 THEN ISNULL(ari.[CurrentAmount], 0) ELSE ari.[PurchaseAmount] END) AS 'PurchaseAmount',
		COALESCE(trans.[ResidualValue], ari.[ResidualValue], 0) AS 'ResidualValue',
		COALESCE(tat.[CurrentValue], trans.[CurrentValue], ari.[CurrentAmount], 0) AS 'CurrentValue',
		COALESCE(trans.[UsefulLife], CASE WHEN ISNULL(ari.[UsefulLifeMonthComponent], 0) = 0 THEN cac.[UsefulLifeInMonths] ELSE ari.[UsefulLifeMonthComponent] END, 0) AS 'UsefulLife',
		ISNULL(trans.RemainingUsefulLife, 0) AS 'RemaingUsefulLife',
		CASE @TransactionTypeId WHEN @DepreciationType	THEN tat.[TransactionValue] ELSE NULL END AS 'DepreciationValue',
		CASE @TransactionTypeId WHEN @ImpairmentType	THEN (CASE WHEN tat.[TransactionValue] < 0 THEN NULL ELSE ABS(tat.[TransactionValue]) END) ELSE NULL END AS 'ImpairmentValue',
		CASE @TransactionTypeId WHEN @ImpairmentType	THEN (CASE WHEN tat.[TransactionValue] > 0 THEN NULL ELSE ABS(tat.[TransactionValue]) END) ELSE NULL END AS 'ImpairmentReversalValue',
		CASE @TransactionTypeId WHEN @RevaluationType	THEN tat.[TransactionValue] ELSE NULL END	AS 'RevaluationValue',
		CASE @TransactionTypeId WHEN @FairValueType		THEN tat.[TransactionValue] ELSE NULL END	AS 'FairValue',
		CASE @TransactionTypeId WHEN @DisposalType		THEN tat.[TransactionValue] ELSE NULL END	AS 'DisposalValue',
		CASE @TransactionTypeId WHEN @DisposalType		THEN tat.[DisposalLossValue] ELSE NULL END	AS 'DisposalLossValue',
		CASE @TransactionTypeId WHEN @DisposalType		THEN tat.[DisposalTotalValue] ELSE NULL END	AS 'DisposalTotalValue',
		CASE @TransactionTypeId WHEN @DepreciationType	THEN ISNULL(trans.[AccumulatedDepreciation], 0) + tat.[TransactionValue] 
		WHEN @DisposalType		THEN 0 END	AS 'AccumulatedDepreciation',
		CASE @TransactionTypeId WHEN @ImpairmentType	THEN ISNULL(trans.[AccumulatedImpairment], 0) + (CASE WHEN tat.[TransactionValue] < 0 THEN 0 ELSE ABS(tat.[TransactionValue]) END) ELSE ISNULL(trans.[AccumulatedImpairment], 0) END AS 'AccumulatedImpairment',
		CASE @TransactionTypeId WHEN @ImpairmentType	THEN ISNULL(trans.[AccumulatedImpairmentReversal], 0) + (CASE WHEN tat.[TransactionValue] > 0 THEN 0 ELSE ABS(tat.[TransactionValue]) END) ELSE ISNULL(trans.[AccumulatedImpairmentReversal], 0) END AS 'AccumulatedImpairmentReversal',
		CASE @TransactionTypeId WHEN @ImpairmentType	THEN ISNULL(trans.[ImpairmentSurplus], 0) + tat.[TransactionValue] ELSE ISNULL(trans.[ImpairmentSurplus], 0) END AS 'ImpairmentSurplus',
		CASE @TransactionTypeId WHEN @FairValueType		THEN COALESCE(trans.[AccumulatedFairValue], ari.[MarketValue], 0) + tat.[TransactionValue] ELSE COALESCE(trans.[AccumulatedFairValue], ari.[MarketValue], 0) END AS 'AccumulatedFairValue',
		CASE @TransactionTypeId WHEN @RevaluationType	THEN COALESCE(trans.[AccumulatedRevaluation], ari.[RevaluationValue], 0) + tat.[TransactionValue] ELSE COALESCE(trans.[AccumulatedRevaluation], ari.[RevaluationValue], 0) END AS 'AccumulatedRevaluation',
		CASE @TransactionTypeId WHEN @DisposalType		THEN @RevaluationReserveDebitBalance ELSE 0 END AS 'RevaluationReserveDisposal',
		COALESCE(@AssetTransactionMonth, trans.[FinancialPeriod], 0) AS 'FinancialPeriod',
		ISNULL(@AssetTransactionYear, trans.[FinancialYear]) AS 'FinancialYear',
		666 AS 'DocumentType_ID', -- Asset Depreciation
		tat.[TransactionID] AS 'GLGUID_ID',
		tat.[GeneralLedgerId] AS 'TransactionSource_ID',
		CURRENT_TIMESTAMP AS 'DateModified',
		@UserId AS 'Modifier'
	FROM
		#TempAssetTransactions tat
	INNER JOIN
		Asset_Register_Items ari ON tat.[AssetRegisterItemId] = ari.[AssetRegisterItem_ID]
	INNER JOIN
		Const_AssetClass_sys cac ON ari.[AssetClass_ID] = cac.[AssetClass_ID]
	OUTER APPLY
		(
			SELECT DISTINCT
				art.[AssetRegisterItem_ID],
				LAST_VALUE(art.[PurchaseAmount])				OVER (PARTITION BY art.[AssetRegisterItem_ID] ORDER BY art.[ID] ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING) AS 'PurchaseAmount',
				LAST_VALUE(art.[ResidualValue])					OVER (PARTITION BY art.[AssetRegisterItem_ID] ORDER BY art.[ID] ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING) AS 'ResidualValue',
				LAST_VALUE(art.[CurrentValue])					OVER (PARTITION BY art.[AssetRegisterItem_ID] ORDER BY art.[ID] ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING) AS 'CurrentValue',
				LAST_VALUE(art.[UsefulLife])					OVER (PARTITION BY art.[AssetRegisterItem_ID] ORDER BY art.[ID] ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING) AS 'UsefulLife',
				LAST_VALUE(art.[AccumulatedDepreciation])		OVER (PARTITION BY art.[AssetRegisterItem_ID] ORDER BY art.[ID] ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING) AS 'AccumulatedDepreciation',
				LAST_VALUE(art.[AccumulatedImpairment])			OVER (PARTITION BY art.[AssetRegisterItem_ID] ORDER BY art.[ID] ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING) AS 'AccumulatedImpairment',
				LAST_VALUE(art.[AccumulatedImpairmentReversal]) OVER (PARTITION BY art.[AssetRegisterItem_ID] ORDER BY art.[ID] ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING) AS 'AccumulatedImpairmentReversal',
				LAST_VALUE(art.[ImpairmentSurplus])				OVER (PARTITION BY art.[AssetRegisterItem_ID] ORDER BY art.[ID] ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING) AS 'ImpairmentSurplus',
				LAST_VALUE(art.[AccumulatedFairValue])			OVER (PARTITION BY art.[AssetRegisterItem_ID] ORDER BY art.[ID] ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING) AS 'AccumulatedFairValue',
				LAST_VALUE(art.[AccumulatedRevaluation])		OVER (PARTITION BY art.[AssetRegisterItem_ID] ORDER BY art.[ID] ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING) AS 'AccumulatedRevaluation',
				LAST_VALUE(art.[FinancialPeriod])				OVER (PARTITION BY art.[AssetRegisterItem_ID] ORDER BY art.[ID] ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING) AS 'FinancialPeriod',
				LAST_VALUE(art.[FinancialYear])					OVER (PARTITION BY art.[AssetRegisterItem_ID] ORDER BY art.[ID] ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING) AS 'FinancialYear',
				LAST_VALUE(art.[RemaingUsefulLife])		    OVER (PARTITION BY art.[AssetRegisterItem_ID] ORDER BY art.[ID] ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING) AS 'RemainingUsefulLife'
			FROM
				Asset_Register_Transactions art
			WHERE
				art.[AssetRegisterItem_ID] = tat.[AssetRegisterItemId]
		) trans
) sourceTable ([AssetRegisterItem_ID], [TransactionTypeID], [TransactionDate], [PurchaseAmount], [ResidualValue], [CurrentValue], [UsefulLife], [RemaingUsefulLife], [DepreciationValue], [ImpairmentValue],
				[ImpairmentReversalValue], [RevaluationValue], [FairValue], [DisposalValue], [DisposalLossValue], [DisposalTotalValue], [AccumulatedDepreciation], [AccumulatedImpairment], [AccumulatedImpairmentReversal],
				[ImpairmentSurplus], [AccumulatedFairValue], [AccumulatedRevaluation], [RevaluationReserveDisposal], [FinancialPeriod], [FinancialYear], [DocumentType_ID], [GLGUID_ID], [TransactionSource_ID], [DateModified], [Modifier])
ON
(
	targetTable.[AssetRegisterItem_ID] = sourceTable.[AssetRegisterItem_ID]
AND targetTable.[TransactionSource_ID] = sourceTable.[TransactionSource_ID]
AND targetTable.[TransactionDate] = sourceTable.[TransactionDate]
)
WHEN MATCHED THEN
	UPDATE SET
		targetTable.[AssetRegisterItem_ID] = sourceTable.[AssetRegisterItem_ID],
		targetTable.[TransactionSource_ID] = sourceTable.[TransactionSource_ID],
		targetTable.[TransactionDate] = sourceTable.[TransactionDate]
WHEN NOT MATCHED BY TARGET THEN
	INSERT ([AssetRegisterItem_ID], [TransactionTypeID], [TransactionDate], [PurchaseAmount], [ResidualValue], [CurrentValue], [UsefulLife], [RemaingUsefulLife], [DepreciationValue], [ImpairmentValue],
			[ImpairmentReversalValue], [RevaluationValue], [FairValue], [DisposalValue], [DisposalLossValue], [DisposalTotalValue], [AccumulatedDepreciation], [AccumulatedImpairment], [AccumulatedImpairmentReversal],
			[ImpairmentSurplus], [AccumulatedFairValue], [AccumulatedRevaluation], [RevaluationReserveDisposal], [FinancialPeriod], [FinancialYear], [DocumentType_ID], [GLGUID_ID], [TransactionSource_ID], [DateModified], [Modifier])
	VALUES (sourceTable.[AssetRegisterItem_ID], sourceTable.[TransactionTypeID], sourceTable.[TransactionDate], sourceTable.[PurchaseAmount], sourceTable.[ResidualValue], sourceTable.[CurrentValue], sourceTable.[UsefulLife], sourceTable.[RemaingUsefulLife], sourceTable.[DepreciationValue], sourceTable.[ImpairmentValue],
			sourceTable.[ImpairmentReversalValue], sourceTable.[RevaluationValue], sourceTable.[FairValue], sourceTable.[DisposalValue], sourceTable.[DisposalLossValue], sourceTable.[DisposalTotalValue], sourceTable.[AccumulatedDepreciation], sourceTable.[AccumulatedImpairment], sourceTable.[AccumulatedImpairmentReversal],
			sourceTable.[ImpairmentSurplus], sourceTable.[AccumulatedFairValue], sourceTable.[AccumulatedRevaluation], sourceTable.[RevaluationReserveDisposal], sourceTable.[FinancialPeriod], sourceTable.[FinancialYear], sourceTable.[DocumentType_ID], sourceTable.[GLGUID_ID], sourceTable.[TransactionSource_ID], sourceTable.[DateModified], sourceTable.[Modifier]);

-- Update Asset_Register_Items with changes
UPDATE
	ari
SET
	ari.[CurrentAmount] = CASE WHEN tat.[CurrentValue] < 0 THEN 0 ELSE tat.[CurrentValue] END,
	ari.[AccumulatedDepreciationClosingBalance] = COALESCE(ari.[AccumulatedDepreciationClosingBalance], ari.[AccumulatedDepreciationOpeningBalance], 0) + ISNULL(trans.[DepreciationValue], 0),
	ari.[Modifier_ID] = @UserId,
	ari.[DateOfDisposal] = CASE @TransactionTypeId WHEN @DisposalType THEN CURRENT_TIMESTAMP ELSE ari.[DateOfDisposal] END,
	ari.[DisposalAmountCost] = CASE @TransactionTypeId WHEN @DisposalType THEN tat.[TransactionValue] ELSE ari.[DisposalAmountCost] END,
	ari.[ProfitOrLossOnDisposal] = tat.[DisposalLossValue],
--	ari.[RemainingUsefulLife] = tat.[UsefullLife],
	ari.[RevaluationReserveClosingBalance] = ari.[RevaluationReserveClosingBalance] - @RevaluationReserveDebitBalance
FROM
	#TempAssetTransactions tat
INNER JOIN
	Asset_Register_Items ari ON tat.[AssetRegisterItemId] = ari.[AssetRegisterItem_ID]
OUTER APPLY
	(
		SELECT DISTINCT
			art.[AssetRegisterItem_ID],
			LAST_VALUE(art.[DepreciationValue]) OVER (PARTITION BY art.[AssetRegisterItem_ID] ORDER BY art.[ID] ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING) AS 'DepreciationValue'
		FROM
			Asset_Register_Transactions art
		WHERE
			art.[AssetRegisterItem_ID] = tat.[AssetRegisterItemId]
	) trans;

-- Mark Disopsal as Approved
UPDATE
	Asset_Disposal_Approval
SET
	[IsApprove] = 1,
	[ApprovedBy] = @UserId,
	[ApprovedDate] = CURRENT_TIMESTAMP
WHERE
	[AssetItemID] = @AssetRegisterItemId
AND ISNULL([IsApprove], 0) = 0;

EXEC Asset_Transaction_Summary_Populate_single @AssetRegisterItemId, @AssetTransactionYear, 1;

END;
drop table if exists #Projects, #ScoaItems, #ScoaItemsResults, #TempAssetTransactions