ALTER PROCEDURE [dbo].[Asset_Transaction_Summary_Populate_single] 
@AssetRegisterItem_ID int,
@FinYear char(9),
@FinPeriod int
AS
BEGIN
SET ANSI_WARNINGS OFF
BEGIN
DELETE FROM Asset_Transaction_Summary
WHERE AssetRegisterItemID = @AssetRegisterItem_ID AND 
((Convert(int, left(FinancialYear,4)) > Convert(int, left(@FinYear,4))) OR
(Convert(int, left(FinancialYear,4)) = Convert(int, left(@FinYear,4)) AND FinancialPeriod >= @FinPeriod))
END
BEGIN
DECLARE @NumberRecords int, @RowCounter int
DECLARE @AssetRegisterItemID int, @NumberOfMonths int, @RemainingUsefulLife decimal(18,8), 
@CurrentAmount decimal(18,2), @DepreciationOpeningBalance decimal(18,2), @ImpairmentOpeningBalance decimal(18,2), @RevaluationOpeningBalance decimal(18,2),
@MovementInRevaluationReserve decimal(18,2), @DepreciationOffset decimal(18,2), @RevaluationClosingBalance decimal(18,2),
@Month char(2) = CASE WHEN @FinPeriod - 6 > 0 THEN CONVERT(VARCHAR(2), @FinPeriod - 6) ELSE CONVERT(VARCHAR(2), @FinPeriod + 6) END,
@CurrYear char(4) = CASE WHEN @FinPeriod < 7 THEN LEFT(@FinYear, 4) ELSE RIGHT(@FinYear, 4) END,
@RevaluationImpairmentOpeningBalance decimal(18,2), @TransferFromAmount decimal(18,2), @TransferToAmount decimal(18,2),
@COSTOpeningBalance decimal(18,2)

 BEGIN
	SELECT @TransferToAmount = SUM(TransferValue) FROM Asset_Transfer_Transactions WHERE AssetItemID = @AssetRegisterItem_ID;
 END
  BEGIN
	SELECT @TransferFromAmount = SUM(TransferValue) FROM Asset_Transfer_Transactions WHERE MainAssetID = @AssetRegisterItem_ID AND AssetItemID = 0;
 END
 SELECT @AssetRegisterItemID = AssetRegisterItem_ID, @NumberOfMonths = (SELECT DATEDIFF(MONTH, (@CurrYear + '/' + @Month + '/01'), GETDATE())),  
 @RemainingUsefulLife = ISNULL(RemainingUsefulLife, UsefulLifeMonthComponent), @CurrentAmount = COALESCE(CurrentReplacementCostCRC, 0) - ISNULL(@TransferToAmount,0), -- ISNULL(@TransferFromAmount,0), 
 @DepreciationOpeningBalance = ISNULL(ABS(AccumulatedDepreciationOpeningBalance),0), @ImpairmentOpeningBalance = ISNULL(ABS(AccumulatedImpairmentOpeningBalance),0), 
 @RevaluationOpeningBalance = ISNULL(ABS(RevaluationOpeningBalance),0), @MovementInRevaluationReserve = ISNULL(ABS(MovementInRevaluationReserve),0),@DepreciationOffset = ISNULL(ABS(DepreciationOffset),0),
 @RevaluationImpairmentOpeningBalance = ISNULL(RevaluationImpairmentOpeningBalance,0),
 @COSTOpeningBalance = CASE WHEN ISNULL(TransferToAmount,0) = 0 AND ISNULL(@TransferToAmount,0) = 0 THEN ISNULL(CurrentReplacementCostCRC, 0) else 0 end, --+ ISNULL(@TransferFromAmount,0)
 @RevaluationClosingBalance = ISNULL(RevaluationOpeningBalance,0) + @MovementInRevaluationReserve - @DepreciationOffset - @RevaluationImpairmentOpeningBalance
  
 FROM Asset_Register_Items (NOLOCK)
 WHERE AssetRegisterItem_ID = @AssetRegisterItem_ID

  -- loop number of months to insert
 WHILE @NumberOfMonths > -1
 BEGIN

 INSERT INTO Asset_Transaction_Summary (AssetRegisterItemID, FinancialYear, FinancialPeriod, RemainingUsefulLife, CurrentValue, 
 AccumulatedDepreciationOpeningBalance, DepreciationValue, AccumulatedDepreciationClosingBalance,
 AccumulatedImpairmentOpeningBalance, ImpairmentValue, AccumulatedImpairmentClosingBalance,
 AccumulatedFairValueOpeningBalance, FairValue, AccumulatedFairValueClosingBalance,
 AccumulatedRevaluationOpeningBalance, RevaluationValue, AccumulatedRevaluationClosingBalance,
 AccumulatedImpairmentReversalOpeningBalance, ImpairmentReversalValue, AccumulatedImpairmentReversalClosingBalance,
 DisposalOpeningBalance, DisposalValue, DisposalLossValue, DisposalTotalValue, DisposalClosingBalance,
 AdditionOpeningBalance, AdditionVaue, AdditionClosingBalance,
 WorkInProgressOpeningBalance, WorkInProgressValue, WorkInProgressClosingBalance,
 AmortisationOpeningBalance, AmortisationValue, AmortisationClosingBalance,
 CorrectionOfErrorOpeningBalance, CorrectionOfErrorValue, CorrectOfErrorClosingBalance,
 AdditionalCostOpeningBalance, AdditionalCostValue, AdditionalCostClosingBalance, MovementInRevaluationReserve, 
 DepreciationOffsetOpeningBalance, DepreciationOffset, DepreciationOffsetClosingBalance, ImpairmentSurplus, RevaluationReserveImpairmentOpeningBalance, 
 RevaluationReserveImpairment, RevaluationReserveImpairmentReversal, RevaluationReserveImpairmentClosingBalance, RevaluationReserveRevaluation, RevaluationReserveDisposal, DepreciationAdjustment,
 TransferFromValue, TransferToValue,
 CostOpeningBalance,CostClosingBalance,RefurbDTValue,RefurbCTValue, RefurbDepreciationValue,RefurbRevaluationValue )

 SELECT @AssetRegisterItemID, @FinYear, @FinPeriod, COALESCE(MAX(lt.RemaingUsefulLife), MAX(OpeningBalances.RemainingUsefulLife), @RemainingUsefulLife),
 -- CurrentValue
  ISNULL( MAX(OpeningBalances.CurrentValue) - ISNULL(SUM(art.DepreciationValue),0) - ISNULL(SUM(art.DepreciationAdjustment),0) - ISNULL(SUM(ABS(art.ImpairmentValue)),0)
 + ISNULL(SUM(art.FairValue),0) + ISNULL(SUM(art.ImpairmentReversalValue),0)
 - ISNULL(SUM(ABS(art.DisposalLossValue)),0) - ISNULL(SUM(ABS(art.DisposalTotalValue)),0) + ISNULL(SUM(art.RevaluationValue),0) - ISNULL(SUM(art.TransferFromValue),0) + ISNULL(SUM(art.TransferToValue),0) + ISNULL(SUM(art.RefurbDTValue),0) - ISNULL(SUM(art.RefurbCTValue),0) + ISNULL(SUM(art.RefurbDepreciationValue), 0),
 --- ISNULL(SUM(art.DepreciationOffset), 0),
 @CurrentAmount - ISNULL(MAX(OpeningBalances.AccumulatedDepreciationClosingBalance), @DepreciationOpeningBalance) - ISNULL(SUM(art.DepreciationValue),0)
 - ISNULL(MAX(ABS(OpeningBalances.AccumulatedImpairmentClosingBalance)), @ImpairmentOpeningBalance) - ISNULL(SUM(ABS(art.ImpairmentValue)),0)
 + ISNULL(MAX(ABS(OpeningBalances.AccumulatedImpairmentReversalClosingBalance)), 0) + ISNULL(SUM(ABS(art.ImpairmentReversalValue)),0)
 + ISNULL(MAX(OpeningBalances.AccumulatedFairValueClosingBalance), 0) + ISNULL(SUM(art.FairValue),0) + ISNULL(SUM(art.TransferToValue),0)),

 --Depreciation Balances
 ISNULL(MAX(OpeningBalances.AccumulatedDepreciationClosingBalance), @DepreciationOpeningBalance),
 ISNULL(SUM(art.DepreciationValue),0), 
 ISNULL(MAX(OpeningBalances.AccumulatedDepreciationClosingBalance), @DepreciationOpeningBalance) + ISNULL(SUM(art.DepreciationValue),0) + ISNULL(SUM(art.DepreciationAdjustment),0) - ISNULL(SUM(art.RefurbDepreciationValue), 0), -- - ISNULL(SUM(art.DisposalValue), 0) - ISNULL(SUM(art.DisposalLossValue), 0) + ISNULL(SUM(art.DisposalTotalValue), 0),
 --Impairment Balances
 ISNULL(MAX(ABS(OpeningBalances.AccumulatedImpairmentClosingBalance)), @ImpairmentOpeningBalance),
 ISNULL(SUM(ABS(art.ImpairmentValue)),0), 
 ISNULL(MAX(OpeningBalances.AccumulatedImpairmentClosingBalance), @ImpairmentOpeningBalance) + ISNULL(SUM(ABS(art.ImpairmentValue)),0) - ISNULL(SUM(art.ImpairmentReversalValue),0),
 --Fair Value Balances
 ISNULL(MAX(OpeningBalances.AccumulatedFairValueClosingBalance), 0),
 ISNULL(SUM(art.FairValue),0), 
 ISNULL(MAX(OpeningBalances.AccumulatedFairValueClosingBalance), 0) + ISNULL(SUM(art.FairValue),0),
 
 --Revaluation Balances
 ISNULL(MAX(OpeningBalances.AccumulatedRevaluationClosingBalance), @RevaluationOpeningBalance) ,
 ISNULL(SUM(art.RevaluationValue),0),  
 CASE WHEN @FinPeriod = 1 AND NOT EXISTS (SELECT 1 FROM Asset_Transaction_Summary obs (NOLOCK) WHERE obs.AssetRegisterItemID = ari.AssetRegisterItem_ID) 
	  THEN  ISNULL(@RevaluationClosingBalance,0)	  
	    -	ISNULL(SUM(art.RevaluationValue), 0) 
		-	ISNULL(SUM(art.RevaluationReserveImpairment), 0) 
		+	ISNULL(SUM(art.RevaluationReserveImpairmentReversal),0) 
		-	ISNULL(SUM(art.RevaluationReserveDisposal), 0)  
		-	ISNULL(SUM(art.RefurbRevaluationValue), 0)  
		-	ISNULL(SUM(art.DepreciationOffset), 0)
		+	ISNULL(SUM(art.MovementInRevaluationReserve), 0)	
	   ELSE	
			--COALESCE(MAX(lt.AccumulatedRevaluation), 
			MAX(OpeningBalances.AccumulatedRevaluationClosingBalance)			
	    -	ISNULL(SUM(art.RevaluationValue), 0) 
		-	ISNULL(SUM(art.RevaluationReserveImpairment), 0) 
		+	ISNULL(SUM(art.RevaluationReserveImpairmentReversal),0) 
		-	ISNULL(SUM(art.RevaluationReserveDisposal), 0)  
		-	ISNULL(SUM(art.RefurbRevaluationValue), 0)  
		-	ISNULL(SUM(art.DepreciationOffset), 0)
		+	ISNULL(SUM(art.MovementInRevaluationReserve), 0)	
		END , 

 --Impairment Reversal Balances
 ISNULL(MAX(OpeningBalances.AccumulatedImpairmentReversalClosingBalance), 0) ,
 ISNULL(SUM(art.ImpairmentReversalValue),0), 
 ISNULL(MAX(OpeningBalances.AccumulatedImpairmentReversalClosingBalance), 0) + ISNULL(SUM(art.ImpairmentReversalValue),0) ,
 --Disposal Balances
 ISNULL(MAX(OpeningBalances.DisposalClosingBalance), 0),
 ISNULL(SUM(art.DisposalValue),0), ISNULL(SUM(art.DisposalLossValue),0), ISNULL(SUM(art.DisposalTotalValue),0), 
 ISNULL(MAX(OpeningBalances.DisposalClosingBalance), 0) - ISNULL(SUM(art.DisposalLossValue),0) + ISNULL(SUM(art.DisposalTotalValue),0),
 --Additions Balances
 CASE WHEN @FinPeriod = 1 THEN 0 ELSE ISNULL(MAX(OpeningBalances.AdditionClosingBalance), 0) END,
 CASE WHEN EOMONTH(MAX(ari.AcquisitionDate)) = EOMONTH(DATEADD(month, -@NumberOfMonths, GETDATE())) and MAX(ISNULL(ari.TransferToAmount,0)) = 0 and ISNULL(SUM(art.TransferToValue),0) = 0 THEN ISNULL(MAX(ari.CurrentReplacementCostCRC),0) ELSE 0.00 END, 
 CASE WHEN @FinPeriod = 1 THEN CASE WHEN EOMONTH(MAX(ari.AcquisitionDate)) = EOMONTH(DATEADD(month, -@NumberOfMonths, GETDATE())) and MAX(ISNULL(ari.TransferToAmount,0)) = 0 and ISNULL(SUM(art.TransferToValue),0) = 0 THEN ISNULL(MAX(ari.CurrentReplacementCostCRC),0) ELSE 0.00 END 
      ELSE ISNULL(MAX(OpeningBalances.AdditionClosingBalance), 0) + (CASE WHEN EOMONTH(MAX(ari.AcquisitionDate)) = EOMONTH(DATEADD(month, -@NumberOfMonths, GETDATE())) and MAX(ISNULL(ari.TransferToAmount,0)) = 0 and ISNULL(SUM(art.TransferToValue),0) = 0 THEN ISNULL(MAX(ari.PurchaseAmount),0) else 0.00 END) END,
 --Placeholder for Work in Progress
 CASE WHEN @FinPeriod = 1 then 0 ELSE ISNULL(MAX(OpeningBalances.WorkInProgressClosingBalance), 0) END,
 ISNULL(SUM(art.TransferFromValue),0),
 CASE WHEN @FinPeriod = 1 THEN 0 ELSE ISNULL(MAX(OpeningBalances.WorkInProgressClosingBalance), 0) END + ISNULL(SUM(art.TransferFromValue),0),
 --Placeholder for Amortisation
 ISNULL(MAX(OpeningBalances.AmortisationClosingBalance), 0),
 0.00,
 ISNULL(MAX(OpeningBalances.AmortisationClosingBalance), 0),
 --Placeholder for Correction of Errors
 ISNULL(MAX(OpeningBalances.CorrectOfErrorClosingBalance), 0),
 0.00,
 ISNULL(MAX(OpeningBalances.CorrectOfErrorClosingBalance), 0),
 --Placeholder for Additional Cost
 ISNULL(MAX(OpeningBalances.AdditionalCostClosingBalance), 0),
 0.00,
 ISNULL(MAX(OpeningBalances.AdditionalCostClosingBalance), 0),

 -- MovementInRevaluationReserve
 CASE WHEN @FinPeriod = 1 AND NOT EXISTS (SELECT 1 FROM Asset_Transaction_Summary obs (NOLOCK) WHERE obs.AssetRegisterItemID = ari.AssetRegisterItem_ID) THEN @MovementInRevaluationReserve     
     ELSE ISNULL(SUM(art.MovementInRevaluationReserve),0)  END,

 --Depreciation Offset
CASE WHEN @FinPeriod = 1 AND NOT EXISTS (SELECT 1 FROM Asset_Transaction_Summary obs (NOLOCK) WHERE obs.AssetRegisterItemID = ari.AssetRegisterItem_ID) THEN @DepreciationOffset
     WHEN @FinPeriod = 1 AND ISNULL(MAX(OpeningBalances.DepreciationOffsetClosingBalance),0) > 0 THEN 0
     ELSE  ISNULL(MAX(OpeningBalances.DepreciationOffsetClosingBalance), @DepreciationOffset) END,

 ISNULL(SUM(art.DepreciationOffset),0),

 CASE WHEN @FinPeriod = 1 AND NOT EXISTS (SELECT 1 FROM Asset_Transaction_Summary obs (NOLOCK) WHERE obs.AssetRegisterItemID = ari.AssetRegisterItem_ID) THEN @DepreciationOffset
     WHEN @FinPeriod = 1 THEN ISNULL(SUM(art.DepreciationOffset),0)
     ELSE  ISNULL(MAX(OpeningBalances.DepreciationOffsetClosingBalance), @DepreciationOffset) + ISNULL(SUM(art.DepreciationOffset),0) END,

 ISNULL(MAX(OpeningBalances.ImpairmentSurplus),0) + ISNULL(SUM(art.ImpairmentSurplus),0),

 --Asset Revaluation Reserve Transactions
 CASE WHEN @FinPeriod = 1 AND NOT EXISTS (SELECT 1 FROM Asset_Transaction_Summary obs (NOLOCK) WHERE obs.AssetRegisterItemID = ari.AssetRegisterItem_ID) THEN @RevaluationImpairmentOpeningBalance
     WHEN @FinPeriod = 1 THEN 0
     ELSE  ISNULL(MAX(OpeningBalances.RevaluationReserveImpairmentClosingBalance), @RevaluationImpairmentOpeningBalance)END, 
 ISNULL(SUM(art.RevaluationReserveImpairment),0),
 ISNULL(SUM(art.RevaluationReserveImpairmentReversal),0),
  CASE WHEN @FinPeriod = 1 AND NOT EXISTS (SELECT 1 FROM Asset_Transaction_Summary obs (NOLOCK) WHERE obs.AssetRegisterItemID = ari.AssetRegisterItem_ID) THEN @RevaluationImpairmentOpeningBalance + ISNULL(SUM(art.RevaluationReserveImpairment),0) - ISNULL(SUM(art.RevaluationReserveImpairmentReversal),0)
     WHEN @FinPeriod = 1 THEN 0
     ELSE ISNULL(MAX(OpeningBalances.RevaluationReserveImpairmentClosingBalance), @RevaluationImpairmentOpeningBalance) + ISNULL(SUM(art.RevaluationReserveImpairment),0) - ISNULL(SUM(art.RevaluationReserveImpairmentReversal),0) END,
 ISNULL(SUM(art.RevaluationReserveRevaluation),0),
 ISNULL(SUM(art.RevaluationReserveDisposal),0),
 ISNULL(SUM(art.DepreciationAdjustment),0),
 ISNULL(SUM(art.TransferFromValue),0),
 ISNULL(SUM(art.TransferToValue),0),
 ISNULL(MAX(OpeningBalances.CostClosingBalance), @COSTOpeningBalance) ,
 ISNULL(MAX(OpeningBalances.CostClosingBalance), @COSTOpeningBalance)  + ISNULL(SUM(art.RevaluationValue), 0) + ISNULL(SUM(art.FairValue), 0) + ISNULL(SUM(art.TransferToValue), 0) - ISNULL(SUM(art.TransferFromValue), 0) + ISNULL(SUM(art.RefurbDTValue), 0) - ISNULL(SUM(art.RefurbCTValue), 0) - ISNULL(SUM(art.DisposalValue),0),
 --+ CASE WHEN EOMONTH(MAX(ari.AcquisitionDate)) = EOMONTH(DATEADD(month, -@NumberOfMonths, GETDATE())) and MAX(ISNULL(ari.TransferToAmount,0)) = 0 AND ISNULL(MAX(OpeningBalances.CostClosingBalance),0) = 0 THEN ISNULL(MAX(ari.CurrentReplacementCostCRC),0) ELSE 0.00 END,
 ISNULL(SUM(art.RefurbDTValue), 0),
 ISNULL(SUM(art.RefurbCTValue), 0),
 ISNULL(SUM(art.RefurbDepreciationValue), 0),
 ISNULL(SUM(art.RefurbRevaluationValue), 0)

FROM Asset_Register_Items (NOLOCK) ari

LEFT OUTER JOIN  Asset_Transaction_Summary OpeningBalances (NOLOCK) ON ari.AssetRegisterItem_ID = OpeningBalances.AssetRegisterItemID 
AND OpeningBalances.FinancialPeriod = case when @FinPeriod = 1 then 12 else @FinPeriod - 1 END
AND OpeningBalances.FinancialYear = case when @FinPeriod = 1 then CONCAT(LEFT(TRIM(@FinYear),4) - 1, '/',  RIGHT(TRIM(@FinYear),4) - 1) ELSE @FinYear END

LEFT OUTER JOIN 
(SELECT top(1) * from Asset_Register_Transactions (NOLOCK) where AssetRegisterItem_ID = @AssetRegisterItemID AND FinancialPeriod = @FinPeriod and FinancialYear = @FinYear AND TransactionTypeID <> 26 order by ID Desc) AS lt 
on ari.AssetRegisterItem_ID = lt.AssetRegisterItem_ID and lt.FinancialPeriod = @FinPeriod and lt.FinancialYear = @FinYear

LEFT OUTER JOIN
(SELECT top(1) * from Asset_Register_Transactions (NOLOCK) where AssetRegisterItem_ID = @AssetRegisterItemID AND (FinancialPeriod <> @FinPeriod)
		AND ID < (SELECT top(1) ID from Asset_Register_Transactions (NOLOCK) where AssetRegisterItem_ID = @AssetRegisterItemID AND FinancialPeriod = @FinPeriod and FinancialYear = @FinYear AND TransactionTypeID <> 26 order by ID asc) order by ID desc) AS ft 
ON ari.AssetRegisterItem_ID = ft.AssetRegisterItem_ID 
--AND ft.FinancialPeriod = case when @FinPeriod = 1 then 12 else @FinPeriod - 1 END
--AND ft.FinancialYear = case when @FinPeriod = 1 then CONCAT(LEFT(TRIM(@FinYear),4) - 1, '/',  RIGHT(TRIM(@FinYear),4) - 1) ELSE @FinYear END

LEFT OUTER JOIN
(SELECT top(1) * from Asset_Register_Transactions (NOLOCK) where AssetRegisterItem_ID = @AssetRegisterItemID AND FinancialPeriod = @FinPeriod and FinancialYear = @FinYear AND TransactionTypeID = 26 order by ID Desc) AS dt 
on ari.AssetRegisterItem_ID = lt.AssetRegisterItem_ID and dt.FinancialPeriod = @FinPeriod and dt.FinancialYear = @FinYear

LEFT OUTER JOIN Asset_Register_Transactions (NOLOCK) art 
ON ari.AssetRegisterItem_ID = art.AssetRegisterItem_ID AND art.FinancialPeriod = @FinPeriod and art.FinancialYear = @FinYear

WHERE ari.AssetRegisterItem_ID = @AssetRegisterItemID 
GROUP BY ari.AssetRegisterItem_ID, art.FinancialYear, art.FinancialPeriod

	SET @NumberOfMonths = @NumberOfMonths - 1
	SET @FinPeriod = case when @FinPeriod + 1 > 12 then 1 else @Finperiod + 1 END
	SET @FinYear = case when @FinPeriod = 1 then   CONCAT(LEFT(TRIM(@FinYear),4) + 1, '/',  RIGHT(TRIM(@FinYear),4) + 1) ELSE @FinYear END

END
SET @RowCounter = @RowCounter + 1
END
END