ALTER PROCEDURE [dbo].[Asset_ApproveTransferTransactions]
@RunID int,   
@UserID int

AS
BEGIN
DROP TABLE IF EXISTS #TempTransfers, #TempAssetTransactions
DECLARE @ItemDescription VARCHAR(20) = 'Asset Transfer';

DECLARE @TransactionId UNIQUEIDENTIFIER = NEWID(),
		@FinYear NVARCHAR(9) = dbo.GetFinYearByUserID_fxn(@UserId),
		@ProcessingMonth INT = dbo.GetProcessingMonthByUserID_fxn(@UserId),
		@AssetJournalTransactionTypeId INT = (SELECT [AssetJournalTransactionType_ID] FROM Const_AssetJournalTransactionType_Sys WHERE [AssetJournalTransactionDesc] = @ItemDescription),
		@DocumentTypeId INT = (SELECT [DocumentType_ID] FROM Const_DocumentType WHERE [DocumentTypeDesc] = @ItemDescription),
		@PreviousDocumentNumber INT,
		@NewDocumentNumber NVARCHAR(9),
		@TransactionTypeId INT = (SELECT
									[ReferenceDAta_ID]
								FROM
									Const_ReferenceData_sys d
								INNER JOIN
									Const_ReferenceType_sys t ON t.[ReferenceType_ID] = d.[ReferenceTypeID]       
								WHERE
									t.[Name] = 'AssetTransactionTypes'
								AND d.[Description] = 'Asset Transfer')

SELECT TOP 1
	@PreviousDocumentNumber = ISNULL(TRY_PARSE(SUBSTRING(lja.[DocumentNumber], CHARINDEX('/', lja.[DocumentNumber]) + 1, LEN(lja.[DocumentNumber]))AS INT),0)
FROM
	Led_Journal_Asset lja
WHERE
	lja.[AssetJournalTransactionTypeID] = @AssetJournalTransactionTypeId
ORDER BY
	lja.[AssetJournal_ID] DESC;

IF (@PreviousDocumentNumber IS NULL OR @PreviousDocumentNumber = 0)
BEGIN
	SET @NewDocumentNumber = CONCAT(CAST(@DocumentTypeId AS NVARCHAR(9)), '/1');
END
ELSE
BEGIN
	SET @NewDocumentNumber = CONCAT(CAST(@DocumentTypeId AS NVARCHAR(9)), '/', CAST(@PreviousDocumentNumber + 1 AS NVARCHAR(9)));
END;

CREATE TABLE #TempTransfers (
	[AssetTransfer_ID] int,
	[TransactionId] UNIQUEIDENTIFIER,
	[GLTransactionYear] nvarchar(9),
	[GLTransactionMonth] int,
	[AssetTransactionYear] nvarchar(9),
	[AssetTransactionMonth] int,
	[AssetItemID] int,
	[TransferDate] datetime,
	[TransferValue] decimal(18, 2),
	[DebitPlanProjectItemID] int,
	[CreditPlanProjectItemID] int,
	[DocumentNumber] nvarchar(9),
	[SCOAFundsID] int,
	[SCOARegionID] int,
	[SCOACostingID] int,
	[SCOAProjectID] int,
	[SCOAFunctionID] int,
	[SCOAItemID] int,
	[DivisionID] int,
	[ProjectID] int,
	[VoteID] int
)

INSERT INTO #TempTransfers
SELECT 
AssetTransfer_ID,
@TransactionId,
@FinYear,
@ProcessingMonth,
(select(case when MONTH(TransferDate) - 6 <= 0 then CONCAT((YEAR(TransferDate) - 1),'/',YEAR(TransferDate))
ELSE CONCAT(YEAR(TransferDate),'/', YEAR(TransferDate) + 1) END)),
(select(case when MONTH(TransferDate) - 6 <= 0 then MONTH(TransferDate) + 6 ELSE MONTH(TransferDate) - 6 END)),
AssetItemID,
TransferDate,
TransferValue,
DebitPlanProjectItemID,
NULL,
@NewDocumentNumber,
PPI.SCOAFundId,
PPI.SCOARegionId,
PPI.SCOACostingID,
P.ScoaProjectID,
PPI.SCOAFunctionId,
PPI.SCOAItemID,
PPI.DivisionId,
PPI.ProjectID,
v.Vote_ID
FROM Asset_Transfer_Transactions tt 
left  Join Plan_ProjectItem PPI on tt.DebitPlanProjectItemID = PPI.PlanProjectItem_ID
Left Join  Plan_Project P on PPi.ProjectID = P.Project_ID
left  Join Led_Vote v on PPI.SCOAItemID=v.SCOAItemID and PPI.FinYear=v.FinYear
where Run_ID = @RunID
and ISNULL(IsApproved, 0) = 0

INSERT INTO #TempTransfers
SELECT 
AssetTransfer_ID,
@TransactionId,
@FinYear,
@ProcessingMonth,
(select(case when MONTH(TransferDate) - 6 <= 0 then CONCAT((YEAR(TransferDate) - 1),'/',YEAR(TransferDate))
ELSE CONCAT(YEAR(TransferDate),'/', YEAR(TransferDate) + 1) END)),
(select(case when MONTH(TransferDate) - 6 <= 0 then MONTH(TransferDate) + 6 ELSE MONTH(TransferDate) - 6 END)),
MainAssetID,
TransferDate,
TransferValue,
NULL,
CreditPlanProjectItemID,
@NewDocumentNumber,
PPI.SCOAFundId,
PPI.SCOARegionId,
PPI.SCOACostingID,
P.ScoaProjectID,
PPI.SCOAFunctionId,
PPI.SCOAItemID,
PPI.DivisionId,
PPI.ProjectID,
v.Vote_ID
FROM Asset_Transfer_Transactions tt
left  Join Plan_ProjectItem PPI on tt.CreditPlanProjectItemID = PPI.PlanProjectItem_ID
Left Join  Plan_Project P on PPi.ProjectID = P.Project_ID
left  Join Led_Vote v on PPI.SCOAItemID=v.SCOAItemID and PPI.FinYear=v.FinYear
where Run_ID = @RunID
and ISNULL(IsApproved, 0) = 0

INSERT INTO Led_Journal_Asset
(
	[FinYear],
	[ProcessingMonth],
	[TransactionID],
	[AssetJournalTransactionTypeID],
	[TransactionDate],
	[DebitVoteID],
	[CreditVoteID],
	[Amount],
	[DocumentNumber],
	[DateCaptured],
	[CapturerID],
	[ItemDescription],
	[Asset_RegisterItem_ID],
	[SCOAFundsID],
	[SCOARegionID],
	[SCOACostingID],
	[SCOAProjectID],
	[SCOAFunctionID],
	[SCOAItemID]
)

SELECT
GLTransactionYear,
GLTransactionMonth,
TransactionId,
@AssetJournalTransactionTypeId,
TransferDate,
CASE WHEN DebitPlanProjectItemID IS NULL THEN NULL ELSE VoteID END,
CASE WHEN CreditPlanProjectItemID IS NULL THEN NULL ELSE VoteID END,
SUM(TransferValue),
DocumentNumber,
CURRENT_TIMESTAMP,
@UserID,
@ItemDescription,
AssetItemID,
SCOAFundsID,
SCOARegionID,
SCOACostingID,
SCOAProjectID,
SCOAFunctionID,
SCOAItemID
FROM #TempTransfers
GROUP BY [TransactionId],[GLTransactionYear],[GLTransactionMonth],[AssetTransactionYear],[AssetTransactionMonth],[AssetItemID],
[TransferDate],[DebitPlanProjectItemID],[CreditPlanProjectItemID],[DocumentNumber],[SCOAFundsID],[SCOARegionID],[SCOACostingID],
[SCOAProjectID],[SCOAFunctionID],[SCOAItemID],[DivisionID],[ProjectID],[VoteID]


INSERT INTO Led_GeneralLedger
(
	[PostingDate],
	[ProcessingMonth],
	[VoteID],
	[FinYear],
	[TransactionTypeID],
	[TransactionDetails],
	[DocumentNumber],
	[Debit],
	[Credit],
	[DateCaptured],
	[CapturerID],
	[MatchTranGuid],
	[AssetLinkID],
	[SCOAFundsID],
	[SCOARegionID],
	[SCOACostingID],
	[SCOAProjectID],
	[SCOAFunctionID],
	[SCOAItemID],
	[DivisionID],
	[ProjectID],
	[PlanProjectItemID]
)

SELECT
CURRENT_TIMESTAMP,
GLTransactionMonth,
VoteID,
GLTransactionYear,
@AssetJournalTransactionTypeId,
@ItemDescription,
DocumentNumber,
CASE WHEN DebitPlanProjectItemID IS NULL THEN 0 ELSE SUM(TransferValue) END,
CASE WHEN CreditPlanProjectItemID IS NULL THEN 0 ELSE SUM(TransferValue) END,
TransferDate,
@UserID,
TransactionId,
@RunID,
SCOAFundsID,
SCOARegionID,
SCOACostingID,
SCOAProjectID,
SCOAFunctionID,
SCOAItemID,
DivisionID,
ProjectID,
CASE WHEN DebitPlanProjectItemID IS NULL THEN CreditPlanProjectItemID ELSE DebitPlanProjectItemID END
FROM #TempTransfers
GROUP BY 
GLTransactionMonth,
VoteID,
GLTransactionYear,
DocumentNumber,
TransferDate,
TransactionId,
SCOAFundsID,
SCOARegionID,
SCOACostingID,
SCOAProjectID,
SCOAFunctionID,
SCOAItemID,
DivisionID,
ProjectID,
DebitPlanProjectItemID,
CreditPlanProjectItemID

SELECT
tt.AssetItemID,
tt.TransferDate,
tt.AssetTransactionMonth,
tt.AssetTransactionYear,
tt.TransactionId,
tt.CreditPlanProjectItemID,
tt.DebitPlanProjectItemID,
SUM(tt.TransferValue) AS TransferValue
INTO #TempAssetTransactions
FROM #TempTransfers tt
GROUP BY 
tt.AssetItemID,
tt.TransferDate,
tt.AssetTransactionMonth,
tt.AssetTransactionYear,
tt.TransactionId,
tt.CreditPlanProjectItemID,
tt.DebitPlanProjectItemID

INSERT INTO Asset_Register_Transactions (
       [AssetRegisterItem_ID]
      ,[TransactionTypeID]
      ,[TransactionDate]
      ,[PurchaseAmount]
      ,[ResidualValue]
      ,[CurrentValue]
      ,[UsefulLife]
      ,[RemaingUsefulLife]
      ,[DepreciationValue]
      ,[ImpairmentValue]
      ,[RevaluationValue]
      ,[FairValue]
      ,[DisposalValue]
      ,[DisposalLossValue]
      ,[DisposalTotalValue]
      ,[AccumulatedDepreciation]
      ,[AccumulatedImpairment]
      ,[AccumulatedFairValue]
      ,[AccumulatedRevaluation]
      ,[FinancialPeriod]
      ,[FinancialYear]
      ,[DocumentType_ID]
      ,[GLGUID_ID]
      ,[TransactionSource_ID]
      ,[DateModified]
      ,[Modifier]
      ,[ImpairmentReversalValue]
      ,[AccumulatedImpairmentReversal]
      ,[ImpairmentSurplus]
      ,[MovementInRevaluationReserve]
      ,[DepreciationOffset]
      ,[RevaluationReserveImpairment]
      ,[RevaluationReserveImpairmentReversal]
      ,[RevaluationReserveRevaluation]
      ,[RevaluationReserveDisposal]
      ,[DepreciationAdjustment]
	  ,[TransferFromValue]
	  ,[TransferToValue]
)

SELECT
tt.AssetItemID,
@TransactionTypeId,
tt.TransferDate,
ISNULL(trans.PurchaseAmount, i.PurchaseAmount),
ISNULL(trans.ResidualValue, i.ResidualValue),
CASE WHEN tt.DebitPlanProjectItemID IS NOT NULL THEN ISNULL(trans.CurrentValue, i.CurrentAmount) ELSE COALESCE(trans.CurrentValue, i.CurrentAmount,0) - tt.TransferValue END,
ISNULL(trans.UsefulLife, i.UsefulLifeMonthComponent),
ISNULL(trans.RemaingUsefulLife, i.RemainingUsefulLife),
0,
0,
0,
0,
0,
0,
0,
0,
0,
0,
0,
tt.AssetTransactionMonth,
tt.AssetTransactionYear,
@DocumentTypeId,
tt.TransactionId,
@RunID,
CURRENT_TIMESTAMP,
@UserID,
0,
0,
0,
0,
0,
0,
0,
0,
0,
0,
CASE WHEN tt.CreditPlanProjectItemID IS NOT NULL THEN tt.TransferValue ELSE 0 END,
CASE WHEN tt.DebitPlanProjectItemID IS NOT NULL THEN tt.TransferValue ELSE 0 END

FROM #TempAssetTransactions tt
inner join Asset_Register_Items i on tt.AssetItemID = i.AssetRegisterItem_ID
OUTER APPLY
		(
			SELECT DISTINCT
				art.[AssetRegisterItem_ID],
				LAST_VALUE(art.[PurchaseAmount])				OVER (PARTITION BY art.[AssetRegisterItem_ID] ORDER BY art.[ID] ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING) AS 'PurchaseAmount',
				LAST_VALUE(art.[ResidualValue])					OVER (PARTITION BY art.[AssetRegisterItem_ID] ORDER BY art.[ID] ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING) AS 'ResidualValue',
				LAST_VALUE(art.[CurrentValue])					OVER (PARTITION BY art.[AssetRegisterItem_ID] ORDER BY art.[ID] ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING) AS 'CurrentValue',
				LAST_VALUE(art.[UsefulLife])					OVER (PARTITION BY art.[AssetRegisterItem_ID] ORDER BY art.[ID] ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING) AS 'UsefulLife',
				LAST_VALUE(art.[RemaingUsefulLife])				OVER (PARTITION BY art.[AssetRegisterItem_ID] ORDER BY art.[ID] ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING) AS 'RemaingUsefulLife'
			FROM
				Asset_Register_Transactions art
			WHERE
				art.[AssetRegisterItem_ID] = tt.[AssetItemID]
		) trans

UPDATE Asset_Register_Items
SET 
CurrentAmount = CASE WHEN tt.CreditPlanProjectItemID IS NOT NULL THEN trans.CurrentValue ELSE i.CurrentAmount END --,
--TransferFromAmount = CASE WHEN tt.CreditPlanProjectItemID IS NOT NULL THEN ISNULL(i.TransferFromAmount,0) + ISNULL(TransferFromValue,0) ELSE ISNULL(i.TransferFromAmount,0) END,
--TransferToAmount = CASE WHEN tt.DebitPlanProjectItemID IS NOT NULL THEN ISNULL(i.TransferToAmount,0) + ISNULL(TransferToValue,0) ELSE ISNULL(i.TransferToAmount,0) END

FROM #TempAssetTransactions tt
inner join Asset_Register_Items i on tt.AssetItemID = i.AssetRegisterItem_ID
OUTER APPLY
		(
			SELECT DISTINCT
				art.[AssetRegisterItem_ID],
				LAST_VALUE(art.[PurchaseAmount])				OVER (PARTITION BY art.[AssetRegisterItem_ID] ORDER BY art.[ID] ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING) AS 'PurchaseAmount',
				LAST_VALUE(art.[ResidualValue])					OVER (PARTITION BY art.[AssetRegisterItem_ID] ORDER BY art.[ID] ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING) AS 'ResidualValue',
				LAST_VALUE(art.[CurrentValue])					OVER (PARTITION BY art.[AssetRegisterItem_ID] ORDER BY art.[ID] ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING) AS 'CurrentValue',
				LAST_VALUE(art.[UsefulLife])					OVER (PARTITION BY art.[AssetRegisterItem_ID] ORDER BY art.[ID] ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING) AS 'UsefulLife',
				LAST_VALUE(art.[RemaingUsefulLife])				OVER (PARTITION BY art.[AssetRegisterItem_ID] ORDER BY art.[ID] ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING) AS 'RemaingUsefulLife',
				LAST_VALUE(art.[TransferFromValue])				OVER (PARTITION BY art.[AssetRegisterItem_ID] ORDER BY art.[ID] ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING) AS 'TransferFromValue',
				LAST_VALUE(art.[TransferToValue])				OVER (PARTITION BY art.[AssetRegisterItem_ID] ORDER BY art.[ID] ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING) AS 'TransferToValue'
			FROM
				Asset_Register_Transactions art
			WHERE
				art.[AssetRegisterItem_ID] = tt.[AssetItemID]
		) trans

UPDATE Asset_Transfer_Transactions
set DateModified = CURRENT_TIMESTAMP,
ModifierID = @UserID,
IsApproved = 1
WHERE Run_ID = @RunID

DROP TABLE IF EXISTS #TempTransfers, #TempAssetTransactions
END