ALTER PROCEDURE [dbo].[AssetReport_GetAssetDepreciation] 
 @FinYear nvarchar(9),
 @FromPeriod int = NULL,
 @ToPeriod int = NULL,
 @AssetClass int = 0,        
 @Barcode nvarchar(100)='ALL',    
 @GIS nvarchar(100) = '0',    
 @ERF nvarchar(100)='ALL'   
  
AS  
BEGIN  
	if(@Barcode ='ALL' OR @Barcode = '')  
	Begin  
	SET @Barcode = NULL  
	end  
	if(@ERF ='ALL' OR @ERF = '')  
	Begin  
	SET @ERF = NULL  
	End 
	if (@AssetClass=0)
		set @AssetClass = null
	if (@GIS = '0')
		set @GIS = null
	if @FromPeriod = null
		set @FromPeriod = 1
	if @ToPeriod = null
		set @ToPeriod = 12

	;WITH Projects ([FinYear], [ProjectId], [ProjectDescription], [PlanProjectItemId], [ScoaDescription])
	AS
	(
		SELECT DISTINCT
			pp.[FinYear], pp.[Project_ID], pp.[ProjectDesc], ppi.[PlanProjectItem_ID], scoa.[ScoaDesc]
		FROM
			Plan_Project pp (NOLOCK)
		LEFT JOIN
			Plan_ProjectItem ppi (NOLOCK) ON pp.[Project_ID] = ppi.[ProjectID]
								AND pp.[FinYear] = ppi.[FinYear]
		LEFT JOIN
			Const_SCOA_Structure scoa (NOLOCK) ON ppi.[SCOAItemID] = scoa.[ScoaID]
	)

	SELECT
		d.[Asset_Depreciation_ID],
		ari.[AssetRegisterItem_ID],
		f.[AssetDescription],
		f.[AssetCategoryDesc],
		f.[Asset_SubCategoryDescription],
		f.[AssetClassDesc],
		f.[AssetTypeDesc],
		f.[AssetStatusDesc],
		f.[ConditionRatingDesc],
		ISNULL(adm.[AssetDepreciationMethodDesc], 'Straight-line') AS 'TypeDescription',
		REPLACE(d.[GeneralLedgerDocumentNumber], '/', '_') AS GeneralLedgerDocumentNumber,
		f.[UsefulLife] / 12.00 AS 'RemainingUsefulLifeYear',
		f.[UsefulLife] AS 'UsefulLifeMonthComponent',
		f.[RemainingUsefulLife] AS 'RemainingUsefulLifeMonth',
		f.[RemainingUsefulLife] / 12.00 * 365 AS 'RemainingUsefulLifeDays',
		CAST(CAST(f.[UsefulLife] / 12.00 AS DECIMAL) AS INT) AS 'UsefullLifeYear',
		f.[UsefulLife] AS 'UsefullLifeMonth',
		CAST(f.[UsefulLife] / 12.00 * 365 AS INT) AS 'UsefullLifeDay',
		ISNULL(CONVERT(VARCHAR, ari.[InserviceDate], 103), '00/00/0000') AS 'InServiceDate',
		f.[PurchaseAmount] AS 'OriginalCostClosingBalance',
		ROUND(ISNULL(ari.[AccumulatedDepreciationOpeningBalance], 0.00) + ISNULL(calc.[TotalDepreciation], 0.00), 2) AS 'AccumulatedDepreciationClosingBalance',
		ROUND(ISNULL(calc.[TotalDepreciation], 0.00), 2) AS 'AccumulatedDepreciationCurrentYear',
		d.[DepreciationValue] AS 'DepreciationValue',
		f.[CurrentValue] AS 'BookValue',
		ISNULL(d.[IsApproved], 1) AS 'IsApproved',
		d.[DaysFromLastRun],
		meas.[Name] AS 'MeasurementType',
		afs.[FinancialStatusDesc],
		ISNULL(CONVERT(VARCHAR, d.[ScheduledDate], 103), '00/00/0000') AS 'ScheduledDate',
		ISNULL(CONVERT(VARCHAR, d.[RunDate], 103), '00/00/0000') AS 'RunDate',
		d.[Month_ID] AS 'AR Processing Month',
		d.GLMonth AS 'GL Processing Month',
		d.[DebitProject],
		d.[CreditProject],
		d.[DebitSCOAItem],
		d.[CreditSCOAItem],
		ISNULL(Trans.AccumulatedDepreciationOpeningBalance,0) AS 'TransAccumulatedDepreciationOpeningBalance',
		ISNULL(Trans.AccumulatedDepreciationClosingBalance,0) AS 'TransAccumulatedDepreciationClosingBalance',
		ISNULL(Trans.CurrentValue,0) AS 'TransCurrentValue',
		ISNULL(Trans.DepreciationValue,0) AS 'TransDepreciationValue',
		ISNULL(Trans.RemainingUsefulLife, f.RemainingUsefulLife) AS 'TransRemainingUsefulLife',
		ISNULL(Trans.RemainingUsefulLife, f.RemainingUsefulLife) / 12.00 * 365 AS 'TransRemainingUsefulLifeDays',
		CAST(CAST(ISNULL(Trans.RemainingUsefulLife, f.RemainingUsefulLife) / 12.00 AS DECIMAL) AS INT) AS 'TransUsefullLifeYear',
		ISNULL(YTD.DepreciationValue,0) AS 'TransAccumulatedDepreciationCurrentYear',
		trans.DepreciationOffsetOpeningBalance AS DepreciationOffsetOpeningBalance,
		trans.DepreciationOffset AS DepreciationOffset,
		trans.DepreciationOffsetClosingBalance AS DepreciationOffsetClosingBalance
	FROM
		Asset_Register_Items ari (NOLOCK)
	INNER JOIN
		Asset_Register_Items_Function(NULL, NULL, NULL, @AssetClass, NULL, NULL, @Barcode, @GIS, @ERF, NULL, NULL, NULL, NULL, NULL) f ON ari.[AssetRegisterItem_ID] = f.[AssetRegisterItem_ID]
	LEFT JOIN
		AssetConfig_MeasurementType meas (NOLOCK) ON ari.[MeasurementType_ID] = meas.[AssetConfig_MeasurementType_ID]
	LEFT JOIN
		AssetConfig_FinancialStatus afs (NOLOCK) ON ari.[Financial_Status_ID] = afs.[FinStatusID]
	INNER JOIN
		Const_AssetClass_sys ac (NOLOCK) ON ari.[AssetClass_ID] = ac.[AssetClass_ID]
	LEFT JOIN
		Const_AssetDepreciationMethod_Sys adm (NOLOCK) ON ac.[AssetDepreciationMethod_ID] = adm.[AssetDepreciationMethod_ID]
	OUTER APPLY
		(
			SELECT
				MAX(d.[Asset_Depreciation_ID]) AS 'Asset_Depreciation_ID',
				d.[IsApproved] AS 'IsApproved',
				SUM(d.[DepreciationValue]) AS 'DepreciationValue',
				MAX(d.[DaysFromLastRun]) AS 'DaysFromLastRun',
				MAX(h.[ScheduledDate]) AS 'ScheduledDate',
				MAX(h.[RunDate]) AS 'RunDate',
				MAX(h.[Month_ID]) AS 'Month_ID',
				MAX(ah.ProcessingMonth) AS 'GLMonth',
				MAX(REPLACE(ah.[DocumentNumber],'/','_')) AS 'GeneralLedgerDocumentNumber',
				TRIM(CONCAT(STR(ppd.[ProjectId]), ' | ', ppd.[ProjectDescription])) AS 'DebitProject',
				TRIM(CONCAT(STR(ppc.[ProjectId]), ' | ', ppc.[ProjectDescription])) AS 'CreditProject',
				TRIM(CONCAT(STR(ppd.[PlanProjectItemId]), ' | ', ppd.[ScoaDescription])) AS 'DebitSCOAItem',
				TRIM(CONCAT(STR(ppc.[PlanProjectItemId]), ' | ', ppc.[ScoaDescription])) AS 'CreditSCOAItem'
			FROM
				Asset_Depreciation d (NOLOCK)
			INNER JOIN
				Asset_DepreciationSchedule_Item h (NOLOCK) ON d.[Depreciation_ScheduledItemID] = h.[Asset_DepreciationSchedule_Item_ID]
				AND
				(@FromPeriod is null or case when MONTH(h.ScheduledDate) - 6 <= 0 then MONTH(h.ScheduledDate) + 6 ELSE MONTH(h.ScheduledDate) - 6 END >= @FromPeriod)
				AND
				(@ToPeriod is null or case when MONTH(h.ScheduledDate) - 6 <= 0 then MONTH(h.ScheduledDate) + 6 ELSE MONTH(h.ScheduledDate) - 6 END <= @ToPeriod)
			INNER JOIN
				Asset_DepreciationSchedule ds (NOLOCK) ON h.[Asset_DepreciationSchedule_ID] = ds.[Asset_DepreciationSchedule_ID]
				AND ds.FinYear = @FinYear
			INNER JOIN Asset_Led_Header ah (NOLOCK) ON h.Asset_DepreciationSchedule_Item_ID= ah.Deprecation_ScheduleItemID
			LEFT JOIN
				Projects ppd ON ds.[FinYear] = ppd.[FinYear]
							AND h.[TransactionProjectDR] = ppd.[ProjectId]
							AND h.[TransactionProjectItemDR] = ppd.[PlanProjectItemId]
			LEFT JOIN
				Projects ppc ON ds.[FinYear] = ppc.[FinYear]
							AND h.[TransactionProjectCR] = ppc.[ProjectId]
							AND h.[TransactionProjectItemCR] = ppc.[PlanProjectItemId]
			WHERE
				d.[IsApproved] = 1
			AND d.[AssetRegisterItem_ID] = ari.[AssetRegisterItem_ID]

			GROUP BY
				d.[IsApproved], ppd.[ProjectId], ppd.[ProjectDescription], ppc.[ProjectId], ppc.[ProjectDescription], ppd.[PlanProjectItemId], ppd.[ScoaDescription], ppc.[PlanProjectItemId], ppc.[ScoaDescription]
		) d
	CROSS APPLY
		(
			SELECT
				SUM(id.[DepreciationValue]) AS 'TotalDepreciation'
			FROM
				Asset_Depreciation id (NOLOCK)
			WHERE
				id.[IsApproved] = 1
			AND id.[AssetRegisterItem_ID] = ari.[AssetRegisterItem_ID]

		) calc
	CROSS APPLY
		(
		SELECT 
		AssetRegisterItemID,
		FinancialYear,
		AccumulatedDepreciationOpeningBalance,
		CurrentValue,
		AccumulatedDepreciationClosingBalance,
		SUM(DepreciationValue) AS DepreciationValue,
		DepreciationOffsetOpeningBalance,
		SUM(DepreciationOffset) AS DepreciationOffset,
		DepreciationOffsetClosingBalance,
		RemainingUsefulLife
		FROM
		(
		SELECT DISTINCT
		LAST_VALUE(DepreciationOffsetOpeningBalance) OVER (Partition by AssetRegisterItemID  ORDER BY ID DESC ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING)  DepreciationOffsetOpeningBalance,
		DepreciationOffset,
		LAST_VALUE(DepreciationOffsetClosingBalance) OVER (Partition by AssetRegisterItemID  ORDER BY ID ASC ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING)  DepreciationOffsetClosingBalance,
		DepreciationValue,
		LAST_VALUE(RemainingUsefulLife) OVER (Partition by AssetRegisterItemID  ORDER BY ID ASC ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING)  RemainingUsefulLife,
		LAST_VALUE(CurrentValue) OVER (Partition by AssetRegisterItemID  ORDER BY ID ASC ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING)  CurrentValue,
		LAST_VALUE(AccumulatedDepreciationOpeningBalance) OVER (Partition by AssetRegisterItemID  ORDER BY ID DESC ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING)  AccumulatedDepreciationOpeningBalance,
		LAST_VALUE(AccumulatedDepreciationClosingBalance) OVER (Partition by AssetRegisterItemID  ORDER BY ID ASC ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING)  AccumulatedDepreciationClosingBalance,
		AssetRegisterItemID, FinancialYear, FinancialPeriod
		FROM Asset_Transaction_Summary (NOLOCK)
	WHERE 
	FinancialYear = @FinYear
	AND	(@FromPeriod is null or FinancialPeriod >= @FromPeriod)
	AND (@ToPeriod is null or FinancialPeriod <= @ToPeriod)

	AND 
	(
	(select top(1) dist.FinancialPeriod
	from Asset_Register_Transactions dist (NOLOCK)
    where TransactionTypeID = 26
	AND dist.AssetRegisterItem_ID = AssetRegisterItemID
	) is null 
	OR
	(
	(
	FinancialPeriod <=
	(select top(1) ISNULL(dist.FinancialPeriod, 0)
	from Asset_Register_Transactions dist (NOLOCK)
    where TransactionTypeID = 26
	AND dist.AssetRegisterItem_ID = AssetRegisterItemID
	)
	AND
	(CAST(LEFT(FinancialYear, 4) AS INT) <=
	(select top(1) CAST(ISNULL(LEFT(dist.FinancialYear, 4), 0) AS INT)
	from Asset_Register_Transactions dist (NOLOCK)
    where TransactionTypeID = 26
	AND dist.AssetRegisterItem_ID = AssetRegisterItemID
	)
	)
	)
	)
	)

	) ts
	WHERE ts.AssetRegisterItemID = ari.[AssetRegisterItem_ID]
	GROUP BY
	AssetRegisterItemID, 
	FinancialYear, 
	CurrentValue, AccumulatedDepreciationOpeningBalance, AccumulatedDepreciationClosingBalance, RemainingUsefulLife,
	DepreciationOffsetOpeningBalance, DepreciationOffsetClosingBalance
	) Trans

	CROSS APPLY
		(
		SELECT 
		AssetRegisterItemID,
		FinancialYear,
		SUM(DepreciationValue) AS DepreciationValue
		FROM
		(
		SELECT DISTINCT
		DepreciationValue,
		AssetRegisterItemID, FinancialYear, FinancialPeriod
		FROM Asset_Transaction_Summary (NOLOCK)
	WHERE 
	FinancialYear = @FinYear
	AND 
	(
	(select top(1) dist.FinancialPeriod
	from Asset_Register_Transactions dist (NOLOCK)
    where TransactionTypeID = 26
	AND dist.AssetRegisterItem_ID = AssetRegisterItemID
	) is null 
	OR
	(
	(
	FinancialPeriod <=
	(select top(1) ISNULL(dist.FinancialPeriod, 0)
	from Asset_Register_Transactions dist (NOLOCK)
    where TransactionTypeID = 26
	AND dist.AssetRegisterItem_ID = AssetRegisterItemID
	)
	AND
	(CAST(LEFT(FinancialYear, 4) AS INT) <=
	(select top(1) CAST(ISNULL(LEFT(dist.FinancialYear, 4), 0) AS INT)
	from Asset_Register_Transactions dist (NOLOCK)
    where TransactionTypeID = 26
	AND dist.AssetRegisterItem_ID = AssetRegisterItemID
	)
	)
	)
	)
	)

	) ytdts
	WHERE ytdts.AssetRegisterItemID = ari.[AssetRegisterItem_ID]
	GROUP BY
	AssetRegisterItemID, 
	FinancialYear
	) YTD


	ORDER BY
		ari.[AssetRegisterItem_ID];
END