ALTER PROCEDURE [dbo].[AssetReport_GetAssetRegisterDetail] 
 @AssetStatus int = NULL,
 @AssetRegisterItem_ID int = NULL,
 @Description nvarchar(500) = NULL,
 @GRNNumber int = null,
 @InventoryID int = null,
 @ClassId int = null,
 @SubCategoryId int = null,
 @CategoryId int = null,
 @Barcode nvarchar(100) = null,
 @GIS nvarchar(100) = null,
 @ERF nvarchar(100) = null,
 @TypeId int = null,
 @FinYear nvarchar(9),
 @FromPeriod int = NULL,
 @ToPeriod int = NULL,
 @IsSummary char(5) = null

As Begin

	if @AssetRegisterItem_ID = 0
		set @AssetRegisterItem_ID = null
	if @Description =''
		set @Description=null
	if @GRNNumber = 0 
		set @GRNNumber = null
	if @InventoryID = 0
		set @InventoryID = null
	if @ClassId = 0 
		set @ClassId = null
	if @AssetStatus = 0 
		set @AssetStatus = null
	if @SubCategoryId = 0
		set @SubCategoryId = null
	if @TypeId = 0
		set @TypeId = null
	if @CategoryId = 0 
		set @CategoryId = null
	if @Barcode = ''
		set @Barcode = null
	if @GIS = '0' or @GIS = ''
		set @GIS = null   
	if @ERF = ''
		set @ERF = null
	if @FromPeriod is null
		set @FromPeriod = 1
	if @ToPeriod is null
		set @ToPeriod = 12
	if @IsSummary is null
		set @IsSummary = 'true'

	CREATE TABLE #tempsummary (
	AssetRegisterItemID int,
	FinancialYear nvarchar(10),
	FinancialPeriod int,
	RemainingUsefulLife decimal(18,8),
	OpeningBalance decimal(18,2),
	CurrentValue decimal(18,2),
	AccumulatedDepreciationOpeningBalance decimal(18,2),
	DepreciationValue decimal(18,2),
	AccumulatedDepreciationClosingBalance decimal(18,2),
	AccumulatedImpairmentOpeningBalance decimal(18,2),
	ImpairmentValue decimal(18,2),
	AccumulatedImpairmentClosingBalance decimal(18,2),
	AccumulatedFairValueOpeningBalance decimal(18,2),
	FairValue decimal(18,2),
	AccumulatedFairValueClosingBalance decimal(18,2),
	AccumulatedRevaluationOpeningBalance decimal(18,2),
	RevaluationValue decimal(18,2),
	AccumulatedRevaluationClosingBalance decimal(18,2),
	AccumulatedImpairmentReversalOpeningBalance decimal(18,2),
	ImpairmentReversalValue decimal(18,2),
	AccumulatedImpairmentReversalClosingBalance decimal(18,2),
	AdditionOpeningBalance decimal(18,2),
	AdditionVaue decimal(18,2),
	AdditionClosingBalance decimal(18,2),
	MovementInRevaluationReserve decimal(18,2),
	DepreciationOffsetOpeningBalance decimal(18,2),
	DepreciationOffset decimal(18,2),
	DepreciationOffsetClosingBalance decimal(18,2),
	RevaluationReserveImpairmentOpeningBalance decimal(18,2),
	RevaluationReserveImpairment decimal(18,2),
	RevaluationReserveImpairmentReversal decimal(18,2),
	RevaluationReserveImpairmentClosingBalance decimal(18,2),
	RevaluationReserveRevaluation decimal(18,2),
	RevaluationReserveDisposal decimal(18,2),
	DepreciationAdjustment decimal(18,2),
	TransferFromAmount decimal(18,2),
	TransferToAmount decimal(18,2),
	RefurbDTValue decimal(18,2),
	RefurbCTValue decimal(18,2),
	RefurbDepreciationValue decimal(18,2),
	RefurbRevaluationValue decimal(18,2),
	CostOpening decimal(18,2),
	CostClosing decimal(18,2)
	)

	IF @IsSummary = 'true'
	BEGIN
	INSERT INTO #tempsummary
	SELECT
	AssetRegisterItemID,
	FinancialYear,
	0,
	RemainingUsefulLife,
	OpeningBalance - SUM(AdditionVaue),
	CurrentValue,
	AccumulatedDepreciationOpeningBalance,
	SUM(DepreciationValue),
	AccumulatedDepreciationClosingBalance,
	AccumulatedImpairmentOpeningBalance,
	SUM(ImpairmentValue),
	AccumulatedImpairmentClosingBalance,
	AccumulatedFairValueOpeningBalance,
	SUM(FairValue),
	AccumulatedFairValueClosingBalance,
	AccumulatedRevaluationOpeningBalance,
	SUM(RevaluationValue),
	AccumulatedRevaluationClosingBalance,
	AccumulatedImpairmentReversalOpeningBalance,
	SUM(ImpairmentReversalValue),
	AccumulatedImpairmentReversalClosingBalance,
	AdditionOpeningBalance,
	SUM(AdditionVaue),
	AdditionClosingBalance,
	SUM(MovementInRevaluationReserve),
	DepreciationOffsetOpeningBalance,
	SUM(DepreciationOffset),
	DepreciationOffsetClosingBalance,
	RevaluationReserveImpairmentOpeningBalance,
	SUM(RevaluationReserveImpairment),
	SUM(RevaluationReserveImpairmentReversal),
	RevaluationReserveImpairmentClosingBalance,
	SUM(RevaluationReserveRevaluation),
	SUM(RevaluationReserveDisposal),
	SUM(DepreciationAdjustment),
	SUM(TransferFromValue),
	SUM(TransferToValue),
	SUM(RefurbDTValue),
    SUM(RefurbCTValue),
    SUM(RefurbDepreciationValue),
    SUM(RefurbRevaluationValue),
	CostOpeningBalance,
	CostClosingBalance
	FROM
	(
	SELECT DISTINCT
	LAST_VALUE(RemainingUsefulLife) OVER (Partition by AssetRegisterItemID  ORDER BY ID ASC ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING)  RemainingUsefulLife,
	LAST_VALUE(CurrentValue) OVER (Partition by AssetRegisterItemID  ORDER BY ID DESC ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING)  OpeningBalance,
	LAST_VALUE(CurrentValue) OVER (Partition by AssetRegisterItemID  ORDER BY ID ASC ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING)  CurrentValue,
	LAST_VALUE(AccumulatedDepreciationOpeningBalance) OVER (Partition by AssetRegisterItemID  ORDER BY ID DESC ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING)  AccumulatedDepreciationOpeningBalance,
	DepreciationValue,
	LAST_VALUE(AccumulatedDepreciationClosingBalance) OVER (Partition by AssetRegisterItemID  ORDER BY ID ASC ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING)  AccumulatedDepreciationClosingBalance,
	LAST_VALUE(AccumulatedImpairmentOpeningBalance) OVER (Partition by AssetRegisterItemID  ORDER BY ID DESC ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING)  AccumulatedImpairmentOpeningBalance,
	ImpairmentValue,
	LAST_VALUE(AccumulatedImpairmentClosingBalance) OVER (Partition by AssetRegisterItemID  ORDER BY ID ASC ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING)  AccumulatedImpairmentClosingBalance,
	LAST_VALUE(AccumulatedFairValueOpeningBalance) OVER (Partition by AssetRegisterItemID  ORDER BY ID DESC ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING)  AccumulatedFairValueOpeningBalance,
	FairValue,
	LAST_VALUE(AccumulatedFairValueClosingBalance) OVER (Partition by AssetRegisterItemID  ORDER BY ID ASC ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING)  AccumulatedFairValueClosingBalance,
	LAST_VALUE(AccumulatedRevaluationOpeningBalance) OVER (Partition by AssetRegisterItemID  ORDER BY ID DESC ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING)  AccumulatedRevaluationOpeningBalance,
	RevaluationValue,
	LAST_VALUE(AccumulatedRevaluationClosingBalance) OVER (Partition by AssetRegisterItemID  ORDER BY ID ASC ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING)  AccumulatedRevaluationClosingBalance,
	LAST_VALUE(AccumulatedImpairmentReversalOpeningBalance) OVER (Partition by AssetRegisterItemID  ORDER BY ID DESC ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING)  AccumulatedImpairmentReversalOpeningBalance,
	ImpairmentReversalValue,
	LAST_VALUE(AccumulatedImpairmentReversalClosingBalance) OVER (Partition by AssetRegisterItemID  ORDER BY ID ASC ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING)  AccumulatedImpairmentReversalClosingBalance,
	LAST_VALUE(AdditionOpeningBalance) OVER (Partition by AssetRegisterItemID  ORDER BY ID DESC ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING)  AdditionOpeningBalance,
	AdditionVaue,
	LAST_VALUE(AdditionClosingBalance) OVER (Partition by AssetRegisterItemID  ORDER BY ID ASC ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING)  AdditionClosingBalance,
	MovementInRevaluationReserve,
	--LAST_VALUE(MovementInRevaluationReserve) OVER (Partition by AssetRegisterItemID  ORDER BY ID ASC ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING)  MovementInRevaluationReserve,
	LAST_VALUE(DepreciationOffsetOpeningBalance) OVER (Partition by AssetRegisterItemID  ORDER BY ID DESC ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING)  DepreciationOffsetOpeningBalance,
	LAST_VALUE(RevaluationReserveImpairmentOpeningBalance) OVER (Partition by AssetRegisterItemID  ORDER BY ID DESC ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING)  RevaluationReserveImpairmentOpeningBalance,
	DepreciationOffset,
	LAST_VALUE(DepreciationOffsetClosingBalance) OVER (Partition by AssetRegisterItemID  ORDER BY ID ASC ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING)  DepreciationOffsetClosingBalance,
	LAST_VALUE(RevaluationReserveImpairmentClosingBalance) OVER (Partition by AssetRegisterItemID  ORDER BY ID ASC ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING)  RevaluationReserveImpairmentClosingBalance,
	TransferFromValue,
	TransferToValue,
	RefurbDTValue,
	RefurbCTValue,
	RefurbDepreciationValue,
	RefurbRevaluationValue,
	LAST_VALUE(CostOpeningBalance) OVER (Partition by AssetRegisterItemID  ORDER BY ID DESC ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING)  CostOpeningBalance,
	LAST_VALUE(CostClosingBalance) OVER (Partition by AssetRegisterItemID  ORDER BY ID ASC ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING)  CostClosingBalance,
	AssetRegisterItemID, FinancialYear, FinancialPeriod, RevaluationReserveImpairment, RevaluationReserveImpairmentReversal, RevaluationReserveRevaluation, RevaluationReserveDisposal, DepreciationAdjustment
	FROM Asset_Transaction_Summary
	WHERE 
	FinancialYear = @FinYear
	AND	(@FromPeriod is null or FinancialPeriod >= @FromPeriod)
	AND (@ToPeriod is null or FinancialPeriod <= @ToPeriod)
	AND (@AssetRegisterItem_ID is null or AssetRegisterItemID = @AssetRegisterItem_ID)
	AND 
	(
	(select top(1) dist.FinancialPeriod
	from Asset_Register_Transactions dist
    where TransactionTypeID = 26
	AND dist.AssetRegisterItem_ID = AssetRegisterItemID
	) is null 
	OR
	(
	(
	FinancialPeriod <=
	(select top(1) ISNULL(dist.FinancialPeriod, 0)
	from Asset_Register_Transactions dist
    where TransactionTypeID = 26
	AND dist.AssetRegisterItem_ID = AssetRegisterItemID
	)
	AND
	(CAST(LEFT(FinancialYear, 4) AS INT) <=
	(select top(1) CAST(ISNULL(LEFT(dist.FinancialYear, 4), 0) AS INT)
	from Asset_Register_Transactions dist
    where TransactionTypeID = 26
	AND dist.AssetRegisterItem_ID = AssetRegisterItemID
	)
	)
	)
	)
	)

	) ts
	GROUP BY	
	AssetRegisterItemID, 
	FinancialYear, 
	CurrentValue, OpeningBalance, AccumulatedDepreciationOpeningBalance, AccumulatedDepreciationClosingBalance, AccumulatedImpairmentOpeningBalance,
	AccumulatedImpairmentClosingBalance, AccumulatedFairValueOpeningBalance, AccumulatedFairValueClosingBalance, AccumulatedRevaluationOpeningBalance,
	AccumulatedRevaluationClosingBalance, AccumulatedImpairmentReversalOpeningBalance, AccumulatedImpairmentReversalClosingBalance, 
	AdditionOpeningBalance, AdditionClosingBalance, RemainingUsefulLife, DepreciationOffsetOpeningBalance, DepreciationOffsetClosingBalance,
	RevaluationReserveImpairmentOpeningBalance, RevaluationReserveImpairmentClosingBalance,CostOpeningBalance,CostClosingBalance
	END

	ELSE IF @IsSummary = 'false'
	BEGIN
	INSERT INTO #tempsummary
	SELECT
	AssetRegisterItemID,
	FinancialYear,
	FinancialPeriod,
	RemainingUsefulLife,
	CurrentValue - AdditionVaue,
	CurrentValue,
	AccumulatedDepreciationOpeningBalance,
	DepreciationValue,
	AccumulatedDepreciationClosingBalance,
	AccumulatedImpairmentOpeningBalance,
	ImpairmentValue,
	AccumulatedImpairmentClosingBalance,
	AccumulatedFairValueOpeningBalance,
	FairValue,
	AccumulatedFairValueClosingBalance,
	AccumulatedRevaluationOpeningBalance,
	RevaluationValue,
	AccumulatedRevaluationClosingBalance,
	AccumulatedImpairmentReversalOpeningBalance,
	ImpairmentReversalValue,
	AccumulatedImpairmentReversalClosingBalance,
	AdditionOpeningBalance,
	AdditionVaue,
	AdditionClosingBalance,
	MovementInRevaluationReserve,
	DepreciationOffsetOpeningBalance,
	DepreciationOffset,
	DepreciationOffsetClosingBalance,
	RevaluationReserveImpairmentOpeningBalance,
	RevaluationReserveImpairment,
	RevaluationReserveImpairmentReversal,
	RevaluationReserveImpairmentClosingBalance,
	RevaluationReserveRevaluation,
	RevaluationReserveDisposal,
	DepreciationAdjustment,
	TransferFromValue,
	TransferToValue,
	RefurbDTValue,
    RefurbCTValue,
    RefurbDepreciationValue,
    RefurbRevaluationValue,   
	CostOpeningBalance,
	CostClosingBalance
	FROM Asset_Transaction_Summary
	WHERE 
	FinancialYear = @FinYear
	AND	(@FromPeriod is null or FinancialPeriod >= @FromPeriod)
	AND (@ToPeriod is null or FinancialPeriod <= @ToPeriod)
	AND (@AssetRegisterItem_ID is null or AssetRegisterItemID = @AssetRegisterItem_ID)
	AND 
	(
	(select top(1) dist.FinancialPeriod
	from Asset_Register_Transactions dist
    where TransactionTypeID = 26
	AND dist.AssetRegisterItem_ID = AssetRegisterItemID
	) is null 
	OR
	(
	(
	FinancialPeriod <=
	(select top(1) ISNULL(dist.FinancialPeriod, 0)
	from Asset_Register_Transactions dist
    where TransactionTypeID = 26
	AND dist.AssetRegisterItem_ID = AssetRegisterItemID
	)
	AND
	(CAST(LEFT(FinancialYear, 4) AS INT) <=
	(select top(1) CAST(ISNULL(LEFT(dist.FinancialYear, 4), 0) AS INT)
	from Asset_Register_Transactions dist
    where TransactionTypeID = 26
	AND dist.AssetRegisterItem_ID = AssetRegisterItemID
	)
	)
	)
	)
	)

	END

	select
	  @FinYear 'FinYear'
	, ats.FinancialPeriod
	, i.AssetClass_ID
	, i.Asset_SubCategory_ID
	, i.AssetCategory_ID
    , i.AssetType_ID
    , i.AssetStatus_ID
    , i.GIS_ID
    , i.ErfNumber
	, i.AssetRegisterItem_ID
	, i.MunicipalAssetID 
	, i.ParentAssetRegisterItem_ID 
	, i.MainAssetDescription 
	, i.MainAssetID 
	, i.Description 
	, i.OldBarCode
	, i.Barcode 
	, i.ImageRef
	, AsTp.AssetTypeDesc
	, acc.AssetCategoryDesc
	, sc.Asset_SubCategoryDescription 
	, cac.AssetClassDesc
	, meas.Name 'MeasurementType'
	, cas.AssetStatusDesc
	, sct.AssetCIDMSSubComponentTypeDesc
	, ct.AssetCIDMSComponentTypeDesc
	, acg.AssetAccountGroupDesc
	, asg.AssetAccountSubGroupDesc
	, cla.AssetCIDMSClassDesc
	, gt.AssetCIDMSGroupTypeDesc
	, cat.AssetCIDMSAssetTypeDesc
	, case when SCT.Nature ='1' then 'New' else case when SCT.Nature ='2' then 'Existing- Renewal' else case when SCT.Nature ='3' then 'Existing- Upgrade' else '' end end end as 'NatureOfAddition'
	, case when SCT.Infrastructure = '0' then 'Non Infrastructure' when SCT.Infrastructure = '1' then 'Infrastructure' else '' end as 'InfrastructureNonInfrastructure'
	, case when isnull(i.CashOrNoncashgeneratingunit, '') ='Non' or isnull(i.CashOrNoncashgeneratingunit, 0) = '1' then 'Non Cash' else case when isnull(CashOrNoncashgeneratingunit, '') = '' then isnull(CashOrNoncashgeneratingunit, '') else 'Cash' end end as 'CashNonCashGeneratingUnit'
	, afs.FinancialStatusDesc
	, i.DateOfTakeOnBalancesImported 'TakeOnDate'
	, i.AcquisitionDate 'AcquisitionDate'
	, '' 'DateofRefurbishmentImprovement'
	, i.InserviceDate
	, (case when CONVERT(VARCHAR(10), isnull (d.DisposalDate,''), 103) <> '01/01/1900' then d.DisposalDate else case when CONVERT(VARCHAR(10), isnull (i.DateOfDisposal,''), 103) <> '01/01/1900' then i.DateOfDisposal else null end end) as 'DisposalDate'
	, i.DisposalReason
	, case when isnull(ART.TransactionDate, '') <> '' then CONVERT(nvarchar(30),ART.TransactionDate) else case when CONVERT(VARCHAR(10), isnull (i.Impairment_Date,''), 103) = '01/01/1900' then null else CONVERT(nvarchar(30),i.Impairment_Date) end end as 'ImpairmentDate'
	, (select top(1) TransactionDate from Asset_Register_Transactions art where i.AssetRegisterItem_ID = art.AssetRegisterItem_ID order by art.ID desc) AS 'DateModified'
	, i.VerificationDate
	, preVeri.FirstName + ' ' + preVeri.Surname 'VerificationDoneBy'
	, i.YearConstructed
	, i.CommisioningDate
	, i.ConstructionMaterial
	, i.ForecastReplacementYear
	, acr.Description 'AssetCondition'
	, i.InsuranceCover
	, case when isnull(i.InsuranceNumberReference, '') <> '' then i.InsuranceNumberReference else case when isnull(Ins.AssetInsurance_ID, '') <> '' then Ins.PolicyNumber else '' end end as 'InsurancePolicyNo'
	, case when CONVERT(VARCHAR(1),i.Warranty) = 'Yes' then 'Yes' else case when CONVERT(VARCHAR(1),i.Warranty) = '1' then 'Yes' else case when CONVERT(VARCHAR(1),i.Warranty) = '0' then 'No' else case when CONVERT(VARCHAR(1),i.Warranty) = 'No' then 'No' else case when isnull(Warranty, '') = '' then isnull(Warranty, '') else 'No' end end end end end as 'Warranty'
	, i.CurrentReplacementCostCRC
	, case when ISNULL(adisp.DisposalValue, 0) <> 0 THEN 0 ELSE i.DepreciatedReplacementCostDRC END as 'DepreciatedReplacementCostDRC'
	, AnnualisedMaintenanceCRC
	, AnnualMaintenanceBudgetNeed
	, dm.AssetDepreciationMethodDesc
	, ISNULL(i.UsefulLifeYearComponent,i.UsefulLifeMonthComponent/12) 'UsefulLifeYearComponent'
	, i.UsefulLifeMonthComponent
	, i.UsefulLifeMonthComponent/12*365 'UsefulLifeDaysComponent'
	, 0 'RevisedUsefulLifeYearComponent'
	, 0 'RevisedUsefulLifeMonthComponent'
	, 0 'RevisedUsefulLifeDaysComponent'
	, i.RemainingUsefulLife/12 'RemainingUsefulLifeYearComponent'
	, i.RemainingUsefulLife 'RemainingUsefulLifeMonthComponent'
	, i.RemainingUsefulLife/12*365 'RemainingUsefulLifeDaysComponent'
	, i.RemainingUsefulLifeAtTakeOn 'RemainingUsefulLifeAtTakeOn'
	, 0 'RevisedRemainingUsefulLifeYearComponent'
	, 0 'RevisedRemainingUsefulLifeMonthComponent'
	, 0 'RevisedRemainingUsefulLifeDaysComponent'
	, cui.UnitOfIssueDesc 'UoM'
	, i.Dim1
	, i.Dim2
	, i.Dim3
	, i.DimensionQuantity
	, i.Quantity
	, 0 'Diameter'
	, 0 'Capacity'
	, i.SGNumberChange_ID 'SGKey'
	, i.DeedNumber
	, i.ErfNumber 'ErfFarmNumber'
	, i.ErfSizeM2
	, i.PortionNumber
	, i.UnitNumber
	, i.RegistrationNumber
	, i.SerialNumber
	, pre.FirstName + ' ' + pre.Surname 'CustodianName'
	, LEFT( pre.IdNo,6) +  'xxxxxxx' 'CustodianIDNumber'
	, cbms.AssetMunicipalServicesDesc
	, crit.AssetCriticalityGradeDesc
	, pergrd.AssetPerformanceGradeDesc
	, util.AssetUtilisationGradeDesc
	, hg.AssetHealthGradeDesc
	, isnull(i.ConsequenceOfFailure, '') as 'ConsequenceOfFailure'
	, case when i.Risk = '0' then 'Very Low' else case when i.Risk = '1' then 'Low' else case when i.Risk = '-1' then '' else case when i.Risk = '2' then 'Medium' else case when i.Risk = '3' then 'High' else case when isnull(i.Risk, '') = '' then '' else 'Very High' end end end end end end as Risk
	, i.AssetOwnershipName
	, isnull(dep.DepartmentDesc,depmuni.DepartmentDesc) 'Department'
	, acd.DivisionDesc 'Division'
	, atw.Town
	, street.StreetName 'StreetAddress'
	, acb.BuildingDesc
	, acWard.WardDescription 
	, acZone.Description 'Zoning'
	, flr.FloorDesc 
	, rm.RoomDesc
	, sub.SuburbName 
	, i.WellKnownTextWKT 
	, i.latitude 'Latitude'
	, i.longitude 'Longitude'
	, i.FundingSourceAmount 
	, i.FundingSourceNumber
	, i.FundType 
	, i.CostOfAddition
	, ISNULL(arev.RevalutionDate, (select top(1) RevalutionDate from Asset_Revaluations where RevalutionDate < (SELECT CONCAT( RIGHT(@FinYear,4),'/07/01')) and AssetRegisterID = i.AssetRegisterItem_ID order by Asset_RevaluationsID desc)) AS 'RevaluationDate'
	, COALESCE(arev.RevalautionAmt, (select top(1) RevalautionAmt from Asset_Revaluations where RevalutionDate < (SELECT CONCAT( RIGHT(@FinYear,4),'/07/01')) and AssetRegisterID = i.AssetRegisterItem_ID order by Asset_RevaluationsID desc)) AS 'RevaluationValue'
	, CASE WHEN COALESCE(ats.AccumulatedRevaluationOpeningBalance, i.RevaluationOpeningBalance, 0) < 0 THEN 0 ELSE COALESCE(ats.AccumulatedRevaluationOpeningBalance, i.RevaluationOpeningBalance, 0) END AS 'AccumulatedRevalutionsOpeningBalance'
	, ISNULL(ats.RevaluationReserveImpairmentOpeningBalance, 0) AS 'RevaluationReserveImpairmentOpeningBalance'
	, ISNULL(ats.RevaluationReserveImpairment, 0) AS 'RevaluationReserveImpairments'
	, ISNULL(ats.RevaluationReserveImpairmentReversal, 0) AS 'RevaluationReserveImpairmentReversals'
	, ISNULL(ats.RevaluationReserveImpairmentClosingBalance, 0) AS 'RevaluationReserveImpairmentClosingBalance'
	, ISNULL(ats.RevaluationReserveRevaluation, 0) AS 'RevaluationReserveRevaluations'
	, ISNULL(ats.RevaluationReserveDisposal, 0) AS 'RevaluationReserveDisposals'
	, ISNULL(ats.RefurbRevaluationValue, 0) AS 'RefurbRevaluation'

	, CASE	WHEN ISNULL(adisp.DisposalValue, 0) <> 0 THEN 0 
			WHEN ISNULL(ats.AccumulatedRevaluationClosingBalance, 0) < 0 THEN 0 ELSE ISNULL(ats.AccumulatedRevaluationClosingBalance, 0)  END AS 'AccumulatedRevaluationClosingBalance'

	, ISNULL(ats.MovementInRevaluationReserve, 0) AS 'MovementInRevaluationReserve'
	, COALESCE(ats.DepreciationOffsetOpeningBalance, 0) AS 'DepreciationOffsetOpeningBalance'
	, COALESCE(ats.DepreciationOffset, 0) AS 'DepreciationOffset'
	, COALESCE(ats.DepreciationOffsetClosingBalance, 0) AS 'DepreciationOffsetClosingBalance'
	, case when ISNULL(adisp.DisposalValue, 0) <> 0 then 0 	else COALESCE(ats.AccumulatedRevaluationClosingBalance, 0)  END AS 'RevaluationSurplusDeficit'
	, i.DeemedCost 'DeemedCost'
	--,CASE 	WHEN ISNULL(ats.AdditionVaue, 0) > 0 and ISNULL(WIP.CurrentReplacementCostCRC,0) > 0 
	--		THEN ISNULL(i.CurrentReplacementCostCRC, 0) - ISNULL(ats.RevaluationValue, 0) - ISNULL(ats.FairValue, 0) - ISNULL(ats.AdditionVaue, 0) 
	
	--		WHEN ISNULL(ats.AdditionVaue, 0) = 0 and ISNULL(WIP.CurrentReplacementCostCRC,0) > 0 
	--		THEN ISNULL(i.CurrentReplacementCostCRC, 0) - ISNULL(ats.RevaluationValue, 0) - ISNULL(ats.FairValue, 0) - ISNULL(WIP.CurrentReplacementCostCRC, 0) 

	--		ELSE ISNULL(i.CurrentReplacementCostCRC, 0) - ISNULL(ats.RevaluationValue, 0) - ISNULL(ats.FairValue, 0) - ISNULL(ats.AdditionVaue, 0) - ISNULL(ats.TransferToAmount, 0) END
			
	, CASE WHEN ISNULL(ats.AdditionVaue, 0) > 0 OR ISNULL(WIP.CurrentReplacementCostCRC,0) > 0 THEN 0 ELSE GREATEST(0, ISNULL(ats.CostOpening, 0)) END AS 'CostOpeningBalance'
	
	, 0 'CostCorrectionofError'
	--,CASE WHEN ISNULL(ats.AdditionVaue, 0) > 0 and ISNULL(WIP.CurrentReplacementCostCRC,0) > 0 THEN
	--ISNULL(ats.CostOpening, 0) - ISNULL(ats.RevaluationValue, 0) - ISNULL(ats.FairValue, 0) - ISNULL(ats.AdditionVaue, 0) 
	--WHEN ISNULL(ats.AdditionVaue, 0) = 0 and ISNULL(WIP.CurrentReplacementCostCRC,0) > 0 THEN 
	--ISNULL(ats.CostOpening, 0) - ISNULL(ats.RevaluationValue, 0) - ISNULL(ats.FairValue, 0) - ISNULL(WIP.CurrentReplacementCostCRC, 0) 
	--ELSE ISNULL(ats.CostOpening, 0) - ISNULL(ats.RevaluationValue, 0) - ISNULL(ats.FairValue, 0) - ISNULL(ats.AdditionVaue, 0) - ISNULL(i.TransferToAmount, 0) END 
	
	,  CASE WHEN ISNULL(ats.AdditionVaue, 0) > 0 OR ISNULL(WIP.CurrentReplacementCostCRC,0) > 0 THEN 0 ELSE GREATEST(0, ISNULL(ats.CostOpening, 0)) END AS 'CostRestatedOpeningBalance'
	, CASE WHEN ISNULL(WIP.CurrentReplacementCostCRC,0) > 0 THEN 0 ELSE ISNULL(ats.AdditionVaue, 0) END AS 'Acquisitions'
	, ISNULL(i.ResidualValue, 0) 'ResidualValue'
	, 0 'RevisedResidualValue'
	, 0 'DecommisioningRestorationandSimilarLiabilities'
	, CASE WHEN ISNULL(ats.TransferToAmount,0) = 0 THEN ISNULL(WIP.CurrentReplacementCostCRC,0) ELSE 0 END 'WorkInProgressAmount'
	, ISNULL(ats.TransferFromAmount, 0) 'TransferFromAmount'
	, ISNULL(ats.TransferToAmount, 0) 'TransferToAmount'
	, ISNULL(ats.RefurbDTValue, 0) 'RefurbDebitAmount'
	, ISNULL(ats.RefurbCTValue, 0) 'RefurbCreditAmount'
	, 0 'ChangeinAccountingEstimate'
	, ISNULL(ats.FairValue, 0) 'FairValueAdjustment'
	, ISNULL(ats.RevaluationValue, 0) 'Revaluation'
	, case when ISNULL(adisp.DisposalValue, 0) <> 0  then ISNULL(i.PurchaseAmount, 0) + ISNULL(ats.RevaluationValue, 0) else 0 end AS 'DisposalValue'
	--, ISNULL(i.CurrentReplacementCostCRC, 0) + ISNULL(ats.TransferToAmount, 0) - ISNULL(ats.TransferFromAmount, 0) + ISNULL(ats.Refurb_DT, 0) - ISNULL(ats.Refurb_CT, 0) - (case when ISNULL(adisp.DisposalValue, 0) <> 0  then ISNULL(i.PurchaseAmount, 0) + ISNULL(ats.RevaluationValue, 0) else 0 end) - AccumululatedCostDisposal 	
	, GREATEST(0, ISNULL(ats.CostClosing, 0)) 	AS 'CostClosingBalance'
	, ISNULL(ats.AccumulatedDepreciationOpeningBalance, 0) 'AccumulatedDepreciationOpeningBalance'
	, 0 'DepreciationOtherChanges'
	, ISNULL(ats.AccumulatedDepreciationOpeningBalance, 0) 'DepreciationRestatedOpeningBalance'
	, ISNULL(ats.DepreciationValue,0) 'Depreciation'
	, ISNULL(ats.DepreciationAdjustment, 0) 'DepreciationAdjustments'
	, case when ISNULL(adisp.DisposalValue, 0) <> 0 THEN ISNULL(ats.AccumulatedDepreciationClosingBalance, 0) else 0 end 'DisposalDepreciation' --  + ISNULL(ats.RefurbDepreciationValue, 0)
	, 0 'DepreciationTransfer'	
	, ISNULL(ats.RefurbDepreciationValue, 0) AS 'RefurbDepreciation'
	, CASE WHEN ISNULL(adisp.DisposalValue, 0) <> 0 THEN 0 ELSE ISNULL(ats.AccumulatedDepreciationClosingBalance, 0)END AS 'DepreciationClosingBalance'
	, ISNULL(ats.AccumulatedImpairmentOpeningBalance, 0) 'AccumulatedImpairmentOpeningBalance'
	, 0 'ImpairmentOtherChanges'
	, ISNULL(ats.AccumulatedImpairmentOpeningBalance, 0) 'ImpairmentRestatedOpeningBalance'
	, ISNULL(ats.ImpairmentValue, 0) 'Impairment'
	, ISNULL(ats.ImpairmentReversalValue, 0) 'ImpairmentReversal'
	, case when ISNULL(adisp.DisposalValue, 0) <> 0  then ISNULL(ats.AccumulatedImpairmentClosingBalance, 0) else 0 end 'DisposalImpairment' -- - ISNULL(ats.AccumulatedImpairmentReversalClosingBalance, 0)
	, 0 'ImpairmentTransfers'
	, case when ISNULL(adisp.DisposalValue, 0) <> 0  then 0 ELSE ISNULL(ats.AccumulatedImpairmentClosingBalance, 0) end 'ImpairmentClosingBalance'
	--,(ISNULL(i.CurrentReplacementCostCRC, 0) - ISNULL(i.TransferFromAmount, 0) - ISNULL(ats.TransferFromAmount, 0) + ISNULL(ats.Refurb_DT, 0) - ISNULL(ats.Refurb_CT, 0) - (case when ISNULL(adisp.DisposalValue, 0) <> 0  then ISNULL(i.PurchaseAmount, 0) + ISNULL(ats.RevaluationValue, 0) else 0 end)) -	
	-- (CASE WHEN ISNULL(adisp.DisposalValue, 0) <> 0 THEN 0 ELSE ISNULL(ats.AccumulatedDepreciationClosingBalance, 0) - ISNULL(ats.Refurb_Depreciation, 0) END ) - 
	-- (ISNULL(ats.AccumulatedImpairmentClosingBalance, 0) - (case when ISNULL(adisp.DisposalValue, 0) <> 0  then ISNULL(ats.AccumulatedImpairmentClosingBalance, 0) - ISNULL(ats.AccumulatedImpairmentReversalClosingBalance, 0) else 0 end)) 'CarryingAmount' 
	
	, --case when ISNULL(adisp.DisposalValue, 0) <> 0  then 
	GREATEST(0, ISNULL(ats.CostClosing, 0) - ISNULL(ats.AccumulatedDepreciationClosingBalance, 0) - ISNULL(ats.AccumulatedImpairmentClosingBalance, 0)) 'CarryingAmount' 
	-- else 0 end 
    -- Closng COST - Depreciation - Impairment
	, ISNULL(i.DisposalProceeds, 0) 'DisposalProceeds'
	, ISNULL(adisp.DisposalLossValue, 0) 'DisposalProfitLoss'
	, '' 'ReasonforAssetAdjustment'
	, i.Donor_ID 'DonorIDRegistrationNumberParastatalCode'
	, i.Donor_Name 'DonorNameCompanyNameParastatalName'
	, i.Date_Donated 'DateDonated'
	, 0 'RULPY'
	, 0 'RULCY'
	, 0 'RULRevisedPY'
	, 0 'Revised ULCY'
	, '' 'LastDateRULRevised'
	, '' 'RULChangeReason'
	, i.Make
	, i.Model
	, Custom_1
	, Custom_2
	, Custom_3
	, Custom_4
	, Custom_5
	, Custom_6
	, Custom_7
	, Custom_8
	, Custom_9

	from Asset_Register_Items i (NOLOCK)
	left outer join Const_AssetClass_sys c (NOLOCK) on i.AssetClass_ID = c.AssetClass_ID
	left outer join Const_AssetDepreciationMethod_Sys dm (NOLOCK) on c.AssetDepreciationMethod_ID = dm.AssetDepreciationMethod_ID
	left outer join Plan_ProjectItem ppi (NOLOCK) on i.ProjectItem_ID = ppi.PlanProjectItem_ID
	left outer join Plan_Project pp (NOLOCK) on ppi.ProjectID= pp.Project_ID
	left outer join Const_Department dep (NOLOCK) on i.MunicipalDepartment_ID = dep.Department_ID
	left outer join Const_Department depMuni (NOLOCK) on i.Department = depMuni.Department_ID
	left outer join AssetConfig_MeasurementType meas (nolock) on i.MeasurementType_ID = meas.AssetConfig_MeasurementType_ID  
	
	left outer join Const_Asset_ComponentType act (nolock) on i.Asset_Component_Type_ID = act.Asset_ComponentType_ID 
	left outer join AssetConfig_FinancialStatus afs (nolock) on i.Financial_Status_ID = afs.FinStatusID
	left outer join Const_UnitOfIssue cui (nolock) on i.UoM = cui.UnitOfIssue_ID
	left outer join Payroll_Employee pre (nolock) on i.Custodian_ID = pre.Employee_ID
	left outer join Payroll_Employee preVeri (nolock) on i.VerificationDoneBy = preVeri.Employee_ID
	left outer join Const_AssetOwnership aco (nolock) on  case when ISNUMERIC(i.AssetOwnershipName) = 1 then i.AssetOwnershipName end
	  = aco.AssetOwnership_ID 
	left outer join Const_Town atw (nolock) on i.Town_ID = atw.Town_ID
	left outer join Const_Division acd (nolock) on i.DivisionID = acd.Division_ID
	left outer join Const_Building acb (nolock) on i.Building_ID = acb.Building_ID
	left outer join Const_PropertyTypeOfUse acZone  (nolock) on i.Zoning_ID = acZone.PropertyTypeOfUse_ID
	left outer join Const_Ward acWard (nolock) on i.Ward_ID = acWard.Ward_Id
	left outer join Const_Suburb sub (nolock) on case when i.SuburbID is not null then i.SuburbID else i.Suburb end = sub.Suburb_ID
	left outer join Const_Street street (nolock) on i.Street_ID = street.Street_ID    
	left outer join Const_Floor flr (nolock) on case when i.FloorID is not null then i.FloorID else i.Floor_Area end = flr.Floor_ID
	OUTER APPLY ( SELECT TOP 1 * FROM Const_Room rm (nolock) WHERE i.Room_ID = rm.Room_ID OR i.RoomNumber = rm.RoomDesc ) rm
	left outer join Const_Asset_CIDMS_SubComponent_Type SCT on i.CIDMSSubComponentTypeID = SCT.AssetCIDMSSubComponentTypeID
	left outer join Const_Asset_CIDMS_Component_Type CT on sct.AssetCIDMSComponentTypeID = ct.AssetCIDMSComponentTypeID
	left outer join Const_Asset_CIDMS_Asset_Type cat on CT.AssetCIDMSAssetTypeID = cat.AssetCIDMSAssetTypeID
	left outer join Const_Asset_CIDMS_Group_Type gt on cat.AssetCIDMSGroupTypeID = gt.AssetCIDMSGroupTypeID
	left outer join Const_Asset_CIDMS_Class cla on gt.AssetCIDMSClassID = cla.AssetCIDMSClassID
	left outer join Const_Asset_CIDMS_Accounting_Sub_Group asg on cla.AssetAccountSubGroupID = asg.AssetAccountSubGroupID
	left outer join Const_Asset_CIDMS_Accounting_Group acg on asg.AssetAccountGroupID = acg.AssetAccountGroupID
	left outer join Const_Asset_Health_Grade hg on i.InfrastructureHealthGrade = hg.AssetHealthGradeID
	left outer join Const_Asset_CIDMS_Municipal_Services cbms on i.BasicMunicipalityService = cbms.AssetMunicipalServicesID
	left outer join Const_Asset_Criticality_Grade crit on i.CriticalityGrade = crit.AssetCriticalityGradeID
	left outer join Const_Asset_Performance_Grade pergrd on i.PerformanceGrade = pergrd.AssetPerformanceGradeID
    left outer join Const_Asset_Utilisation_Grade util on i.UtilisationGrade = util.AssetUtilisationGradeID
	left outer join Const_AssetType_Sys AsTp on i.assettype_id = Astp.AssetType_ID
	left outer join Asset_Insurance Ins on i.AssetRegisterItem_ID = Ins.Asset_ItemID
	left outer join Asset_Register_Transactions ART ON ART.AssetRegisterItem_ID = i.AssetRegisterItem_ID and ART.TransactionTypeID = 24 and ART.ID = (select MAX(ART2.ID) from Asset_Register_Transactions ART2 where ART2.AssetRegisterItem_ID = i.AssetRegisterItem_ID and ART2.TransactionTypeID = 24)
	left outer join Asset_Register_Transactions ARTT ON ARTT.AssetRegisterItem_ID = i.AssetRegisterItem_ID and ARTT.TransactionTypeID = 22 and ARTT.ID = (select MAX(ART3.ID) from Asset_Register_Transactions ART3 where ART3.AssetRegisterItem_ID = i.AssetRegisterItem_ID and ART3.TransactionTypeID = 22)
	left outer join Asset_Disposal d ON i.AssetRegisterItem_ID = d.assetItemID  
	left outer join Const_AssetClass_sys cac (NOLOCK) ON i.AssetClass_ID=cac.AssetClass_ID   
	left outer join Const_Asset_SubCategory sc (NOLOCK) ON isnull(cac.Asset_SubCategory_ID,0) = sc.Asset_SubCategory_ID  
	left outer join Const_AssetCategory_sys acc (NOLOCK) ON isnull(cac.AssetCategoryID,0) = acc.AssetCategoryID 
	left outer join Const_AssetStatus_Sys cas ON i.AssetStatus_ID = cas.AssetStatus_ID
	left outer join Const_Asset_Condition acr (NOLOCK)  on acr.Asset_Condition_ID = i.AssetCondition_ID
			
	left outer join #tempsummary ats ON i.AssetRegisterItem_ID = ats.AssetRegisterItemID
		
	left outer join
	(select
	DisposalAssetID,
	DisposalYear,
	DisposalPeriod,
	SUM(DisposalValue) as DisposalValue,
	SUM(DisposalLossValue) as DisposalLossValue,
	SUM(DisposalTotalValue) as DisposalTotalValue,
	SUM(DisposalDepreciation) as DisposalDepreciation
	from
	(select distinct    
    LAST_VALUE(DisposalValue) OVER (Partition by AssetRegisterItem_ID  ORDER BY ID ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING)  DisposalValue  
  , LAST_VALUE(DisposalLossValue) OVER (Partition by AssetRegisterItem_ID  ORDER BY ID ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING)  DisposalLossValue  
  , LAST_VALUE(DisposalTotalValue) OVER (Partition by AssetRegisterItem_ID  ORDER BY ID ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING)  DisposalTotalValue
  , LAST_VALUE(DepreciationValue) OVER (Partition by AssetRegisterItem_ID  ORDER BY ID ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING)  DisposalDepreciation
  , AssetRegisterItem_ID DisposalAssetID, FinancialYear DisposalYear,FinancialPeriod DisposalPeriod  
  from Asset_Register_Transactions art
  where TransactionTypeID = 26 
    --and art.FinancialYear = @FinYear
    --AND	(@FromPeriod is null or art.FinancialPeriod >= @FromPeriod)
	--AND (@ToPeriod is null or art.FinancialPeriod <= @ToPeriod)
	) ds
	GROUP BY
	DisposalAssetID, 
	DisposalYear, 
	DisposalPeriod) adisp 
	ON i.AssetRegisterItem_ID = adisp.DisposalAssetID and ats.FinancialYear collate Latin1_General_CI_AS  = adisp.DisposalYear collate Latin1_General_CI_AS and (ats.FinancialPeriod = adisp.DisposalPeriod or ats.FinancialPeriod = 0)

    left outer join(
				select i.AssetRegisterItem_ID, i.CurrentReplacementCostCRC ,
				case when MONTH(u.InServiceDate) - 6 <= 0 then MONTH(u.InServiceDate) + 6 ELSE MONTH(u.InServiceDate) - 6 END AS 'WIPPeriod',
  case when MONTH(u.InServiceDate) - 6 <= 0 then CONCAT((YEAR(u.InServiceDate) - 1),'/',YEAR(u.InServiceDate))
  ELSE CONCAT(YEAR(u.InServiceDate),'/', YEAR(u.InServiceDate) + 1) END AS 'WIPYear'
  from Asset_BulkUploadJobs uj
				inner join Asset_Register_Items_Upload u on uj.RunID = u.Run_Id
				inner join Asset_Register_Items i on u.Run_Id = i.Run_ID and u.ComponentID_AssetRegisterID = i.Component_ID
				where IsDonated = 2 and RunID is not null and (i.TransferToAmount = 0 or i.TransferToAmount is null)
  )WIP
  ON i.AssetRegisterItem_ID = WIP.AssetRegisterItem_ID and WIP.WIPYear = @FinYear and (ats.FinancialPeriod >= WIP.WIPPeriod or ats.FinancialPeriod = 0)

  left outer join
  (
  select top(1)
  AssetRegisterID, RevalautionAmt, RevalutionDate, 
  case when MONTH(RevalutionDate) - 6 <= 0 then MONTH(RevalutionDate) + 6 ELSE MONTH(RevalutionDate) - 6 END AS 'RevaluationPeriod',
  case when MONTH(RevalutionDate) - 6 <= 0 then CONCAT((YEAR(RevalutionDate) - 1),'/',YEAR(RevalutionDate))
  ELSE CONCAT(YEAR(RevalutionDate),'/', YEAR(RevalutionDate) + 1) END AS 'RevaluationYear'
  from Asset_Revaluations ar order by Asset_RevaluationsID desc
	) arev on i.AssetRegisterItem_ID = arev.AssetRegisterID and arev.RevaluationYear = @FinYear and (ats.FinancialPeriod >= arev.RevaluationPeriod or ats.FinancialPeriod = 0)

  where (i.DateOfTakeOnBalancesImported is not null or i.ManagedFlag = 1)
  and (@AssetRegisterItem_ID is null or i.AssetRegisterItem_ID = @AssetRegisterItem_ID)
  and (@AssetStatus is null or i.AssetStatus_ID = @AssetStatus)
  and (@Description is null or i.[Description] like '%' + @Description + '%')
  and (@GRNNumber is null or i.GRN_ID = @GRNNumber)
  and (@InventoryID is null or i.InventoryID = @InventoryID)
  and (@ClassId is null or i.AssetClass_ID = @ClassId)
  and (@SubCategoryId is null or i.Asset_SubCategory_ID = @SubCategoryId)
  and (@CategoryId is null or i.AssetCategory_ID = @CategoryId)
  and (@Barcode is null or i.Barcode like '%' + @Barcode + '%')
  and (@GIS is null or i.GIS_ID like '%' + @GIS + '%')
  and (@ERF is null or i.ErfNumber like '%' + @ERF + '%')
  and (@TypeId is null or i.AssetType_ID = @TypeId)
  and (adisp.DisposalYear = @FinYear OR adisp.DisposalYear is null)
  and (ats.CostOpening > 0 OR ats.CostClosing > 0 or ats.TransferFromAmount > 0 or ats.TransferToAmount > 0 or ats.AdditionVaue > 0)

	order by i.AssetRegisterItem_ID, ats.FinancialPeriod

	drop table #tempsummary
end