USE [EMS_Mnquma]
GO
/****** Object:  StoredProcedure [dbo].[Asset_ApproveImpairment]    Script Date: 2026/03/07 02:15:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================    
-- Author:		John & Schalk   
ALTER PROCEDURE [dbo].[Asset_ApproveImpairment]      
  @ImpairmentID int,   
  @AssetRegID int,
  @RemaingUsefulLife decimal(18,8),
  @ApprovedBy int,        
  @Approved bit  
AS   
BEGIN      
        
 -- SET NOCOUNT ON added to prevent extra result sets from   
 -- interfering with SELECT statements.   
 SET NOCOUNT ON;   
         
	declare @DebitProjectID int , @CreditProjectID int , @DebitItemsID int , @CreditItemID int,  
            @CreditSCOAFundId int  ,   
            @CreditSCOARegionID int ,   
            @CreditSCOACostingID int ,   
            @CreditSCOAFunctionID int ,   
            @CreditSCOAItemID int,  
  
   
  
            @DebitSCOAFundId int  ,   
            @DebitSCOARegionID int ,   
            @DebitSCOACostingID int ,   
            @DebitSCOAFunctionID int ,   
            @DebitSCOAItemID int ,
			@TransactionDate datetime
      
  
	DECLARE @FinYear nvarchar(9)   
	SET @FinYear = dbo.GetFinYearByUserID_fxn(@ApprovedBy)
  
 	select @DebitProjectID = mst.Project11,  
          	@CreditProjectID = mst.Project14,  
          	@DebitItemsID = mst.DebitItem11_1,  
          	@CreditItemID = mst.CreditItem11_1 ,  
  
  
           @CreditSCOAFundId =ppic.SCOAFundId ,   
           @CreditSCOARegionID = ppic.SCOARegionID ,   
           @CreditSCOACostingID =  ppic.SCOACostingID ,   
           @CreditSCOAFunctionID = ppic.SCOAFunctionID ,   
           @CreditSCOAItemID = ppic.SCOAItemID,  
  
	@DebitSCOAFundId = ppid.SCOAFundId ,   
    @DebitSCOARegionID =  ppid.SCOARegionID ,   
    @DebitSCOACostingID = ppid.SCOACostingID ,   
    @DebitSCOAFunctionID =  ppid.SCOAFunctionID ,   
    @DebitSCOAItemID = (ppid.SCOAItemID),
    @TransactionDate = ai.ImpairmentDate
  
    from  Asset_Register_Items i   
      
    --inner join Const_AssetClass_sys cls on i.AssetClass_ID = cls.AssetClass_ID  
      
	INNER join AssetConfig_mSCOA msc on isnull(i.MeasurementType_ID, 0) = isnull(msc.MeasurementTypeID, 0)
			and isnull(i.AssetType_ID,0) = isnull(msc.TypeID, 0)
			and isnull(i.AssetCategory_ID,0) = (case when isnull(i.AssetCategory_ID,0) = 0 then 0 else isnull(msc.CategoryID, 0) end )
			and isnull(i.Asset_SubCategory_ID,0)  = (CASE when isnull(i.Asset_SubCategory_ID,0) = 0 then 0 else isnull(msc.SubCategoryID, 0) end)
			and isnull(i.AssetStatus_ID,0) = (case when isnull(i.AssetStatus_ID,0) = 0 then 0 else isnull(msc.StatusID, 0)  end)
			and msc.FinYear = @FinYear
			
    inner join AssetConfig_mSCOA_TransactionType mst on msc.AssetConfig_mSCOA_ID = mst.AssetConfig_mSCOA_ID  
            and mst.TransactionTypeID = (select AssetConfig_TransactionType_ID from AssetConfig_TransactionType where [Name]='Impairment')  
  
    inner join  Plan_ProjectItem ppid on ppid.PlanProjectItem_ID =  mst.DebitItem11_1  
    inner join Led_Vote lvd on  lvd.SCOAItemID = ppid.SCOAItemID  
    inner join  Plan_ProjectItem ppic on ppic.PlanProjectItem_ID =  mst.CreditItem11_1  
    inner join Led_Vote lvc on  lvc.SCOAItemID = ppic.SCOAItemID  
    left outer join Asset_Impairment ai on i.AssetRegisterItem_ID = ai.Asset_ItemID and ai.Impairment_ID = @ImpairmentID
      
   where i.AssetRegisterItem_ID = @AssetRegID  
  
 -- Insert statements for procedure here   
 --    declare @ProjectCode int;     
 --         set @ProjectCode = (select PP.Project_ID from Asset_Register_Items ARI            
 --           LEFT OUTER JOIN Plan_ProjectItem PPI ON PPI.PlanProjectItem_ID = ARI.ProjectItem_ID    
 --        LEFT OUTER JOIN Plan_Project PP   ON  PP.Project_ID = PPI.ProjectID  
 --        where ARI.AssetRegisterItem_ID = @AssetRegID)            

 	 Declare @IsReversal bit   
	 SET @IsReversal = (Select top 1 IsReversal from Asset_ImpairmentPostings WHERE Impairment_ID = @ImpairmentID and isnull(Approved,0)=0  order by ID desc)  

	 IF (@Approved = 1)    
	 BEGIN   

		 DECLARE @ItemDescription Nvarchar(200)   
		 if @IsReversal = 1
			SET @ItemDescription = 'Asset Reversal of Impairment' 
		 else
			SET @ItemDescription = 'Asset Impairment'
			
		 DECLARE @DateCaptured DATETIME 
		 SET @DateCaptured = GETDATE()        
       
		 DECLARE @CarryingAmountClosingBalance decimal (18,2)        
		 select @CarryingAmountClosingBalance = CurrentValue from Asset_Register_Items_Function(@AssetRegID,null,null,null,null,null,null,null,null,null,null,null,null,null);  
    
		 DECLARE @myid uniqueidentifier   
		 SET @myid = NEWID()   
   
		 DECLARE @ProcessingMonth int   
		 SET @ProcessingMonth =  (Select Keyvalue from AAAA_ConfigSettings where KeyName = 'ProcessingMonth')         
		 --if(@ProcessingMonth=1)        
		 --SET @ProcessingMonth=13        
		 --else if(@ProcessingMonth=2)        
		 --SET @ProcessingMonth=14        
		 --else if(@ProcessingMonth=3)        
		 --SET @ProcessingMonth=15        
   
		  DECLARE @AssetJournalTransactionTypeID int   
		  SET @AssetJournalTransactionTypeID = (SELECT AssetJournalTransactionType_ID FROM Const_AssetJournalTransactionType_Sys WHERE AssetJournalTransactionDesc = @ItemDescription)   
    
		  DECLARE @DocumentTypeID int   
		  SET @DocumentTypeID = ISNULL((SELECT [DocumentType_ID] FROM Const_DocumentType WHERE [DocumentTypeDesc] = @ItemDescription),0)    
   
		  DECLARE @PreviousDocumentNumber INT   
		  SET @PreviousDocumentNumber = ISNULL((SELECT TOP 1 SUBSTRING(DocumentNumber, LEN(@DocumentTypeID) + 2, LEN(DocumentNumber)) AS 'PreviousDocumentNumber'      
				  FROM Led_Journal_Asset Where AssetJournalTransactionTypeID = @AssetJournalTransactionTypeID  ORDER BY AssetJournal_ID DESC),0)    
    
   
		-------Document Number   
		  DECLARE @NewDocumentNumber NVARCHAR(9)   
   
		  IF(@PreviousDocumentNumber <> '')   
		  BEGIN   
			SET @PreviousDocumentNumber = @PreviousDocumentNumber + 1   
			SET @NewDocumentNumber = (SELECT CAST(@DocumentTypeID AS NVARCHAR(9)) + '/') + (SELECT CAST(@PreviousDocumentNumber AS NVARCHAR(9)))   
		  END   
		  ELSE   
		  BEGIN   
			SET @PreviousDocumentNumber = @PreviousDocumentNumber + 1   
			SET @NewDocumentNumber = (SELECT CAST(@DocumentTypeID AS NVARCHAR(9)) + '/1')   
		  END   
		  ------   
   
		  Declare @tmpVote1 int, @tmpVote2 int--, @tmpScoa1 int, @tmpScoa2 int     
    
		  Set @tmpVote1 = (Select top 1 (Vote_ID) from Led_Vote where votedesc like '%Impairment%' And FinYear =  @FinYear order by Vote_ID desc)   
		  Set @tmpVote2  = (Select top 1 (Vote_ID) from Led_Vote where votedesc like '%Impairment%' And FinYear =  @FinYear order by Vote_ID desc)   
   
		  Declare @Table Table (  [Id] [int] IDENTITY(1,1),   
			[Impairment_ID] [int] ,   
			[DRAcc] [int] ,   
			[DRAccText] [nvarchar](max) ,   
			[CRAcc] [int] ,   
			[CRAccText] [nvarchar](max) ,   
			[FairValueAmt] [decimal](18, 2) ,   
			[CostToSell] [decimal](18, 2),   
			[PresentValue] [decimal](18, 2) ,   
			[ImpairmentLostAmt] [decimal](18, 2),   
			[Processed] bit ,      
		 CreditProjectItemId int,      
		 DebitProjectItemId int,
		 [AmountFromRevaluationReserve] [decimal](18, 2)
		 )   
   
		  Insert Into @Table    
			   ([Impairment_ID] , [DRAcc] , [DRAccText] , [CRAcc] , [CRAccText] , [FairValueAmt] , [CostToSell] ,[PresentValue] , [ImpairmentLostAmt], [Processed],       
			   CreditProjectItemId, DebitProjectItemId, [AmountFromRevaluationReserve])   
		  Select     
			   p.[Impairment_ID] , @DebitProjectID , p.[DRAccText] , @CreditProjectID , p.[CRAccText] , p.[FairValueAmt] , p.[CostToSell] ,p.[PresentValue] , ISNULL(p.ImpairmentLostAmt, 0) + ISNULL(p.AmountFromRevaluationReserve, 0), 0   
			   , @CreditItemID, @DebitItemsID, ISNULL(p.AmountFromRevaluationReserve, 0)  
		  From     
			   [dbo].[Asset_ImpairmentPostings] p      
			   inner join Asset_Impairment i on p.Impairment_ID = i.Impairment_ID      
		  Where     
			   p.[Impairment_ID] = @ImpairmentID AND ISNULL(p.Approved,0)=0  

		  Declare @RowCount int, @RowCounter int    
   
		  Set @RowCount = (Select Count(*) from @Table)   
		  Set @RowCounter = 0   
   
		  Declare @DRAcc int, @CRAcc int, @ImpairmentLostAmt decimal(18,2), @ID int, @DRAccVote int, @CRAccVote int   
			   , @CreditProjectItemId int , @DebitProjectItemId int, @AmountFromRevaluationReserve decimal(18, 2)      

		  While (@RowCounter < @RowCount)   
		  Begin      
			 Set @ID =  (Select Top(1) ID From @Table Where Processed = 0)      
     
			 Select       
			  @DRAcc = DRAcc      
			  , @CRAcc = CRAcc      
			  , @ImpairmentLostAmt = ImpairmentLostAmt       
			  , @CreditProjectItemId = CreditProjectItemId       
			  , @DebitProjectItemId = DebitProjectItemId
			  , @AmountFromRevaluationReserve = AmountFromRevaluationReserve
			 From @Table       
			 Where ID = @ID      

			 Set @DRAccVote = (Select top 1 Vote_ID  from Led_Vote Where SCOAItemID = @DRAcc  And FinYear = @FinYear)   
			 Set @CRAccVote = (Select top 1 Vote_ID  from Led_Vote Where SCOAItemID = @CRAcc  And FinYear = @FinYear)     
   
			 Insert Into [dbo].[Led_Journal_Asset]   
			 (   
			 FinYear,   
			 ProcessingMonth,   
			 TransactionID,   
			 AssetJournalTransactionTypeID,   
			 TransactionDate,   
			 DebitVoteID,   
			 CreditVoteID,   
			 Amount,   
			 DocumentNumber,   
			 DateCaptured,   
			 CapturerID,   
			 ItemDescription,   
			 Asset_RegisterItem_ID,   
			 SCOAFundsID,    
			 SCOARegionID,   
			 SCOACostingID,   
			 SCOAProjectID,    
			 SCOAFunctionID,   
			 SCOAItemID   
      
			 )   
			 Values 
			 (   
			 @FinYear,   
			 @ProcessingMonth,    
			 @myid,   
			 @AssetJournalTransactionTypeID,    
			 GETDATE(),   
			 isnull(@DRAccVote, @tmpVote1),   
			 isnull(@CRAccVote, @tmpVote2),   
			 @ImpairmentLostAmt,   
			 @NewDocumentNumber,    
			 GETDATE(),   
			 @ApprovedBy,   
			 @ItemDescription,   
			 @AssetRegID,   
			 @DebitSCOAFundId,   
			 @DebitSCOARegionID,   
			 @DebitSCOACostingID,   
			 @DebitProjectID,   
			 @DebitSCOAFunctionID,   
			 @DebitSCOAItemID   
			 )   
   
			declare @GLTransactionID int  
            declare @TransType varchar(20)='Impairment'
			if (@IsReversal = 1)
				set @TransType = 'Impairment Reversal'

			 EXEC Asset_InsertLedger_ImpairmentDetails @AssetRegID,@ItemDescription,@CRAcc,@DRAcc,@ImpairmentLostAmt,@DateCaptured,@myid,@ApprovedBy, @CreditProjectItemId, @DebitProjectItemId ,null , @FinYear , @TransType, @AmountFromRevaluationReserve, @IsReversal  
  
			 set @GLTransactionID = @@IDENTITY  
          
			 -- Insert into ASSET transactions table  
			declare @TransactionTypeID int  
  
			select @TransactionTypeID = ReferenceDAta_ID 
			from Const_ReferenceData_sys d  
			inner join Const_ReferenceType_sys t on  t.ReferenceType_ID =d.ReferenceTypeID   
			where t.Name =  'AssetTransactionTypes'  
			and d.Description = 'Impairment'  
  
			declare @AbsImpairmentLostAmt decimal(18,8)
			set @AbsImpairmentLostAmt =  ABS(@ImpairmentLostAmt)
			if (@IsReversal = 1)
				set @AbsImpairmentLostAmt = 0-@AbsImpairmentLostAmt

			declare @AssetTransactionYear nvarchar(9) = (select(
			case when MONTH(@TransactionDate) - 6 <= 0 then CONCAT((YEAR(@TransactionDate) - 1),'/',YEAR(@TransactionDate))
			ELSE CONCAT(YEAR(@TransactionDate),'/', YEAR(@TransactionDate) + 1) END))

			declare @AssetTransactionMonth int = (select(
			case when MONTH(@TransactionDate) - 6 <= 0 then MONTH(@TransactionDate) + 6 ELSE MONTH(@TransactionDate) - 6 END))

			exec Asset_Register_Transactions_Insert   
			@AssetRegisterItem_ID = @AssetRegID,  
			@TransactionTypeID = @TransactionTypeID,  
			@GLTransactionID = @GLTransactionID,  
			@DocumentType_ID =  @DocumentTypeID,  
			@TransactionDate = @TransactionDate,  
			--@PurchaseAmount = @PurchaseAmount,  
			--@ResidualValue = @ResidualValue,  
			--@CurrentValue = @CurrentValue,  
			--@UsefulLife = @UsefulLife,  
			@RemaingUsefulLife = @RemaingUsefulLife,  
			@TransactionValue = @AbsImpairmentLostAmt ,  
			@FinancialPeriod = @AssetTransactionMonth,  
			@FinancialYear = @AssetTransactionYear,  
			@GLGUID_ID = @myid,  
			@Modifier = @ApprovedBy  

			update @Table set Processed = 1 where ID =  @ID    
  
			Set @RowCounter = @RowCounter + 1    
		End   
      
	 END    
	 ELSE         
	 BEGIN -- Added for #67746      
		  UPDATE Asset_Impairment      
		  SET [IsRejected] = 1,  
		  [Approved] = NULL  
		  WHERE Impairment_ID = @ImpairmentID      
	END    
    
      
	 IF (@Approved = 1)   
	 BEGIN        
       
	 DECLARE @AssetID int   
	 DECLARE @ImpairmentTotal decimal(18,8)    
	 DECLARE @NewCarryingValue decimal(18,8)
	 DECLARE @ImpairmentDate datetime
	 DECLARE @RevaluationReserveAmount decimal(18,8)

	 SELECT @AssetID = Asset_ItemID from Asset_Impairment Where Impairment_ID = @ImpairmentID   
	 SELECT @ImpairmentDate = ImpairmentDate from Asset_Impairment Where Impairment_ID = @ImpairmentID
	 SELECT @NewCarryingValue = NewCarryingValue , @ImpairmentTotal  = [ImpairmentLostAmt], @RevaluationReserveAmount = [AmountFromRevaluationReserve]
	 FROM Asset_ImpairmentPostings WHERE Impairment_ID = @ImpairmentID and isnull(Approved,0)=0
   
	 if(@IsReversal=1)  
	 begin  
	  Select @ImpairmentTotal = (0-@ImpairmentTotal),
	  @RevaluationReserveAmount = (0-@RevaluationReserveAmount)
	 end        
   
	 UPDATE Asset_Register_Items   
	 SET ImpairmentAmountCurrentYear =  isnull(ImpairmentAmountCurrentYear,0) + (@ImpairmentTotal), 
	 AccumulatedImpairmentClosingBalance =  isnull(AccumulatedImpairmentOpeningBalance,0) + ImpairmentValue - ImpairmentReversalValue,  
	 CurrentAmount = @NewCarryingValue--isnull(CurrentAmount, PurchaseAmount) - (0-@ImpairmentTotal),    
	 ,CarryingAmountClosingBalance = @NewCarryingValue
	 ,Impairment_Date = @ImpairmentDate
	 ,RevaluationReserveClosingBalance = ISNULL(RevaluationReserveClosingBalance, 0) - @RevaluationReserveAmount
	 --,MovementInRevaluationReserve = ISNULL(ari.MovementInRevaluationReserve, 0) - @RevaluationReserveAmount
	 FROM Asset_Register_Items ari
	 INNER JOIN 
	 (select AssetRegisterItem_ID, ISNULL(SUM(ImpairmentValue),0) AS ImpairmentValue, ISNULL(SUM(ImpairmentReversalValue),0) AS ImpairmentReversalValue from Asset_Register_Transactions where AssetRegisterItem_ID = @AssetID group by AssetRegisterItem_ID) art
	 on ari.AssetRegisterItem_ID = art.AssetRegisterItem_ID
	 WHERE ari.AssetRegisterItem_ID = @AssetID
	 
    
	 --if(@IsReversal='true')  
	 --begin  
	 --UPDATE Asset_ImpairmentPostings   
	 --SET ImpairmentLostAmt = 0.00   
	 --WHERE Impairment_ID = @ImpairmentID and isnull(Approved,0)=0    
	 --end  
         
	 UPDATE Asset_Impairment   
	 SET [Approved] = @Approved,   
	 ApprovedDate = getdate(),   
	 ApprovedBy = @ApprovedBy   
	 WHERE Impairment_ID = @ImpairmentID   
   
	 UPDATE Asset_ImpairmentPostings   
	 SET [Approved] = @Approved   
	 WHERE Impairment_ID = @ImpairmentID and isnull(Approved,0)=0   
  
  
	 END   
	 ELSE   
	 BEGIN        
	  --UPDATE Asset_ImpairmentPostings   
	  --SET [Approved] = @Approved --1   
	  --WHERE Id = @Lineid  
	  DELETE FROM Asset_ImpairmentPostings WHERE Impairment_ID = @ImpairmentID and isnull(Approved,0)=0  
	 END   
EXEC Asset_Transaction_Summary_Populate_single @AssetRegID, @AssetTransactionYear, 1;    
END