ALTER FUNCTION [dbo].[Asset_Register_Items_Function]
(  

 @AsstRegisterItem_ID int = null,   
 @fromAcquisitionDate datetime = null,  
 @EndDate datetime = null,  
 @Class_ID int = null,        
 @SubCategory_ID int = null,        
 @Category_ID int = null,        
 @Barcode nvarchar(100) = null,  
 @GIS nvarchar(100) = null,  
 @ERF nvarchar(100) = null,  
 @StatusID int = null,  
 @TransactionTypeID int = null  
 , @Impairment_ID int = null  
 , @Condition int = null  
 , @SubIdentificationID int = null  
  
)  
RETURNS   
TABLE   
  
AS  
 return  
 (  
  
  
 select 
  ari.AssetRegisterItem_ID,          
  ISNULL(ari.ParentAssetRegisterItem_ID, 0) As 'ParentAssetRegisterItem_ID',        
    
  ISNULL(ari.Description, '') As 'AssetDescription',  
  ari.Barcode,  
  
  cac.AssetClass_id as AssetClassId,  
  sc.Asset_SubCategory_ID,  
  acc.AssetCategoryID,  
  
  ISNULL(cac.AssetClassDesc, '') As 'AssetClassDesc',  
  ISNULL(acc.AssetCategoryDesc,'') as 'AssetCategoryDesc',  
  ISNULL(sc.Asset_SubCategoryDescription, '') As 'Asset_SubCategoryDescription',  
  
  ISNULL(trans.PurchaseAmount,  
    CASE isnull(ari.PurchaseAmount,0) WHEN 0 THEN isnull(ari.CurrentAmount, 0) ELSE  ari.PurchaseAmount END  
   ) As 'PurchaseAmount',   
  
  ISNULL(ari.Replacement_Value, (CASE isnull(ari.PurchaseAmount,0) WHEN 0 THEN isnull(ari.CurrentAmount, 0) ELSE ari.PurchaseAmount END)) As 'ReplacemantValue',  
    
  ISNULL(trans.ResidualValue, ISNULL(ari.ResidualValue, 0)) As 'ResidualValue',  
  
  case when ISNULL(trans.CurrentValue, isnull(ari.CurrentAmount, 0 )) < 0 then 0 else ISNULL(trans.CurrentValue, isnull(ari.CurrentAmount, 0 )) end as 'CurrentValue',  
    
  ISNULL(trans.UsefulLife,   
  case when isnull(ari.UsefulLifeMonthComponent,0) = 0   
   then cac.UsefulLifeInMonths  
   else ari.UsefulLifeMonthComponent   
  end  
  )  
  as 'UsefulLife',            
  
  ISNULL(trans.RemaingUsefulLife,ari.RemainingUsefulLife) as 'RemainingUsefulLife',       
    
  CASE   
  WHEN isnull(ari.ReadyForUse,ari.DateCaptured) > GETDATE()   
   THEN ISNULL(trans.UsefulLife, case when isnull(ari.UsefulLifeMonthComponent,0) = 0  then cac.UsefulLifeInMonths else ari.UsefulLifeMonthComponent end)  
  WHEN (((case when isnull(ari.UsefulLifeMonthComponent,0) = 0 then cac.UsefulLifeInMonths else ari.UsefulLifeMonthComponent end )/12*365 - DATEDIFF(DAY, isnull(ari.ReadyForUse, ari.DateCaptured) , GETDATE()))/365.00*12) <0   
    THEN 0  
  ELSE   
   ((case when isnull(ari.UsefulLifeMonthComponent,0) = 0 then cac.UsefulLifeInMonths else ari.UsefulLifeMonthComponent end )/12*365 - DATEDIFF(DAY, isnull(ari.ReadyForUse, ari.DateCaptured) , GETDATE()))/365.00*12  
  END  
  --)   
  As 'RemainingUsefulLifeAsOfToday',          
  
  tt.ReferenceDAta_ID as 'TransactionTypeID',  
  tt.Description as 'TransactionTypeDesc',  
  isnull(trans.TransactionDate, ari.ReadyForUse) as TransactionDate,  
  
  --isnull(trans.DepreciationDaysFromLastRun, datediff(day,isnull(ari.ReadyForUse, ari.DateCaptured), getdate())) as 'DepreciationDaysFromLastRun',  
   --case @calcDaysFromLastRun when 0   
   case cast(isnull(@EndDate,getdate()) as date)  
   when cast(getdate()as date)  
   then    
   DATEDIFF(d,isnull(trans.TransactionDate, isnull(ari.ReadyForUse, ari.DateCaptured)),getdate())   
   else  
   null  
   end  
   as DepreciationDaysFromLastRun, -- need to calculate this  
  
  isnull(trans.DepreciationValue, 0.00) DepreciationValue,  
  isnull(trans.ImpairmentValue,   0.00) ImpairmentValue,  
  isnull(trans.ImpairmentReversalValue, 0.00) ImpairmentReversalValue,  
  isnull(trans.RevaluationValue,  0.00) RevaluationValue,  
  isnull(trans.FairValue,      0.00) FairValue,  
  
  case isnull(trans.DisposalValue,     0) 
	when 0 then 0 
	else 
	(select TOP 1 di.CurrentValue From Asset_Register_Transactions di where di.AssetRegisterItem_ID = trans.AssetRegisterItem_ID  and di.CurrentValue <> 0 ORDER BY [ID] DESC) + trans.AccumulatedDepreciation+ trans.AccumulatedImpairment- trans.AccumulatedImpairmentReversal
	end DisposalValue,  
  isnull(trans.DisposalLossValue, 0.00) DisposalLossValue,  
  isnull(trans.DisposalTotalValue, 0.00) DisposalTotalValue,  
  
  --isnull(trans.AccumulatedDepreciation, 0.00) as 'AccumulatedDepreciation',  
  CASE WHEN ISNULL(trans.AccumulatedDepreciation,0) = 0 THEN isnull(ari.AccumulatedDepreciationOpeningBalance,0.00) else ISNULL(trans.AccumulatedDepreciation + isnull(ari.AccumulatedDepreciationOpeningBalance,0.00) ,0)END as 'AccumulatedDepreciation', 
  --isnull(trans.AccumulatedDepreciation,  0.00 ) as 'AccumulatedDepreciation',  
  CASE WHEN ISNULL(trans.AccumulatedImpairment,0) = 0 THEN isnull(ari.AccumulatedImpairmentOpeningBalance,0.00) else ISNULL(trans.AccumulatedImpairment + isnull(ari.AccumulatedImpairmentOpeningBalance,0.00) ,0)END as 'AccumulatedImpairment', 
  ISNULL(trans.AccumulatedImpairmentReversal, 0.00) as 'AccumulatedImpairmentReversal',  
  ISNULL(trans.ImpairmentSurplus, 0.00) as 'ImpairmentSurplus',  
  ISNULL(trans.AccumulatedFairValue, isnull(ari.MarketValue, 0.00)) as 'AccumulatedFairValue',  
  ISNULL(ari.RevaluationReserveClosingBalance, 0.00) as 'AccumulatedRevaluation',  
    
  --isnull(trans.AccumulatedPriorYearErrors,  0) as 'AccumulatedPriorYearErrors',  
  --isnull(trans.AccumulatedFinancialDetailAdjustment, 0) as 'AccumulatedFinancialDetailAdjustment',  
  
  trans.FinancialPeriod,  
  trans.FinancialYear,  
  
  trans.DocumentType_ID,  
  
  trans.GLGUID_ID,    
    
  trans.DateModified,  
  trans.Modifier,  
  
  ari.Quantity,  
  
  ISNULL(cr.RoomDesc, '') As 'RoomDesc',  
  ISNULL(cd.DepartmentDesc,DeptDivison.DepartmentDesc) As 'DepartmentDesc',  
  
  ISNULL(ari.MarketValue, 0.00) As 'MarketValue',  
  ISNULL(ari.WorkInProgressAmount, 0.00) As 'WorkInProgressAmount',  
  
  ISNULL(ari.ReadyForUse,ari.DateCaptured) AS 'ReadyForUse',  
  ISNULL(af.AssetFlagsName, '') As 'AssetFlagsName',   
  ISNULL(typ.AssetTypeDesc, '') As 'AssetTypeDesc',  
  ISNULL(ari.SerialNumber, '') As 'SerialNumber',   
  --ari.DateCaptured ,     
  ISNULL(case CAST(ari.DateOfTransfer AS DATE) when  CAST('1900-01-01' AS DATE) then null else ari.DateOfTransfer end , ISNULL(case CAST(ari.Date_Donated AS DATE) when CAST('1900-01-01' AS DATE) then null else ari.Date_Donated end,isnull(case CAST(ari.ReadyForUse AS DATE) when CAST('1900-01-01' AS DATE) then null else ari.ReadyForUse end, ari.DateCaptured))) AS 'AcquisitionDate',  
  d.DisposalDate,  
  --case   
  --when cac.AssetStatus_ID=1   
  -- then null  
  --else  
  -- d.DisposalDate  
  --end   
  --AS 'DisposalDate',   
  
  --case when ari.AssetStatus_ID=1 then '' else  
  ISNULL(ari.MethodOfDisposal, '') As 'MethodOfDisposal',  
    
  ISNULL(acr.Description, '') As 'ConditionRatingDesc',  
    
  ISNULL(cd.DepartmentDesc,CAST(Divison.Division_ID AS VARCHAR(10)) + '' + Divison.DivisionDesc + ' / ' + Divison.DivisionCode) As 'MunicipalClassification',  
            
  ISNULL(assetStatus.AssetStatusDesc,'')  As 'AssetStatusDesc',  
  
  ari.GIS_ID,  
  ari.RegistrationNumber,  
  --ari.AssetStatus_ID  
  assetStatus.AssetStatus_ID  
  ,ari.GRN_ID  
  ,ari.InventoryID  
  ,ari.SubIdentification  
  ,ari.ErfNumber  
  
  , aimp.Impairment_ID  
  , ImpairmentLoss =  case aimp.Impairment_ID when null then  null else (SELECT MAX(ImpairmentLostAmt) FROM Asset_ImpairmentPostings WHERE Impairment_ID = aimp.Impairment_ID) end  
  , aimp.FairValueMethodID  
  , aimp.AssetType   
  , aimp.ValuationType   
  , aimp.ScenarioMethod  
  , aimp.DateCaptured  
  , aimp.IsReversal   
  
  ,ari.ScoaFunction_ID  
  , ari.ScoaFunds_ID  
  , ari.ScoaRegion_ID  
  , ari.Scoa_Cost_ID  
  , ari.ScoaProject_ID  
  , ari.Scoa_ID  
  , mes.[Name] AS 'MeasurementType'
  , ari.Donated_Id  
  ,ari.DateOfTakeOnBalancesImported  
  ,ari.ProjectItem_ID
  ,ari.[Date_Donated]
  ,ari.RevaluationOpeningBalance
  ,ari.MovementInRevaluationReserve
  ,ari.DepreciationOffset
  ,cac.RevaluationByRevalutionModel
  ,ISNULL(ari.RevaluationReserveClosingBalance, ari.RevaluationOpeningBalance) AS 'RevaluationReserveClosingBalance'
  ,ISNULL((select top(1) [AmountFromRevaluationReserve] from Asset_ImpairmentPostings aip
	inner join Asset_Impairment ai on aip.Impairment_ID = ai.Impairment_ID
	where ai.IsReversal = 0 and ai.Approved = 1 and ari.AssetRegisterItem_ID = ai.Asset_ItemID
	order by ai.Impairment_ID desc),0) as 'RevaluationReserveFromImpairment'
  
  FROM Asset_Register_Items ari (NOLOCK)  
  
  LEFT JOIN Const_AssetClass_sys cac (NOLOCK) ON ari.AssetClass_ID=cac.AssetClass_ID   
             --AND NOT CAC.Asset_SubCategory_ID IS NULL  
             --AND cac.Asset_SubCategory_ID = ISNULL(@SubCategory_ID,  cac.Asset_SubCategory_ID)  
  LEFT JOIN Const_Asset_SubCategory sc (NOLOCK) ON isnull(cac.Asset_SubCategory_ID,0) = sc.Asset_SubCategory_ID  
  LEFT JOIN Const_AssetCategory_sys acc (NOLOCK) ON isnull(cac.AssetCategoryID,0) = acc.AssetCategoryID   
  
  LEFT JOIN AssetConfig_MeasurementType mes (NOLOCK) on mes.AssetConfig_MeasurementType_ID = ari.MeasurementType_ID  
    
  LEFT JOIN Const_Department cd (NOLOCK) ON ari.Department=cd.Department_ID  
  LEFT JOIN Const_Room cr (NOLOCK) ON ari.Room_ID=cr.Room_ID  
  
  LEFT JOIN Const_AssetType_Sys typ (NOLOCK) ON typ.AssetType_ID = ari.AssetType_ID  
  LEFT JOIN Const_AssetFlags af (NOLOCK) ON af.AssetFlags_ID = ari.AssetFlags_ID  
  
  LEFT JOIN Const_AssetStatus_Sys assetStatus ON isnull(cac.AssetStatus_ID,0) = assetStatus.AssetStatus_ID  
  
  LEFT JOIN Const_Asset_Condition acr (NOLOCK)  on acr.Asset_Condition_ID = ari.AssetCondition_ID   
  LEFT JOIN Const_Division Divison ON ari.Department = Divison.Division_ID   
  LEFT JOIN Const_Department DeptDivison ON Divison.DepartmentID = DeptDivison.Department_ID   
  LEFT JOIN Asset_Disposal d ON ari.AssetRegisterItem_ID = d.assetItemID  
  
  left join (
	SELECT
		[AssetRegisterItem_ID],
		[TransactionTypeID]
		, PurchaseAmount  
		, ResidualValue  
		, CurrentValue  
		, UsefulLife  
		, RemaingUsefulLife  
		, TransactionDate  
		, DepreciationValue  
		, ImpairmentValue  
		, ImpairmentReversalValue  
		, RevaluationValue  
		, FairValue  
		, DisposalValue  
		, DisposalLossValue  
		, DisposalTotalValue  
		, AccumulatedDepreciation
		, AccumulatedImpairment  
		, AccumulatedImpairmentReversal  
		, ImpairmentSurplus  
		, AccumulatedFairValue  
		, AccumulatedRevaluation  
		, FinancialPeriod  
		, FinancialYear  
		, DocumentType_ID  
		, GLGUID_ID  
		, DateModified  
		, Modifier  
	FROM
		(
			select distinct  
			 LAST_VALUE(TransactionTypeID) OVER (Partition by AssetRegisterItem_ID  ORDER BY ID ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING)  TransactionTypeID  
  
			 ,LAST_VALUE(PurchaseAmount) OVER (Partition by AssetRegisterItem_ID  ORDER BY ID ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING)  PurchaseAmount  
			 , LAST_VALUE(ResidualValue) OVER (Partition by AssetRegisterItem_ID  ORDER BY ID ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING) ResidualValue  
			 , LAST_VALUE(CurrentValue) OVER (Partition by AssetRegisterItem_ID  ORDER BY ID ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING)  CurrentValue  
			 , LAST_VALUE(UsefulLife) OVER (Partition by AssetRegisterItem_ID  ORDER BY ID ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING)  UsefulLife  
			 , LAST_VALUE(RemaingUsefulLife) OVER (Partition by AssetRegisterItem_ID  ORDER BY ID ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING)  RemaingUsefulLife  
			 , LAST_VALUE(TransactionDate) OVER (Partition by AssetRegisterItem_ID  ORDER BY ID ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING)  TransactionDate  
			 , LAST_VALUE(DepreciationValue) OVER (Partition by AssetRegisterItem_ID  ORDER BY ID ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING)  DepreciationValue  
			 , LAST_VALUE(ImpairmentValue) OVER (Partition by AssetRegisterItem_ID ORDER BY ID ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING)  ImpairmentValue  
			 , LAST_VALUE(ImpairmentReversalValue) OVER (Partition by AssetRegisterItem_ID  ORDER BY ID ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING)  ImpairmentReversalValue  
			 , LAST_VALUE(RevaluationValue) OVER (Partition by AssetRegisterItem_ID  ORDER BY ID ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING)  RevaluationValue  
			 , LAST_VALUE(FairValue) OVER (Partition by AssetRegisterItem_ID  ORDER BY ID ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING)  FairValue  
			 , LAST_VALUE(DisposalValue) OVER (Partition by AssetRegisterItem_ID  ORDER BY ID ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING)  DisposalValue  
			 , LAST_VALUE(DisposalLossValue) OVER (Partition by AssetRegisterItem_ID  ORDER BY ID ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING)  DisposalLossValue  
			 , LAST_VALUE(DisposalTotalValue) OVER (Partition by AssetRegisterItem_ID  ORDER BY ID ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING)  DisposalTotalValue  
			 --, SUM(DepreciationValue) OVER (Partition by AssetRegisterItem_ID  ORDER BY ID ROWS UNBOUNDED PRECEDING)  AccumulatedDepreciation
			 , LAST_VALUE(AccumulatedImpairment) OVER (Partition by AssetRegisterItem_ID  ORDER BY ID ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING)  AccumulatedImpairment
			 , LAST_VALUE(AccumulatedDepreciation) OVER (Partition by AssetRegisterItem_ID  ORDER BY ID ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING)  AccumulatedDepreciation 
			 , LAST_VALUE(AccumulatedImpairmentReversal) OVER (Partition by AssetRegisterItem_ID  ORDER BY ID ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING) AccumulatedImpairmentReversal  
			 , LAST_VALUE(ImpairmentSurplus) OVER (Partition by AssetRegisterItem_ID  ORDER BY ID ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING) ImpairmentSurplus  
			 , LAST_VALUE(AccumulatedFairValue) OVER (Partition by AssetRegisterItem_ID  ORDER BY ID ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING)  AccumulatedFairValue  
			 , LAST_VALUE(AccumulatedRevaluation) OVER (Partition by AssetRegisterItem_ID  ORDER BY ID ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING)  AccumulatedRevaluation  
			 , LAST_VALUE(FinancialPeriod) OVER (Partition by AssetRegisterItem_ID  ORDER BY ID ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING)  FinancialPeriod  
			 , LAST_VALUE(FinancialYear) OVER (Partition by AssetRegisterItem_ID  ORDER BY ID ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING)  FinancialYear  
			 , LAST_VALUE(DocumentType_ID) OVER (Partition by AssetRegisterItem_ID  ORDER BY ID ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING)  DocumentType_ID  
			 , LAST_VALUE(GLGUID_ID) OVER (Partition by AssetRegisterItem_ID  ORDER BY ID ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING)  GLGUID_ID  
			 , LAST_VALUE(DateModified) OVER (Partition by AssetRegisterItem_ID  ORDER BY ID ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING)  DateModified  
			 , LAST_VALUE(Modifier) OVER (Partition by AssetRegisterItem_ID  ORDER BY ID ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING)  Modifier  
			 --, LAST_VALUE(TransactionDate) OVER (Partition by AssetRegisterItem_ID  ORDER BY ID ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING)  TransactionDate  
			 , AssetRegisterItem_ID  
  
  
			 from   
			 Asset_Register_Transactions t  
			 where (@EndDate is null OR cast(t.TransactionDate as date)<= cast(@EndDate as date))    
       ) aa
	GROUP BY
		[AssetRegisterItem_ID], [TransactionTypeID], PurchaseAmount, ResidualValue, CurrentValue, UsefulLife, RemaingUsefulLife, TransactionDate, DepreciationValue
		, ImpairmentValue, ImpairmentReversalValue, RevaluationValue, FairValue, DisposalValue, DisposalLossValue, DisposalTotalValue, AccumulatedImpairment, AccumulatedDepreciation  
		, AccumulatedImpairmentReversal, ImpairmentSurplus, AccumulatedFairValue, AccumulatedRevaluation, FinancialPeriod, FinancialYear, DocumentType_ID  
		, GLGUID_ID, DateModified, Modifier  
     ) trans on trans.AssetRegisterItem_ID = ari.AssetRegisterItem_ID  
  
  --outer apply (select top 1 * from Asset_Register_Transactions t where t.AssetRegisterItem_ID = ari.AssetRegisterItem_ID  
  --    and (@EndDate is null OR cast(isnull(t.TransactionDate,isnull(ari.ReadyForUse,ari.DateCaptured)) as date)<= cast(@EndDate as date))   
  --    order by ID desc) trans  
  
  left outer join Const_ReferenceData_sys tt on tt.ReferenceDAta_ID = trans.TransactionTypeID  
  
  left outer Join   
  --Asset_Impairment   
  (select distinct    
    LAST_VALUE(Impairment_ID) OVER (Partition by Asset_ItemID  ORDER BY Impairment_ID ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING) Impairment_ID  
  , LAST_VALUE(FairValueMethodID) OVER (Partition by Asset_ItemID  ORDER BY Impairment_ID ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING) FairValueMethodID  
  , LAST_VALUE(AssetType) OVER (Partition by Asset_ItemID  ORDER BY Impairment_ID ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING) AssetType  
  , LAST_VALUE(ValuationType) OVER (Partition by Asset_ItemID  ORDER BY Impairment_ID ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING) ValuationType  
  , LAST_VALUE(ScenarioMethod) OVER (Partition by Asset_ItemID  ORDER BY Impairment_ID ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING) ScenarioMethod  
  , LAST_VALUE(DateCaptured) OVER (Partition by Asset_ItemID  ORDER BY Impairment_ID ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING) DateCaptured  
  , LAST_VALUE(IsReversal) OVER (Partition by Asset_ItemID  ORDER BY Impairment_ID ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING) IsReversal  
  , Asset_ItemID  
  from Asset_Impairment)  
  aimp ON ari.AssetRegisterItem_ID =  aimp.Asset_ItemID  
  
  where ari.AssetRegisterItem_ID = isnull(@AsstRegisterItem_ID, ari.AssetRegisterItem_ID)  
  
  and cast(isnull(ari.ReadyForUse,ari.DateCaptured) as date) >= cast(isnull(@fromAcquisitionDate,isnull(ari.ReadyForUse,ari.DateCaptured))  as date)  
    
  and isnull(cac.AssetClass_ID,0) in(select AssetClass_ID from Const_AssetClass_sys where AssetClassDesc in( select AssetClassDesc from Const_AssetClass_sys where AssetClass_ID = isnull(@Class_ID,AssetClass_ID)))   
  
  and isnull(sc.Asset_SubCategory_ID,0) = isnull(@SubCategory_ID, isnull(sc.Asset_SubCategory_ID,0))  
    
  and isnull(acc.AssetCategoryID,0) = isnull(@Category_ID, isnull(acc.AssetCategoryID,0))  
    
  and isnull(ari.Barcode,'') = isnull(@Barcode,  isnull(ari.Barcode,''))  
  
  and isnull(ari.GIS_ID, '0') = isnull(@GIS, isnull(ari.GIS_ID, '0'))  
  and isnull(ari.ErfNumber, '') = isnull(@ERF, isnull(ari.ErfNumber, ''))  
    
  AND ( isnull(assetStatus.AssetStatus_ID,0) in (  
  isnull(@StatusID,0),   
  -1  
  --isnull(@StatusID,(select AssetStatus_ID from [Const_AssetStatus_Sys] where AssetStatusDesc = 'In Use')),  
  --isnull(@StatusID,(select AssetStatus_ID from [Const_AssetStatus_Sys] where AssetStatusDesc = 'In Store'))  
  ) or isnull(@StatusID,0) = 0)  
  --and ari.AssetStatus_ID != (select AssetStatus_ID from [dbo].[Const_AssetStatus_Sys] where [AssetStatusDesc] = 'Disposed')  
  
  
  and (isnull(trans.TransactionTypeID,0) = 0 or trans.TransactionTypeID = isnull(@TransactionTypeID, TransactionTypeID))  
  
  and (isnull(@Impairment_ID,0) = 0 or isnull(aimp.Impairment_ID,0)  = isnull(@Impairment_ID,aimp.Impairment_ID))  
  
  and isnull(ari.AssetCondition_ID,0) = isnull(@Condition,isnull(ari.AssetCondition_ID,0))  
  
  and (isnull(@SubIdentificationID,0) = 0 or  isnull (ari.[SubIdentification],0) = isnull(@SubIdentificationID,ari.[SubIdentification]))  
    
 )