ALTER PROCEDURE [dbo].[AssetReport_GetAssetDisposed]

AS
BEGIN

	SELECT DISTINCT
		f.[AssetRegisterItem_ID] As 'AssetRegisterItemId',
		ISNULL(f.[AssetDescription], 'l') AS 'Description',
		ISNULL(f.[Barcode], NULL) AS 'Barcode',
		ISNULL(f.[DepartmentDesc], NULL) AS 'Department',
		ISNULL(f.[AssetClassDesc], '') AS 'AssetClass',
		ISNULL(f.[Quantity], NULL) AS 'Quantity',
		ISNULL(CONVERT(VARCHAR, f.[DisposalDate], 103), '00/00/0000') AS 'DisposalDate',
		ISNULL(f.[PurchaseAmount], 0) As 'PurchaseAmount',
		ISNULL(f.[AccumulatedDepreciation], 0.00) As 'AccumulatedDepreciationClosingBalance',
		(ISNULL(f.[PurchaseAmount], 0) + ISNULL(f.[AccumulatedRevaluation], 0)) - (ISNULL(f.[AccumulatedDepreciation], 0)) - ISNULL(f.[AccumulatedImpairment], 0) + ISNULL(f.[AccumulatedImpairmentReversal], 0) AS 'CarryingAmount',
		ISNULL(art.[DisposalTotalValue], NULL) AS 'AmountRealised',
		art.[DisposalLossValue] AS 'ProfitLossDisposal',
		al.[DisposalReason] AS 'DisposalReason',
		ISNULL(CONVERT(VARCHAR, CURRENT_TIMESTAMP, 103), '00/00/0000') AS 'RunDate',
		ISNULL(CONVERT(VARCHAR, f.[AcquisitionDate], 103), '00/00/0000') AS 'AcquisitionDate',
		ISNULL(CONVERT(VARCHAR, ari.[InServiceDate], 103), CONVERT(VARCHAR, ari.[ReadyForUse], 103)) AS 'InServiceDate',
		afs.[FinancialStatusDesc] AS 'FinancialStatus',
		ac.[Description] AS 'AssetCondition',
		adm.[AssetDisposalMethod] AS 'DisposalMethod',
		ari.[UsefulLifeYearComponent] AS 'UsefulLifeYearComponent',
		ari.[UsefulLifeMonthComponent] AS 'UsefulLifeMonthComponent',
		ari.[Remaining_Useful_Life_Year] AS 'RemainingUsefulLifeYearComponent',
		ari.[RemainingUsefulLife] AS 'RemainingUsefulLifeMonthComponent',
		NULLIF(TRIM(CONCAT(e.[FirstName], ' ', e.[SurName])), '') AS 'CustodianName',
		ari.[CustodianIdNumber] AS 'CustodianIdNumberPassportNumber',
		ISNULL(ao.[AssetOwnershipDesc], ari.[AssetOwnershipName]) AS 'AssetOwnership',
		di.[DivisionDesc] AS 'Division',
		t.[Town] AS 'Town',
		w.[WardDescription] AS 'Ward',
		pto.[Description] AS 'Zoning',
		sub.[SuburbName] AS 'Suburb',
		s.[StreetName] AS 'Street',
		b.[BuildingDesc] AS 'Building',
		fl.[FloorDesc] AS 'FloorDescription',
		ari.[RoomNumber] AS 'RoomNumber',
		ari.[DeedNumber] AS 'DeedNumber',
		ari.[ErfNumber] AS 'ErfNumber',
		ari.[ErfSizeM2] AS 'ErfSize',
		ari.[PortionNumber] AS 'PortionNumber',
		ari.[UnitNumber] AS 'UnitNumber',
		ari.[SGNumberChange_ID] as 'SGKey',
		ari.[WellKnownTextWKT] AS 'WellKnowText',
		ari.[GIS_ID] AS 'GISId',
		ari.[latitude] AS 'Latitude',
		ari.[longitude] AS 'Longitude',
		f.[AccumulatedImpairment] AS 'AccumulatedImpairmentClosingBalance',
		art.RevaluationReserveDisposal,
		REPLACE(jnl.DocumentNumber, '/', '_') AS DocumentNumber
	FROM
		Asset_Register_Items_Function(NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL) f
	INNER JOIN
		Asset_Register_Items ari ON f.[AssetRegisterItem_ID] = ari.[AssetRegisterItem_ID]
	INNER JOIN
		Asset_Register_Transactions art ON ari.AssetRegisterItem_ID = art.AssetRegisterItem_ID AND art.TransactionTypeID = 26
	LEFT JOIN
		AssetConfig_FinancialStatus afs ON ari.[Financial_Status_ID] = afs.[FinStatusID]
	LEFT JOIN
		Const_Asset_Condition ac ON ari.[AssetCondition_ID] = ac.[Asset_Condition_ID]
	LEFT JOIN
		Asset_Disposal_Approval al ON al.[AssetItemID] = f.[AssetRegisterItem_ID]
	LEFT JOIN
		Payroll_Employee e ON ari.[Custodian_ID] = e.[Employee_ID]
	LEFT JOIN
		Const_AssetOwnership ao ON ari.[AssetOwnership_ID] = ao.[AssetOwnership_ID]
	LEFT JOIN
		Const_Division di ON ari.[DivisionID] = di.[Division_ID]
	LEFT JOIN
		Const_Town t ON ari.[Town_ID] = t.[Town_ID]
	LEFT JOIN
		Const_Ward w ON ari.[Ward_ID] = w.[Ward_Id]
	LEFT JOIN
		Const_PropertyTypeOfUse pto ON ari.[Zoning_ID] = pto.[PropertyTypeOfUse_ID]
	LEFT JOIN
		Const_Suburb sub ON ari.[SuburbID] = sub.[Suburb_ID]
	LEFT JOIN
		Const_Street s ON ari.[Street_ID] = s.[Street_ID]
	LEFT JOIN
		Const_Building b ON ari.[Building_ID] = b.[Building_ID]
	LEFT JOIN
		Const_Floor fl ON ari.[FloorID] = fl.[Floor_ID]
	LEFT JOIN
		Const_AssetDisposalMethod adm ON al.[AssetDisposalMethodID] = adm.[AssetDisposalMethod_ID]
	LEFT OUTER JOIN
		Led_Journal_Asset jnl ON ari.AssetRegisterItem_ID = jnl.Asset_RegisterItem_ID AND jnl.AssetJournalTransactionTypeID = 26

END