ALTER PROCEDURE [dbo].[Asset_InsertLedger_DepreciationDetails]
(
	@DepScheduleItem_Id int,
	@CaptureId int,
	@asset_RegisterItemID int = null
)
AS
BEGIN

SET NOCOUNT ON;

DECLARE @ProcessingMonth INT = (SELECT dbo.GetProcessingMonthByUserID_fxn(@CaptureId));
DECLARE @SchedDate datetime = (SELECT DISTINCT ScheduledDate  FROM Asset_DepreciationSchedule_Item WHERE Asset_DepreciationSchedule_Item_ID = @DepScheduleItem_Id)
DECLARE @AssetTransactionYear nvarchar(9) = (select(
			case when MONTH(@SchedDate) - 6 <= 0 then CONCAT((YEAR(@SchedDate) - 1),'/',YEAR(@SchedDate))
			ELSE CONCAT(YEAR(@SchedDate),'/', YEAR(@SchedDate) + 1) END))
DECLARE @YearDays INT = CASE WHEN (YEAR(@SchedDate) % 4 = 0 AND YEAR(@SchedDate) % 100 != 0) OR (YEAR(@SchedDate) % 400 = 0) THEN 365 ELSE 365 END
DECLARE @AssetTransactionMonth int = (select(
			case when MONTH(@SchedDate) - 6 <= 0 then MONTH(@SchedDate) + 6 ELSE MONTH(@SchedDate) - 6 END))

DROP TABLE IF EXISTS #TempHeaderData, #TempGeneralLedger, #TempAssetTransactions;

SELECT DISTINCT
	ari.[AssetRegisterItem_ID] AS 'AssetRegisterItemId',
	NULL AS 'AssetClassId',
	NULLIF(ari.[AssetCategory_ID], 0) AS 'AssetCategoryId',
	NULLIF(ari.[Asset_SubCategory_ID], 0) AS 'AssetSubCategoryId',
	sc.[Asset_SubCategoryDescription] AS 'AssetSubCategoryDescription',
	ds.[FinYear],
	d.[UsefullLife],
	lja.[TransactionID],
	lja.[AssetJournalTransactionTypeID],
	lvd.[Vote_ID] AS 'DebitVoteId',
	lvc.[Vote_ID] AS 'CreditVoteId',
	lvo.[Vote_ID] AS 'OffsetVoteId',
	lvr.[Vote_ID] AS 'ReserveVoteId',
	--CASE WHEN ISNULL(ari.RevaluationReserveClosingBalance, 0) > 0 THEN
	lja.[Amount] AS 'Amount',
	-- - (CASE WHEN ISNULL(ari.RevaluationReserveClosingBalance, 0) - (ISNULL(ari.MovementInRevaluationReserve, 0) / (ISNULL(ari.RemainingUsefulLife, 0)/12*365 + d.DaysFromLastRun) * d.DaysFromLastRun) < 0 
	--THEN ISNULL(ari.RevaluationReserveClosingBalance, 0)
	--ELSE (ISNULL(ari.MovementInRevaluationReserve, 0) / (ISNULL(ari.RemainingUsefulLife, 0)/12*365 + d.DaysFromLastRun)* d.DaysFromLastRun) END)
	--ELSE lja.[Amount] END AS 'Amount',
	lja.[DocumentNumber],
	dsi.[ScheduledDate] AS 'DateCaptured',
	lja.[intDocNumber],
	dsi.[ScheduledDate],
	dsi.[Asset_DepreciationSchedule_ID] AS 'AssetDepreciationScheduleId',
	dsi.[Asset_DepreciationSchedule_Item_ID] AS 'AssetDepreciationScheduleItemId',
	ppic.[DivisionId] AS 'CreditDivisionId', ppid.[DivisionId] AS 'DebitDivisionId', ppio.[DivisionId] AS 'OffsetDivisionId', ppir.[DivisionId] AS 'ReserveDivisionId',
	ppic.[ProjectID] AS 'CreditProjectId', ppic.[PlanProjectItem_ID] AS 'CreditProjectItemId',
	ppid.[ProjectID] AS 'DebitProjectId', ppid.[PlanProjectItem_ID] AS 'DebitProjectItemId',
	ppio.[ProjectID] AS 'OffsetProjectId', ppio.[PlanProjectItem_ID] AS 'OffsetProjectItemId',
	ppir.[ProjectID] AS 'ReserveProjectId', ppir.[PlanProjectItem_ID] AS 'ReserveProjectItemId',
	ppic.[SCOAFundId] AS 'CreditScoaFundId', ppic.[SCOARegionId] AS 'CreditScoaRegionId', ppic.[SCOACostingID] AS 'CreditScoaCostingId', ppc.[ScoaProjectID] AS 'CreditScoaProjectId', ppic.[SCOAFunctionId] AS 'CreditScoaFunctionId', ppic.[SCOAItemID] AS 'CreditScoaItemId',
	ppid.[SCOAFundId] AS 'DebitScoaFundId', ppid.[SCOARegionId] AS 'DebitScoaRegionId', ppid.[SCOACostingID] AS 'DebitScoaCostingId', ppd.[ScoaProjectID] AS 'DebitScoaProjectId', ppid.[SCOAFunctionId] AS 'DebitScoaFunctionId', ppid.[SCOAItemID] AS 'DebitScoaItemId',
	ppio.[SCOAFundId] AS 'OffsetScoaFundId', ppio.[SCOARegionId] AS 'OffsetScoaRegionId', ppio.[SCOACostingID] AS 'OffsetScoaCostingId', ppo.[ScoaProjectID] AS 'OffsetScoaProjectId', ppio.[SCOAFunctionId] AS 'OffsetScoaFunctionId', ppio.[SCOAItemID] AS 'OffsetScoaItemId',
	ppir.[SCOAFundId] AS 'ReserveScoaFundId', ppir.[SCOARegionId] AS 'ReserveScoaRegionId', ppir.[SCOACostingID] AS 'ReserveScoaCostingId', ppr.[ScoaProjectID] AS 'ReserveScoaProjectId', ppir.[SCOAFunctionId] AS 'ReserveScoaFunctionId', ppir.[SCOAItemID] AS 'ReserveScoaItemId',
	lja.[AssetJournal_ID] AS 'AssetJournalId',
	CASE WHEN ISNULL(ari.RevaluationReserveClosingBalance, 0) > 0 THEN
	CASE WHEN ISNULL(ari.RevaluationReserveClosingBalance, 0) - (ISNULL(ari.RevaluationReserveClosingBalance, 0) / (ISNULL(ari.RemainingUsefulLife, 0)/12*@YearDays) * d.DaysFromLastRun) < 0 
	THEN ISNULL(ari.RevaluationReserveClosingBalance, 0)
	ELSE ROUND((ISNULL(ari.RevaluationReserveClosingBalance, 0) / (ISNULL(ari.RemainingUsefulLife, 0)/12*@YearDays)* d.DaysFromLastRun),2) END
	ELSE 0 END AS 'DepreciationOffset'

INTO #TempHeaderData
FROM
	Asset_DepreciationSchedule_Item dsi
INNER JOIN
	Asset_DepreciationSchedule ds ON dsi.[Asset_DepreciationSchedule_ID] = ds.[Asset_DepreciationSchedule_ID]
INNER JOIN
	Asset_Depreciation d ON dsi.[Asset_DepreciationSchedule_Item_ID] = d.[Depreciation_ScheduledItemID]
INNER JOIN
	Asset_Register_Items ari ON d.[AssetRegisterItem_ID] = ari.[AssetRegisterItem_ID]
INNER JOIN
	Led_Journal_Asset lja ON dsi.[Asset_DepreciationSchedule_Item_ID] = lja.[Deprecation_ScheduleItemID]
						 AND ari.[AssetRegisterItem_ID] = lja.[Asset_RegisterItem_ID]
OUTER APPLY
	(
		SELECT
			mscoa.[FinYear], mscoat.[CreditItem11_1], mscoat.[Project14], mscoat.[DebitItem11_1], mscoat.[Project11],
			mscoat.[DebitItem12_1], mscoat.[Project12], mscoat.[CreditItem13_1], mscoat.[Project13]
		FROM
			AssetConfig_mSCOA mscoa
		INNER JOIN
			AssetConfig_mSCOA_TransactionType mscoat ON mscoa.[AssetConfig_mSCOA_ID] = mscoat.[AssetConfig_mSCOA_ID]
		INNER JOIN
			AssetConfig_TransactionType tt ON mscoat.[TransactionTypeID] = tt.[AssetConfig_TransactionType_ID]
											AND tt.[Name] = 'Depreciation'

		WHERE
			(dsi.[TypeID] = mscoa.[TypeID] OR (dsi.[TypeID] IS NULL AND mscoa.[TypeID] IS NULL))
		AND ISNULL(dsi.[CategoryID], 0) = ISNULL(mscoa.[CategoryID], 0)
		AND ISNULL(dsi.[SubCategoryID], 0) = ISNULL(mscoa.[SubCategoryID], 0)
		AND ISNULL(dsi.[MeasurementTypeID], 0) = ISNULL(mscoa.[MeasurementTypeID], 0)
		AND ISNULL(dsi.[AssetStatusID], 0) = ISNULL(NULLIF(mscoa.[StatusID], -1), 0)
		AND ds.[FinYear] = mscoa.[FinYear]
	) aa
INNER JOIN
	Plan_ProjectItem ppic ON aa.[CreditItem11_1] = ppic.[PlanProjectItem_ID] -- Credit - Scoa Item - Depreciation
							AND aa.[Project14] = ppic.[ProjectID] -- Credit - Project - Depreciation
							AND aa.[FinYear] = ppic.[FinYear]
INNER JOIN
	Plan_Project ppc ON ppic.[ProjectID] = ppc.[Project_ID]
INNER JOIN
	Led_Vote lvc ON ppic.[SCOAItemID] = lvc.[SCOAItemID]
				AND ppic.[FinYear] = lvc.[FinYear]
INNER JOIN
	Plan_ProjectItem ppid ON aa.[DebitItem11_1] = ppid.[PlanProjectItem_ID] -- Debit - Scoa Item - Depreciation
							AND aa.[Project11] = ppid.[ProjectID] -- Debit - Project - Depreciation
							AND aa.[FinYear] = ppid.[FinYear]
INNER JOIN
	Plan_Project ppd ON ppid.[ProjectID] = ppd.[Project_ID]
INNER JOIN
	Led_Vote lvd ON ppid.[SCOAItemID] = lvd.[SCOAItemID]
				AND ppid.[FinYear] = lvd.[FinYear]


LEFT OUTER JOIN
	Plan_ProjectItem ppio ON aa.[DebitItem12_1] = ppio.[PlanProjectItem_ID] -- Credit - Scoa Item - Depreciation Offset
							AND aa.[Project12] = ppio.[ProjectID] -- Credit - Project - Depreciation Offset
							AND aa.[FinYear] = ppio.[FinYear]
LEFT OUTER JOIN
	Plan_Project ppo ON ppio.[ProjectID] = ppo.[Project_ID]
LEFT OUTER JOIN
	Led_Vote lvo ON ppio.[SCOAItemID] = lvo.[SCOAItemID]
				AND ppio.[FinYear] = lvo.[FinYear]


LEFT OUTER JOIN
	Plan_ProjectItem ppir ON aa.[CreditItem13_1] = ppir.[PlanProjectItem_ID] -- Dedit - Scoa Item - Revaluation Reserve
							AND aa.[Project13] = ppir.[ProjectID] -- Dedit - Project - Revaluation Reserve
							AND aa.[FinYear] = ppir.[FinYear]
LEFT OUTER JOIN
	Plan_Project ppr ON ppio.[ProjectID] = ppr.[Project_ID]
LEFT OUTER JOIN
	Led_Vote lvr ON ppir.[SCOAItemID] = lvr.[SCOAItemID]
				AND ppir.[FinYear] = lvr.[FinYear]


LEFT JOIN
	Const_Asset_SubCategory sc ON ari.[Asset_SubCategory_ID] = sc.[Asset_SubCategory_ID]
WHERE
	dsi.[Asset_DepreciationSchedule_Item_ID] = @DepScheduleItem_Id
AND d.[AssetRegisterItem_ID] = ISNULL(@asset_RegisterItemID, d.[AssetRegisterItem_ID]);	

DECLARE @TempAssetLedgerIdTable TABLE ([TempId] UNIQUEIDENTIFIER NOT NULL, [ID] INT NOT NULL);

-- INSERT INTO Asset_Led_Header
MERGE Asset_Led_Header AS targetTable
USING
(
	SELECT
		[AssetClassId], [AssetCategoryId], [AssetSubCategoryId], [FinYear], [TransactionID], [AssetJournalTransactionTypeID], [DebitVoteId], [CreditVoteId], SUM([Amount]) AS 'Amount', [DocumentNumber], [DateCaptured],
		[ScheduledDate], [AssetDepreciationScheduleId], [AssetDepreciationScheduleItemId], [DebitScoaFundId], [DebitScoaRegionId], [DebitScoaCostingId], [DebitScoaProjectId], [DebitScoaFunctionId], [DebitScoaItemId], [DebitDivisionId], [DebitProjectId], [DebitProjectItemId]
	FROM
		#TempHeaderData
	GROUP BY
		[AssetClassId], [AssetCategoryId], [AssetSubCategoryId], [FinYear], [TransactionID], [AssetJournalTransactionTypeID], [DebitVoteId], [CreditVoteId], [DocumentNumber], [DateCaptured],
		[ScheduledDate], [AssetDepreciationScheduleId], [AssetDepreciationScheduleItemId], [DebitScoaFundId], [DebitScoaRegionId], [DebitScoaCostingId], [DebitScoaProjectId], [DebitScoaFunctionId], [DebitScoaItemId], [DebitDivisionId], [DebitProjectId], [DebitProjectItemId]
) AS sourceTable ([AssetClassId], [AssetCategoryId], [AssetSubCategoryId], [FinYear], [TransactionID], [AssetJournalTransactionTypeID], [DebitVoteId], [CreditVoteId], [Amount], [DocumentNumber], [DateCaptured],
				  [ScheduledDate], [AssetDepreciationScheduleId], [AssetDepreciationScheduleItemId], [DebitScoaFundId], [DebitScoaRegionId], [DebitScoaCostingId], [DebitScoaProjectId], [DebitScoaFunctionId], [DebitScoaItemId], [DebitDivisionId], [DebitProjectId], [DebitProjectItemId])
ON
(
	targetTable.[TransactionID] = sourceTable.[TransactionID]
AND targetTable.[DocumentNumber] = sourceTable.[DocumentNumber]
)
WHEN MATCHED THEN
	UPDATE SET
		targetTable.[TransactionID] = sourceTable.[TransactionID]
WHEN NOT MATCHED BY TARGET THEN
	INSERT ([AssetClass_ID], [AssetCategory_ID], [Asset_SubCategory_ID], [FinYear], [ProcessingMonth], [TransactionID], [AssetJournalTransactionTypeID], [TransactionDate], [DebitVoteID], [CreditVoteID], [Amount], [DocumentNumber], [DateCaptured], [CapturerID],
			[Deprecation_ScheduledDate], [Deprecation_ScheduleID], [Deprecation_ScheduleItemID], [SCOAFundsID], [SCOARegionID], [SCOACostingID], [SCOAProjectID], [SCOAFunctionID], [SCOAItemID], [DivisionID], [ProjectID], [PlanProjectItemID])
	VALUES (sourceTable.[AssetClassId], sourceTable.[AssetCategoryId], sourceTable.[AssetSubCategoryId], sourceTable.[FinYear], @ProcessingMonth, sourceTable.[TransactionID], sourceTable.[AssetJournalTransactionTypeID], CURRENT_TIMESTAMP, sourceTable.[DebitVoteId], sourceTable.[CreditVoteId], sourceTable.[Amount], sourceTable.[DocumentNumber], sourceTable.[DateCaptured], @CaptureId,
			sourceTable.[ScheduledDate], sourceTable.[AssetDepreciationScheduleId], sourceTable.[AssetDepreciationScheduleItemId], sourceTable.[DebitScoaFundId], sourceTable.[DebitScoaRegionId], sourceTable.[DebitScoaCostingId], sourceTable.[DebitScoaProjectId], [DebitScoaFunctionId], sourceTable.[DebitScoaItemId], sourceTable.[DebitDivisionId], sourceTable.[DebitProjectId], sourceTable.[DebitProjectItemId])
OUTPUT sourceTable.[TransactionID], inserted.[Asset_Led_Header_ID]
INTO @TempAssetLedgerIdTable;

SELECT 
    TransactionLeg, AssetRegisterItemId, TransactionID, DateCaptured, DocumentNumber, Amount, FinYear, 
    AssetJournalTransactionTypeID, TransactionDetails, AssetLinkId, DivisionId, UsefullLife,
    ProjectId, ProjectItemId, ScoaItemId, ScoaFundId, ScoaRegionId, ScoaCostingId, ScoaProjectId, 
    ScoaFunctionId, VoteId, DepreciationOffset
INTO #TempGeneralLedger
FROM 
(
    SELECT 
        thd.*, tt.[ID] AS AssetLinkId, 
        ISNULL(thd.[AssetSubCategoryDescription], ' ') + ' Depreciation' AS TransactionDetails
    FROM #TempHeaderData thd
    INNER JOIN @TempAssetLedgerIdTable tt ON thd.[TransactionID] = tt.[TempId]
) AS base
CROSS APPLY
(
    VALUES
        ('Debit', DebitDivisionId, DebitProjectId, DebitProjectItemId, DebitScoaItemId, DebitScoaFundId, DebitScoaRegionId, DebitScoaCostingId, DebitScoaProjectId, DebitScoaFunctionId, DebitVoteId),
        ('Credit', CreditDivisionId, CreditProjectId, CreditProjectItemId, CreditScoaItemId, CreditScoaFundId, CreditScoaRegionId, CreditScoaCostingId, CreditScoaProjectId, CreditScoaFunctionId, CreditVoteId),
        ('Offset', OffsetDivisionId, OffsetProjectId, OffsetProjectItemId, OffsetScoaItemId, OffsetScoaFundId, OffsetScoaRegionId, OffsetScoaCostingId, OffsetScoaProjectId, OffsetScoaFunctionId, OffsetVoteId),
        ('Reserve', ReserveDivisionId, ReserveProjectId, ReserveProjectItemId, ReserveScoaItemId, ReserveScoaFundId, ReserveScoaRegionId, ReserveScoaCostingId, ReserveScoaProjectId, ReserveScoaFunctionId, ReserveVoteId)
) AS Unpvt(TransactionLeg, DivisionId, ProjectId, ProjectItemId, ScoaItemId, ScoaFundId, ScoaRegionId, ScoaCostingId, ScoaProjectId, ScoaFunctionId, VoteId)
WHERE Unpvt.DivisionId IS NOT NULL;

DECLARE @TempGeneralLedgerIdTable TABLE ([TempId] UNIQUEIDENTIFIER NOT NULL, [Debit] DECIMAL(18, 8) NULL, [Credit] DECIMAL(18, 8) NULL, [ID] INT NOT NULL);

-- INSERT INTO Led_GeneralLedger
MERGE Led_GeneralLedger as targetTable
USING
(
	SELECT
		[FinYear], [AssetJournalTransactionTypeID], 
		CASE WHEN MAX([TransactionLeg]) IN ('Reserve', 'Offset') THEN [TransactionDetails] + ' Offset' ELSE [TransactionDetails] END AS 'TransactionDetails', [DocumentNumber],
		SUM(CASE WHEN [TransactionLeg] = 'Debit' THEN [Amount] WHEN [TransactionLeg] = 'Reserve' THEN [DepreciationOffset] ELSE NULL END) AS 'DebitAmount',
		SUM(CASE WHEN [TransactionLeg] = 'Credit' THEN [Amount] WHEN [TransactionLeg] = 'Offset' THEN [DepreciationOffset] ELSE NULL END) AS 'CreditAmount',
		[DateCaptured], [TransactionID], [AssetLinkId], [DivisionId],
		[ProjectId], [ProjectItemId], [ScoaItemId], [ScoaFundId], [ScoaRegionId], [ScoaCostingId], [ScoaProjectId], [ScoaFunctionId], [VoteId]
	FROM
		#TempGeneralLedger
	GROUP BY
		[FinYear], [AssetJournalTransactionTypeID], [TransactionDetails], [DocumentNumber],
		[DateCaptured], [TransactionID], [AssetLinkId], [DivisionId],
		[ProjectId], [ProjectItemId], [ScoaItemId], [ScoaFundId], [ScoaRegionId], [ScoaCostingId], [ScoaProjectId], [ScoaFunctionId], [VoteId]
) AS sourceTable ([FinYear], [AssetJournalTransactionTypeID], [TransactionDetails], [DocumentNumber],
				  [DebitAmount], [CreditAmount], [DateCaptured], [TransactionId], [AssetLinkId], [DivisionId],
				  [ProjectId], [ProjectItemId], [ScoaItemId], [ScoaFundId], [ScoaRegionId], [ScoaCostingId], [ScoaProjectId], [ScoaFunctionId], [VoteId])
ON
(
	targetTable.[MatchTranGuid] = sourceTable.[TransactionID]
AND (targetTable.[Debit] = sourceTable.[DebitAmount] OR (targetTable.[Debit] IS NULL AND sourceTable.[DebitAmount] IS NULL))
AND (targetTable.[Credit] = sourceTable.[CreditAmount] OR (targetTable.[Credit] IS NULL AND sourceTable.[CreditAmount] IS NULL))
AND targetTable.[AssetLinkID] = sourceTable.[AssetLinkId]
)
WHEN MATCHED THEN
	UPDATE SET
		targetTable.[MatchTranGuid] = sourceTable.[TransactionID]
WHEN NOT MATCHED BY TARGET THEN
	INSERT ([PostingDate], [ProcessingMonth], [VoteID], [FinYear], [TransactionTypeID], [TransactionDetails], [DocumentNumber],
			[Debit], [Credit], [DateCaptured], [CapturerID], [MatchTranGuid], [AssetLinkID],
			[SCOAFundsID],[SCOARegionID], [SCOACostingID], [SCOAProjectID], [SCOAFunctionID], [SCOAItemID], [DivisionID], [ProjectID], [PlanProjectItemID])
	VALUES (CURRENT_TIMESTAMP, @ProcessingMonth, sourceTable.[VoteId], sourceTable.[FinYear], sourceTable.[AssetJournalTransactionTypeID], sourceTable.[TransactionDetails], sourceTable.[DocumentNumber],
			sourceTable.[DebitAmount], sourceTable.[CreditAmount], sourceTable.[DateCaptured], @CaptureId, sourceTable.[TransactionID], sourceTable.[AssetLinkId],
			sourceTable.[ScoaFundId], sourceTable.[ScoaRegionId], sourceTable.[ScoaCostingId], sourceTable.[ScoaProjectId], sourceTable.[ScoaFunctionId], sourceTable.[ScoaItemId], sourceTable.[DivisionId], sourceTable.[ProjectId], sourceTable.[ProjectItemId])
OUTPUT sourceTable.[TransactionID], sourceTable.[DebitAmount], sourceTable.[CreditAmount], inserted.[GenLedger_ID]
INTO @TempGeneralLedgerIdTable;

-- Prep Data Tp INSERT INTO Asset_Register_Transactions
DECLARE	@DepreciationType INT,
		@ImpairmentType INT,
		@FairValueType INT,
		@RevaluationType INT,
		@PriorYearErrorsType INT,
		@DisposalType INT,
		@GeneralType INT,
		@TransactionTypeId INT = (SELECT
									[ReferenceDAta_ID]
								FROM
									Const_ReferenceData_sys d
								INNER JOIN
									Const_ReferenceType_sys t ON t.[ReferenceType_ID] = d.[ReferenceTypeID]       
								WHERE
									t.[Name] = 'AssetTransactionTypes'
								AND d.[Description] = 'Depreciation');

-- Get Different Asset Transaction Types
SELECT
	@DepreciationType = MAX([Depreciation]),
	@RevaluationType = MAX([Revaluation]),
	@ImpairmentType = MAX([Impairment]),
	@FairValueType = MAX([Fair Value Adjustment]),
	@DisposalType = MAX([Disposal]),
	@PriorYearErrorsType = MAX([Prior Year Error Adjustment]),
	@GeneralType = MAX([General Update])
FROM
	(
		SELECT
			d.*
		FROM
			Const_ReferenceData_sys d
		INNER JOIN
			Const_ReferenceType_sys t on t.ReferenceType_ID = d.ReferenceTypeID
		WHERE
			t.[Name] = 'AssetTransactionTypes'
	) base
PIVOT
	(
		MAX([ReferenceData_ID])
		FOR [Description] IN ([Depreciation], [Revaluation], [Impairment], [Fair Value Adjustment], [Disposal], [Prior Year Error Adjustment], [General Update])
	) pvt;

SELECT
	tgl.[AssetRegisterItemId], tgl.[GeneralLedgerId], tgl.[TransactionDate], tgl.[UsefullLife], tgl.[TransactionValue], tgl.[FinYear], tgl.[TransactionID],
	CASE WHEN @TransactionTypeId = @DisposalType THEN dis.[DisposalValue] ELSE NULL END AS 'DisposalValue',
	CASE WHEN @TransactionTypeId = @DisposalType THEN dis.[DisposalValue] ELSE NULL END AS 'DisposalTotalValue',
	CASE
		WHEN @TransactionTypeId = @DisposalType THEN
			CASE
				WHEN dis.[DisposalValue] > tgl.[TransactionValue] THEN 0 - ISNULL(dis.[DisposalLossValue], 0)
				ELSE dis.[DisposalLossValue]
			END
		ELSE NULL
	END AS 'DisposalLossValue',
	CASE
		WHEN @TransactionTypeId = @FairValueType OR @TransactionTypeId = @RevaluationType THEN ISNULL(trans.[CurrentValue], reg.[CuurentValue]) + tgl.[TransactionValue]
		WHEN @TransactionTypeId = @DisposalType THEN ISNULL(trans.[CurrentValue], reg.[CuurentValue])
		ELSE ISNULL(trans.[CurrentValue], reg.[CuurentValue]) - tgl.[TransactionValue]
	END AS 'CurrentValue',
	[DepreciationOffset]
INTO #TempAssetTransactions
FROM
	(
		SELECT
			tgl.[AssetRegisterItemId], MIN(tglt.[ID]) AS 'GeneralLedgerId', tgl.[DateCaptured] AS 'TransactionDate', tgl.[UsefullLife], tgl.[Amount] AS 'TransactionValue', tgl.[FinYear], tgl.[TransactionID], tgl.[DepreciationOffset]
		FROM
			#TempGeneralLedger tgl
		INNER JOIN
			@TempGeneralLedgerIdTable tglt ON tgl.[TransactionID] = tglt.[TempId]
		WHERE
			tgl.[TransactionLeg] = 'Credit'
		GROUP BY
			tgl.[AssetRegisterItemId], tgl.[DateCaptured], tgl.[UsefullLife], tgl.[Amount], tgl.[FinYear], tgl.[TransactionID], tgl.[DepreciationOffset]
	) tgl
OUTER APPLY
	(
		SELECT TOP(1)
			ada.[DisposalProceedsAmount] AS 'DisposalValue',
			ada.[AmountProfitLoss] AS 'DisposalLossValue'
		FROM
			Asset_Disposal_Approval ada
		WHERE
			ada.[AssetItemID] = tgl.[AssetRegisterItemId]
	) dis
OUTER APPLY
	(
		SELECT TOP 1
			art.[CurrentValue]
		FROM
			Asset_Register_Transactions art
		WHERE
			art.[AssetRegisterItem_ID] = tgl.[AssetRegisterItemId]
		ORDER BY
			art.[ID] DESC
	) trans
OUTER APPLY
	(
		SELECT
			ISNULL(ISNULL(a.[CurrentAmount], CASE a.[MarketValue] WHEN 0 THEN NULL ELSE a.[MarketValue] END), a.[PurchaseAmount]) AS 'CuurentValue'
		FROM
			Asset_Register_Items a
		WHERE
			a.[AssetRegisterItem_ID] = tgl.[AssetRegisterItemId]
	) reg
ORDER BY
	tgl.[AssetRegisterItemId];

-- INSERT INTO Asset_Register_Transactions
MERGE Asset_Register_Transactions as targetTable
USING
(
	SELECT
		tat.[AssetRegisterItemId] AS 'AssetRegisterItem_ID',
		@TransactionTypeId AS 'TransactionTypeID',
		ISNULL(tat.[TransactionDate], CURRENT_TIMESTAMP) AS 'TransactionDate',
		ISNULL(trans.[PurchaseAmount], CASE ISNULL(ari.[PurchaseAmount], 0) WHEN 0 THEN ISNULL(ari.[CurrentAmount], 0) ELSE ari.[PurchaseAmount] END) AS 'PurchaseAmount',
		COALESCE(trans.[ResidualValue], ari.[ResidualValue], 0) AS 'ResidualValue',
		COALESCE(tat.[CurrentValue], trans.[CurrentValue], ari.[CurrentAmount], 0) AS 'CurrentValue',
		COALESCE(trans.[UsefulLife], CASE WHEN ISNULL(ari.[UsefulLifeMonthComponent], 0) = 0 THEN cac.[UsefulLifeInMonths] ELSE ari.[UsefulLifeMonthComponent] END, 0) AS 'UsefulLife',
		ISNULL(tat.[UsefullLife],
			CASE 
				WHEN ISNULL(ari.[ReadyForUse], ari.[DateCaptured]) > CURRENT_TIMESTAMP THEN ISNULL(trans.[UsefulLife], CASE WHEN ISNULL(ari.[UsefulLifeMonthComponent], 0) = 0 THEN cac.[UsefulLifeInMonths] ELSE ari.[UsefulLifeMonthComponent] END)
				WHEN (((CASE WHEN ISNULL(ari.[UsefulLifeMonthComponent], 0) = 0 THEN cac.[UsefulLifeInMonths] ELSE ari.[UsefulLifeMonthComponent] END) / 12 * @YearDays - DATEDIFF(DAY, ISNULL(ari.[ReadyForUse], ari.[DateCaptured]) , CURRENT_TIMESTAMP)) / @YearDays * 12) < 0 THEN 0
				ELSE 
					((CASE WHEN ISNULL(ari.[UsefulLifeMonthComponent], 0) = 0 THEN cac.[UsefulLifeInMonths] ELSE ari.[UsefulLifeMonthComponent] END) / 12 * @YearDays - DATEDIFF(DAY, ISNULL(ari.[ReadyForUse], ari.[DateCaptured]) , CURRENT_TIMESTAMP)) / @YearDays * 12
			END) AS 'RemaingUsefulLife',
		CASE @TransactionTypeId WHEN @DepreciationType	THEN tat.[TransactionValue] ELSE NULL END AS 'DepreciationValue',
		CASE @TransactionTypeId WHEN @ImpairmentType	THEN (CASE WHEN tat.[TransactionValue] < 0 THEN NULL ELSE ABS(tat.[TransactionValue]) END) ELSE NULL END AS 'ImpairmentValue',
		CASE @TransactionTypeId WHEN @ImpairmentType	THEN (CASE WHEN tat.[TransactionValue] > 0 THEN NULL ELSE ABS(tat.[TransactionValue]) END) ELSE NULL END AS 'ImpairmentReversalValue',
		CASE @TransactionTypeId WHEN @RevaluationType	THEN tat.[TransactionValue] ELSE NULL END	AS 'RevaluationValue',
		CASE @TransactionTypeId WHEN @FairValueType		THEN tat.[TransactionValue] ELSE NULL END	AS 'FairValue',
		CASE @TransactionTypeId WHEN @DisposalType		THEN tat.[TransactionValue] ELSE NULL END	AS 'DisposalValue',
		CASE @TransactionTypeId WHEN @DisposalType		THEN tat.[DisposalLossValue] ELSE NULL END	AS 'DisposalLossValue',
		CASE @TransactionTypeId WHEN @DisposalType		THEN tat.[DisposalTotalValue] ELSE NULL END	AS 'DisposalTotalValue',
		CASE @TransactionTypeId WHEN @DepreciationType	THEN ISNULL(trans.[AccumulatedDepreciation], 0) + tat.[TransactionValue] ELSE ISNULL(trans.[AccumulatedDepreciation], 0) END	AS 'AccumulatedDepreciation',
		CASE @TransactionTypeId WHEN @ImpairmentType	THEN ISNULL(trans.[AccumulatedImpairment], 0) + (CASE WHEN tat.[TransactionValue] < 0 THEN 0 ELSE ABS(tat.[TransactionValue]) END) ELSE ISNULL(trans.[AccumulatedImpairment], 0) END AS 'AccumulatedImpairment',
		CASE @TransactionTypeId WHEN @ImpairmentType	THEN ISNULL(trans.[AccumulatedImpairmentReversal], 0) + (CASE WHEN tat.[TransactionValue] > 0 THEN 0 ELSE ABS(tat.[TransactionValue]) END) ELSE ISNULL(trans.[AccumulatedImpairmentReversal], 0) END AS 'AccumulatedImpairmentReversal',
		CASE @TransactionTypeId WHEN @ImpairmentType	THEN ISNULL(trans.[ImpairmentSurplus], 0) + tat.[TransactionValue] ELSE NULL END AS 'ImpairmentSurplus',
		CASE @TransactionTypeId WHEN @FairValueType		THEN COALESCE(trans.[AccumulatedFairValue], ari.[MarketValue], 0) + tat.[TransactionValue] ELSE COALESCE(trans.[AccumulatedFairValue], ari.[MarketValue], 0) END AS 'AccumulatedFairValue',
		CASE @TransactionTypeId WHEN @RevaluationType THEN COALESCE(trans.[AccumulatedRevaluation], ari.RevaluationReserveClosingBalance, 0) + ISNULL(tat.[TransactionValue], 0) 
		WHEN @DepreciationType THEN  CASE WHEN COALESCE(trans.[AccumulatedRevaluation], ari.RevaluationReserveClosingBalance, 0) - ISNULL(tat.[DepreciationOffset], 0) < 0 THEN COALESCE(trans.[AccumulatedRevaluation], ari.RevaluationReserveClosingBalance, 0) ELSE COALESCE(trans.[AccumulatedRevaluation], ari.RevaluationReserveClosingBalance, 0) - ISNULL(tat.[DepreciationOffset], 0) END
		ELSE COALESCE(trans.[AccumulatedRevaluation], ari.RevaluationReserveClosingBalance, 0) END AS 'AccumulatedRevaluation',
		COALESCE(@AssetTransactionMonth, trans.[FinancialPeriod], 0) AS 'FinancialPeriod',
		COALESCE(@AssetTransactionYear, trans.[FinancialYear], CONCAT(CAST(YEAR(CURRENT_TIMESTAMP) - 1 AS VARCHAR(4)), '/', CAST(YEAR(CURRENT_TIMESTAMP) AS VARCHAR(4)))) AS 'FinancialYear',
		666 AS 'DocumentType_ID', -- Asset Depreciation
		tat.[TransactionID] AS 'GLGUID_ID',
		tat.[GeneralLedgerId] AS 'TransactionSource_ID',
		CURRENT_TIMESTAMP AS 'DateModified',
		@CaptureId AS 'Modifier',
		CASE @TransactionTypeId WHEN @DepreciationType THEN ISNULL(tat.[DepreciationOffset], 0) ELSE NULL END AS 'DepreciationOffset'

	FROM
		#TempAssetTransactions tat
	INNER JOIN
		Asset_Register_Items ari ON tat.[AssetRegisterItemId] = ari.[AssetRegisterItem_ID]
	INNER JOIN
		Const_AssetClass_sys cac ON ari.[AssetClass_ID] = cac.[AssetClass_ID]
	OUTER APPLY
		(
			SELECT DISTINCT
				art.[AssetRegisterItem_ID],
				LAST_VALUE(art.[PurchaseAmount])				OVER (PARTITION BY art.[AssetRegisterItem_ID] ORDER BY art.[ID] ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING) AS 'PurchaseAmount',
				LAST_VALUE(art.[ResidualValue])					OVER (PARTITION BY art.[AssetRegisterItem_ID] ORDER BY art.[ID] ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING) AS 'ResidualValue',
				LAST_VALUE(art.[CurrentValue])					OVER (PARTITION BY art.[AssetRegisterItem_ID] ORDER BY art.[ID] ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING) AS 'CurrentValue',
				LAST_VALUE(art.[UsefulLife])					OVER (PARTITION BY art.[AssetRegisterItem_ID] ORDER BY art.[ID] ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING) AS 'UsefulLife',
				LAST_VALUE(art.[AccumulatedDepreciation])		OVER (PARTITION BY art.[AssetRegisterItem_ID] ORDER BY art.[ID] ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING) AS 'AccumulatedDepreciation',
				LAST_VALUE(art.[AccumulatedImpairment])			OVER (PARTITION BY art.[AssetRegisterItem_ID] ORDER BY art.[ID] ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING) AS 'AccumulatedImpairment',
				LAST_VALUE(art.[AccumulatedImpairmentReversal]) OVER (PARTITION BY art.[AssetRegisterItem_ID] ORDER BY art.[ID] ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING) AS 'AccumulatedImpairmentReversal',
				LAST_VALUE(art.[ImpairmentSurplus])				OVER (PARTITION BY art.[AssetRegisterItem_ID] ORDER BY art.[ID] ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING) AS 'ImpairmentSurplus',
				LAST_VALUE(art.[AccumulatedFairValue])			OVER (PARTITION BY art.[AssetRegisterItem_ID] ORDER BY art.[ID] ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING) AS 'AccumulatedFairValue',
				LAST_VALUE(art.[AccumulatedRevaluation])		OVER (PARTITION BY art.[AssetRegisterItem_ID] ORDER BY art.[ID] ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING) AS 'AccumulatedRevaluation',
				LAST_VALUE(art.[FinancialPeriod])				OVER (PARTITION BY art.[AssetRegisterItem_ID] ORDER BY art.[ID] ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING) AS 'FinancialPeriod',
				LAST_VALUE(art.[FinancialYear])					OVER (PARTITION BY art.[AssetRegisterItem_ID] ORDER BY art.[ID] ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING) AS 'FinancialYear'
			FROM
				Asset_Register_Transactions art
			WHERE
				art.[AssetRegisterItem_ID] = tat.[AssetRegisterItemId]
		) trans
) sourceTable ([AssetRegisterItem_ID], [TransactionTypeID], [TransactionDate], [PurchaseAmount], [ResidualValue], [CurrentValue], [UsefulLife], [RemaingUsefulLife], [DepreciationValue], [ImpairmentValue],
				[ImpairmentReversalValue], [RevaluationValue], [FairValue], [DisposalValue], [DisposalLossValue], [DisposalTotalValue], [AccumulatedDepreciation], [AccumulatedImpairment], [AccumulatedImpairmentReversal],
				[ImpairmentSurplus], [AccumulatedFairValue], [AccumulatedRevaluation], [FinancialPeriod], [FinancialYear], [DocumentType_ID], [GLGUID_ID], [TransactionSource_ID], [DateModified], [Modifier], [DepreciationOffset])
ON
(
	targetTable.[AssetRegisterItem_ID] = sourceTable.[AssetRegisterItem_ID]
AND targetTable.[TransactionSource_ID] = sourceTable.[TransactionSource_ID]
AND targetTable.[TransactionDate] = sourceTable.[TransactionDate]
)
WHEN MATCHED THEN
	UPDATE SET
		targetTable.[AssetRegisterItem_ID] = sourceTable.[AssetRegisterItem_ID],
		targetTable.[TransactionSource_ID] = sourceTable.[TransactionSource_ID],
		targetTable.[TransactionDate] = sourceTable.[TransactionDate]
WHEN NOT MATCHED BY TARGET THEN
	INSERT ([AssetRegisterItem_ID], [TransactionTypeID], [TransactionDate], [PurchaseAmount], [ResidualValue], [CurrentValue], [UsefulLife], [RemaingUsefulLife], [DepreciationValue], [ImpairmentValue],
			[ImpairmentReversalValue], [RevaluationValue], [FairValue], [DisposalValue], [DisposalLossValue], [DisposalTotalValue], [AccumulatedDepreciation], [AccumulatedImpairment], [AccumulatedImpairmentReversal],
			[ImpairmentSurplus], [AccumulatedFairValue], [AccumulatedRevaluation], [FinancialPeriod], [FinancialYear], [DocumentType_ID], [GLGUID_ID], [TransactionSource_ID], [DateModified], [Modifier], [DepreciationOffset])
	VALUES (sourceTable.[AssetRegisterItem_ID], sourceTable.[TransactionTypeID], sourceTable.[TransactionDate], sourceTable.[PurchaseAmount], sourceTable.[ResidualValue], sourceTable.[CurrentValue], sourceTable.[UsefulLife], sourceTable.[RemaingUsefulLife], sourceTable.[DepreciationValue], sourceTable.[ImpairmentValue],
			sourceTable.[ImpairmentReversalValue], sourceTable.[RevaluationValue], sourceTable.[FairValue], sourceTable.[DisposalValue], sourceTable.[DisposalLossValue], sourceTable.[DisposalTotalValue], sourceTable.[AccumulatedDepreciation], sourceTable.[AccumulatedImpairment], sourceTable.[AccumulatedImpairmentReversal],
			sourceTable.[ImpairmentSurplus], sourceTable.[AccumulatedFairValue], sourceTable.[AccumulatedRevaluation], sourceTable.[FinancialPeriod], sourceTable.[FinancialYear], sourceTable.[DocumentType_ID], sourceTable.[GLGUID_ID], sourceTable.[TransactionSource_ID], sourceTable.[DateModified], sourceTable.[Modifier], sourceTable.[DepreciationOffset]);

-- Update Asset_Register_Items with changes
UPDATE
	ari
SET
	ari.[CurrentAmount] = CASE WHEN tat.[CurrentValue] < 0 THEN 0 ELSE tat.[CurrentValue] END,
	ari.[AccumulatedDepreciationClosingBalance] = COALESCE(ari.[AccumulatedDepreciationClosingBalance], ari.[AccumulatedDepreciationOpeningBalance], 0) + ISNULL(trans.[DepreciationValue], 0),
	ari.[Modifier_ID] = @CaptureId,
	ari.[DateOfDisposal] = CASE @TransactionTypeId WHEN @DisposalType THEN CURRENT_TIMESTAMP ELSE ari.[DateOfDisposal] END,
	ari.[DisposalAmountCost] = CASE @TransactionTypeId WHEN @DisposalType THEN tat.[TransactionValue] ELSE ari.[DisposalAmountCost] END,
	ari.[ProfitOrLossOnDisposal] = tat.[DisposalLossValue],
	ari.[RemainingUsefulLife] = tat.[UsefullLife],
	ari.[RevaluationReserveClosingBalance] = ari.[RevaluationReserveClosingBalance] - ISNULL(tat.[DepreciationOffset], 0)	
	--ari.[DepreciationOffset] = ISNULL(ari.[DepreciationOffset], 0) + ISNULL(tat.[DepreciationOffset], 0)
FROM
	#TempAssetTransactions tat
INNER JOIN
	Asset_Register_Items ari ON tat.[AssetRegisterItemId] = ari.[AssetRegisterItem_ID]
OUTER APPLY
	(
		SELECT DISTINCT
			art.[AssetRegisterItem_ID],
			LAST_VALUE(art.[DepreciationValue]) OVER (PARTITION BY art.[AssetRegisterItem_ID] ORDER BY art.[ID] ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING) AS 'DepreciationValue'
		FROM
			Asset_Register_Transactions art
		WHERE
			art.[AssetRegisterItem_ID] = tat.[AssetRegisterItemId]
	) trans;

-- UPDATE Led_Journal_Asset
UPDATE
	lja
SET
	lja.[Asset_Led_Header_ID] = tt.[ID]
FROM
	#TempHeaderData thd
INNER JOIN
	@TempAssetLedgerIdTable tt ON thd.[TransactionID] = tt.[TempId]
INNER JOIN
	Led_Journal_Asset lja ON thd.[AssetDepreciationScheduleItemId] = lja.[Deprecation_ScheduleItemID]
						 AND thd.[AssetRegisterItemId] = lja.[Asset_RegisterItem_ID]
						 AND thd.[TransactionID] = lja.[TransactionID];

-- UPDATE Asset_Depreciation
UPDATE
	d
SET
	d.[IsApproved] = 1
FROM
	#TempHeaderData thd
INNER JOIN
	Asset_Depreciation d ON thd.[AssetDepreciationScheduleItemId] = d.[Depreciation_ScheduledItemID]
						 AND thd.[AssetRegisterItemId] = d.[AssetRegisterItem_ID];

-- UPDATE Asset_DepreciationSchedule_Item
DECLARE @ToStatusId INT = (SELECT [Asset_DepreciationStatus_ID] FROM Const_Asset_DepreciationStatus WHERE [StatusDescription] = 'Posted to GL (Run Approved)');

UPDATE
	dsi
SET
	dsi.[StatusID] = @ToStatusId,
	dsi.[RunDate] = CURRENT_TIMESTAMP,
	dsi.[ProcessedDate] = CURRENT_TIMESTAMP,
	dsi.[ResumeStatusID] = NULL
FROM
	Asset_DepreciationSchedule_Item dsi
WHERE
	dsi.[Asset_DepreciationSchedule_Item_ID] = @DepScheduleItem_Id;

--IF EXISTS(SELECT top(1) ISNULL(ari.[RevaluationReserveClosingBalance], 0) FROM Asset_Register_Items ari
--INNER JOIN
--#TempHeaderData thd ON ari.[AssetRegisterItem_ID] = thd.[AssetRegisterItemId] and ari.[RevaluationReserveClosingBalance] > 0)
--BEGIN
--EXEC dbo.Asset_InsertLedger_RevaluationDepreciation @DepScheduleItem_Id = @DepScheduleItem_Id, @CaptureId = @CaptureId, @asset_RegisterItemID = @asset_RegisterItemID
--END

--DECLARE @AssetTable TABLE (AssetRegisterItem_ID INT);
--INSERT INTO @AssetTable (AssetRegisterItem_ID)
--SELECT DISTINCT AssetRegisterItemId FROM #TempHeaderData
 
--DECLARE @AssetID INT;
---- Process each ID
--WHILE EXISTS (SELECT 1 FROM @AssetTable)
--BEGIN
--    -- Get one ID
--    SELECT TOP 1 @AssetID = AssetRegisterItem_ID FROM @AssetTable;
--    -- Execute the stored procedure
--    EXEC Asset_Transaction_Summary_Populate_single @AssetID, @AssetTransactionYear, 1;
--    -- Remove processed ID
--    DELETE FROM @AssetTable WHERE AssetRegisterItem_ID = @AssetID;
--END

DROP TABLE IF EXISTS #TempHeaderData, #TempGeneralLedger, #TempAssetTransactions;

END