ALTER PROCEDURE [dbo].[Asset_InsertLedger_ImpairmentDetails]    
      
@AssetRegisterItem_ID INT,       
 @AssetJournalTransactionDesc NVARCHAR(50) = NULL,      
 @CreditScoaID INT = NULL,      
 @DebitScoaID INT = NULL,      
 @ImpairmentLostAmt DECIMAL(18, 2),      
 @DateCaptured DATE,      
 @TransactionId UNIQUEIDENTIFIER,       
 @CapturerID INT,   
 @CreditProjectItemId int = null,    
 @DebitProjectItemId int = null,   
 @NewDocumentNumber nvarchar(100) = null,  
 @FinYear varchar(40),  
 @TransactionTypeDescription varchar(100),
 @AmountFromRevaluationReserve DECIMAL(18, 2) = 0,
 @IsReversal bit
        
AS      
BEGIN       
 SET NOCOUNT ON;      
    
  -- Section Selects all Plan Projects and Plan Items that is configured for this Class from the MSCOA Configs   
 
 DECLARE
	@DebitProjectID11 int , @DebitItemsID11_1 int     
  , @CreditProjectID14 int , @CreditItemID11_1 int 
  , @DebitProjectID12 int , @DebitItemsID12_1 int

  , @CreditCreditSCOAFundId11 int      
  , @CreditSCOARegionID11 int     
  , @CreditSCOACostingID11 int     
  , @CreditSCOAFunctionID11 int     
  , @CreditSCOAItemID11 int    
    
  , @DebitDebitSCOAFundId11 int      
  , @DebitSCOARegionID11 int     
  , @DebitSCOACostingID11 int      
  , @DebitSCOAFunctionID11 int     
  , @DebitSCOAItemID11 int

  , @DebitDebitSCOAFundId12 int      
  , @DebitSCOARegionID12 int     
  , @DebitSCOACostingID12 int      
  , @DebitSCOAFunctionID12 int     
  , @DebitSCOAItemID12 int

  , @DebitScoaID11 int    
  , @CreditScoaID11 int
  , @DebitScoaID12 int

  , @ProjectScoaID11 int    
  , @ProjectScoaID12 int         
  , @ProjectScoaID14 int
  
  SELECT   
    @DebitProjectID11 = mst.Project11,   
    @DebitItemsID11_1 = mst.DebitItem11_1,      
    @DebitDebitSCOAFundId11 = ppid11.SCOAFundId,     
    @DebitSCOARegionID11 =  ppid11.SCOARegionID,     
    @DebitSCOACostingID11 = ppid11.SCOACostingID,     
    @DebitSCOAFunctionID11 =  ppid11.SCOAFunctionID,     
    @DebitSCOAItemID11 = (ppid11.SCOAItemID),  

    @CreditProjectID14 = mst.Project14,    
    @CreditItemID11_1 = mst.CreditItem11_1,    
    @CreditCreditSCOAFundId11 =ppic11.SCOAFundId,     
    @CreditSCOARegionID11 = ppic11.SCOARegionID,     
    @CreditSCOACostingID11 =  ppic11.SCOACostingID,     
    @CreditSCOAFunctionID11 = ppic11.SCOAFunctionID,     
    @CreditSCOAItemID11 = ppic11.SCOAItemID, 

	@DebitProjectID12 = mst.Project12,    
    @DebitItemsID12_1 = mst.DebitItem12_1,        
    @DebitDebitSCOAFundId12 = ppid12.SCOAFundId,     
    @DebitSCOARegionID12 =  ppid12.SCOARegionID,     
    @DebitSCOACostingID12 = ppid12.SCOACostingID,     
    @DebitSCOAFunctionID12 =  ppid12.SCOAFunctionID,     
    @DebitSCOAItemID12 = (ppid12.SCOAItemID),

	@DebitScoaID11 = lvd11.SCOAItemID,    
    @CreditScoaID11 = lvc11.SCOAItemID,
	@DebitScoaID12 = lvd12.SCOAItemID,

	 @ProjectScoaID11 = pp11.ScoaProjectID,    
     @ProjectScoaID12 = pp12.ScoaProjectID,       
     @ProjectScoaID14 = pp14.ScoaProjectID
  
 FROM  Asset_Register_Items i   
   
 left join Const_AssetClass_sys cls on i.AssetClass_ID = cls.AssetClass_ID     
     
 left join AssetConfig_mSCOA msc on isnull(cls.AssetMeasurement_ID, 0) = isnull(msc.MeasurementTypeID, 0)    
   and isnull(cls.TypeID,0) = isnull(msc.TypeID, 0)    
   and isnull(cls.AssetCategoryID,0) = (case when isnull(cls.AssetCategoryID,0) = 0 then 0 else isnull(msc.CategoryID, 0) end )    
   and isnull(cls.Asset_SubCategory_ID,0)  = (CASE when isnull(cls.Asset_SubCategory_ID,0) = 0 then 0 else isnull(msc.SubCategoryID, 0) end)    
   and isnull(cls.AssetStatus_ID,0) = (case when isnull(cls.AssetStatus_ID,0) = 0 then 0 else isnull(msc.StatusID, 0)  end)    
   and msc.FinYear = @FinYear    
      
 left join AssetConfig_mSCOA_TransactionType mst on msc.AssetConfig_mSCOA_ID = mst.AssetConfig_mSCOA_ID    
   and mst.TransactionTypeID = (select AssetConfig_TransactionType_ID from AssetConfig_TransactionType where [Name] = @TransactionTypeDescription)    
    
 left join  Plan_ProjectItem ppid11 on ppid11.PlanProjectItem_ID =  mst.DebitItem11_1    
 left join Led_Vote lvd11 on  lvd11.SCOAItemID = ppid11.SCOAItemID and lvd11.FinYear = @FinYear    
    
 left join  Plan_ProjectItem ppic11 on ppic11.PlanProjectItem_ID =  mst.CreditItem11_1    
 left join Led_Vote lvc11 on  lvc11.SCOAItemID = ppic11.SCOAItemID and lvc11.FinYear = @FinYear    
      
 left join  Plan_ProjectItem ppid12 on ppid12.PlanProjectItem_ID =  mst.DebitItem12_1    
 left join Led_Vote lvd12 on  lvd12.SCOAItemID = ppid12.SCOAItemID and lvd12.FinYear = @FinYear       
    
 left join Plan_Project pp11 ON  mst.Project11 = pp11.Project_ID     
 left join Plan_Project pp12 ON  mst.Project12 = pp12.Project_ID         
 left join Plan_Project pp14 ON  mst.Project14 = pp14.Project_ID       
      
    
 where i.AssetRegisterItem_ID = @AssetRegisterItem_ID  
     
   DECLARE @AssetJournal_ID INT,       
   @UserProcessingMonth INT, -- must be queried for the current user id @CapturerID when required
   @CreditScoaIDpost INT,  
   @DebitScoaIDpost INT      
        
   SET @AssetJournal_ID = (SELECT AssetJournalTransactionType_ID FROM Const_AssetJournalTransactionType_Sys WHERE AssetJournalTransactionDesc = @AssetJournalTransactionDesc)         
   SET @UserProcessingMonth = dbo.[GetProcessingMonthByUserID_fxn](@CapturerID);
     
      
   IF NOT EXISTS(Select [Vote_ID] from [dbo].[Led_Vote] Where FinYear = @FinYear AND SCOAItemID = @CreditScoaID11)      
   BEGIN       
    INSERT INTO dbo.Led_Vote      
            ( Vote ,      
              VoteDesc ,                    
     VoteStatusID ,      
              FinYear ,      
              CapturerID ,      
              DateCaptured ,      
              ModifierID ,      
              DateModified ,      
              VatIndicatorID ,      
              VoteTypeID ,      
              ControlVote ,      
              SCOAItemID ,      
              SCOAItemCode ,      
              IsBrokenDown ,      
              OldVoteNumber ,      
              Vote1 ,      
              OldFms56VoteNumber ,      
              CapitalTimePeriodID ,      
              Parent_Vote_ID      
            )      
                SELECT  ScoaCode ,      
                        ScoaDesc ,      
                        1 ,      
                        @FinYear ,      
                        1 ,      
                        GETDATE() ,      
                        NULL ,      
                        NULL ,      
                        VatIndicatorID ,      
                        VoteTypeID ,      
                        CASE WHEN IsControlVote = 1 THEN 1 ELSE 0 END ,      
                        ScoaID ,      
                        ScoaCode ,      
                        CASE WHEN LOWER(BreakDownAllowed) = 'yes' THEN 1 ELSE 0 END ,      
                        NULL ,      
                        ScoaCode ,      
                        NULL ,      
                        CapitalTimePeriodID ,      
                        NULL      
                FROM    dbo.Const_SCOA_Structure      
     WHERE   ScoaID = @CreditScoaID      
      
  SELECT @CreditScoaIDpost = [Vote_ID] FROM [dbo].[Led_Vote] WHERE FinYear = @FinYear AND SCOAItemID = @CreditScoaID11      
   END      
  ELSE      
   BEGIN      
  SELECT @CreditScoaIDpost = [Vote_ID] FROM [dbo].[Led_Vote] WHERE FinYear = @FinYear AND SCOAItemID = @CreditScoaID11      
   END      
      
   IF NOT EXISTS(Select [Vote_ID] from [dbo].[Led_Vote] Where FinYear = @FinYear AND SCOAItemID = @DebitScoaID11)      
   BEGIN       
    INSERT INTO dbo.Led_Vote      
            ( Vote ,      
              VoteDesc ,      
              VoteStatusID ,      
              FinYear ,      
              CapturerID ,      
              DateCaptured ,      
              ModifierID ,      
              DateModified ,      
              VatIndicatorID ,      
              VoteTypeID ,      
              ControlVote ,      
              SCOAItemID ,      
              SCOAItemCode ,      
              IsBrokenDown ,      
              OldVoteNumber ,      
              Vote1 ,      
              OldFms56VoteNumber ,      
              CapitalTimePeriodID ,      
              Parent_Vote_ID      
            )      
                SELECT  ScoaCode ,      
                        ScoaDesc ,      
                        1 ,      
                        @FinYear ,      
                        1 ,      
                        GETDATE() ,      
                        NULL ,      
                        NULL ,      
                        VatIndicatorID ,      
                        VoteTypeID ,      
                        CASE WHEN IsControlVote = 1 THEN 1 ELSE 0  END ,      
                        ScoaID ,      
                        ScoaCode ,      
                        CASE WHEN LOWER(BreakDownAllowed) = 'yes' THEN 1  ELSE 0  END ,      
                        NULL ,      
                        ScoaCode ,      
                        NULL ,      
                        CapitalTimePeriodID ,      
                        NULL      
                FROM    dbo.Const_SCOA_Structure      
                WHERE   ScoaID = @DebitScoaID      
      
 SELECT @DebitScoaIDpost = [Vote_ID] FROM [dbo].[Led_Vote] WHERE FinYear = @FinYear AND SCOAItemID = @DebitScoaID11      
  END      
  ELSE      
  BEGIN      
  SELECT @DebitScoaIDpost = [Vote_ID] FROM [dbo].[Led_Vote] WHERE FinYear = @FinYear AND SCOAItemID = @DebitScoaID11      
  END      
      
   Declare @DocumentNumber int    
    SET @DocumentNumber = (SELECT [DocumentType_ID] FROM Const_DocumentType WHERE [DocumentTypeDesc] = @AssetJournalTransactionDesc)    
    
   
  IF(@NewDocumentNumber is null or @NewDocumentNumber='')  
  BEGIN  
   DECLARE @DocumentTypeID INT    
   SET @DocumentTypeID = @DocumentNumber    
    
   DECLARE @PreviousDocumentNumber INT    
   SET @PreviousDocumentNumber =   
  (SELECT TOP 1 SUBSTRING(DocumentNumber, LEN(@DocumentTypeID) + 2, LEN(DocumentNumber)) AS 'PreviousDocumentNumber'     
  FROM Led_Journal_Asset Where AssetJournalTransactionTypeID = @AssetJournal_ID  ORDER BY AssetJournal_ID DESC)    
     
   IF(@PreviousDocumentNumber <> '')    
   BEGIN    
   SET @PreviousDocumentNumber = @PreviousDocumentNumber + 1    
   SET @NewDocumentNumber = (SELECT CAST(@DocumentTypeID AS NVARCHAR(9)) + '/') + (SELECT CAST(@PreviousDocumentNumber AS NVARCHAR(9)))    
   END    
   ELSE    
   BEGIN    
     SET @PreviousDocumentNumber = @PreviousDocumentNumber + 1    
     SET @NewDocumentNumber = (SELECT CAST(@DocumentTypeID AS NVARCHAR(9)) + '/1')    
   END    
  END   
  
  
   --Impairment Transaction
   --Debit vote Insert      
 INSERT INTO [dbo].[Led_GeneralLedger]      
  ( [PostingDate]      
   , [ProcessingMonth]      
   , [VoteID]      
   , [FinYear]      
   , [TransactionTypeID]      
   , [TransactionDetails]      
   , [DocumentNumber]      
   , [Debit]      
   , [Credit]      
   , [DateCaptured]      
   , [CapturerID]      
   , [MatchTranGuid]      
   , [AssetLinkID]      
   , [SCOAFundsID]      
   , [SCOARegionID]      
   , [SCOACostingID]      
   , [SCOAProjectID]      
   , [SCOAFunctionID]      
   , [SCOAItemID]      
   , [DivisionID]      
   , [ProjectID]    
   , [PlanProjectItemID])      
                  
 SELECT       
	GETDATE()      
  , @UserProcessingMonth      
  , @DebitScoaIDpost         
  , @FinYear      
  , LedJournalAsset.AssetJournalTransactionTypeID      
  , @AssetJournalTransactionDesc      
  , @NewDocumentNumber        
  , @ImpairmentLostAmt - @AmountFromRevaluationReserve
  , NULL
  , @DateCaptured      
  , @CapturerID      
  , @TransactionId      
  , LedJournalAsset.AssetJournal_ID      
  , @DebitDebitSCOAFundId11
  , @DebitSCOARegionID11
  , @DebitSCOACostingID11
  , @ProjectScoaID11
  , @DebitSCOAFunctionID11
  , @DebitScoaID11
  , AssetRegisterItems.DivisionID
  , @DebitProjectID11    
  , @DebitItemsID11_1  
   FROM     
 Asset_Register_Items AssetRegisterItems      
     inner join     
  Led_Journal_Asset LedJournalAsset on LedJournalAsset.Asset_RegisterItem_ID=AssetRegisterItems.AssetRegisterItem_ID      
     WHERE     
  LedJournalAsset.TransactionID = @TransactionId      
      
   --Credit vote Insert         
   INSERT INTO [dbo].[Led_GeneralLedger]      
     ([PostingDate]      
    , [ProcessingMonth]      
    , [VoteID]      
    , [FinYear]      
    , [TransactionTypeID]      
    , [TransactionDetails]      
    , [DocumentNumber]      
    , [Debit]      
    , [Credit]      
    , [DateCaptured]      
    , [CapturerID]      
    , [MatchTranGuid]      
    , [AssetLinkID]      
    , [SCOAFundsID]      
    , [SCOARegionID]      
    , [SCOACostingID]      
    , [SCOAProjectID]      
    , [SCOAFunctionID]      
    , [SCOAItemID]      
    , [DivisionID]      
    , [ProjectID]    
    , [PlanProjectItemID])      
                  
   SELECT       
      GETDATE()      
    , @UserProcessingMonth      
    , @CreditScoaIDpost       
    , @FinYear      
    , LedJournalAsset.AssetJournalTransactionTypeID      
    , @AssetJournalTransactionDesc      
    , @NewDocumentNumber  
	, NULL
    , @ImpairmentLostAmt - @AmountFromRevaluationReserve       
    , @DateCaptured      
    , @CapturerID      
    , @TransactionId      
    , LedJournalAsset.AssetJournal_ID      
    , @CreditCreditSCOAFundId11
    , @CreditSCOARegionID11
    , @CreditSCOACostingID11
    , @ProjectScoaID14
    , @CreditSCOAFunctionID11      
    , @CreditScoaID11
	, AssetRegisterItems.DivisionID   
	, @CreditProjectID14
    , @CreditItemID11_1    
     FROM     
  Asset_Register_Items AssetRegisterItems      
   INNER JOIN Led_Journal_Asset LedJournalAsset ON LedJournalAsset.Asset_RegisterItem_ID=AssetRegisterItems.AssetRegisterItem_ID      
     WHERE     
  LedJournalAsset.TransactionID = @TransactionId    



 IF (@AmountFromRevaluationReserve > 0 and ISNULL(@IsReversal,0) = 0)
 BEGIN
   --Revaluation Reserve Transaction if required
   --Debit vote Insert      
 INSERT INTO [dbo].[Led_GeneralLedger]      
  ( [PostingDate]      
   , [ProcessingMonth]      
   , [VoteID]      
   , [FinYear]      
   , [TransactionTypeID]      
   , [TransactionDetails]      
   , [DocumentNumber]      
   , [Debit]      
   , [Credit]      
   , [DateCaptured]      
   , [CapturerID]      
   , [MatchTranGuid]      
   , [AssetLinkID]      
   , [SCOAFundsID]      
   , [SCOARegionID]      
   , [SCOACostingID]      
   , [SCOAProjectID]      
   , [SCOAFunctionID]      
   , [SCOAItemID]      
   , [DivisionID]      
   , [ProjectID]    
   , [PlanProjectItemID])      
                  
 SELECT       

	GETDATE()      
  , @UserProcessingMonth      
  , @DebitScoaIDpost         
  , @FinYear      
  , LedJournalAsset.AssetJournalTransactionTypeID      
  , @AssetJournalTransactionDesc + ' - Revaluation Reserve'      
  , @NewDocumentNumber        
  , @AmountFromRevaluationReserve
  , NULL
  , @DateCaptured      
  , @CapturerID      
  , @TransactionId      
  , LedJournalAsset.AssetJournal_ID      
  , @DebitDebitSCOAFundId12
  , @DebitSCOARegionID12
  , @DebitSCOACostingID12
  , @ProjectScoaID12
  , @DebitSCOAFunctionID12
  , @DebitScoaID12
  , AssetRegisterItems.DivisionID
  , @DebitProjectID12    
  , @DebitItemsID12_1  
   FROM     
 Asset_Register_Items AssetRegisterItems      
     inner join     
  Led_Journal_Asset LedJournalAsset on LedJournalAsset.Asset_RegisterItem_ID=AssetRegisterItems.AssetRegisterItem_ID      
     WHERE     
  LedJournalAsset.TransactionID = @TransactionId      
      
   --Credit vote Insert         
   INSERT INTO [dbo].[Led_GeneralLedger]      
     ([PostingDate]      
    , [ProcessingMonth]      
    , [VoteID]      
    , [FinYear]      
    , [TransactionTypeID]      
    , [TransactionDetails]      
    , [DocumentNumber]      
    , [Debit]      
    , [Credit]      
    , [DateCaptured]      
    , [CapturerID]      
    , [MatchTranGuid]      
    , [AssetLinkID]      
    , [SCOAFundsID]      
    , [SCOARegionID]      
    , [SCOACostingID]      
    , [SCOAProjectID]      
    , [SCOAFunctionID]      
    , [SCOAItemID]      
    , [DivisionID]      
    , [ProjectID]    
    , [PlanProjectItemID])      
                  
   SELECT       
      GETDATE()      
    , @UserProcessingMonth      
    , @CreditScoaIDpost       
    , @FinYear      
    , LedJournalAsset.AssetJournalTransactionTypeID      
    , @AssetJournalTransactionDesc + ' - Revaluation Reserve'      
    , @NewDocumentNumber  
	, NULL
    , @AmountFromRevaluationReserve       
    , @DateCaptured      
    , @CapturerID      
    , @TransactionId      
    , LedJournalAsset.AssetJournal_ID      
    , @CreditCreditSCOAFundId11
    , @CreditSCOARegionID11
    , @CreditSCOACostingID11
    , @ProjectScoaID14
    , @CreditSCOAFunctionID11      
    , @CreditScoaID11
	, AssetRegisterItems.DivisionID   
	, @CreditProjectID14
    , @CreditItemID11_1    
     FROM     
  Asset_Register_Items AssetRegisterItems      
   INNER JOIN Led_Journal_Asset LedJournalAsset ON LedJournalAsset.Asset_RegisterItem_ID=AssetRegisterItems.AssetRegisterItem_ID      
     WHERE     
  LedJournalAsset.TransactionID = @TransactionId  
  END

  IF (@AmountFromRevaluationReserve > 0 and ISNULL(@IsReversal,0) = 1)
 BEGIN
   --Impairment Revarsal
   --Revaluation Reserve Transaction if required
   --Credit vote Insert      
 INSERT INTO [dbo].[Led_GeneralLedger]      
  ( [PostingDate]      
   , [ProcessingMonth]      
   , [VoteID]      
   , [FinYear]      
   , [TransactionTypeID]      
   , [TransactionDetails]      
   , [DocumentNumber]      
   , [Debit]      
   , [Credit]      
   , [DateCaptured]      
   , [CapturerID]      
   , [MatchTranGuid]      
   , [AssetLinkID]      
   , [SCOAFundsID]      
   , [SCOARegionID]      
   , [SCOACostingID]      
   , [SCOAProjectID]      
   , [SCOAFunctionID]      
   , [SCOAItemID]      
   , [DivisionID]      
   , [ProjectID]    
   , [PlanProjectItemID])      
                  
 SELECT       

	GETDATE()      
  , @UserProcessingMonth      
  , @CreditScoaIDpost         
  , @FinYear      
  , LedJournalAsset.AssetJournalTransactionTypeID      
  , @AssetJournalTransactionDesc + ' - Revaluation Reserve'      
  , @NewDocumentNumber        
  , NULL
  , @AmountFromRevaluationReserve
  , @DateCaptured      
  , @CapturerID      
  , @TransactionId      
  , LedJournalAsset.AssetJournal_ID      
  , @DebitDebitSCOAFundId12
  , @DebitSCOARegionID12
  , @DebitSCOACostingID12
  , @ProjectScoaID12
  , @DebitSCOAFunctionID12
  , @DebitScoaID12
  , AssetRegisterItems.DivisionID
  , @DebitProjectID12    
  , @DebitItemsID12_1  
   FROM     
 Asset_Register_Items AssetRegisterItems      
     inner join     
  Led_Journal_Asset LedJournalAsset on LedJournalAsset.Asset_RegisterItem_ID=AssetRegisterItems.AssetRegisterItem_ID      
     WHERE     
  LedJournalAsset.TransactionID = @TransactionId      
      
   --Debit vote Insert         
   INSERT INTO [dbo].[Led_GeneralLedger]      
     ([PostingDate]      
    , [ProcessingMonth]      
    , [VoteID]      
    , [FinYear]      
    , [TransactionTypeID]      
    , [TransactionDetails]      
    , [DocumentNumber]      
    , [Debit]      
    , [Credit]      
    , [DateCaptured]      
    , [CapturerID]      
    , [MatchTranGuid]      
    , [AssetLinkID]      
    , [SCOAFundsID]      
    , [SCOARegionID]      
    , [SCOACostingID]      
    , [SCOAProjectID]      
    , [SCOAFunctionID]      
    , [SCOAItemID]      
    , [DivisionID]      
    , [ProjectID]    
    , [PlanProjectItemID])      
                  
   SELECT       
      GETDATE()      
    , @UserProcessingMonth      
    , @DebitScoaIDpost       
    , @FinYear      
    , LedJournalAsset.AssetJournalTransactionTypeID      
    , @AssetJournalTransactionDesc + ' - Revaluation Reserve'      
    , @NewDocumentNumber  
	, @AmountFromRevaluationReserve
    , NULL       
    , @DateCaptured      
    , @CapturerID      
    , @TransactionId      
    , LedJournalAsset.AssetJournal_ID      
    , @DebitDebitSCOAFundId11
	, @DebitSCOARegionID11
	, @DebitSCOACostingID11
	, @ProjectScoaID11
	, @DebitSCOAFunctionID11
	, @DebitScoaID11
	, AssetRegisterItems.DivisionID
	, @DebitProjectID11    
	, @DebitItemsID11_1   
     FROM     
  Asset_Register_Items AssetRegisterItems      
   INNER JOIN Led_Journal_Asset LedJournalAsset ON LedJournalAsset.Asset_RegisterItem_ID=AssetRegisterItems.AssetRegisterItem_ID      
     WHERE     
  LedJournalAsset.TransactionID = @TransactionId  
  END
      
END