ALTER PROCEDURE [dbo].[Asset_AssetProcess_Depreciation]
@ToDate date,
@FinYear nvarchar(9)
AS
BEGIN

DROP TABLE IF EXISTS #TempDepr

BEGIN
EXEC Asset_DepreciationAutoScheduleFix null, @ToDate 
END

DECLARE @GLSchedule INT;
DECLARE DeprCursor CURSOR FAST_FORWARD FOR
SELECT DISTINCT Asset_DepreciationSchedule_Item_ID FROM Asset_DepreciationSchedule_Item where StatusID is null or StatusID = 0;
OPEN DeprCursor;
FETCH NEXT FROM DeprCursor INTO @GLSchedule;
WHILE @@FETCH_STATUS = 0
BEGIN
DROP TABLE IF EXISTS #TempDepr
DECLARE @NewGUID uniqueidentifier = NEWID()
DECLARE @GLMonth int = (Select Keyvalue from AAAA_ConfigSettings where KeyName = 'ProcessingMonth')

DECLARE @ItemDescription Nvarchar(200) = 'Asset Depreciation'
DECLARE @AssetJournalTransactionTypeID int   
SET @AssetJournalTransactionTypeID = (SELECT AssetJournalTransactionType_ID FROM Const_AssetJournalTransactionType_Sys WHERE AssetJournalTransactionDesc = @ItemDescription)   
    
DECLARE @DocumentTypeID int   
SET @DocumentTypeID = ISNULL((SELECT [DocumentType_ID] FROM Const_DocumentType WHERE [DocumentTypeDesc] = @ItemDescription),0)    
   
DECLARE @PreviousDocumentNumber INT   
SET @PreviousDocumentNumber = ISNULL((SELECT TOP 1 SUBSTRING(DocumentNumber, LEN(@DocumentTypeID) + 2, LEN(DocumentNumber)) AS 'PreviousDocumentNumber'      
FROM Led_Journal_Asset Where AssetJournalTransactionTypeID = @AssetJournalTransactionTypeID  ORDER BY AssetJournal_ID DESC),0)    
    
-------Document Number   
DECLARE @NewDocumentNumber NVARCHAR(9)   
   
IF(@PreviousDocumentNumber <> '')   
BEGIN   
SET @PreviousDocumentNumber = @PreviousDocumentNumber + 1   
SET @NewDocumentNumber = (SELECT CAST(@DocumentTypeID AS NVARCHAR(9)) + '/') + (SELECT CAST(@PreviousDocumentNumber AS NVARCHAR(9)))   
END   
ELSE   
BEGIN   
SET @PreviousDocumentNumber = @PreviousDocumentNumber + 1   
SET @NewDocumentNumber = (SELECT CAST(@DocumentTypeID AS NVARCHAR(9)) + '/1')   
END   
;
WITH DeprDays (AssetID, DaysFromLastRun, DaysForDepreciation) as
(select dv.AssetRegisterItemId,
DATEDIFF(DAY, ISNULL(dv.LastTransactionDate,dv. ReadyForUse), iv.ScheduledDate),
case when DATEDIFF(DAY, ISNULL(dv.LastTransactionDate,dv. ReadyForUse), iv.ScheduledDate) > (dv.RemainingUsefulLife / 12 * 365) 
then (dv.RemainingUsefulLife / 12 * 365) else DATEDIFF(DAY, ISNULL(dv.LastTransactionDate,dv. ReadyForUse), iv.ScheduledDate) end
from Asset_AssetDepreciationScheduleItems_vw iv
inner join Asset_AssetDepreciation_vw dv
on isnull(iv.AssetCategoryId,0) = isnull(dv.AssetCategoryId,0)
and isnull(iv.AssetTypeId,0) = isnull(dv.AssetTypeId,0)
and isnull(iv.MeasurementTypeId,0) = isnull(dv.MeasurementTypeId,0)
and isnull(iv.AssetSubCategoryId,0) = isnull(dv.AssetSubCategoryId,0)
and dv.ReadyForUse < iv.ScheduledDate
and dv.RemainingUsefulLife > 0
and dv.LastTransactionDate < iv.ScheduledDate
and iv.AssetDepreciationScheduleItemId = @GLSchedule
)

select 
dv.AssetRegisterItemId as AssetItemID,
iv.AssetDepreciationScheduleItemId as ScheduleItemID,
CASE WHEN (YEAR(iv.ScheduledDate) % 4 = 0 AND YEAR(iv.ScheduledDate) % 100 != 0) OR (YEAR(iv.ScheduledDate) % 400 = 0) THEN 366 ELSE 365 END as YearDays,
iv.MonthId as MonthID,
iv.AssetDepreciationScheduleId as ScheduleID,
--(select RemainingUsefulLife from Asset_Transaction_Summary where AssetRegisterItemID = dv.AssetRegisterItemId and FinancialPeriod = iv.MonthId) as CurrentRUL,
dv.LastTransactionDate as LastTransDate,
iv.FinYear as FinYear,
iv.ScheduledDate as ScheduleDate,
ISNULL(dv.ResidualValue,0) as ResidualValue,
dv.ReadyForUse as ReadyForUse,
d.DaysFromLastRun as DaysFromLastRun,
d.DaysForDepreciation as DaysForDepreciation,
case when ((dv.RemainingUsefulLife / 12 * 365) - d.DaysFromLastRun) /365 * 12 < 0 then 0 else ((dv.RemainingUsefulLife / 12 * 365) - d.DaysFromLastRun) /365 * 12 end as UsefullLife,
case when dv.CurrentValue - dv.ResidualValue <= 0 then 0
when dv.CurrentValue - dv.ResidualValue > 0 and dv.CurrentValue - dv.ResidualValue - (((ISNULL(dv.CurrentValue,0) - ISNULL(dv.ResidualValue,0)) / (dv.RemainingUsefulLife / 12 * 365)) * d.DaysForDepreciation) <= 0 then
dv.CurrentValue - dv.ResidualValue else
((ISNULL(dv.CurrentValue,0) - ISNULL(dv.ResidualValue,0)) / (dv.RemainingUsefulLife / 12 * 365)) * d.DaysForDepreciation end as DepreciationValue,
dv.AccumulatedDepreciationValue as CurrentAccumulatedDepreciation,
dv.CurrentValue as CurrentCarryingAmount
into #TempDepr
from Asset_AssetDepreciationScheduleItems_vw iv
inner join Asset_AssetDepreciation_vw dv
on isnull(iv.AssetCategoryId,0) = isnull(dv.AssetCategoryId,0)
and isnull(iv.AssetTypeId,0) = isnull(dv.AssetTypeId,0)
and isnull(iv.MeasurementTypeId,0) = isnull(dv.MeasurementTypeId,0)
and isnull(iv.AssetSubCategoryId,0) = isnull(dv.AssetSubCategoryId,0)
and dv.ReadyForUse < iv.ScheduledDate
and dv.RemainingUsefulLife > 0
and dv.LastTransactionDate < iv.ScheduledDate
and iv.AssetDepreciationScheduleItemId = @GLSchedule
inner join DeprDays d on dv.AssetRegisterItemId = d.AssetID

insert into Asset_Depreciation (AssetRegisterItem_ID, ResidualValue, ReadyForUse, UsefullLife, DepreciationValue, AccumulatedDepreciation, DateCaptured, 
CapturerID, CarryingAmountClosingBalance, Depreciation_ScheduledItemID, Depreciation_ScheduleID, Depreciation_MonthID, Depreciation_RunType, DaysFromLastRun)
select AssetItemID, ResidualValue, ReadyForUse, UsefullLife, DepreciationValue, CurrentAccumulatedDepreciation + DepreciationValue, CURRENT_TIMESTAMP, 
2, CurrentCarryingAmount - DepreciationValue, ScheduleItemID, ScheduleID, MonthID, 'Distinctive', DaysForDepreciation
from #TempDepr

insert into Led_Journal_Asset (FinYear, ProcessingMonth, TransactionID, AssetJournalTransactionTypeID, TransactionDate, Amount, DocumentNumber,
DateCaptured, CapturerID, ItemDescription, Asset_RegisterItem_ID, Deprecation_ScheduledDate, Deprecation_ScheduleID, Deprecation_ScheduleItemID, Depreciation_RunType)
select FinYear, @GLMonth, @NewGUID, @AssetJournalTransactionTypeID, CAST(CURRENT_TIMESTAMP AS DATE), DepreciationValue, @NewDocumentNumber,
CURRENT_TIMESTAMP, 2, @ItemDescription, AssetItemID, ScheduleDate, ScheduleID, ScheduleItemID, 'Distinctive'
from #TempDepr

EXEC Asset_InsertLedger_DepreciationDetails @GLSchedule, 2

FETCH NEXT FROM DeprCursor INTO @GLSchedule;
END
CLOSE DeprCursor;
DEALLOCATE DeprCursor;

DROP TABLE IF EXISTS #TempDepr
END