ALTER PROCEDURE [dbo].[Asset_GetProjectDetailsListForRequisition_sp]  
    @ProjectID INT,  
    @IsInventory BIT  
AS  
BEGIN  
    SET FMTONLY OFF;  
    DECLARE @FinYear NVARCHAR(10);  
    SELECT @FinYear = FinYear  
    FROM dbo.Plan_Project  
    WHERE Project_ID = @ProjectID;  
  
    DECLARE @SQL NVARCHAR(MAX);  

    DECLARE @ProjectName VARCHAR(250) =  
            (  
                SELECT ProjectName FROM Plan_Project WHERE Project_ID = @ProjectID  
            );  
    DECLARE @ParmDefinition NVARCHAR(500);  
  
     
SELECT  PPI.ProjectID,            
  Project_ID,            
  PlanProjectItem_ID,            
  ProjectName,            
  D.Division_ID,            
  D.DepartmentID,            
  ((DepartmentDesc) + '/' + (DivisionDesc)) AS Division
  ,            
  ISnull(ItemDescription,ITEM.ScoaShortDesc) AS ItemDescription,
  FUND.ScoaCode AS FUNDCODE,            
  FUNC.ScoaCode AS FUNCCODE,            
  REGI.ScoaCode AS REGICODE,            
  COST.ScoaCode AS COSTCODE,            
  ITEM.ScoaCode AS ITEMCODE,            
  PROJ.ScoaCode AS PROJCODE,

  FUND.ScoaCode + ' - ' + FUND.ScoaShortDesc AS FUNDDESC,            
  FUNC.ScoaCode + ' - ' + FUNC.ScoaShortDesc AS FUNCDESC,            
  REGI.ScoaCode + ' - ' + REGI.ScoaShortDesc AS REGIDESC,            
  COST.ScoaCode + ' - ' + COST.ScoaShortDesc AS COSTDESC,            
  ITEM.ScoaCode + ' - ' + ITEM.ScoaShortDesc AS ITEMDESC,            
  PROJ.ScoaCode + ' - ' + PROJ.ScoaShortDesc AS PROJDESC,
  STR(PlanProjectItem_ID) + ' | ' + ITEM.ScoaDesc AS PlanProjectItemAndItemDesc,
  PP.FinYear          
           
FROM Plan_ProjectItem PPI      
   INNER JOIN Plan_Project PP ON PPI.ProjectID = PP.Project_ID            
   LEFT JOIN Const_ProjectItem CP ON PPI.ProjectItemID = CP.ProjectItem_ID               
   LEFT JOIN dbo.Const_SCOA_Funds_Structure AS FUND ON PPI.SCOAFundId = FUND.ScoaID    
   LEFT JOIN dbo.Const_SCOA_Function_Structure AS FUNC ON PPI.SCOAFunctionId = FUNC.ScoaID    
   LEFT JOIN dbo.Const_SCOA_Regional_Structure AS REGI ON PPI.SCOARegionId = REGI.ScoaID    
   LEFT JOIN dbo.Const_SCOA_Costing_Structure AS COST ON PPI.SCOACostingID = COST.ScoaID    
   LEFT JOIN dbo.Const_SCOA_Structure AS ITEM ON PPI.SCOAItemID = ITEM.ScoaID    
   LEFT JOIN dbo.Const_SCOA_Project_Structure AS PROJ ON PP.ScoaProjectID = PROJ.ScoaID        
   LEFT JOIN Const_Division D ON PPI.DivisionId=D.Division_ID            
   INNER JOIN Led_Vote V ON V.SCOAItemID = PPI.SCOAItemID AND V.FinYear = pp.FinYear            
   LEFT JOIN Const_Department CD ON D.DepartmentID=CD.Department_ID      
 
   WHERE (PPI.ProjectID =@ProjectID) AND ISNULL(PP.CostingProject, 0) <> 1

END;