USE [EMS_Mnquma]
GO
/****** Object:  Table [dbo].[Asset_Depreciation]    Script Date: 2026/03/06 12:12:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Asset_Depreciation](
	[Asset_Depreciation_ID] [int] IDENTITY(1,1) NOT NULL,
	[AssetRegisterItem_ID] [int] NOT NULL,
	[ResidualValue] [decimal](18, 8) NULL,
	[ReadyForUse] [datetime] NULL,
	[UsefullLife] [decimal](18, 8) NULL,
	[DepreciationValue] [decimal](18, 2) NULL,
	[ExpectedDepreciationRate] [decimal](18, 8) NULL,
	[AmortisationValue] [decimal](18, 8) NULL,
	[ExpectedAmortisationRate] [decimal](18, 8) NULL,
	[EvidenceDocument] [varbinary](max) NULL,
	[ActualUnitProducedThisYear] [int] NULL,
	[ExpectedUnitsOfProduction] [int] NULL,
	[RevaluationAmount] [decimal](18, 8) NULL,
	[RevaluationDate] [datetime] NULL,
	[AccumulatedDepreciation] [decimal](18, 8) NULL,
	[CurrentYearDepreciation] [date] NULL,
	[TransferredDepreciation] [decimal](18, 8) NULL,
	[AccumulatedDepreciationClosingBalance] [decimal](18, 8) NULL,
	[ModifierID] [int] NULL,
	[DateCaptured] [datetime] NULL,
	[CapturerID] [int] NULL,
	[DateModified] [datetime] NULL,
	[AccumulatedDepreciationOtherChanges] [decimal](18, 8) NULL,
	[AccumulatedDepreciationDisposal] [decimal](18, 8) NULL,
	[AccumulatedDepreciationTransfer] [decimal](18, 8) NULL,
	[AccumulatedImpairmentClosingBalance] [decimal](18, 8) NULL,
	[CarryingAmountClosingBalance] [decimal](18, 8) NULL,
	[OrderNumber] [nvarchar](10) NULL,
	[InvoiceDate] [date] NULL,
	[Supplier_ID] [int] NULL,
	[SupplierCode] [nvarchar](15) NULL,
	[InvoiceNumber] [nvarchar](20) NULL,
	[EftRefNr] [nchar](30) NULL,
	[AssetType_ID] [int] NULL,
	[Asset_Condition_ID] [int] NULL,
	[IsApproved] [bit] NULL,
	[Depreciation_ScheduledItemID] [int] NULL,
	[Depreciation_ScheduleID] [int] NULL,
	[Depreciation_MonthID] [int] NULL,
	[Depreciation_RunType] [nvarchar](200) NULL,
	[Reversal_Asset_Depreciation_ID] [int] NULL,
	[DaysFromLastRun] [int] NULL,
	[AccumulatedDepreciationCurrentYear] [numeric](18, 8) NULL,
 CONSTRAINT [PK_Asset_Depreciation_1] PRIMARY KEY CLUSTERED 
(
	[Asset_Depreciation_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 93, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Asset_DepreciationApproval]    Script Date: 2026/03/06 12:12:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Asset_DepreciationApproval](
	[Depreciation_ApprovalID] [int] IDENTITY(1,1) NOT NULL,
	[DepreciationDate] [datetime] NULL,
	[AssignedApprover] [int] NULL,
	[IsApproved] [bit] NULL,
	[IsDeclined] [bit] NULL,
	[ApprovedBy] [int] NULL,
	[DeclinedBy] [int] NULL,
	[DeclinedReason] [nvarchar](200) NULL,
	[IsEditable] [bit] NULL,
	[Enabled] [bit] NULL,
	[DateCaptured] [datetime] NULL,
	[CapturerId] [int] NULL,
	[DateModified] [datetime] NULL,
	[ModifierId] [int] NULL,
	[PendingApproval] [bit] NULL,
 CONSTRAINT [PK_Asset_DepreciationApproval] PRIMARY KEY CLUSTERED 
(
	[Depreciation_ApprovalID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 93, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Asset_DepreciationSchedule]    Script Date: 2026/03/06 12:12:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Asset_DepreciationSchedule](
	[Asset_DepreciationSchedule_ID] [int] IDENTITY(1,1) NOT NULL,
	[FinYear] [nvarchar](20) NULL,
	[CapturerId] [int] NULL,
	[AssignedApproverId] [int] NULL,
	[PendingApproval] [bit] NULL,
	[IsApproved] [bit] NULL,
	[IsDeclined] [bit] NULL,
	[DeclinedReason] [nvarchar](200) NULL,
 CONSTRAINT [PK__Asset_De__ADD622104F870C9F] PRIMARY KEY CLUSTERED 
(
	[Asset_DepreciationSchedule_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 93, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Asset_DepreciationSchedule_Item]    Script Date: 2026/03/06 12:12:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Asset_DepreciationSchedule_Item](
	[Asset_DepreciationSchedule_Item_ID] [int] IDENTITY(1,1) NOT NULL,
	[Month_ID] [int] NOT NULL,
	[ScheduledDate] [datetime] NOT NULL,
	[RescheduledDate] [datetime] NULL,
	[Asset_Depreciation_RunStatus_ID] [int] NULL,
	[ProcessedDate] [datetime] NULL,
	[RunType_ID] [int] NULL,
	[Asset_Depreciation_Approval_Type_ID] [int] NULL,
	[Asset_DepreciationSchedule_ID] [int] NULL,
	[Date_Captured] [datetime] NULL,
	[Captured_By] [int] NULL,
	[Enabled] [bit] NULL,
	[Immediate] [bit] NULL,
	[RejectReason] [nvarchar](max) NULL,
	[Date_Rescheduled] [datetime] NULL,
	[Rescheduled_by] [int] NULL,
	[AssetClass_ID] [int] NULL,
	[TransactionProjectDR] [int] NULL,
	[TransactionProjectItemDR] [int] NULL,
	[TransactionProjectCR] [int] NULL,
	[TransactionProjectItemCR] [int] NULL,
	[SCOAItemDR] [int] NULL,
	[SCOAItemCR] [int] NULL,
	[RunDate] [datetime] NULL,
	[StatusID] [int] NULL,
	[ResumeStatusID] [int] NULL,
	[TypeID] [int] NULL,
	[CategoryID] [int] NULL,
	[SubCategoryID] [int] NULL,
	[MeasurementTypeID] [int] NULL,
	[AssetStatusID] [int] NULL,
	[DebitScoaFundId] [int] NULL,
	[DebitScoaRegionId] [int] NULL,
	[DebitScoaCostingId] [int] NULL,
	[DebitScoaFunctionId] [int] NULL,
	[DebitVoteId] [int] NULL,
	[CreditScoaFundId] [int] NULL,
	[CreditScoaRegionId] [int] NULL,
	[CreditScoaCostingId] [int] NULL,
	[CreditScoaFunctionId] [int] NULL,
	[CreditVoteId] [int] NULL,
 CONSTRAINT [PK__Asset_De__7117CFFB5F368799] PRIMARY KEY CLUSTERED 
(
	[Asset_DepreciationSchedule_Item_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 93, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Asset_Disposal]    Script Date: 2026/03/06 12:12:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Asset_Disposal](
	[AssetDisposal_ID] [int] IDENTITY(1,1) NOT NULL,
	[AssetItemID] [int] NOT NULL,
	[AssetDisposalMethodID] [int] NOT NULL,
	[DisposalDate] [datetime] NOT NULL,
	[TotalDisposalValue] [decimal](16, 2) NULL,
	[DisposalValueYear] [decimal](16, 2) NULL,
	[AmountProfitLoss] [decimal](16, 2) NULL,
	[CapacityDateDisposal] [decimal](16, 2) NULL,
	[DisposalResidualValue] [decimal](16, 2) NULL,
	[DisposalReason] [nvarchar](500) NULL,
	[CouncilResolution] [nvarchar](500) NULL,
	[Reference] [nvarchar](50) NULL,
	[DateCaptured] [datetime] NOT NULL,
	[CapturerID] [int] NOT NULL,
	[DateModified] [datetime] NULL,
	[ModifierID] [int] NULL,
	[AssetJournalMethodID] [int] NULL,
	[DateDisposed] [datetime] NULL,
 CONSTRAINT [PK_Asset_Disposal] PRIMARY KEY CLUSTERED 
(
	[AssetDisposal_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 93, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Asset_Disposal_Approval]    Script Date: 2026/03/06 12:12:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Asset_Disposal_Approval](
	[AssetDisposalApproval_ID] [int] IDENTITY(1,1) NOT NULL,
	[AssetItemID] [int] NOT NULL,
	[AssetDisposalMethodID] [int] NOT NULL,
	[DisposalDate] [datetime] NOT NULL,
	[TotalDisposalValue] [decimal](16, 2) NULL,
	[DisposalValueYear] [decimal](16, 2) NULL,
	[AmountProfitLoss] [decimal](16, 2) NULL,
	[CapacityDateDisposal] [decimal](16, 2) NULL,
	[DisposalResidualValue] [decimal](16, 2) NULL,
	[DisposalReason] [nvarchar](500) NULL,
	[CouncilResolution] [nvarchar](500) NULL,
	[Reference] [nvarchar](50) NULL,
	[DateCaptured] [datetime] NOT NULL,
	[CapturerID] [int] NOT NULL,
	[DateModified] [datetime] NULL,
	[ModifierID] [int] NULL,
	[AssetJournalMethodID] [int] NULL,
	[IsApprove] [bit] NULL,
	[DeclineReason] [nvarchar](500) NULL,
	[ApprovedBy] [int] NULL,
	[ApprovedDate] [datetime] NULL,
	[DisposalProceedsAmount] [decimal](16, 2) NULL,
	[SalesDoc] [nvarchar](1000) NULL,
 CONSTRAINT [PK_Asset_Disposal_Approval] PRIMARY KEY CLUSTERED 
(
	[AssetDisposalApproval_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 93, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Asset_FairValue]    Script Date: 2026/03/06 12:12:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Asset_FairValue](
	[RegistrationItemFairValue_Id] [int] IDENTITY(1,1) NOT NULL,
	[AssetRegisterItem_ID] [int] NULL,
	[AssetDescription] [nvarchar](100) NULL,
	[AssetClass] [nvarchar](100) NULL,
	[AssetCategory] [nvarchar](100) NULL,
	[Location] [nvarchar](50) NULL,
	[ValueDeterminant] [nvarchar](50) NULL,
	[FairValue] [decimal](18, 2) NULL,
	[FairValueDate] [date] NULL,
	[DateCaptured] [datetime] NOT NULL,
	[CapturerID] [int] NOT NULL,
	[DateModified] [datetime] NULL,
	[ModifierID] [int] NULL,
	[DebitVoteID] [int] NULL,
	[CreditVoteID] [int] NULL,
 CONSTRAINT [PK_Asset_FairValue] PRIMARY KEY CLUSTERED 
(
	[RegistrationItemFairValue_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 93, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Asset_FairValueApproval]    Script Date: 2026/03/06 12:12:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Asset_FairValueApproval](
	[Asset_FairValueApproval_ID] [int] IDENTITY(1,1) NOT NULL,
	[AssetRegisterItem_ID] [int] NOT NULL,
	[Description] [nvarchar](200) NOT NULL,
	[AssetClassDesc] [nvarchar](200) NULL,
	[AssetCategoryDesc] [nvarchar](200) NULL,
	[RoomNumber] [nvarchar](50) NULL,
	[CurrentAmount] [decimal](18, 2) NULL,
	[ValueDeterminant] [nvarchar](50) NULL,
	[ValueDeterminantDesc] [nvarchar](50) NULL,
	[CreditVoteID] [int] NULL,
	[CreditVoteDesc] [nvarchar](200) NULL,
	[DebitVoteID] [int] NULL,
	[DebitVoteDesc] [nvarchar](200) NULL,
	[FairValue] [decimal](18, 2) NULL,
	[FairValueDate] [date] NULL,
	[DateCaptured] [date] NOT NULL,
	[CapturerID] [int] NOT NULL,
	[ApprovedDate] [date] NULL,
	[ApprovedBy] [nvarchar](50) NULL,
	[DocumentDetails] [nvarchar](max) NULL,
	[DocumentFileName] [nvarchar](max) NULL,
	[TransactionProjectDR] [int] NULL,
	[TransactionProjectItemDR] [int] NULL,
	[TransactionProjectCR] [int] NULL,
	[TransactionProjectItemCR] [int] NULL,
	[SCOAItemDR] [int] NULL,
	[SCOAItemCR] [int] NULL,
	[ValuationMethod] [int] NULL,
	[AdjustmentValue] [decimal](18, 8) NULL,
 CONSTRAINT [PK_Asset_FairValueApprovalPending] PRIMARY KEY CLUSTERED 
(
	[Asset_FairValueApproval_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 93, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Asset_FundingSource]    Script Date: 2026/03/06 12:12:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Asset_FundingSource](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FundingSource_ID] [int] NOT NULL,
	[AssetRegisterItem_ID] [int] NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[Created_by] [int] NOT NULL,
	[Date_Created] [datetime] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Percentage] [nvarchar](100) NULL,
	[SubIdentification_ID] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Asset_Impairment]    Script Date: 2026/03/06 12:12:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Asset_Impairment](
	[Impairment_ID] [int] IDENTITY(1,1) NOT NULL,
	[Asset_ItemID] [int] NOT NULL,
	[FairValueMethodID] [int] NULL,
	[ApprovedDate] [datetime] NULL,
	[DateCaptured] [datetime] NOT NULL,
	[CapturerID] [int] NOT NULL,
	[DateModified] [datetime] NULL,
	[ModifierID] [int] NULL,
	[ApprovedBy] [int] NULL,
	[AssetType] [nvarchar](200) NULL,
	[ValuationType] [nvarchar](200) NULL,
	[ScenarioMethod] [nvarchar](200) NULL,
	[Approved] [bit] NULL,
	[IsRejected] [bit] NULL,
	[TransactionProjectDR] [int] NULL,
	[TransactionProjectItemDR] [int] NULL,
	[TransactionProjectCR] [int] NULL,
	[TransactionProjectItemCR] [int] NULL,
	[SCOAItemDR] [int] NULL,
	[SCOAItemCR] [int] NULL,
	[FilePath] [nvarchar](max) NULL,
	[FileName] [nvarchar](max) NULL,
	[ReasonForChange] [nvarchar](max) NULL,
	[IsReversal] [bit] NULL,
	[ImpairmentDate] [datetime] NULL,
 CONSTRAINT [PK_Asset_Impairment] PRIMARY KEY CLUSTERED 
(
	[Impairment_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 93, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Asset_ImpairmentPostings]    Script Date: 2026/03/06 12:12:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Asset_ImpairmentPostings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Impairment_ID] [int] NULL,
	[DRAcc] [int] NULL,
	[CRAcc] [int] NULL,
	[FairValueAmt] [decimal](18, 2) NULL,
	[CostToSell] [decimal](18, 2) NULL,
	[PresentValue] [decimal](18, 2) NULL,
	[ImpairmentLostAmt] [decimal](18, 2) NULL,
	[DRAccText] [nvarchar](max) NULL,
	[CRAccText] [nvarchar](max) NULL,
	[Approved] [bit] NULL,
	[PortionedLoss] [decimal](18, 8) NULL,
	[IsReversal] [bit] NULL,
	[CarryingValue] [decimal](18, 8) NULL,
	[NewCarryingValue] [decimal](18, 8) NULL,
	[AmountFromRevaluationReserve] [decimal](18, 8) NULL,
 CONSTRAINT [PK_Asset_ImpairmentPostings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 93, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Asset_Register_Items]    Script Date: 2026/03/06 12:12:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Asset_Register_Items](
	[AssetRegisterItem_ID] [int] IDENTITY(1,1) NOT NULL,
	[AssetClass_ID] [int] NULL,
	[AssetCategory_ID] [int] NULL,
	[ProjectItem_ID] [int] NULL,
	[Custodian_ID] [int] NULL,
	[CustodianIdNumber] [nvarchar](50) NULL,
	[Department] [int] NULL,
	[Description] [nvarchar](4000) NOT NULL,
	[ParentAssetRegisterItem_ID] [varchar](100) NULL,
	[Quantity] [decimal](18, 8) NULL,
	[ScoaVote] [nvarchar](50) NULL,
	[Donated_ID] [int] NULL,
	[MarketValue] [money] NULL,
	[ReadyForUse] [datetime] NULL,
	[DateCaptured] [datetime] NULL,
	[Capturer_ID] [int] NULL,
	[DateModified]  AS (getdate()),
	[Modifier_ID] [int] NULL,
	[CurrentAmount] [decimal](18, 8) NULL,
	[AssetStatus_ID] [int] NULL,
	[AssetCondition_ID] [int] NULL,
	[AssetType_ID] [int] NULL,
	[GRN_ID] [int] NULL,
	[CarryingAmountClosingBalance] [decimal](18, 8) NULL,
	[Barcode] [nvarchar](100) NULL,
	[AssetOwnership_ID] [int] NULL,
	[GIS_ID] [nvarchar](50) NULL,
	[GisFeature] [nvarchar](50) NULL,
	[GIS_URL] [nvarchar](500) NULL,
	[GPSCoordinates] [nvarchar](50) NULL,
	[Town_ID] [int] NULL,
	[SiteNumber] [nvarchar](50) NULL,
	[Street_ID] [int] NULL,
	[StreetAddress] [nvarchar](100) NULL,
	[Building_ID] [int] NULL,
	[Ward_ID] [int] NULL,
	[Room_ID] [int] NULL,
	[SGNumberChange_ID] [varchar](200) NULL,
	[Zoning_ID] [int] NULL,
	[Prod_Key_ID] [bigint] NULL,
	[ErfNumber] [nvarchar](50) NULL,
	[Make] [nvarchar](50) NULL,
	[Model] [nvarchar](50) NULL,
	[Year] [int] NULL,
	[RoomNumber] [nvarchar](50) NULL,
	[ErfSizeM2] [decimal](18, 8) NULL,
	[DeedNumber] [nvarchar](50) NULL,
	[RegistrationNumber] [nvarchar](50) NULL,
	[SerialNumber] [nvarchar](50) NULL,
	[QuantityCaption] [nvarchar](50) NULL,
	[MunicipalDepartment_ID] [int] NULL,
	[ScoaFunction_ID] [int] NULL,
	[ScoaProject_ID] [int] NULL,
	[ScoaFunds_ID] [int] NULL,
	[ScoaRegion_ID] [int] NULL,
	[Image] [varbinary](max) NULL,
	[OriginalCostClosingBalance] [decimal](18, 8) NULL,
	[IsAwaitingApproval] [bit] NULL,
	[CommodityType_ID] [int] NULL,
	[CostFormula_ID] [int] NULL,
	[TakeOnType_ID] [int] NULL,
	[SubIdentification] [int] NULL,
	[DateOfTakeOnBalancesImported] [datetime] NULL,
	[SCOARepairsAndMaintenance] [int] NULL,
	[Decommissioning] [bit] NULL,
	[RestorationAndSimilarLiabilitiesAmount] [decimal](18, 8) NULL,
	[AccumulatedDepreciationClosingBalance] [decimal](18, 8) NULL,
	[AccumulatedDepreciationOtherChanges] [decimal](18, 8) NULL,
	[AccumulatedDepreciationCurrentYear] [decimal](18, 8) NULL,
	[AccumulatedDepreciationDisposal] [decimal](18, 8) NULL,
	[AccumulatedDepreciationTransfer] [decimal](18, 8) NULL,
	[AccumulatedImpairmentClosingBalance] [decimal](18, 8) NULL,
	[OrderNumber] [nvarchar](max) NULL,
	[InvoiceDate] [datetime] NULL,
	[SupplierName] [nvarchar](100) NULL,
	[SupplierCode] [nvarchar](100) NULL,
	[InvoiceNumber] [nvarchar](100) NULL,
	[EFTReferenceNumber] [nvarchar](100) NULL,
	[ContributedAssets] [decimal](18, 8) NULL,
	[ReplacementOrNew] [nvarchar](50) NULL,
	[ConditionCheckDate] [datetime] NULL,
	[ConditionAssessmentDoneBy] [nvarchar](100) NULL,
	[UsefulLifeYearComponent] [decimal](18, 8) NULL,
	[UsefulLifeMonthComponent] [decimal](18, 8) NULL,
	[CorrectionOfErrorAmount] [decimal](18, 8) NULL,
	[ChangeInAccountingPolicyAmount] [decimal](18, 8) NULL,
	[ResidualValueAmountChangeInAccountingEstimate] [decimal](18, 8) NULL,
	[ReversalImpairmentInFull] [bit] NULL,
	[ReversalImpairmentIfNotInFullAmountToBeReversed] [decimal](18, 8) NULL,
	[ReasonForImpairment] [nvarchar](200) NULL,
	[ImpairmentAmountCurrentYear] [decimal](18, 8) NULL,
	[ReversalOfImpairmentAmount] [decimal](18, 8) NULL,
	[ImpairmentsReferenceToCouncilResolution] [nvarchar](100) NULL,
	[RevaluationDoneBy] [int] NULL,
	[LastRevaluationDate] [datetime] NULL,
	[RevaluationValue] [decimal](18, 8) NULL,
	[RevaluationReserveClosingBalance] [decimal](18, 8) NULL,
	[NetGainsLossesFromFairAmountAdjustments] [decimal](18, 8) NULL,
	[PerformedBy] [nvarchar](100) NULL,
	[MultiOrSingleYear] [int] NULL,
	[WorkInProgressAmount] [decimal](18, 8) NULL,
	[CrossReferenceOfUnbundledProject] [nvarchar](100) NULL,
	[ProjectUnbundledAmount] [decimal](18, 8) NULL,
	[MethodOfTransferTo] [nvarchar](100) NULL,
	[TransferToAssetType] [nvarchar](100) NULL,
	[TransferToGRAPAndAFSCLASS] [nvarchar](100) NULL,
	[TransferToCostCentre] [nvarchar](100) NULL,
	[DateOfTransfer] [datetime] NULL,
	[ReplacedAssetsReferenceNumber] [int] NULL,
	[TransferTo] [nvarchar](100) NULL,
	[TransferFrom] [nvarchar](100) NULL,
	[DateOfDisposal] [datetime] NULL,
	[MethodOfDisposal] [nvarchar](100) NULL,
	[DisposalProceeds] [decimal](18, 8) NULL,
	[DisposalAmountCost] [decimal](18, 8) NULL,
	[DisposalImpairmentAmount] [decimal](18, 8) NULL,
	[ProfitOrLossOnDisposal] [decimal](18, 8) NULL,
	[InsuredAmountInsuredBy] [decimal](18, 8) NULL,
	[InsuranceNumberReference] [nvarchar](100) NULL,
	[WarrenteesReference] [nvarchar](100) NULL,
	[Verified] [bit] NULL,
	[VerificationDate] [datetime] NULL,
	[VerificationDoneBy] [nvarchar](100) NULL,
	[NERSA_ID] [int] NULL,
	[PurchaseAmount] [decimal](18, 8) NULL,
	[Suburb] [nvarchar](100) NULL,
	[MeasurementModel_ID] [int] NULL,
	[AssetCalculationType_ID] [int] NULL,
	[Scoa_ID] [int] NULL,
	[RevaluationDate] [datetime] NULL,
	[RevaluationModel_ID] [int] NULL,
	[Asset_SubCategory_ID] [int] NULL,
	[Asset_SubCategory_Group_ID] [int] NULL,
	[Asset_SubCategory_Group_Type_ID] [int] NULL,
	[Asset_Component_Type_ID] [int] NULL,
	[UoM] [int] NULL,
	[Dim1] [decimal](18, 8) NULL,
	[Dim2] [decimal](18, 8) NULL,
	[Dim3] [decimal](18, 8) NULL,
	[WIP_Opening_Balance] [decimal](18, 8) NULL,
	[WIP_Closing_Balance] [decimal](18, 8) NULL,
	[WIP_Current_Year] [decimal](18, 8) NULL,
	[Cash_Generating_Asset_Indicator] [int] NULL,
	[Recoverable_Amount] [decimal](18, 8) NULL,
	[Replacement_Value] [decimal](18, 8) NULL,
	[Donor_ID] [varchar](100) NULL,
	[Donor_Name] [nvarchar](100) NULL,
	[Date_Donated] [datetime] NULL,
	[Scoa_Cost_ID] [int] NULL,
	[DimensionQuantity] [decimal](18, 8) NULL,
	[Comments] [nvarchar](500) NULL,
	[Scoa_Acquistion_ID] [int] NULL,
	[Scoa_Contributing_ID] [int] NULL,
	[AssetFlags_ID] [int] NULL,
	[ResidualValue] [decimal](18, 8) NULL,
	[RevisedResidualValue] [decimal](18, 8) NULL,
	[AdditionalCost] [decimal](18, 8) NULL,
	[RevisedUsefulLife] [int] NULL,
	[RemainingUsefulLife] [decimal](18, 8) NULL,
	[AccumulatedDepreciationOpeningBalance] [decimal](18, 8) NULL,
	[AccumulatedImpairmentOpeningBalance] [decimal](18, 8) NULL,
	[ExpectedDepreciationRate] [decimal](18, 8) NULL,
	[AmortisationValue] [decimal](18, 8) NULL,
	[ExpectedAmortisationRate] [decimal](18, 8) NULL,
	[EvidenceDocument] [varbinary](max) NULL,
	[ActualUnitProducedThisYear] [int] NULL,
	[ExpectedUnitsOfProduction] [int] NULL,
	[Supplier_ID] [int] NULL,
	[DisposalReason] [nvarchar](250) NULL,
	[OldBarCode] [nvarchar](50) NULL,
	[RemainingPeriod] [bit] NULL,
	[Leased] [bit] NULL,
	[Cost_Centre] [nvarchar](max) NULL,
	[Cost_Centre_Code] [nvarchar](max) NULL,
	[Run_ID] [int] NULL,
	[Upload_Type] [int] NULL,
	[Approval_ID] [int] NULL,
	[AssetLevel] [int] NULL,
	[RejectReason] [int] NULL,
	[InventoryID] [int] NULL,
	[TempStatusID] [int] NULL,
	[longitude] [nvarchar](75) NULL,
	[latitude] [nvarchar](75) NULL,
	[MunicipalDepartment] [nvarchar](max) NULL,
	[FundingSource] [int] NULL,
	[PreviousCondition] [int] NULL,
	[ConditionChangeLevel] [int] NULL,
	[OldScoaProject_ID] [int] NULL,
	[OldScoa_Cost_ID] [int] NULL,
	[OldScoaFunction_ID] [int] NULL,
	[OldScoaFunds_ID] [int] NULL,
	[OldScoaRegion_ID] [int] NULL,
	[OldScoa_Acquistion_ID] [int] NULL,
	[OldScoa_Contributing_ID] [int] NULL,
	[Takon_ItemID] [int] NULL,
	[TransactionProjectDR] [int] NULL,
	[TransactionProjectItemDR] [int] NULL,
	[TransactionProjectCR] [int] NULL,
	[TransactionProjectItemCR] [int] NULL,
	[InsuredBy] [varchar](200) NULL,
	[Validated] [bit] NULL,
	[AccumulatedDepreciationVoteAcc] [int] NULL,
	[AccumulatedImpairmentVoteAcc] [int] NULL,
	[FairvalueVoteAcc] [int] NULL,
	[RevaluationVoteAcc] [int] NULL,
	[DecommissioningVoteAcc] [int] NULL,
	[MeasurementType_ID] [int] NULL,
	[DivisionID] [int] NULL,
	[FloorID] [int] NULL,
	[InsureanceDocument] [varchar](255) NULL,
	[SuburbID] [int] NULL,
	[ReasonForChange] [varchar](500) NULL,
	[TypeID] [int] NULL,
	[Financial_Status_ID] [int] NULL,
	[Sub_Component_Type_ID] [int] NULL,
	[Impairment_Date] [datetime] NULL,
	[Remaining_Useful_Life_Year] [decimal](18, 8) NULL,
	[Floor_Area] [decimal](18, 8) NULL,
	[Custom_1] [varchar](200) NULL,
	[Custom_2] [varchar](200) NULL,
	[Custom_3] [varchar](200) NULL,
	[Custom_4] [varchar](200) NULL,
	[Custom_5] [varchar](200) NULL,
	[Custom_6] [varchar](200) NULL,
	[Custom_7] [varchar](200) NULL,
	[Custom_8] [varchar](200) NULL,
	[Custom_9] [varchar](200) NULL,
	[Custom_10] [varchar](200) NULL,
	[Custom_11] [varchar](200) NULL,
	[Custom_12] [varchar](200) NULL,
	[Custom_13] [varchar](200) NULL,
	[Custom_14] [varchar](200) NULL,
	[Custom_15] [varchar](200) NULL,
	[Custom_16] [varchar](200) NULL,
	[Custom_17] [varchar](200) NULL,
	[Custom_18] [varchar](200) NULL,
	[Custom_19] [varchar](200) NULL,
	[Custom_20] [varchar](50) NULL,
	[Custom_21] [varchar](50) NULL,
	[Custom_22] [varchar](50) NULL,
	[Custom_23] [varchar](50) NULL,
	[Custom_24] [varchar](50) NULL,
	[Custom_25] [varchar](50) NULL,
	[Custom_26] [varchar](50) NULL,
	[ImageRef] [varchar](255) NULL,
	[Component_ID] [varchar](255) NULL,
	[AssetOwnershipName] [varchar](100) NULL,
	[DonorRegNumber] [varchar](50) NULL,
	[DonationDocument] [varchar](255) NULL,
	[UnitNumber] [varchar](20) NULL,
	[PortionNumber] [varchar](20) NULL,
	[MainAssetID] [nvarchar](100) NULL,
	[MainAssetDescription] [nvarchar](100) NULL,
	[CIDMSSubComponentTypeID] [int] NULL,
	[CIDMSComponentType] [int] NULL,
	[CIDMSAccountingGroup] [int] NULL,
	[CIDMSSubAccountingGroup] [int] NULL,
	[CIDMSAssetClass] [int] NULL,
	[CIDMSAssetGroupType] [int] NULL,
	[CIDMSAssetType] [int] NULL,
	[CashOrNoncashgeneratingunit] [nvarchar](100) NULL,
	[CommisioningDate] [date] NULL,
	[InfrastructurOrNonInfrastructure] [nvarchar](100) NULL,
	[NatureOfAddition] [nvarchar](100) NULL,
	[CostOfAddition] [decimal](18, 8) NULL,
	[YearConstructed] [date] NULL,
	[ForecastReplacementYear] [int] NULL,
	[PreviousForecastReplacementYear] [date] NULL,
	[InsuranceCover] [nvarchar](100) NULL,
	[InsurancePolicyNo] [nvarchar](100) NULL,
	[Warranty] [nvarchar](100) NULL,
	[CurrentReplacementCostCRC] [decimal](18, 8) NULL,
	[DepreciatedReplacementCostDRC] [decimal](18, 8) NULL,
	[AnnualisedMaintenanceCRC] [decimal](18, 8) NULL,
	[AnnualMaintenanceBudgetNeed] [decimal](18, 8) NULL,
	[RemainingUsefulLifeAtTakeOn] [nvarchar](100) NULL,
	[ConstructionMaterial] [nvarchar](100) NULL,
	[BasicMunicipalityService] [int] NULL,
	[CriticalityGrade] [int] NULL,
	[PerformanceGrade] [int] NULL,
	[UtilisationGrade] [int] NULL,
	[InfrastructureHealthGrade] [int] NULL,
	[ConsequenceOfFailure] [nvarchar](100) NULL,
	[Risk] [nvarchar](100) NULL,
	[WellKnownTextWKT] [nvarchar](100) NULL,
	[MunicipalAssetID] [nvarchar](100) NULL,
	[AcquisitionDate] [datetime] NULL,
	[VerifyID] [int] NULL,
	[InserviceDate] [datetime] NULL,
	[Insured] [int] NULL,
	[InsuranceAmount] [decimal](18, 8) NULL,
	[ContractHeader_Id] [int] NULL,
	[SundryPaymentId] [int] NULL,
	[ManagedFlag] [bit] NOT NULL,
	[FundType] [nvarchar](100) NULL,
	[FundingSourceNumber] [nvarchar](100) NULL,
	[FundingSourceAmount] [decimal](18, 8) NULL,
	[IssueID] [int] NULL,
	[HighValueID] [int] NULL,
	[RevaluationOpeningBalance] [decimal](18, 8) NULL,
	[MovementInRevaluationReserve] [decimal](18, 8) NULL,
	[DepreciationOffset] [decimal](18, 8) NULL,
	[DeemedCost] [nvarchar](100) NULL,
	[RevaluationImpairmentOpeningBalance] [decimal](18, 8) NULL,
	[TransferFromAmount] [decimal](18, 8) NULL,
	[TransferToAmount] [decimal](18, 8) NULL,
	[Diameter] [nvarchar](100) NULL,
	[Capacity] [nvarchar](100) NULL,
	[Refurb_DT] [decimal](18, 8) NULL,
	[Refurb_CT] [decimal](18, 8) NULL,
	[Refurb_Depreciation] [decimal](18, 8) NULL,
	[Refurb_Revaluation] [decimal](18, 8) NULL,
PRIMARY KEY CLUSTERED 
(
	[AssetRegisterItem_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 93, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Asset_Register_Transactions]    Script Date: 2026/03/06 12:12:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Asset_Register_Transactions](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[AssetRegisterItem_ID] [int] NOT NULL,
	[TransactionTypeID] [int] NOT NULL,
	[TransactionDate] [datetime] NOT NULL,
	[PurchaseAmount] [decimal](18, 8) NOT NULL,
	[ResidualValue] [decimal](18, 8) NOT NULL,
	[CurrentValue] [decimal](18, 8) NOT NULL,
	[UsefulLife] [int] NOT NULL,
	[RemaingUsefulLife] [decimal](18, 8) NOT NULL,
	[DepreciationValue] [decimal](18, 8) NULL,
	[ImpairmentValue] [decimal](18, 8) NULL,
	[RevaluationValue] [decimal](18, 8) NULL,
	[FairValue] [decimal](18, 8) NULL,
	[DisposalValue] [decimal](18, 8) NULL,
	[DisposalLossValue] [decimal](18, 8) NULL,
	[DisposalTotalValue] [decimal](18, 8) NULL,
	[AccumulatedDepreciation] [decimal](18, 8) NOT NULL,
	[AccumulatedImpairment] [decimal](18, 8) NOT NULL,
	[AccumulatedFairValue] [decimal](18, 8) NOT NULL,
	[AccumulatedRevaluation] [decimal](18, 8) NOT NULL,
	[FinancialPeriod] [int] NOT NULL,
	[FinancialYear] [varchar](10) NOT NULL,
	[DocumentType_ID] [int] NULL,
	[GLGUID_ID] [varchar](50) NULL,
	[TransactionSource_ID] [int] NULL,
	[DateModified] [datetime] NOT NULL,
	[Modifier] [int] NOT NULL,
	[ImpairmentReversalValue] [decimal](18, 8) NULL,
	[AccumulatedImpairmentReversal] [decimal](18, 8) NULL,
	[ImpairmentSurplus] [decimal](18, 8) NULL,
	[MovementInRevaluationReserve] [decimal](18, 8) NULL,
	[DepreciationOffset] [decimal](18, 8) NULL,
	[RevaluationReserveImpairment] [decimal](18, 8) NULL,
	[RevaluationReserveImpairmentReversal] [decimal](18, 8) NULL,
	[RevaluationReserveRevaluation] [decimal](18, 8) NULL,
	[RevaluationReserveDisposal] [decimal](18, 8) NULL,
	[DepreciationAdjustment] [decimal](18, 8) NULL,
	[TransferFromValue] [decimal](18, 8) NULL,
	[TransferToValue] [decimal](18, 8) NULL,
	[RefurbDTValue] [decimal](18, 8) NULL,
	[RefurbCTValue] [decimal](18, 8) NULL,
	[RefurbDepreciationValue] [decimal](18, 8) NULL,
	[RefurbRevaluationValue] [decimal](18, 8) NULL,
 CONSTRAINT [PK_Asset_Register_Transactions] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 93, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Asset_Transaction_Summary]    Script Date: 2026/03/06 12:12:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Asset_Transaction_Summary](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[AssetRegisterItemID] [int] NULL,
	[FinancialYear] [nvarchar](10) NULL,
	[FinancialPeriod] [int] NULL,
	[CurrentValue] [decimal](18, 2) NULL,
	[RemainingUsefulLife] [decimal](18, 8) NULL,
	[AccumulatedDepreciationOpeningBalance] [decimal](18, 2) NULL,
	[DepreciationValue] [decimal](18, 2) NULL,
	[AccumulatedDepreciationClosingBalance] [decimal](18, 2) NULL,
	[AccumulatedImpairmentOpeningBalance] [decimal](18, 2) NULL,
	[ImpairmentValue] [decimal](18, 2) NULL,
	[AccumulatedImpairmentClosingBalance] [decimal](18, 2) NULL,
	[AccumulatedFairValueOpeningBalance] [decimal](18, 2) NULL,
	[FairValue] [decimal](18, 2) NULL,
	[AccumulatedFairValueClosingBalance] [decimal](18, 2) NULL,
	[AccumulatedRevaluationOpeningBalance] [decimal](18, 2) NULL,
	[RevaluationValue] [decimal](18, 2) NULL,
	[AccumulatedRevaluationClosingBalance] [decimal](18, 2) NULL,
	[AccumulatedImpairmentReversalOpeningBalance] [decimal](18, 2) NULL,
	[ImpairmentReversalValue] [decimal](18, 2) NULL,
	[AccumulatedImpairmentReversalClosingBalance] [decimal](18, 2) NULL,
	[DisposalOpeningBalance] [decimal](18, 2) NULL,
	[DisposalValue] [decimal](18, 2) NULL,
	[DisposalLossValue] [decimal](18, 2) NULL,
	[DisposalTotalValue] [decimal](18, 2) NULL,
	[DisposalClosingBalance] [decimal](18, 2) NULL,
	[WorkInProgressOpeningBalance] [decimal](18, 2) NULL,
	[WorkInProgressValue] [decimal](18, 2) NULL,
	[WorkInProgressClosingBalance] [decimal](18, 2) NULL,
	[AmortisationOpeningBalance] [decimal](18, 2) NULL,
	[AmortisationValue] [decimal](18, 2) NULL,
	[AmortisationClosingBalance] [decimal](18, 2) NULL,
	[CorrectionOfErrorOpeningBalance] [decimal](18, 2) NULL,
	[CorrectionOfErrorValue] [decimal](18, 2) NULL,
	[CorrectOfErrorClosingBalance] [decimal](18, 2) NULL,
	[AdditionalCostOpeningBalance] [decimal](18, 2) NULL,
	[AdditionalCostValue] [decimal](18, 2) NULL,
	[AdditionalCostClosingBalance] [decimal](18, 2) NULL,
	[AdditionOpeningBalance] [decimal](18, 2) NULL,
	[AdditionVaue] [decimal](18, 2) NULL,
	[AdditionClosingBalance] [decimal](18, 2) NULL,
	[MovementInRevaluationReserve] [decimal](18, 2) NULL,
	[DepreciationOffsetOpeningBalance] [decimal](18, 2) NULL,
	[DepreciationOffset] [decimal](18, 2) NULL,
	[DepreciationOffsetClosingBalance] [decimal](18, 2) NULL,
	[ImpairmentSurplus] [decimal](18, 2) NULL,
	[RevaluationReserveImpairmentOpeningBalance] [decimal](18, 8) NULL,
	[RevaluationReserveImpairment] [decimal](18, 8) NULL,
	[RevaluationReserveImpairmentReversal] [decimal](18, 8) NULL,
	[RevaluationReserveImpairmentClosingBalance] [decimal](18, 8) NULL,
	[RevaluationReserveRevaluation] [decimal](18, 8) NULL,
	[RevaluationReserveDisposal] [decimal](18, 8) NULL,
	[DepreciationAdjustment] [decimal](18, 8) NULL,
	[TransferFromValue] [decimal](18, 8) NULL,
	[TransferToValue] [decimal](18, 8) NULL,
	[CostOpeningBalance] [decimal](18, 8) NULL,
	[CostClosingBalance] [decimal](18, 8) NULL,
	[RefurbDTValue] [decimal](18, 8) NULL,
	[RefurbCTValue] [decimal](18, 8) NULL,
	[RefurbDepreciationValue] [decimal](18, 8) NULL,
	[RefurbRevaluationValue] [decimal](18, 8) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 93, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Asset_WIP_Register]    Script Date: 2026/03/06 12:12:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Asset_WIP_Register](
	[WIPRegister_ID] [int] IDENTITY(1,1) NOT NULL,
	[AssetRegisterItem_ID] [int] NULL,
	[ProjectNo] [nvarchar](50) NOT NULL,
	[ProjectName] [nvarchar](500) NOT NULL,
	[ProjectStatusID] [int] NOT NULL,
	[ContractID] [int] NULL,
	[ContractStartDate] [datetime] NOT NULL,
	[ContractEndDate] [datetime] NOT NULL,
	[ContractNumber] [nvarchar](50) NULL,
	[FundingTypeID] [int] NOT NULL,
	[DepartmentID] [int] NOT NULL,
	[DivisionID] [int] NOT NULL,
	[CustodianID] [int] NOT NULL,
	[Latitude] [nvarchar](75) NULL,
	[Longitude] [nvarchar](75) NULL,
	[ContractValue] [decimal](18, 2) NULL,
	[WIPOpeningBalance] [decimal](18, 2) NULL,
	[RestatedOpeningBalance] [decimal](18, 2) NULL,
	[Additions] [decimal](18, 2) NULL,
	[TransferOfAssets] [decimal](18, 2) NULL,
	[WriteOff] [decimal](18, 2) NULL,
	[Impairment] [decimal](18, 2) NULL,
	[PriorYearAdjustment] [decimal](18, 2) NULL,
	[WIPClosingBalance] [decimal](18, 2) NULL,
	[FinancialProgress] [decimal](18, 2) NULL,
	[BudgetProjectID] [int] NOT NULL,
	[BudgetProjectItemID] [int] NOT NULL,
	[CompletionDate] [datetime] NULL,
	[IsApproved] [bit] NOT NULL,
	[DateCaptured] [datetime] NOT NULL,
	[CapturerID] [int] NOT NULL,
	[DateModified] [datetime] NULL,
	[ModifierID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[WIPRegister_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 93, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Asset_WIP_Register_Details]    Script Date: 2026/03/06 12:12:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Asset_WIP_Register_Details](
	[WIPRegisterDetails_ID] [int] IDENTITY(1,1) NOT NULL,
	[WIPRegister_ID] [int] NOT NULL,
	[InvoiceId] [int] NULL,
	[InvoiceNumber] [nvarchar](50) NOT NULL,
	[InvoiceDate] [datetime] NOT NULL,
	[VendorID] [int] NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[VatAmount] [decimal](18, 2) NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[DocumentNumber] [nvarchar](50) NOT NULL,
	[PaymentReference] [nvarchar](500) NULL,
	[DateCaptured] [datetime] NOT NULL,
	[CapturerID] [int] NOT NULL,
	[DateModified] [datetime] NULL,
	[ModifierID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[WIPRegisterDetails_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 93, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Asset_WIP_Register_Funding]    Script Date: 2026/03/06 12:12:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Asset_WIP_Register_Funding](
	[WIPRegister_ID] [int] NOT NULL,
	[FundingSourceID] [int] NOT NULL,
	[DateCaptured] [datetime] NOT NULL,
	[CapturerID] [int] NOT NULL,
	[DateModified] [datetime] NULL,
	[ModifierID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[WIPRegister_ID] ASC,
	[FundingSourceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 93, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Asset_WIP_Register_Items]    Script Date: 2026/03/06 12:12:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Asset_WIP_Register_Items](
	[WIPRegistrationItem_Id] [int] IDENTITY(1,1) NOT NULL,
	[AssetRegisterItem_ID] [int] NULL,
	[ProjectId] [int] NULL,
	[AssetId] [int] NULL,
	[OrderValue] [decimal](18, 2) NULL,
	[CompletionAmount] [decimal](18, 2) NULL,
	[RetentionAmount] [decimal](18, 2) NULL,
	[UnbundledAmount] [decimal](18, 2) NULL,
	[CompletedPercentage] [int] NULL,
	[CompletionDate] [datetime] NULL,
	[SubCategory] [nvarchar](50) NULL,
	[AssetGroupType] [nvarchar](50) NULL,
	[AssetType] [nvarchar](50) NULL,
	[Component] [nvarchar](50) NULL,
	[Nersa] [bit] NULL,
	[UsefulLife] [nvarchar](50) NULL,
	[ResidualValue] [decimal](18, 2) NULL,
	[UoM] [nvarchar](50) NULL,
	[DIM1] [int] NULL,
	[DIM2] [int] NULL,
	[DIM3] [int] NULL,
	[DimensionQty] [int] NULL,
	[CreditAccount] [nvarchar](50) NULL,
	[DebitAmount] [decimal](18, 2) NULL,
	[CreditAmount] [decimal](18, 2) NULL,
	[DateCaptured] [datetime] NOT NULL,
	[CapturerID] [int] NOT NULL,
	[DateModified] [datetime] NULL,
	[ModifierID] [int] NULL,
	[DebitAccount] [nvarchar](50) NULL,
	[SendToBilling] [bit] NULL,
 CONSTRAINT [PK_Asset_WIP_Register_Items] PRIMARY KEY CLUSTERED 
(
	[WIPRegistrationItem_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 93, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Asset_WIPApprovalItems]    Script Date: 2026/03/06 12:12:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Asset_WIPApprovalItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AssetID] [int] NULL,
	[TransactionID] [uniqueidentifier] NULL,
	[TransactionAmountDR] [decimal](18, 2) NULL,
	[TransactionAmountCR] [decimal](18, 2) NULL,
	[DR_SCOAID] [int] NULL,
	[CR_SCOAID] [int] NULL,
	[TransactionDescription] [nvarchar](500) NULL,
	[IsApproved] [bit] NULL,
	[IsDeclined] [bit] NULL,
	[CapturerID] [int] NULL,
	[ApproverID] [int] NULL,
	[CapturerDate] [datetime] NULL,
	[ApprovedDate] [datetime] NULL,
	[DeclinedDate] [datetime] NULL,
	[ProjectDR] [int] NULL,
	[ProjectItemDR] [int] NULL,
	[ProjectCR] [int] NULL,
	[ProjectItemCR] [int] NULL,
 CONSTRAINT [PK_Asset_WIPApprovalItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 93, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AssetConfig_MeasurementType]    Script Date: 2026/03/06 12:12:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssetConfig_MeasurementType](
	[AssetConfig_MeasurementType_ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Default] [bit] NULL,
	[Enabled] [bit] NULL,
	[CreatedByID] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedByID] [int] NULL,
	[ModiefiedDate] [datetime] NULL,
	[NoDepreciation] [bit] NULL,
 CONSTRAINT [PK_AssetConfig_MesurementType] PRIMARY KEY CLUSTERED 
(
	[AssetConfig_MeasurementType_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 93, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AssetConfig_TransactionType]    Script Date: 2026/03/06 12:12:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssetConfig_TransactionType](
	[AssetConfig_TransactionType_ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Default] [bit] NULL,
	[Enabled] [bit] NULL,
	[SubType1] [varchar](50) NULL,
	[DRDisplayName11] [varchar](100) NULL,
	[DRDisplayName12] [varchar](100) NULL,
	[DRDisplayName13] [varchar](100) NULL,
	[DRDisplayName14] [varchar](100) NULL,
	[CRDisplayName11] [varchar](100) NULL,
	[SubType2] [varchar](50) NULL,
	[DRDisplayName21] [varchar](100) NULL,
	[DRDisplayName22] [varchar](100) NULL,
	[DRDisplayName23] [varchar](100) NULL,
	[CRDisplayName21] [varchar](100) NULL,
	[CRDisplayName22] [varchar](100) NULL,
	[CreatedByID] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedByID] [int] NULL,
	[ModiefiedDate] [datetime] NULL,
	[DRProjectType11] [varchar](50) NULL,
	[DRProjectType12] [varchar](50) NULL,
	[DRProjectType13] [varchar](50) NULL,
	[DRProjectType14] [varchar](50) NULL,
	[DRProjectType21] [varchar](50) NULL,
	[DRProjectType22] [varchar](50) NULL,
	[DRProjectType23] [varchar](50) NULL,
	[CRProjectType11] [varchar](50) NULL,
	[CRProjectType21] [varchar](50) NULL,
	[CRProjectType22] [varchar](50) NULL,
	[DRPositionStatementType11] [varchar](2) NULL,
	[DRPositionStatementType12] [varchar](2) NULL,
	[DRPositionStatementType13] [varchar](2) NULL,
	[DRPositionStatementType14] [varchar](2) NULL,
	[DRPositionStatementType21] [varchar](2) NULL,
	[DRPositionStatementType22] [varchar](2) NULL,
	[DRPositionStatementType23] [varchar](2) NULL,
	[CRPositionStatementType11] [varchar](2) NULL,
	[CRPositionStatementType21] [varchar](2) NULL,
	[CRPositionStatementType22] [varchar](2) NULL,
 CONSTRAINT [PK_AssetConfig_TransactionType] PRIMARY KEY CLUSTERED 
(
	[AssetConfig_TransactionType_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 93, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Const_Asset_Calculation_Type]    Script Date: 2026/03/06 12:12:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Const_Asset_Calculation_Type](
	[Asset_Calculation_Type_ID] [int] IDENTITY(1,1) NOT NULL,
	[TypeDescription] [nvarchar](300) NULL,
	[DateCaptured] [datetime] NULL,
	[CapturerID] [int] NULL,
	[DateModified] [datetime] NULL,
	[ModifierID] [int] NULL,
	[CalculationTypeFormula] [nvarchar](200) NULL,
 CONSTRAINT [PK_Const_Asset_Calculation_Type] PRIMARY KEY CLUSTERED 
(
	[Asset_Calculation_Type_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 93, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Const_Asset_CIDMS_Accounting_Group]    Script Date: 2026/03/06 12:12:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Const_Asset_CIDMS_Accounting_Group](
	[AssetAccountGroupID] [int] IDENTITY(1,1) NOT NULL,
	[AssetAccountGroupDesc] [nvarchar](250) NOT NULL,
	[Enabled] [bit] NULL,
	[DateCaptured] [datetime] NOT NULL,
	[CapturerID] [int] NOT NULL,
	[DateModified] [datetime] NULL,
	[ModifierID] [int] NULL,
	[Default] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[AssetAccountGroupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 93, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Const_Asset_CIDMS_Accounting_Sub_Group]    Script Date: 2026/03/06 12:12:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Const_Asset_CIDMS_Accounting_Sub_Group](
	[AssetAccountSubGroupID] [int] IDENTITY(1,1) NOT NULL,
	[AssetAccountSubGroupDesc] [nvarchar](250) NOT NULL,
	[AssetAccountGroupID] [int] NOT NULL,
	[Enabled] [bit] NULL,
	[DateCaptured] [datetime] NOT NULL,
	[CapturerID] [int] NOT NULL,
	[DateModified] [datetime] NULL,
	[ModifierID] [int] NULL,
	[Default] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[AssetAccountSubGroupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 93, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Const_Asset_CIDMS_Asset_Type]    Script Date: 2026/03/06 12:12:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Const_Asset_CIDMS_Asset_Type](
	[AssetCIDMSAssetTypeID] [int] IDENTITY(1,1) NOT NULL,
	[AssetCIDMSAssetTypeDesc] [nvarchar](250) NOT NULL,
	[AssetCIDMSGroupTypeID] [int] NOT NULL,
	[Enabled] [bit] NULL,
	[DateCaptured] [datetime] NOT NULL,
	[CapturerID] [int] NOT NULL,
	[DateModified] [datetime] NULL,
	[ModifierID] [int] NULL,
	[Default] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[AssetCIDMSAssetTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 93, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Const_Asset_CIDMS_Class]    Script Date: 2026/03/06 12:12:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Const_Asset_CIDMS_Class](
	[AssetCIDMSClassID] [int] IDENTITY(1,1) NOT NULL,
	[AssetCIDMSClassDesc] [nvarchar](250) NOT NULL,
	[AssetAccountSubGroupID] [int] NOT NULL,
	[Enabled] [bit] NOT NULL,
	[DateCaptured] [datetime] NOT NULL,
	[CapturerID] [int] NOT NULL,
	[DateModified] [datetime] NULL,
	[ModifierID] [int] NULL,
	[Default] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[AssetCIDMSClassID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 93, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Const_Asset_CIDMS_Component_Type]    Script Date: 2026/03/06 12:12:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Const_Asset_CIDMS_Component_Type](
	[AssetCIDMSComponentTypeID] [int] IDENTITY(1,1) NOT NULL,
	[AssetCIDMSComponentTypeDesc] [nvarchar](250) NOT NULL,
	[AssetCIDMSAssetTypeID] [int] NOT NULL,
	[Enabled] [bit] NULL,
	[DateCaptured] [datetime] NOT NULL,
	[CapturerID] [int] NOT NULL,
	[DateModified] [datetime] NULL,
	[ModifierID] [int] NULL,
	[Default] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[AssetCIDMSComponentTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 93, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Const_Asset_CIDMS_Group_Type]    Script Date: 2026/03/06 12:12:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Const_Asset_CIDMS_Group_Type](
	[AssetCIDMSGroupTypeID] [int] IDENTITY(1,1) NOT NULL,
	[AssetCIDMSGroupTypeDesc] [nvarchar](250) NOT NULL,
	[AssetCIDMSClassID] [int] NOT NULL,
	[Enabled] [bit] NULL,
	[DateCaptured] [datetime] NOT NULL,
	[CapturerID] [int] NOT NULL,
	[DateModified] [datetime] NULL,
	[ModifierID] [int] NULL,
	[Default] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[AssetCIDMSGroupTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 93, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Const_Asset_CIDMS_Municipal_Services]    Script Date: 2026/03/06 12:12:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Const_Asset_CIDMS_Municipal_Services](
	[AssetMunicipalServicesID] [int] IDENTITY(1,1) NOT NULL,
	[AssetMunicipalServicesDesc] [nvarchar](250) NOT NULL,
	[Enabled] [bit] NULL,
	[DateCaptured] [datetime] NOT NULL,
	[CapturerID] [int] NOT NULL,
	[DateModified] [datetime] NULL,
	[ModifierID] [int] NULL,
	[Default] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[AssetMunicipalServicesID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 93, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Const_Asset_CIDMS_SubComponent_Type]    Script Date: 2026/03/06 12:12:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Const_Asset_CIDMS_SubComponent_Type](
	[AssetCIDMSSubComponentTypeID] [int] IDENTITY(1,1) NOT NULL,
	[AssetCIDMSSubComponentTypeDesc] [nvarchar](250) NOT NULL,
	[AssetCIDMSComponentTypeID] [int] NOT NULL,
	[Infrastructure] [bit] NOT NULL,
	[Nature] [int] NOT NULL,
	[Enabled] [bit] NULL,
	[DateCaptured] [datetime] NOT NULL,
	[CapturerID] [int] NOT NULL,
	[DateModified] [datetime] NULL,
	[ModifierID] [int] NULL,
	[Default] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[AssetCIDMSSubComponentTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 93, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Const_Asset_ComponentType]    Script Date: 2026/03/06 12:12:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Const_Asset_ComponentType](
	[Asset_ComponentType_ID] [int] IDENTITY(1,1) NOT NULL,
	[Asset_Component_Description] [nvarchar](50) NOT NULL,
	[Enabled] [bit] NOT NULL,
	[DateCaptured] [datetime] NOT NULL,
	[Capturer_ID] [int] NOT NULL,
	[DateModified] [datetime] NULL,
	[Modifier_ID] [int] NULL,
 CONSTRAINT [PK_Const_Asset_ComponentType] PRIMARY KEY CLUSTERED 
(
	[Asset_ComponentType_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 93, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Const_Asset_Condition]    Script Date: 2026/03/06 12:12:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Const_Asset_Condition](
	[Asset_Condition_ID] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](300) NULL,
	[DateCaptured] [datetime] NULL,
	[CapturerID] [int] NULL,
	[DateModified] [datetime] NULL,
	[ModifierID] [int] NULL,
	[Enabled] [bit] NULL,
 CONSTRAINT [PK_Const_Asset_Condition] PRIMARY KEY CLUSTERED 
(
	[Asset_Condition_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 93, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Const_Asset_Criticality_Grade]    Script Date: 2026/03/06 12:12:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Const_Asset_Criticality_Grade](
	[AssetCriticalityGradeID] [int] IDENTITY(1,1) NOT NULL,
	[AssetCriticalityGradeDesc] [nvarchar](250) NOT NULL,
	[ConsequenceOfFailure] [nvarchar](250) NOT NULL,
	[QualitiveDesc] [nvarchar](250) NOT NULL,
	[Enabled] [bit] NULL,
	[DateCaptured] [datetime] NOT NULL,
	[CapturerID] [int] NOT NULL,
	[DateModified] [datetime] NULL,
	[ModifierID] [int] NULL,
	[Default] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[AssetCriticalityGradeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 93, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Const_Asset_Health_Grade]    Script Date: 2026/03/06 12:12:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Const_Asset_Health_Grade](
	[AssetHealthGradeID] [int] IDENTITY(1,1) NOT NULL,
	[AssetHealthGradeDesc] [nvarchar](250) NOT NULL,
	[DRC] [nvarchar](250) NOT NULL,
	[Enabled] [bit] NULL,
	[DateCaptured] [datetime] NOT NULL,
	[CapturerID] [int] NOT NULL,
	[DateModified] [datetime] NULL,
	[ModifierID] [int] NULL,
	[Default] [bit] NULL,
 CONSTRAINT [PK_Const_Asset_Health_Grade] PRIMARY KEY CLUSTERED 
(
	[AssetHealthGradeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 93, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Const_Asset_Performance_Grade]    Script Date: 2026/03/06 12:12:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Const_Asset_Performance_Grade](
	[AssetPerformanceGradeID] [int] IDENTITY(1,1) NOT NULL,
	[AssetPerformanceGradeDesc] [nvarchar](250) NOT NULL,
	[Enabled] [bit] NULL,
	[DateCaptured] [datetime] NOT NULL,
	[CapturerID] [int] NOT NULL,
	[DateModified] [datetime] NULL,
	[ModifierID] [int] NULL,
	[Default] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[AssetPerformanceGradeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 93, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Const_Asset_SubCategory]    Script Date: 2026/03/06 12:12:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Const_Asset_SubCategory](
	[Asset_SubCategory_ID] [int] IDENTITY(1,1) NOT NULL,
	[Asset_SubCategoryDescription] [nvarchar](100) NULL,
	[Enabled] [bit] NOT NULL,
	[DateCaptured] [datetime] NOT NULL,
	[Capturer_ID] [int] NOT NULL,
	[DateModified] [datetime] NULL,
	[Modifier_ID] [int] NULL,
	[AssetCategoryID] [int] NOT NULL,
	[TypeID] [int] NULL,
	[Default] [bit] NULL,
 CONSTRAINT [PK_Const_Asset_SubCategory] PRIMARY KEY CLUSTERED 
(
	[Asset_SubCategory_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 93, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Const_AssetCategory_sys]    Script Date: 2026/03/06 12:12:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Const_AssetCategory_sys](
	[AssetCategoryID] [int] IDENTITY(1,1) NOT NULL,
	[AssetCategoryDesc] [nvarchar](250) NOT NULL,
	[Enabled] [bit] NOT NULL,
	[DateCaptured] [datetime] NOT NULL,
	[CapturerID] [int] NOT NULL,
	[DateModified] [datetime] NULL,
	[ModifierID] [int] NULL,
	[RevaluationByCostModel] [bit] NULL,
	[RevaluationByRevalutionModel] [bit] NULL,
	[Default] [bit] NULL,
	[TypeID] [int] NULL,
	[RequireStatus] [bit] NULL,
 CONSTRAINT [PK_Const_AssetCategory] PRIMARY KEY CLUSTERED 
(
	[AssetCategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 93, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Const_AssetClass_sys]    Script Date: 2026/03/06 12:12:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Const_AssetClass_sys](
	[AssetClass_ID] [int] IDENTITY(1,1) NOT NULL,
	[AssetClassDesc] [nvarchar](200) NOT NULL,
	[Enabled] [bit] NOT NULL,
	[DateCaptured] [datetime] NOT NULL,
	[CapturerID] [int] NOT NULL,
	[DateModified] [datetime] NULL,
	[ModifierID] [int] NULL,
	[Asset_SubCategory_ID] [int] NULL,
	[UsefulLifeInMonths] [int] NULL,
	[AssetDepreciationMethod_ID] [int] NULL,
	[RevaluationByCostModel] [bit] NULL,
	[RevaluationByRevalutionModel] [bit] NULL,
	[TypeID] [int] NULL,
	[Default] [bit] NULL,
	[AssetCategoryID] [int] NULL,
	[AssetStatus_ID] [int] NULL,
	[AssetMeasurement_ID] [int] NULL,
 CONSTRAINT [PK_Const_AssetClass_sys] PRIMARY KEY CLUSTERED 
(
	[AssetClass_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 93, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Const_AssetConditionRating_Sys]    Script Date: 2026/03/06 12:12:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Const_AssetConditionRating_Sys](
	[ConditionRating_ID] [int] IDENTITY(1,1) NOT NULL,
	[ConditionRatingDesc] [nvarchar](100) NOT NULL,
	[DetailedDescription] [nvarchar](200) NOT NULL,
	[EstimatedRemainingLife] [nvarchar](50) NOT NULL,
	[Grade] [nvarchar](20) NOT NULL,
	[Enabled] [bit] NOT NULL,
	[DateCaptured] [datetime] NOT NULL,
	[CapturerID] [int] NOT NULL,
	[DateModified] [datetime] NULL,
	[ModifierID] [int] NULL,
 CONSTRAINT [PK_Const_AssetConditionRating_Sys] PRIMARY KEY CLUSTERED 
(
	[ConditionRating_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 93, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Const_AssetDepreciationMethod_Sys]    Script Date: 2026/03/06 12:12:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Const_AssetDepreciationMethod_Sys](
	[AssetDepreciationMethod_ID] [int] IDENTITY(1,1) NOT NULL,
	[AssetDepreciationMethodDesc] [nvarchar](100) NOT NULL,
	[Enabled] [bit] NOT NULL,
	[DateCaptured] [datetime] NOT NULL,
	[CapturerID] [int] NOT NULL,
	[DateModified] [datetime] NULL,
	[ModifierID] [int] NULL,
 CONSTRAINT [PK_Const_AssetDepreciationMethod_Sys] PRIMARY KEY CLUSTERED 
(
	[AssetDepreciationMethod_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 93, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Const_AssetDisposalMethod]    Script Date: 2026/03/06 12:12:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Const_AssetDisposalMethod](
	[AssetDisposalMethod_ID] [int] IDENTITY(1,1) NOT NULL,
	[AssetDisposalMethod] [varchar](200) NOT NULL,
	[Enabled] [bit] NOT NULL,
	[DateCaptured] [datetime] NOT NULL,
	[CapturerID] [int] NOT NULL,
	[DateModified] [datetime] NULL,
	[ModifierID] [int] NULL,
 CONSTRAINT [PK_Const_AssetDisposalMethod] PRIMARY KEY CLUSTERED 
(
	[AssetDisposalMethod_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 93, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Const_AssetInspectionConditions]    Script Date: 2026/03/06 12:12:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Const_AssetInspectionConditions](
	[InspectionCondition_ID] [int] IDENTITY(1,1) NOT NULL,
	[InspectionConditionDesc] [nvarchar](100) NOT NULL,
	[Enabled] [bit] NOT NULL,
	[DateCaptured] [datetime] NOT NULL,
	[CapturerID] [int] NOT NULL,
	[DateModified] [datetime] NULL,
	[ModifierID] [int] NULL,
 CONSTRAINT [PK_Const_AssetInspectionConditions] PRIMARY KEY CLUSTERED 
(
	[InspectionCondition_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 93, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Const_AssetStatus_Sys]    Script Date: 2026/03/06 12:12:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Const_AssetStatus_Sys](
	[AssetStatus_ID] [int] IDENTITY(1,1) NOT NULL,
	[AssetStatusDesc] [nvarchar](100) NOT NULL,
	[Enabled] [bit] NOT NULL,
	[DateCaptured] [datetime] NOT NULL,
	[CapturerID] [int] NOT NULL,
	[DateModified] [datetime] NULL,
	[ModifierID] [int] NULL,
	[Default] [bit] NULL,
 CONSTRAINT [PK_Const_AssetStatus_Sys] PRIMARY KEY CLUSTERED 
(
	[AssetStatus_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 93, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Const_AssetType_Sys]    Script Date: 2026/03/06 12:12:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Const_AssetType_Sys](
	[AssetType_ID] [int] IDENTITY(1,1) NOT NULL,
	[AssetTypeDesc] [nvarchar](100) NULL,
	[Enabled] [bit] NOT NULL,
	[DateCaptured] [datetime] NOT NULL,
	[CapturerID] [int] NOT NULL,
	[DateModified] [datetime] NULL,
	[ModifierID] [int] NULL,
	[Default] [bit] NULL,
	[RequireStatus] [bit] NULL,
	[NoUsefuleLife] [bit] NULL,
 CONSTRAINT [PK_Const_AssetType_Sys] PRIMARY KEY CLUSTERED 
(
	[AssetType_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 93, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Asset_Depreciation] ADD  CONSTRAINT [DF_Asset_Depreciation_IsApproved]  DEFAULT (NULL) FOR [IsApproved]
GO
ALTER TABLE [dbo].[Asset_DepreciationSchedule_Item] ADD  CONSTRAINT [DF_Asset_DepreciationSchedule_Item_Enabled]  DEFAULT ((1)) FOR [Enabled]
GO
ALTER TABLE [dbo].[Asset_Register_Items] ADD  CONSTRAINT [DF__Asset_Reg__Resid__66A6873F]  DEFAULT ((0)) FOR [ResidualValue]
GO
ALTER TABLE [dbo].[Asset_Register_Items] ADD  CONSTRAINT [DF__Asset_Reg__Revis__679AAB78]  DEFAULT (NULL) FOR [RevisedResidualValue]
GO
ALTER TABLE [dbo].[Asset_Register_Items] ADD  CONSTRAINT [DF__Asset_Reg__Revis__688ECFB1]  DEFAULT (NULL) FOR [RevisedUsefulLife]
GO
ALTER TABLE [dbo].[Asset_Register_Items] ADD  CONSTRAINT [DF__tmp_ms_xx__Condi__371C33B8]  DEFAULT ((0)) FOR [ConditionChangeLevel]
GO
ALTER TABLE [dbo].[Asset_Register_Items] ADD  DEFAULT ((0)) FOR [ManagedFlag]
GO
ALTER TABLE [dbo].[Asset_Register_Transactions] ADD  CONSTRAINT [DF_Asset_Register_Transactions_TransactionDate]  DEFAULT (getdate()) FOR [TransactionDate]
GO
ALTER TABLE [dbo].[Const_Asset_ComponentType] ADD  CONSTRAINT [DF_Const_Asset_ComponentType_Enabled]  DEFAULT ((1)) FOR [Enabled]
GO
ALTER TABLE [dbo].[Const_Asset_SubCategory] ADD  CONSTRAINT [DF_Const_Asset_SubCategory_Enabled]  DEFAULT ((1)) FOR [Enabled]
GO
ALTER TABLE [dbo].[Const_Asset_SubCategory] ADD  CONSTRAINT [DF_Const_Asset_SubCategory_DateCaptured]  DEFAULT (getdate()) FOR [DateCaptured]
GO
ALTER TABLE [dbo].[Const_Asset_SubCategory] ADD  CONSTRAINT [DF_Const_Asset_SubCategory_Capturer_ID]  DEFAULT ((0)) FOR [Capturer_ID]
GO
ALTER TABLE [dbo].[Const_Asset_SubCategory] ADD  CONSTRAINT [DF_Const_Asset_SubCategory_DateModified]  DEFAULT (getdate()) FOR [DateModified]
GO
ALTER TABLE [dbo].[Const_Asset_SubCategory] ADD  CONSTRAINT [DF_Const_Asset_SubCategory_Modifier_ID]  DEFAULT ((0)) FOR [Modifier_ID]
GO
ALTER TABLE [dbo].[Const_Asset_SubCategory] ADD  DEFAULT ((1)) FOR [AssetCategoryID]
GO
ALTER TABLE [dbo].[Const_AssetCategory_sys] ADD  CONSTRAINT [DF_Const_AssetCategory_sys_RevaluationByCostModel]  DEFAULT ((0)) FOR [RevaluationByCostModel]
GO
ALTER TABLE [dbo].[Const_AssetCategory_sys] ADD  CONSTRAINT [DF_Const_AssetCategory_sys_RevaluationByRevalutionModel]  DEFAULT ((0)) FOR [RevaluationByRevalutionModel]
GO
ALTER TABLE [dbo].[Asset_DepreciationSchedule_Item]  WITH NOCHECK ADD  CONSTRAINT [FK_ApprovalTypeID] FOREIGN KEY([Asset_Depreciation_Approval_Type_ID])
REFERENCES [dbo].[Const_Asset_Depreciation_Approval_Type] ([Asset_Depreciation_Approval_Type_ID])
GO
ALTER TABLE [dbo].[Asset_DepreciationSchedule_Item] CHECK CONSTRAINT [FK_ApprovalTypeID]
GO
ALTER TABLE [dbo].[Asset_DepreciationSchedule_Item]  WITH NOCHECK ADD  CONSTRAINT [FK_Asset_DepreciationSchedule_ID] FOREIGN KEY([Asset_DepreciationSchedule_ID])
REFERENCES [dbo].[Asset_DepreciationSchedule] ([Asset_DepreciationSchedule_ID])
GO
ALTER TABLE [dbo].[Asset_DepreciationSchedule_Item] CHECK CONSTRAINT [FK_Asset_DepreciationSchedule_ID]
GO
ALTER TABLE [dbo].[Asset_DepreciationSchedule_Item]  WITH NOCHECK ADD  CONSTRAINT [FK_AssetClassDepreciation] FOREIGN KEY([RunType_ID])
REFERENCES [dbo].[Const_Asset_Depreciation_Run_Type] ([Asset_Depreciation_Run_Type_ID])
GO
ALTER TABLE [dbo].[Asset_DepreciationSchedule_Item] CHECK CONSTRAINT [FK_AssetClassDepreciation]
GO
ALTER TABLE [dbo].[Asset_DepreciationSchedule_Item]  WITH NOCHECK ADD  CONSTRAINT [FK_MonthID] FOREIGN KEY([Month_ID])
REFERENCES [dbo].[Const_Month_sys] ([Month_ID])
GO
ALTER TABLE [dbo].[Asset_DepreciationSchedule_Item] CHECK CONSTRAINT [FK_MonthID]
GO
ALTER TABLE [dbo].[Asset_DepreciationSchedule_Item]  WITH NOCHECK ADD  CONSTRAINT [FK_RunStatusID] FOREIGN KEY([Asset_Depreciation_RunStatus_ID])
REFERENCES [dbo].[Const_Asset_Depreciation_RunStatus] ([Asset_Depreciation_RunStatus_ID])
GO
ALTER TABLE [dbo].[Asset_DepreciationSchedule_Item] CHECK CONSTRAINT [FK_RunStatusID]
GO
ALTER TABLE [dbo].[Asset_DepreciationSchedule_Item]  WITH NOCHECK ADD  CONSTRAINT [FK_RunType] FOREIGN KEY([RunType_ID])
REFERENCES [dbo].[Const_Asset_Depreciation_Run_Type] ([Asset_Depreciation_Run_Type_ID])
GO
ALTER TABLE [dbo].[Asset_DepreciationSchedule_Item] CHECK CONSTRAINT [FK_RunType]
GO
ALTER TABLE [dbo].[Asset_Register_Items]  WITH NOCHECK ADD  CONSTRAINT [FK_Asset_Register_Items_CIDMSSubComponent] FOREIGN KEY([CIDMSSubComponentTypeID])
REFERENCES [dbo].[Const_Asset_CIDMS_SubComponent_Type] ([AssetCIDMSSubComponentTypeID])
GO
ALTER TABLE [dbo].[Asset_Register_Items] CHECK CONSTRAINT [FK_Asset_Register_Items_CIDMSSubComponent]
GO
ALTER TABLE [dbo].[Asset_Register_Transactions]  WITH NOCHECK ADD  CONSTRAINT [FK_Asset_Register_Transactions_Asset_Register_Items] FOREIGN KEY([AssetRegisterItem_ID])
REFERENCES [dbo].[Asset_Register_Items] ([AssetRegisterItem_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Asset_Register_Transactions] CHECK CONSTRAINT [FK_Asset_Register_Transactions_Asset_Register_Items]
GO
ALTER TABLE [dbo].[Asset_WIP_Register]  WITH NOCHECK ADD  CONSTRAINT [FK_Asset_WIP_Register_Asset_AssetRegister] FOREIGN KEY([AssetRegisterItem_ID])
REFERENCES [dbo].[Asset_Register_Items] ([AssetRegisterItem_ID])
GO
ALTER TABLE [dbo].[Asset_WIP_Register] CHECK CONSTRAINT [FK_Asset_WIP_Register_Asset_AssetRegister]
GO
ALTER TABLE [dbo].[Asset_WIP_Register]  WITH NOCHECK ADD  CONSTRAINT [FK_Asset_WIP_Register_Asset_WIPFundingType] FOREIGN KEY([FundingTypeID])
REFERENCES [dbo].[Const_Asset_WIPFundingType] ([FundingTypeID])
GO
ALTER TABLE [dbo].[Asset_WIP_Register] CHECK CONSTRAINT [FK_Asset_WIP_Register_Asset_WIPFundingType]
GO
ALTER TABLE [dbo].[Asset_WIP_Register]  WITH NOCHECK ADD  CONSTRAINT [FK_Asset_WIP_Register_BudgetProject] FOREIGN KEY([BudgetProjectID])
REFERENCES [dbo].[Plan_Project] ([Project_ID])
GO
ALTER TABLE [dbo].[Asset_WIP_Register] CHECK CONSTRAINT [FK_Asset_WIP_Register_BudgetProject]
GO
ALTER TABLE [dbo].[Asset_WIP_Register]  WITH NOCHECK ADD  CONSTRAINT [FK_Asset_WIP_Register_BudgetProjectItem] FOREIGN KEY([BudgetProjectItemID])
REFERENCES [dbo].[Plan_ProjectItem] ([PlanProjectItem_ID])
GO
ALTER TABLE [dbo].[Asset_WIP_Register] CHECK CONSTRAINT [FK_Asset_WIP_Register_BudgetProjectItem]
GO
ALTER TABLE [dbo].[Asset_WIP_Register]  WITH NOCHECK ADD  CONSTRAINT [FK_Asset_WIP_Register_Const_Department] FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[Const_Department] ([Department_ID])
GO
ALTER TABLE [dbo].[Asset_WIP_Register] CHECK CONSTRAINT [FK_Asset_WIP_Register_Const_Department]
GO
ALTER TABLE [dbo].[Asset_WIP_Register]  WITH NOCHECK ADD  CONSTRAINT [FK_Asset_WIP_Register_Const_Division] FOREIGN KEY([DivisionID])
REFERENCES [dbo].[Const_Division] ([Division_ID])
GO
ALTER TABLE [dbo].[Asset_WIP_Register] CHECK CONSTRAINT [FK_Asset_WIP_Register_Const_Division]
GO
ALTER TABLE [dbo].[Asset_WIP_Register]  WITH NOCHECK ADD  CONSTRAINT [FK_Asset_WIP_Register_Payroll_Employee] FOREIGN KEY([CustodianID])
REFERENCES [dbo].[Payroll_Employee] ([Employee_ID])
GO
ALTER TABLE [dbo].[Asset_WIP_Register] CHECK CONSTRAINT [FK_Asset_WIP_Register_Payroll_Employee]
GO
ALTER TABLE [dbo].[Asset_WIP_Register_Details]  WITH NOCHECK ADD  CONSTRAINT [FK_Asset_WIP_Detail_Asset_WIP_Register] FOREIGN KEY([WIPRegister_ID])
REFERENCES [dbo].[Asset_WIP_Register] ([WIPRegister_ID])
GO
ALTER TABLE [dbo].[Asset_WIP_Register_Details] CHECK CONSTRAINT [FK_Asset_WIP_Detail_Asset_WIP_Register]
GO
ALTER TABLE [dbo].[Asset_WIP_Register_Details]  WITH NOCHECK ADD  CONSTRAINT [FK_Asset_WIP_Detail_Cons_Vendor] FOREIGN KEY([VendorID])
REFERENCES [dbo].[Cons_Vendor] ([Vendor_ID])
GO
ALTER TABLE [dbo].[Asset_WIP_Register_Details] CHECK CONSTRAINT [FK_Asset_WIP_Detail_Cons_Vendor]
GO
ALTER TABLE [dbo].[Asset_WIP_Register_Funding]  WITH NOCHECK ADD  CONSTRAINT [FK_Asset_WIP_Register_Source_Asset_WIP_Register] FOREIGN KEY([WIPRegister_ID])
REFERENCES [dbo].[Asset_Register_Items] ([AssetRegisterItem_ID])
GO
ALTER TABLE [dbo].[Asset_WIP_Register_Funding] CHECK CONSTRAINT [FK_Asset_WIP_Register_Source_Asset_WIP_Register]
GO
ALTER TABLE [dbo].[Asset_WIP_Register_Funding]  WITH NOCHECK ADD  CONSTRAINT [FK_Asset_WIP_Register_Source_Asset_WIPFundingSource] FOREIGN KEY([FundingSourceID])
REFERENCES [dbo].[Const_Asset_WIPFundingSource] ([FundingSourceID])
GO
ALTER TABLE [dbo].[Asset_WIP_Register_Funding] CHECK CONSTRAINT [FK_Asset_WIP_Register_Source_Asset_WIPFundingSource]
GO
ALTER TABLE [dbo].[Const_Asset_CIDMS_Accounting_Sub_Group]  WITH NOCHECK ADD  CONSTRAINT [FK_Const_Asset_CIDMS_Accounting_Sub_Group_Const_Asset_CIDMS_Accounting_Group] FOREIGN KEY([AssetAccountGroupID])
REFERENCES [dbo].[Const_Asset_CIDMS_Accounting_Group] ([AssetAccountGroupID])
GO
ALTER TABLE [dbo].[Const_Asset_CIDMS_Accounting_Sub_Group] CHECK CONSTRAINT [FK_Const_Asset_CIDMS_Accounting_Sub_Group_Const_Asset_CIDMS_Accounting_Group]
GO
ALTER TABLE [dbo].[Const_Asset_CIDMS_Asset_Type]  WITH NOCHECK ADD  CONSTRAINT [FK_Const_Asset_CIDMS_Asset_Type_Const_Asset_CIDMS_Group_Type] FOREIGN KEY([AssetCIDMSGroupTypeID])
REFERENCES [dbo].[Const_Asset_CIDMS_Group_Type] ([AssetCIDMSGroupTypeID])
GO
ALTER TABLE [dbo].[Const_Asset_CIDMS_Asset_Type] CHECK CONSTRAINT [FK_Const_Asset_CIDMS_Asset_Type_Const_Asset_CIDMS_Group_Type]
GO
ALTER TABLE [dbo].[Const_Asset_CIDMS_Class]  WITH NOCHECK ADD  CONSTRAINT [FK_Const_Asset_CIDMS_Class_Const_Asset_CIDMS_Accounting_Sub_Group] FOREIGN KEY([AssetAccountSubGroupID])
REFERENCES [dbo].[Const_Asset_CIDMS_Accounting_Sub_Group] ([AssetAccountSubGroupID])
GO
ALTER TABLE [dbo].[Const_Asset_CIDMS_Class] CHECK CONSTRAINT [FK_Const_Asset_CIDMS_Class_Const_Asset_CIDMS_Accounting_Sub_Group]
GO
ALTER TABLE [dbo].[Const_Asset_CIDMS_Component_Type]  WITH NOCHECK ADD  CONSTRAINT [FK_Const_Asset_CIDMS_Component_Type_Const_Asset_CIDMS_Asset_Type] FOREIGN KEY([AssetCIDMSAssetTypeID])
REFERENCES [dbo].[Const_Asset_CIDMS_Asset_Type] ([AssetCIDMSAssetTypeID])
GO
ALTER TABLE [dbo].[Const_Asset_CIDMS_Component_Type] CHECK CONSTRAINT [FK_Const_Asset_CIDMS_Component_Type_Const_Asset_CIDMS_Asset_Type]
GO
ALTER TABLE [dbo].[Const_Asset_CIDMS_Group_Type]  WITH NOCHECK ADD  CONSTRAINT [FK_Const_Asset_CIDMS_Group_Type_Const_Asset_CIDMS_Class] FOREIGN KEY([AssetCIDMSClassID])
REFERENCES [dbo].[Const_Asset_CIDMS_Class] ([AssetCIDMSClassID])
GO
ALTER TABLE [dbo].[Const_Asset_CIDMS_Group_Type] CHECK CONSTRAINT [FK_Const_Asset_CIDMS_Group_Type_Const_Asset_CIDMS_Class]
GO
ALTER TABLE [dbo].[Const_Asset_CIDMS_SubComponent_Type]  WITH NOCHECK ADD  CONSTRAINT [FK_Const_Asset_CIDMS_SubComponent_Type_Const_Asset_CIDMS_SubComponent_Type] FOREIGN KEY([AssetCIDMSComponentTypeID])
REFERENCES [dbo].[Const_Asset_CIDMS_Component_Type] ([AssetCIDMSComponentTypeID])
GO
ALTER TABLE [dbo].[Const_Asset_CIDMS_SubComponent_Type] CHECK CONSTRAINT [FK_Const_Asset_CIDMS_SubComponent_Type_Const_Asset_CIDMS_SubComponent_Type]
GO
ALTER TABLE [dbo].[Const_AssetClass_sys]  WITH NOCHECK ADD  CONSTRAINT [FK_Const_AssetClass_sys_Const_AssetDepreciationMethod_Sys] FOREIGN KEY([AssetDepreciationMethod_ID])
REFERENCES [dbo].[Const_AssetDepreciationMethod_Sys] ([AssetDepreciationMethod_ID])
GO
ALTER TABLE [dbo].[Const_AssetClass_sys] CHECK CONSTRAINT [FK_Const_AssetClass_sys_Const_AssetDepreciationMethod_Sys]
GO
