ALTER FUNCTION [dbo].[GetProcessingMonthByUserID_fxn]
(
 @UserID INT
)
RETURNS INT
AS
BEGIN
 DECLARE @DefaultProcessingMonth NVARCHAR(50)
 DECLARE @ProcessingMonth NVARCHAR(50)
  DECLARE @UserProcessingYear NVARCHAR(50), @ActiveFinyear NVARCHAR(50)

 SELECT @DefaultProcessingMonth=KeyValue FROM AAAA_ConfigSettings WHERE KEYNAME = 'ProcessingMonth'
 SELECT  @ActiveFinyear = KeyValue FROM dbo.AAAA_ConfigSettings WHERE KeyName = 'ActiveFinYear'

 SELECT TOP 1 @UserProcessingYear = FinYearSelected	FROM dbo.User_FinYearSelection WHERE UserID = @UserID ORDER BY UserFinYear_ID Desc

 IF EXISTS (SELECT 1 FROM User_UserProcessingMonth WHERE UserID= @UserID)
 SELECT @ProcessingMonth=ISNULL(ProcessingMonth,@DefaultProcessingMonth) FROM User_UserProcessingMonth WHERE UserID= @UserID
 ELSE
 BEGIN
	IF(ISNULL(@UserProcessingYear, '') != '' and @ActiveFinyear != @UserProcessingYear)
		SET @ProcessingMonth = 12
	ELSE
		SET @ProcessingMonth = @DefaultProcessingMonth
 END
 RETURN @ProcessingMonth
END