ALTER PROCEDURE [dbo].[Plan_GetAllProjectsWithScoaProject_sp] @FinYear NVARCHAR(9)
AS
BEGIN
    SET NOCOUNT ON;
    SELECT pp.Project_ID,
           0 AS IDPItemID,
           pp.ProjectName,
           CAST(ISNULL(pp.ProjectCode, pp.Project_ID) AS VARCHAR(50)) + ' | ' + pp.ProjectName + '(' + csps.ScoaCode
           + ')' AS ProjectScoaShortDesc,
           pp.ProjectDesc,
           pp.ProjectManagerID,
           pp.CapitalOperation,
           pp.ScoaProjectID,
           pp.ProjectStatus,
           pp.FinYear,
           0 AS ItemID,
           pp.ProjectTypeID,
           pp.IsDeleted,
           CAST(ISNULL(pp.ProjectCode, pp.Project_ID) AS VARCHAR(50)) + ' | ' + pp.ProjectName AS DetailedProjectName, -- TP# 76774    
           CAST(ISNULL(pp.ProjectCode, pp.Project_ID) AS VARCHAR(50)) + ' | ' + pp.ProjectName AS ProjectField,
           ISNULL(pp.CostingProject, 0) AS CostingProject
    FROM dbo.Plan_Project pp
        INNER JOIN dbo.Const_SCOA_Project_Structure csps
            ON csps.ScoaID = pp.ScoaProjectID
    WHERE (
              pp.FinYear = @FinYear
              OR @FinYear = '0'
          )
          AND ISNULL(pp.IsDeleted, 0) = 0
    ORDER BY pp.ProjectCode;
END;