USE [EMS_Mnquma]
GO
/****** Object:  Table [dbo].[Const_ProjectItem]    Script Date: 2026/03/09 22:25:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Const_ProjectItem](
	[ProjectItem_ID] [int] IDENTITY(1,1) NOT NULL,
	[ItemDescription] [nvarchar](500) NOT NULL,
	[Enabled] [bit] NOT NULL,
	[DateCaptured] [datetime] NOT NULL,
	[CapturerID] [int] NOT NULL,
	[DateModified] [datetime] NULL,
	[ModifierID] [int] NULL,
	[FinYear] [nvarchar](9) NULL,
	[PreviousReferenceId] [int] NULL,
 CONSTRAINT [PK_Const_ProjectItem] PRIMARY KEY CLUSTERED 
(
	[ProjectItem_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 93, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Const_SCOA_Costing_Structure]    Script Date: 2026/03/09 22:25:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Const_SCOA_Costing_Structure](
	[ScoaID] [int] IDENTITY(1,1) NOT NULL,
	[ScoaCode] [nvarchar](100) NULL,
	[LevelID] [int] NULL,
	[PostingLevel] [nvarchar](6) NULL,
	[BreakDownAllowed] [nvarchar](6) NULL,
	[ScoaDesc] [nvarchar](2000) NULL,
	[ScoaShortDesc] [nvarchar](400) NULL,
	[ScoaParentID] [int] NULL,
	[ParentID] [int] NULL,
	[NTVatStatus] [nvarchar](100) NULL,
	[NTSCOAFile] [nvarchar](200) NULL,
	[NTScoaLevel] [nvarchar](200) NULL,
	[NTExcelRowNumber] [nvarchar](100) NULL,
	[NTPrinciple] [nvarchar](1000) NULL,
	[NTApplicableTo] [nvarchar](1000) NULL,
	[NTPostingLevelDescription] [nvarchar](1000) NULL,
	[NTScoaID] [uniqueidentifier] NULL,
	[NTParentScoaId] [uniqueidentifier] NULL,
	[Enabled] [bit] NOT NULL,
	[Version] [nvarchar](20) NOT NULL,
	[NTGFSCode] [nvarchar](50) NULL,
 CONSTRAINT [PK_Const_SCOA_Costing_Structure] PRIMARY KEY CLUSTERED 
(
	[ScoaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 93, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Const_SCOA_Function_Structure]    Script Date: 2026/03/09 22:25:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Const_SCOA_Function_Structure](
	[ScoaID] [int] IDENTITY(1,1) NOT NULL,
	[ScoaCode] [nvarchar](100) NULL,
	[LevelID] [int] NULL,
	[PostingLevel] [nvarchar](6) NULL,
	[BreakDownAllowed] [nvarchar](6) NULL,
	[ScoaDesc] [nvarchar](2000) NULL,
	[ScoaShortDesc] [nvarchar](400) NULL,
	[ScoaParentID] [int] NULL,
	[ParentID] [int] NULL,
	[NTVatStatus] [nvarchar](200) NULL,
	[NTSCOAFile] [nvarchar](200) NULL,
	[NTScoaLevel] [nvarchar](200) NULL,
	[NTExcelRowNumber] [nvarchar](100) NULL,
	[NTPrinciple] [nvarchar](1000) NULL,
	[NTApplicableTo] [nvarchar](1000) NULL,
	[NTPostingLevelDescription] [nvarchar](1000) NULL,
	[NTScoaID] [uniqueidentifier] NULL,
	[NTParentScoaId] [uniqueidentifier] NULL,
	[Enabled] [bit] NOT NULL,
	[Version] [nvarchar](20) NOT NULL,
	[NTGFSCode] [nvarchar](50) NULL,
 CONSTRAINT [PK_Const_SCOA_Function_Structure] PRIMARY KEY CLUSTERED 
(
	[ScoaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 93, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Const_SCOA_Funds_Structure]    Script Date: 2026/03/09 22:25:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Const_SCOA_Funds_Structure](
	[ScoaID] [int] IDENTITY(1,1) NOT NULL,
	[ScoaCode] [nvarchar](100) NULL,
	[LevelID] [int] NULL,
	[PostingLevel] [nvarchar](6) NULL,
	[BreakDownAllowed] [nvarchar](6) NULL,
	[ScoaDesc] [nvarchar](2000) NULL,
	[ScoaShortDesc] [nvarchar](400) NULL,
	[ScoaParentID] [int] NULL,
	[ParentID] [int] NULL,
	[NTVatStatus] [nvarchar](200) NULL,
	[NTSCOAFile] [nvarchar](200) NULL,
	[NTScoaLevel] [nvarchar](100) NULL,
	[NTExcelRowNumber] [nvarchar](100) NULL,
	[NTPrinciple] [nvarchar](1000) NULL,
	[NTApplicableTo] [nvarchar](1000) NULL,
	[NTPostingLevelDescription] [nvarchar](1000) NULL,
	[NTScoaID] [uniqueidentifier] NULL,
	[NTParentScoaId] [uniqueidentifier] NULL,
	[Enabled] [bit] NOT NULL,
	[Version] [nvarchar](20) NOT NULL,
	[NTGFSCode] [nvarchar](50) NULL,
 CONSTRAINT [PK_Const_SCOA_Funds_Structure] PRIMARY KEY CLUSTERED 
(
	[ScoaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 93, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Const_SCOA_Project_Structure]    Script Date: 2026/03/09 22:25:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Const_SCOA_Project_Structure](
	[ScoaID] [int] IDENTITY(1,1) NOT NULL,
	[ScoaCode] [nvarchar](100) NULL,
	[LevelID] [int] NULL,
	[PostingLevel] [nvarchar](6) NULL,
	[BreakDownAllowed] [nvarchar](6) NULL,
	[ScoaDesc] [nvarchar](2000) NULL,
	[ScoaShortDesc] [nvarchar](400) NULL,
	[ScoaParentID] [int] NULL,
	[ParentID] [int] NULL,
	[NTVatStatus] [nvarchar](200) NULL,
	[NTSCOAFile] [nvarchar](200) NULL,
	[NTScoaLevel] [nvarchar](100) NULL,
	[NTExcelRowNumber] [nvarchar](100) NULL,
	[NTPrinciple] [nvarchar](1000) NULL,
	[NTApplicableTo] [nvarchar](1000) NULL,
	[NTPostingLevelDescription] [nvarchar](1000) NULL,
	[NTScoaID] [uniqueidentifier] NULL,
	[NTParentScoaId] [uniqueidentifier] NULL,
	[Enabled] [bit] NOT NULL,
	[Version] [nvarchar](10) NOT NULL,
	[NTGFSCode] [nvarchar](50) NULL,
 CONSTRAINT [PK_Const_SCOA_Project_Structure] PRIMARY KEY CLUSTERED 
(
	[ScoaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 93, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Const_SCOA_Regional_Structure]    Script Date: 2026/03/09 22:25:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Const_SCOA_Regional_Structure](
	[ScoaID] [int] IDENTITY(1,1) NOT NULL,
	[ScoaCode] [nvarchar](100) NULL,
	[LevelID] [int] NULL,
	[PostingLevel] [nvarchar](6) NULL,
	[BreakDownAllowed] [nvarchar](6) NULL,
	[ScoaDesc] [nvarchar](2000) NULL,
	[ScoaShortDesc] [nvarchar](400) NULL,
	[ScoaParentID] [int] NULL,
	[ParentID] [int] NULL,
	[NTVatStatus] [nvarchar](200) NULL,
	[NTSCOAFile] [nvarchar](200) NULL,
	[NTScoaLevel] [nvarchar](100) NULL,
	[NTExcelRowNumber] [nvarchar](100) NULL,
	[NTPrinciple] [nvarchar](1000) NULL,
	[NTApplicableTo] [nvarchar](1000) NULL,
	[NTPostingLevelDescription] [nvarchar](1000) NULL,
	[NTScoaID] [uniqueidentifier] NULL,
	[NTParentScoaId] [uniqueidentifier] NULL,
	[Enabled] [bit] NOT NULL,
	[Version] [nvarchar](10) NOT NULL,
	[NTGFSCode] [nvarchar](50) NULL,
 CONSTRAINT [PK_Const_SCOA_Regional_Structure] PRIMARY KEY CLUSTERED 
(
	[ScoaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 93, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Const_SCOA_Structure]    Script Date: 2026/03/09 22:25:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Const_SCOA_Structure](
	[ScoaID] [int] IDENTITY(1,1) NOT NULL,
	[ScoaCode] [nvarchar](100) NULL,
	[LevelID] [int] NULL,
	[TableID] [int] NULL,
	[TableName] [nvarchar](50) NULL,
	[PostingLevel] [nvarchar](6) NULL,
	[BreakDownAllowed] [nvarchar](6) NULL,
	[ScoaDesc] [nvarchar](2000) NULL,
	[ScoaShortDesc] [nvarchar](400) NULL,
	[ScoaParentID] [int] NULL,
	[VoteTypeID] [int] NULL,
	[DebitCreditID] [int] NULL,
	[VatIndicatorID] [int] NULL,
	[VatApportionment] [int] NULL,
	[CapitalTimePeriodID] [int] NULL,
	[IsCapexVote] [bit] NULL,
	[IsControlVote] [bit] NULL,
	[ParentID] [int] NULL,
	[NTVatStatus] [nvarchar](100) NULL,
	[NTSCOAFile] [nvarchar](200) NULL,
	[NTScoaLevel] [nvarchar](200) NULL,
	[NTExcelRowNumber] [nvarchar](100) NULL,
	[NTPrinciple] [nvarchar](1000) NULL,
	[NTApplicableTo] [nvarchar](1000) NULL,
	[NTPostingLevelDescription] [nvarchar](1000) NULL,
	[NTScoaID] [uniqueidentifier] NULL,
	[NTParentScoaId] [uniqueidentifier] NULL,
	[DefinitionDescription] [nvarchar](3000) NULL,
	[Enabled] [bit] NOT NULL,
	[Version] [nvarchar](20) NOT NULL,
	[NTGFSCode] [nvarchar](50) NULL,
 CONSTRAINT [PK_Const_SCOA_Structure] PRIMARY KEY CLUSTERED 
(
	[ScoaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 93, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
